{#
/**
 * @file
 * Page component for a Basic Page
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - page_attributes: [string] Component reserved space for attributes.
 * - page_cta_url: [string] Value of the URL that represents the primary CTA button.
 * - page_cta_text: [string] Value of the text that represents the primary CTA button.
 * - page_heading: [string] Value of the page title for this component.
 * - page_heading_summary: [string] Value of sub-title text for this component.
 * - page_media: [array] Rendered array of the Media object for this component.
 *
 */
#}

{% set classes = [
    'p-page',
] %}

<article {{ page_attributes.addClass(classes).merge(attributes) }}>
    {% if page_media %}
        <div class="p-page__media">
            {{ page_media }}
        </div>
    {% endif %}

    <div class="p-page__header">
        <div class="container container--large">
        {% embed 'surf_main:header' with {
            header_attributes: create_attribute(),
            header_heading: page_heading,
            header_heading_level: '1',
            header_summary: page_heading_summary,
            header_cta_url: page_cta_url,
            header_cta_text: page_cta_text,
            header_cta_html_tag: 'link',
            header_cta_style: 'primary',
            header_cta_size: 'large',
            header_cta_color: 'navy',
            heading_attributes: create_attribute({'class': ['o-header__heading', 'p-page__heading']}),
        } only %}
            {% block header_links_block %}
                {{ drupal_breadcrumb() }}
            {% endblock %}
        {% endembed %}
        </div>
    </div>

    <div class="p-page__content l-main">
        {{ page_content }}
    </div>
</article>
