{# Temporary hard-coded: Breadcumbs #}
{#{% set breadcrumbs = [#}
{#    {#}
{#      title: 'Home',#}
{#      url: '/',#}
{#      current: false,#}
{#    },#}
{#    {#}
{#      title: 'Parent Page',#}
{#      url: '/',#}
{#      current: false,#}
{#    },#}
{#    {#}
{#      title: label,#}
{#      url: url,#}
{#      current: true,#}
{#    }#}
{#  ]#}
{#%}#}

{# set image and alt#}
{# {% if content.field_media_primary.0 %}#}
{#	{% set image = content.field_media_primary.0["#media"].field_media_image.entity.uri.value|image_style('hero') %}#}
{#	#}{# set alt to use the image's alt text #}
{#	{% set alt = content.field_media_primary.0["#media"].thumbnail.alt %}#}
{#{% endif %}#}

{# Handle internal and external links/urls #}
{#{% if content.field_link.0 is empty %}#}
{#{% set link_url = '' %}#}
{#{% elseif content.field_link.0["#url"].external %}#}
{#  {% set link_url = content.field_link.0["#url"].uri %}#}
{#{% else %}#}
{#  {% set link_url = path(content.field_link.0["#url"].routeName, content.field_link.0["#url"].routeParameters) %}#}
{#{% endif %}#}

<article>

  {% embed 'surf_main:media' with {
    media: content.field_media_primary.0 ? content.field_media_primary
  } only %}

    {% block image_block %}
      {{ media }}
    {% endblock %}

  {% endembed %}

  <div class="container container__type--default">

    {% embed 'surf_main:header' with {
      header_attributes: create_attribute(),
      header_heading: label,
      header_teaser: content.field_teaser_text|field_value,
      header_media: content.field_media_primary.0 ? true: false,
      header_cta_url: content.field_link.0 ? content.field_link.0['#url_title'],
      header_cta_text: content.field_link.0 ? content.field_link.0['#title'],
    } only %}

      {% block header_links_block %}
        [Breadcrumbs]
      {% endblock %}

    {% endembed %}

    {{ content.field_p_content }}

  </div>
</article>

