//
// Component - Page - Press Release
//
// - 01 - Imports
// - 02 - Layout
// - 02 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - Layout
//------------------------------------

.p-press-release {
  padding-block: 40px;
  @include breakpoints.bp-min(large) {
    padding-block: 64px;
  }

  @include breakpoints.bp-min(xxlarge) {
    &::before {
      background: linear-gradient(180deg, #007fbf 0%, #00807e 33.33%, #000080 66.67%, #1a1a1a 100%);
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: calculations.rem(28px);
      z-index: 2;
    }
  }

  .m-breadcrumbs {
    margin-block-end: 32px;
    @include breakpoints.bp-min(medium) {
      display: block;
      margin-block-end: 24px;
    }
  }

  .p-press-release__pub-date,
  .p-press-release__heading,
  .p-press-release__media {
    margin-block-end: 28px;
  }

  .p-press-release__content > .container {
    padding-block-end: 28px;
    position: relative;

    &:after {
      background-color: var(--surf-color-gray-800);
      block-size: 2px;
      content: '';
      inline-size: calc(100% - (var(--surf-grid-gap) * 2));
      inset-block-end: 0;
      inset-inline: 0;
      margin-inline: auto;
      position: absolute;
    }
  }

  .p-press-release__meta > .container > *:not( :first-child ) {
    margin-block-start: 28px;
  }

  .p-press-release__related {
    margin-block-start: 64px;
    @include breakpoints.bp-min(large) {
      margin-block-start: 120px;
    }
  }

  .p-press-release__related .a-left-hook {
    margin-block-end: 40px;
  }

  .p-press-release__related .a-heading {
    margin-block-end: 40px;
    text-transform: uppercase;
  }
}




//------------------------------------
//  03 - General
//------------------------------------

.p-press-release {
  .p-press-release__pub-date {
    font-family: var(--surf-font-condensed);
    font-size: calculations.rem(16px);
    font-weight: var(--surf-fw-bold);
    letter-spacing: 1px;
    line-height: var(--surf-lh-label);
    text-transform: uppercase;
  }

  .p-press-release__heading {
    font-family: var(--surf-font-sans);
    font-size: var(--surf-fs-24-40-52);
    font-weight: var(--surf-fw-bold);
    line-height: 1.12;
  }

  .p-press-release__author {
    font-size: calculations.rem(18px);
    font-style: italic;
  }

  .p-press-release__categories ul {
    align-items: center;
    display: flex;
    flex-flow: wrap row;
    gap: 8px;
    margin: 0;
    padding: 0;
  }

  .p-press-release__press-contact > h3 {
    font-family: var(--surf-font-condensed);
    font-size: calculations.rem(16px);
    font-weight: var(--surf-fw-bold);
    letter-spacing: 1px;
    line-height: var(--surf-lh-label);
    margin-block-end: 28px;
    text-transform: uppercase;
  }
}
