//
// Component - Molecule - Person Card
//
// - 01 - Imports
// - 02 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/animations';
@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - Layout
//------------------------------------

.m-person-card {
  align-items: center;
  display: flex;
  max-inline-size: 536px;

  .m-person-card__avatar {
    align-items: flex-start;
    block-size: 230px;
    display: flex;
    flex-shrink: 0;
    inline-size: 120px;
    justify-content: center;
    overflow: hidden;

    @include breakpoints.bp-min(large) {
      align-items: center;
      inline-size: 184px;
    }
  }

  .m-person-card__content {
    padding-inline-start: 24px;
  }

  .m-person-card__name {
    margin-block-end: 6px;
  }

  .m-person-card__phone,
  .m-person-card__email,
  .m-person-card__link {
    margin-block-start: 6px;
  }

  .m-person-card__content a {
    font-weight: var(--surf-fw-book);
  }

  .m-person-card__link a {
    padding-inline-end: 32px;
    position: relative;
  }

  .m-person-card__link a:after {
    --icon-arrow-right: svg-load('icon-arrow-right.svg');
    background-color: var(--surf-color-navy);
    block-size: 24px;
    content: '';
    display: block;
    inline-size: 24px;
    inset-block: 0;
    inset-inline-end: 0;
    mask: var(--icon-arrow-right);
    position: absolute;
    transform: translateX(0);
    transition: animations.transition(all, 0.35s, easeInOutExpo);
  }

  .m-person-card__link a:hover:after,
  .m-person-card__link a:focus:after {
    background-color: var(--surf-color-black);
    transform: translateX(4px);
  }
}




//------------------------------------
//  03 - General
//------------------------------------

.m-person-card {
  background-color: var(--surf-color-gray-100);

  .m-person-card__avatar a {
    text-decoration: none;
  }

  .m-person-card__avatar .m-person-card__initials {
    color: var(--surf-color-gray-300);
    display: block;
    font-family: var(--surf-font-sans-alt);
    font-size: 64px;
    font-weight: var(--surf-fw-medium);
    line-height: 0.94;
    padding-block-start: 24px;

    @include breakpoints.bp-min(large) {
      font-size: 120px;
      padding-block-start: 0;
    }
  }

  .m-person-card__avatar img {
    object-fit: contain;
    object-position: center;
    transform: scale(1);
    transition: animations.transition(all, 0.35s, easeInOutExpo);
  }

  &:hover .m-person-card__avatar img,
  &:focus-within .m-person-card__avatar img {
    transform: scale(1.08);
  }

  .m-person-card__name h3 {
    font-size: var(--surf-fs-16-18-24);
  }

  .m-person-card__role p {
    font-size: calculations.rem(14px);
    font-style: italic;
  }
}
