//
// Components - Page - Basic Page
//
// - 01 - Imports
// - 02 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - General
//------------------------------------

.p-basic-page {
  .layout__region--content {
    > :not( :last-child ) {
      margin-block-end: rem(80px);
    }

    > .m-callout {
      margin-inline: auto;
      //max-width: rem(780px); // rework using defined custom prop
    }
  }

  .a-editor {
    margin-inline: auto;
    //max-width: rem(780px); // rework using defined custom prop
  }

  // Needs to be reworked to not include all images on page
  // Needs to be reworked to have fallback for object fit
  //.a-media {
  //  img {
  //    max-height: 600px;
  //    object-fit: cover;
  //  }
  //}

  .m-pullquote--small {
    margin-inline: auto;
    //max-width: rem(1020px); // rework using defined custom prop
  }

  .m-pullquote--large {
    margin-inline: auto;
    max-width: 100%;
  }

  .o-header {
    @include bp-min(xlarge) {
      //margin-block-start: rem(-120px); // rework if no image
    }
  }

  .o-header__content {
    background-color: var(--surf-color-white);
    padding-block: rem(32px);
    @include bp-min(xlarge) {
      padding-block: rem(60px);
      padding-inline: rem(120px);
    }
  }
}
