@import "../../partials/_partials";

// Attach transition for when menu leaves
main {
  transition: all $duration * 0.25 ease-in-out;
}

// Lock screen
.js-prevent-scroll {
  @include bp-max(xlarge) {
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 100%;
    // Apply transparency overlay to main content
    main {
      background: rgba(0, 0, 0, 0.3);
      transition: all $duration * 0.25 ease-in-out;
    }
  }
}

.c-site-header {
  background-color: var(--color-background, #fff);
  position: relative;
  z-index: 2;
}

// Wrapper for site header
.c-site-header__inner {
  display: flex;
  justify-content: space-between;

  @include bp-min(large) {
    display: grid;
    grid-template: 1fr 1fr / 1fr 2fr;
  }
}

// Wrapper for all navigation: Utility & Main Menu
.c-site-header__site-navigation {
  @include bp-max(large) {
    background: linear-gradient(
      180deg,
      var(--color-surf--kelly-green) 0%,
      var(--color-surf--forest) 100%
    );
    border-top: 1px solid var(--border-color);
    width: 100%;
    max-width: 375px;
    top: 70px;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transform: translate3d(375px, 0, 0);
    transition: all $duration * 1.5 ease-in-out;
    position: fixed;

    // For logged in users offset top
    .user-logged-in & {
      top: 90px;
    }
  }

  @include bp-between(medium, large) {
    // For logged in users offset top
    .user-logged-in & {
      top: 107px;
    }
  }

  @include bp-min(medium) {
    grid-area: 1 / 2;
  }

  @include bp-min(xlarge) {
    grid-area: span 2;
  }
}

/**** START - Main Logo ****/
.c-site-header__logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--space-inset-y, 12px) var(--space-inset-x, 0)
    var(--space-inset-y, 12px) 0;
  padding: 0;
  width: var(--size-width, 194px);
  z-index: 1;

  @include bp-min(medium) {
    grid-row-start: initial;
    width: 260px;
    margin: 18px 0;
  }

  @include bp-min(large) {
    grid-row-start: 2;
    width: 320px;
    margin: 24px 0;
  }

  a,
  img {
    display: block;
    width: 100%;
  }
}
/**** END - Main Logo ****/

/**** START - Main Navigation ****/
.c-site-header__menu-main {
  position: fixed;
  width: fill-available;
  // Accounting for build tool issue
  width: -webkit-fill-available;
  width: -moz-available;

  @include bp-between(large, xlarge) {
    background: linear-gradient(
      180deg,
      var(--color-surf--kelly-green) 0%,
      var(--color-surf--forest) 100%
    );
    border-top: 1px solid var(--border-color);
    width: 100%;
    max-width: 375px;
    top: 175px;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    transform: translate3d(375px, 0, 0);
    transition: all $duration * 1.5 ease-in-out;
    transition-delay: 0.12ms;
    position: fixed;

    // For logged in users offset top
    .user-logged-in & {
      top: 213px;
    }
  }

  // Display on desktop screens >1024px
  @include bp-min(xlarge) {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    flex-flow: nowrap row;
    position: relative;
    grid-row-start: 2;
  }

  // Top level menu wrapper, main menu list element
  ul.menu--main[data-depth="0"] {
    @include list--no-bullets;
    display: flex;
    margin: 0;
    padding: 0;

    // Hide duplicated links screens larger than small desktop
    @include bp-min(large) {
      .utility__link {
        display: none;
      }
    }

    // Increase spacing at top of list to account for search bar being moved
    @include bp-between(large, xlarge) {
      > li.menu__item:first-child {
        padding-top: 24px;
      }
    }
    // Mobile styles for when only main nav is in wrapper
    @include bp-max(xlarge) {
      flex-flow: column;

      > .menu__item {
        padding: 12px 15px;
      }
    }

    // On larger desktop screens
    @include bp-min(xlarge) {
      > li.menu__item:not(:first-child) {
        margin-left: 64px;
      }
    }
  }

  // Main menu top level item base styles (Buttons & Links share)
  ul.menu--main[data-depth="0"] > .menu__item {
    // Do not display green background unless parent is open
    &.menu__item--expanded {
      transition: all $duration * 1.5 ease-in-out;
      // Add buttons toggle icons
      > button {
        background-image: url("../../../../images/icons/ui-icon-add--white.svg");
        background-repeat: no-repeat;
        background-position: top right;
        text-align: left;
        transition: all $duration * 0.5 ease-in-out;
        width: fill-available;
        // Accounting for build tool issue
        width: -webkit-fill-available;
        width: -moz-available;
      }

      &.expanded {
        background-color: var(--color-surf--forest);
        transition: all $duration * 1.5 ease-in-out;

        // When open, adjust button icon
        > button {
          background-image: url("../../../../images/icons/ui-icon-minus--white.svg");
          transition: all $duration * 0.5 ease-in-out;
        }
      }
    }

    // Account for user login icon
    .menu__link.menu__login {
      background-image: url("../../../../images/icons/ui-icon-user--white.svg");
      background-repeat: no-repeat;
      background-position: top left;
      display: inline-block;
      text-indent: 34px;
    }

    // Base styles for top level buttons & links
    > .menu__link,
    > button {
      // Mobile styles
      @include bp-max(xlarge) {
        color: #fff;
        font-size: 22px;
        letter-spacing: 1.8px;
        line-height: 140%;
      }

      @include bp-min(xlarge) {
        color: var(--color-surf--forest);
        font-size: 28px;
        letter-spacing: 1.5px;
        line-height: 130%;
      }

      background-color: transparent;
      border: none;
      font-family: var(--font-family-condensed);
      font-weight: var(--font-weight-bold);
      margin: 0;
      padding: 0;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  // Secondary level menu wrapper styles
  ul.menu--main[data-depth="1"] {
    @include list--no-bullets;
    display: block;

    .menu__item {
      padding: 12px 0;
    }

    @include bp-max(xlarge) {
      // Hide on mobile menu screens
      .menu__item .main-menu__description {
        display: none;
      }

      .menu__link {
        color: #fff;
        font-family: var(--font-family-sans);
        font-size: 18px;
        font-weight: var(--font-weight-bold);
        line-height: 144%;
        margin-top: 12px;
        text-decoration: none;

        &:focus,
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    // @include bp-min(xlarge){

    // }
  }

  .main-menu__utilities {
    display: none;
    @include bp-max(large) {
      display: block;

      ul {
        @include list--no-bullets;
      }
    }
  }
}
/**** END - Main Navigation ****/

/**** START - Utility Navigation ****/
.c-site-header__utilities {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-bottom: 20px;

  #block-utilitynav {
    display: none;

    @include bp-min(large) {
      display: block;
    }
  }
  .menu--utility-nav {
    @include list--no-bullets;
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0;
  }

  @include bp-min(large) {
    flex-flow: row;
    grid-area: span 1/2;
  }
}

/**** END - Utility Navigation ****/

/**** START - Mobile Navigation Button ****/
.nav-trigger {
  display: none;
  @include bp-max(xlarge) {
    grid-column-start: 2;
    align-items: center;
    background: transparent;
    border: none;
    display: inline-flex;
    height: 36px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    max-width: 100px;
    padding: 0;
  }
}

.nav-trigger span.label {
  color: var(--color-surf--forest);
  cursor: pointer;
  font-size: 22px;
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  letter-spacing: 1.8px;
  margin-left: 6px;
  text-transform: uppercase;
}

.nav-trigger span.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  position: relative;
  svg {
    position: absolute;
    left: 0;
    top: 0;
  }
}

// Controls for when menu open
.nav-trigger__icon--expand {
  opacity: 1;
  transform: rotate(0) scale(1);
  transition: all $duration ease-in-out;
}

.nav-trigger__icon--collapse {
  opacity: 0;
  transform: rotate(-90deg) scale(0);
  transition: all $duration ease-in-out;
}
.nav-trigger[aria-expanded="true"] {
  .nav-trigger__icon--collapse {
    opacity: 1;
    transform: rotate(0) scale(1);
  }

  .nav-trigger__icon--expand {
    opacity: 0;
    transform: rotate(90deg) scale(0);
  }
}

// On small screens control display for both main menu & utility
@include bp-max(large) {
  .nav-trigger[aria-expanded="true"] {
    ~ .c-site-header__site-navigation {
      opacity: 1;
      overflow-y: auto;
      transform: translate3d(0, 0, 0);
      transition-delay: 0.12ms;
    }
  }
}

// On medium screens control display for only main menu
@include bp-between(large, xlarge) {
  .nav-trigger[aria-expanded="true"] {
    ~ .c-site-header__site-navigation .c-site-header__menu-main {
      opacity: 1;
      overflow-y: auto;
      transform: translate3d(0, 0, 0);
      transition-delay: 0.12ms;
    }
  }
}

/**** END - Mobile Navigation Button ****/
