@import "../../partials/_partials";

// Lock screen & add transparency overlay
.js-prevent-scroll {
  @include bp-max(xlarge) {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}

.c-site-header {
  background-color: var(--color-background, #fff);
  position: relative;
  z-index: 2;
}

.c-site-header__inner {
  display: flex;
  justify-content: space-between;

  @include bp-min(large) {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
  }
}

.c-site-header__site-navigation {
  @include bp-max(large) {
    background-color: $gray-80;
    border-top: 1px solid var(--border-color);
    width: 100%;
    max-width: 375px;
    top: 70px;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transform: translate3d(375px, 0, 0);
    transition: all $duration * 1.5 ease-in-out;
    position: fixed;
  }

  @include bp-min(medium) {
    grid-area: 1 / 2;
  }

  @include bp-min(xlarge) {
    grid-area: span 2;
  }
}

/**** START - Main Logo ****/
.c-site-header__logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--space-inset-y, 12px) var(--space-inset-x, 0);
  padding: 0;
  width: var(--size-width, 194px);
  z-index: 1;

  @include bp-min(medium) {
    grid-row-start: initial;
    width: 260px;
    margin: 18px 0;
  }

  @include bp-min(large) {
    grid-row-start: 2;
    width: 320px;
    margin: 24px 0;
  }

  a,
  img {
    display: block;
    width: 100%;
  }
}
/**** END - Main Logo ****/

/**** START - Main Navigation ****/
.c-site-header__menu-main {
  position: fixed;

  @include bp-between(large, xlarge) {
    background-color: $gray-80;
    border-top: 1px solid var(--border-color);
    width: 100%;
    max-width: 375px;
    top: 60px;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    transform: translate3d(375px, 0, 0);
    transition: all $duration * 1.5 ease-in-out;
    position: fixed;
  }

  // Display on desktop screens >1024px
  @include bp-min(xlarge) {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    flex-flow: nowrap row;
    position: relative;
    grid-row-start: 2;
  }

  ul.menu--main[data-depth="0"] {
    @include list--no-bullets;
    display: flex;
    margin: 0;
    padding: 0;

    // Hide duplicated links on desktop
    @include bp-min(large) {
      .utility__link {
        display: none;
      }
    }

    @include bp-max(xlarge) {
      flex-flow: column;
    }
  }
  // Temporary for styles
  ul.menu--main[data-depth="1"] {
    display: none;

    &.open {
      @include list--no-bullets;
      display: block;
    }
  }

  .main-menu__utilities {
    display: none;
    @include bp-max(large) {
      display: block;

      ul {
        @include list--no-bullets;
      }
    }
  }
}
/**** END - Main Navigation ****/

/**** START - Utility Navigation ****/
.c-site-header__utilities {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-bottom: 20px;

  #block-utilitynav {
    display: none;

    @include bp-min(large) {
      display: block;
    }
  }
  .menu--utility-nav {
    @include list--no-bullets;
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0;
  }

  @include bp-min(large) {
    flex-flow: row;
    grid-area: span 1/2;
  }
}

/**** END - Utility Navigation ****/

/**** START - Mobile Navigation Button ****/
.nav-trigger {
  display: none;
  @include bp-max(xlarge) {
    grid-column-start: 2;
    align-items: center;
    display: inline-flex;
    max-width: 100px;
  }

  @include bp-max(small) {
    max-width: 84px;
  }
}

label[for="nav-trigger"] {
  cursor: pointer;
  height: 30px;
  margin: auto;
  position: absolute;
  right: 30px; //span(1);
  top: 18px;
  width: 30px;
  z-index: 2;

  @include bp-min(medium) {
    top: 1rem;
  }
}

.nav-trigger span.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  position: relative;
  svg {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.nav-trigger__icon--expand {
  opacity: 1;
  transform: rotate(0) scale(1);
  transition: all $duration ease-in-out;
}

.nav-trigger__icon--collapse {
  opacity: 0;
  transform: rotate(-90deg) scale(0);
  transition: all $duration ease-in-out;
}
.nav-trigger[aria-expanded="true"] {
  .nav-trigger__icon--collapse {
    opacity: 1;
    transform: rotate(0) scale(1);
  }

  .nav-trigger__icon--expand {
    opacity: 0;
    transform: rotate(90deg) scale(0);
  }
}

// On small screens control display for both main menu & utility
@include bp-max(large) {
  .nav-trigger[aria-expanded="true"] {
    ~ .c-site-header__site-navigation {
      opacity: 1;
      overflow-y: auto;
      transform: translate3d(0, 0, 0);
    }
  }
}

// On medium screens control display for only main menu
@include bp-between(large, xlarge) {
  .nav-trigger[aria-expanded="true"] {
    ~ .c-site-header__site-navigation .c-site-header__menu-main {
      opacity: 1;
      overflow-y: auto;
      transform: translate3d(0, 0, 0);
    }
  }
}

/**** END - Mobile Navigation Button ****/
