{{ attach_library('surf_main/site-header') }}
<header class="c-site-header" role="banner">
	<div class="c-site-header__inner l-constrained--wide">
		<div class="c-site-header__logo">
			{%
        include '@surf_main-components/logo/logo.twig' with {
        svg_source: logo_svg,
        bitmap_source: logo_png,
        alt: site_name ~ ' logo'
        } only
      %}
		</div>
		<button id="nav-trigger" class="nav-trigger js-mobile-nav-trigger" aria-expanded="false" aria-haspopup="true" aria-controls="mainMenuControl">
			<span class="icon">
				<svg class="nav-trigger__icon nav-trigger__icon--expand" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.66675 12H21.3334" stroke="#00492C" stroke-width="1.5" stroke-linejoin="round"/>
					<path d="M2.66675 5.33337H21.3334" stroke="#00492C" stroke-width="1.5" stroke-linejoin="round"/>
					<path d="M2.66675 18.6667H21.3334" stroke="#00492C" stroke-width="1.5" stroke-linejoin="round"/>
				</svg>
				<svg class="nav-trigger__icon nav-trigger__icon--collapse" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7.07275 7.07306L16.9266 16.9269" stroke="#00492C" stroke-width="1.5"/>
					<path d="M16.9268 7.07306L7.07288 16.9269" stroke="#00492C" stroke-width="1.5"/>
				</svg>
			</span>
			<span class="label">Menu</span>
		</button>
		<div class="c-site-header__site-navigation" id="mainMenuControl">
			<div class="c-site-header__utilities">
				{{ header_utility }}
			</div>
			<div class="c-site-header__menu-main">
				{{ header_primary }}
			</div>
		</div>
	</div>
</header>
