{#
/**
 * @file
 * Component for Resource Link
 *
 * Available props:
 * - resource_link_attributes: [array] Any parent tag attributes.
 * - resource-link_url: [string] required
 * - resource_link_title: [string] required
 *
 */
#}

{%
  set classes = [
  'm-resource-link',
]
%}

<div {{ resource_link_attributes.addClass(classes).merge(attributes) }}>
  <div class="m-resource-link__wrapper">
    <p><a href="{{resource-link_url}}" target="_blank" rel="nofollow noreferrer noopener" class="m-resource-link__url">{{resource_link_title}}</a></p>
  </div>
</div>
