{#
/**
 * @file
 * Default theme implementation of a media library source's result.
 *
 * This is used when displaying the content for media library panes in the
 * media library modal dialog.
 *
 * Available variables:
 * - id: The result's id as returned by the plugin.
 * - label: The label.
 * - preview: The rendered preview.
 * - result: The complete result item as returned by the plugin.
 *
 * @see template_preprocess_media_library_result_preview()
 *
 * @ingroup themeable
 */
#}
<div class="contextual-region">
  <div class="media-library-item__preview js-media-library-item-preview js-click-to-select-trigger field--name-thumbnail" style="position: relative;">
    {{ preview }}
  </div>

  <div class="media-library-item__attributes">
    <div class="media-library-item__name">
      {{ label }}
    </div>
  </div>
</div>
