@use '../../../libraries/partials/partials' as *;

.c-blue-banner {
  background: linear-gradient(108.38deg, #0050b8 0%, #2976d9 82.91%);
  overflow: hidden;
  padding: 0 rem(15px) rem(32px) rem(15px);
  position: relative;
  z-index: 1;

  @include bp-min(medium) {
    padding: 0 rem(40px) rem(60px) rem(40px);
  }

  @include bp-min(large) {
    padding: 0 rem(40px) rem(80px) rem(40px);
  }

  @include bp-min(xlarge) {
    padding: 0 rem(80px) rem(80px) rem(80px);
  }

  &:after {
    background-image: url('../imgs/blue-banner-circles.svg');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -52px;
    content: '';
    display: none;
    height: rem(405px);
    position: absolute;
    right: -112px;
    width: rem(344px);
    z-index: -1;

    @include bp-min(large) {
      display: block;
    }
  }

  &:before {
    background: var(--color-surf--white);
    content: '';
    height: rem(23px);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;

    @include bp-min(medium) {
      height: rem(42px);
    }

    @include bp-min(large) {
      height: rem(35px);
    }

    @include bp-min(xxlarge) {
      height: rem(196px);
    }
  }
}

.c-blue-banner__images-wrapper {
  display: grid;
  gap: rem(32px);
  grid-template-columns: 1fr;
  margin: 0 0 rem(20px) 0;
  z-index: 1;

  @include bp-min(medium) {
    grid-template-columns: 0.6fr 0.4fr;
  }

  @include bp-min(large) {
    margin: 0 0 rem(66px) 0;
  }

  @include bp-min(xxlarge) {
    margin: 0 0 rem(84px) 0;
  }

  img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }
}

.c-blue-banner__primary-image-wrapper {
  height: rem(228px);
  overflow: hidden;
  position: relative;

  @include bp-min(medium) {
    height: rem(263px);
  }

  @include bp-min(large) {
    height: rem(369px);
  }

  @include bp-min(xxlarge) {
    height: rem(512px);
  }
}

.c-blue-banner__secondary-image-wrapper {
  display: none;
  overflow: hidden;
  position: relative;

  @include bp-min(medium) {
    display: block;
    height: rem(263px);
  }

  @include bp-min(large) {
    height: rem(369px);
  }

  @include bp-min(xxlarge) {
    height: rem(512px);
  }
}

.c-blue-banner__title {

  @include surf-font-heading-one;
  color: var(--color-surf--white);
  margin: 0;
  text-transform: uppercase;
}

.c-blue-banner__body {
  margin: rem(20px) 0 0 0;

  & > p {
    color: var(--color-surf--white);
    font-size: var(–surf-font-size-40);
    font-weight: var(--font-weight-bold);
    margin-top: 0;
    text-transform: uppercase;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include bp-min(large) {
    max-width: rem(864px);
  }
}

.c-blue-banner__link {
  margin: rem(34px) 0 0 0;
}
