/**
 * Settings - Breakpoints
 * - 01 - Mapping
 */


/*------------------------------------*\
  01 - Mapping
\*------------------------------------*/

$grid-breakpoints: (
  xsmall:   414px,
  small:    576px,
  medium:   768px,
  large:    992px,
  xlarge:   1200px,
  xxlarge:  1400px,
);
