/**
 * Settings - Breakpoints
 * - 01 - Mapping
 */

/*------------------------------------*\
  01 - Mapping
\*------------------------------------*/

$grid-breakpoints: (
  xsmall: 0px,
  small: 576px,
  medium: 768px,
  large: 1024px,
  xlarge: 1400px,
  xxlarge: 1400px,
  xxxlarge: 1620px,
);
