//
// Components - Molecules - Task Menu
//
// - 01 - Imports
// - 02 - General
// - 03 - Level One
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/animations';
@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/buttons';
@use '../../../00-base/partials/calculations';
@use '../../../00-base/partials/links';
@use '../../../00-base/partials/lists';




//------------------------------------
//  02 - General
//------------------------------------

.m-menu.m-menu--tasks-menu {
  display: none;

  ul {
    @include lists.list-reset();
  }
}

// FUOC Fix
.js .m-menu.m-menu--tasks-menu {
  display: block;
}




//------------------------------------
//  03 - Level One
//------------------------------------

.m-menu.m-menu--tasks-menu {
  background-color: var(--surf-color-gray-100);
  padding-block: 8px;
  padding-inline: 40px;

  > ul.m-menu__items {
    display: flex;
    flex-flow: nowrap;
    gap: 8px;
    margin: 0 auto;
    max-inline-size: var(--surf-width-xlarge);
  }

  > ul.m-menu__items > li > a {
    background-color: var(--surf-color-blue);
    color: var(--surf-color-white);
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    transition: animations.transition(all, 0.35s, easeInOutExpo);

    &:hover,
    &:focus {
      background-color: var(--surf-color-navy);
      text-decoration: underline solid 2px;
    }
  }
}
