{#
/**
 * @file
 * Component for Person (Node)
 *
 * Available props:
 * - page_attributes: [array] Any parent tag attributes.
 * - page_heading: [string]
 * - page_teaser: [string]
 * - person_phone: [string]
 * - person_body: [string]
 * - person_media: [string]
 *
 */
#}

{%
  set classes = [
  'o-research',
]
%}

<article {{ research_attributes.addClass(classes).merge(attributes) }}>
  {% if research_media %}
    <div class="o-research__media">
      {% embed 'surf_main:media' with {
        media_attributes: create_attribute(),
        media: research_media,
      } only %}
      {% endembed %}
    </div>
  {% endif %}

  <div class="container container--xlarge">
    {{ title_suffix }}

    {% embed 'surf_main:header' with {
      header_heading: research_heading,
      header_heading_level: '1',
      header_attributes: create_attribute(),
      heading_attributes: create_attribute({'class': ['o-header__heading']}),
    } only %}
    {% endembed %}

    <div class="o-research-wrapper">

      {# Overview #}
      <div class="o-research__overview">
      {% embed 'surf_main:pullquote' with {
        pullquote_attributes: create_attribute(),
        pullquote_quote: research_overview,
        pullquote_type: 'large',
      } only %}
      {% endembed %}
      </div>

      {# Main Content #}
      <div class="o-research__main-content">
        {{ research_content }}
      </div>

      {# Sidebar #}
      <aside class="o-research__sidebar">

        {% if research_sidebar_icon %}
          <div class="o-research__sidebar-icon">
            {% embed 'surf_main:media' with {
              media_attributes: create_attribute(),
              media: research_sidebar_icon,
            } only %}
            {% endembed %}
          </div>
        {% endif %}

        {% if research_key_facts %}
          <div class="o-research__keyfacts">
            {% embed 'surf_main:component-list' with {
              component_list_heading: 'Key Facts',
              component_list_items: research_key_facts,
              component_list_attributes: create_attribute(),
            } only %}
            {% endembed %}
          </div>
        {% endif %}

      </aside>

      {# Additional Content #}
      <div class="o-research__additional-content">
        [ADDITIONAL CONTENT]
      </div>
    </div>

  </div>
</article>