//
// Component - Atom - Grid
//
// - 01 - Imports
// - 02 - Layout
//


// ------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - layout
//------------------------------------

.a-grid {
  &.a-grid--col-1 {
    @include flex-grid(1, '*', 0, -2px);
  }

  &.a-grid--col-2 {
    @include flex-grid(1, '*', 0, 56px);

    @include bp-min(xlarge) {
      @include flex-grid(2, '*', 56px, 56px);
    }
  }

  &.a-grid--col-3 {
    @include flex-grid(1, '*', 0, 56px);

    @include bp-min(xlarge) {
      @include flex-grid(3, '*', 56px, 56px);
    }
  }

  &.a-grid--col-4 {
    @include flex-grid(1, '*', 0, 56px);

    @include bp-min(xlarge) {
      @include flex-grid(4, '*', 56px, 56px);
    }
  }
}




//------------------------------------
//  03 - One Column (list)
//------------------------------------

.a-grid.a-grid--col-1 {
  > * {
    border-bottom: solid 2px var(--surf-color-gray-800);
    border-top: solid 2px var(--surf-color-gray-800);
    padding-block-end: 96px;
    padding-block-start: 40px;
  }
}
