//
// Global - Buttons
//
// - 01 - Imports
// - 02 - Base
// - 03 - Primary
// - 04 - Secondary
// - 05 - Underline Primary
// - 06 - Underline Secondary
// - 07 - Icons
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../partials/animations';
@use '../../partials/calculations';
@use '../../partials/buttons';




//------------------------------------
//  02 - Base
//------------------------------------

@mixin base() {
  @include buttons.button-reset;
  cursor: pointer;
  display: inline-block;
  font-weight: var(--surf-fw-bold);
  position: relative;
  text-decoration: none;
  transition: animations.transition(all, 0.35s, easeInOutExpo);

  &:after {
    transition: animations.transition(all, 0.35s, easeInOutExpo);
  }

  &:hover:after,
  &:focus:after {
    transform: translateX(4px);
  }
}

.a-button {
  @include base();
}




//------------------------------------
//  03 - Primary
//------------------------------------

@mixin primary($size: 'small', $color: 'navy') {
  @include base();
  font-family: var(--surf-font-condensed);
  letter-spacing: 1.8px;
  padding-block: 8px;
  padding-inline: 16px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @if $size == 'small' {
    font-size: calculations.rem(16px);
  }

  @if $size == 'large' {
    font-size: var(--surf-fs-16-22);
  }

  @if $color == 'navy' {
    background-color: var(--surf-color-navy);
    color: var(--surf-color-white);

    &:after,
    &:before {
      background-color: var(--surf-color-white);
    }

    &:hover,
    &:focus {
      background-color: var(--surf-color-black);
    }
  }

  @if $color == 'black' {
    background-color: var(--surf-color-black);
    color: var(--surf-color-white);

    &:after,
    &:before {
      background-color: var(--surf-color-white);
    }

    &:hover,
    &:focus {
      background-color: var(--surf-color-gray-800);
    }
  }

  @if $color == 'white' {
    background-color: var(--surf-color-white);
    color: var(--surf-color-black);

    &:after,
    &:before {
      background-color: var(--surf-color-black);
    }
  }
}

@mixin primary-utility() {
  .a-button.a-button--primary.a-button--small.a-button--navy {
    @include primary('small', 'navy');
  }

  .a-button.a-button--primary.a-button--small.a-button--black {
    @include primary('small', 'black');
  }

  .a-button.a-button--primary.a-button--small.a-button--white {
    @include primary('small', 'white');
  }

  .a-button.a-button--primary.a-button--large.a-button--navy {
    @include primary('large', 'navy');
  }

  .a-button.a-button--primary.a-button--large.a-button--black {
    @include primary('large', 'black');
  }

  .a-button.a-button--primary.a-button--large.a-button--white {
    @include primary('large', 'white');
  }
}

@include primary-utility();




//------------------------------------
//  04 - Secondary
//------------------------------------

@mixin secondary($size: 'small', $color: 'navy') {
  @include base();
  font-family: var(--surf-font-sans);
  padding-block: 8px;
  padding-inline: 16px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @if $size == 'small' {
    font-size: calculations.rem(16px);
  }

  @if $size == 'large' {
    font-size: var(--surf-fs-16-22);
  }

  @if $color == 'navy' {
    background-color: var(--surf-color-navy);
    color: var(--surf-color-white);

    &:after,
    &:before {
      background-color: var(--surf-color-white);
    }

    &:hover,
    &:focus {
      background-color: var(--surf-color-black);
    }
  }

  @if $color == 'black' {
    background-color: var(--surf-color-black);
    color: var(--surf-color-white);

    &:after,
    &:before {
      background-color: var(--surf-color-white);
    }

    &:hover,
    &:focus {
      background-color: var(--surf-color-gray-800);
    }
  }

  @if $color == 'white' {
    background-color: var(--surf-color-white);
    color: var(--surf-color-black);

    &:after,
    &:before {
      background-color: var(--surf-color-black);
    }
  }
}

@mixin secondary-utility() {
  .a-button.a-button--secondary.a-button--small.a-button--navy {
    @include secondary('small', 'navy');
  }

  .a-button.a-button--secondary.a-button--small.a-button--black {
    @include secondary('small', 'black');
  }

  .a-button.a-button--secondary.a-button--small.a-button--white {
    @include secondary('small', 'white');
  }

  .a-button.a-button--secondary.a-button--large.a-button--navy {
    @include secondary('large', 'navy');
  }

  .a-button.a-button--secondary.a-button--large.a-button--black {
    @include secondary('large', 'black');
  }

  .a-button.a-button--secondary.a-button--large.a-button--white {
    @include secondary('large', 'white');
  }
}

@include secondary-utility();




//------------------------------------
//  05 - Underline Primary
//------------------------------------

@mixin underline-primary($size: 'small', $color: 'navy') {
  @include base();
  border-bottom: solid 2px;
  font-family: var(--surf-font-condensed);
  letter-spacing: 1.8px;
  padding-block: 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-bottom-color: transparent;
  }

  @if $size == 'small' {
    font-size: calculations.rem(16px);
  }

  @if $size == 'large' {
    font-size: var(--surf-fs-16-22);
  }

  @if $color == 'navy' {
    border-bottom-color: var(--surf-color-navy);
    color: var(--surf-color-navy);

    &:before,
    &:after {
      background-color: var(--surf-color-navy);
    }

    &:hover,
    &:focus {
      color: var(--surf-color-black);
    }

    &:hover:after,
    &:focus:after {
      background-color: var(--surf-color-black);
    }
  }

  @if $color == 'black' {
    border-bottom-color: var(--surf-color-black);
    color: var(--surf-color-black);

    &:before,
    &:after {
      background-color: var(--surf-color-black);
    }

    &:hover,
    &:focus {
      color: var(--surf-color-navy);
    }

    &:hover:after,
    &:focus:after {
      background-color: var(--surf-color-navy);
    }
  }

  @if $color == 'white' {
    border-bottom-color: var(--surf-color-white);
    color: var(--surf-color-white);

    &:before,
    &:after {
      background-color: var(--surf-color-white);
    }
  }
}

@mixin underline-primary-utility() {
  .a-button.a-button--underline-primary.a-button--small.a-button--navy {
    @include underline-primary('small', 'navy');
  }

  .a-button.a-button--underline-primary.a-button--small.a-button--black {
    @include underline-primary('small', 'black');
  }

  .a-button.a-button--underline-primary.a-button--small.a-button--white {
    @include underline-primary('small', 'white');
  }

  .a-button.a-button--underline-primary.a-button--large.a-button--navy {
    @include underline-primary('large', 'navy');
  }

  .a-button.a-button--underline-primary.a-button--large.a-button--black {
    @include underline-primary('large', 'black');
  }

  .a-button.a-button--underline-primary.a-button--large.a-button--white {
    @include underline-primary('large', 'white');
  }
}

@include underline-primary-utility();




//------------------------------------
//  06 - Underline Secondary
//------------------------------------

@mixin underline-secondary($size: 'small', $color: 'navy') {
  @include base();
  border-bottom: solid 2px;
  font-family: var(--surf-font-sans);
  padding-block: 4px;
  position: relative;
  text-decoration: none;

  &:hover,
  &:focus {
    border-bottom-color: transparent;
  }

  @if $size == 'small' {
    font-size: calculations.rem(16px);
  }

  @if $size == 'large' {
    font-size: var(--surf-fs-16-22);
  }

  @if $color == 'navy' {
    border-bottom-color: var(--surf-color-navy);
    color: var(--surf-color-navy);

    &:before,
    &:after {
      background-color: var(--surf-color-navy);
    }

    &:hover,
    &:focus {
      color: var(--surf-color-black);
    }

    &:hover:after,
    &:focus:after {
      background-color: var(--surf-color-black);
    }
  }

  @if $color == 'black' {
    border-bottom-color: var(--surf-color-black);
    color: var(--surf-color-black);

    &:before,
    &:after {
      background-color: var(--surf-color-black);
    }

    &:hover,
    &:focus {
      color: var(--surf-color-navy);
    }

    &:hover:after,
    &:focus:after {
      background-color: var(--surf-color-navy);
    }
  }

  @if $color == 'white' {
    border-bottom-color: var(--surf-color-white);
    color: var(--surf-color-white);

    &:before,
    &:after {
      background-color: var(--surf-color-white);
    }
  }
}

@mixin underline-secondary-utility() {
  .a-button.a-button--underline-secondary.a-button--small.a-button--navy {
    @include underline-secondary('small', 'navy');
  }

  .a-button.a-button--underline-secondary.a-button--small.a-button--black {
    @include underline-secondary('small', 'black');
  }

  .a-button.a-button--underline-secondary.a-button--small.a-button--white {
    @include underline-secondary('small', 'white');
  }

  .a-button.a-button--underline-secondary.a-button--large.a-button--navy {
    @include underline-secondary('large', 'navy');
  }

  .a-button.a-button--underline-secondary.a-button--large.a-button--black {
    @include underline-secondary('large', 'black');
  }

  .a-button.a-button--underline-secondary.a-button--large.a-button--white {
    @include underline-secondary('large', 'white');
  }
}

@include underline-secondary-utility();




//------------------------------------
//  07 - Icons
//------------------------------------

@mixin icons() {
  .a-button.a-button--primary.a-button--icon-arrow-right,
  .a-button.a-button--secondary.a-button--icon-arrow-right {
    padding-inline-end: 56px !important;
  }

  .a-button.a-button--primary.a-button--icon-arrow-left,
  .a-button.a-button--primary.a-button--icon-play-left,
  .a-button.a-button--primary.a-button--icon-envelope-left,
  .a-button.a-button--secondary.a-button--icon-arrow-left,
  .a-button.a-button--secondary.a-button--icon-play-left,
  .a-button.a-button--secondary.a-button--icon-envelope-left {
    padding-inline-start: 56px !important;
  }

  .a-button.a-button--underline-primary.a-button--icon-arrow-right,
  .a-button.a-button--underline-secondary.a-button--icon-arrow-right {
    padding-inline-end: 40px !important;
  }

  .a-button.a-button--underline-primary.a-button--icon-arrow-left,
  .a-button.a-button--underline-primary.a-button--icon-play-left,
  .a-button.a-button--underline-primary.a-button--icon-envelope-left,
  .a-button.a-button--underline-secondary.a-button--icon-arrow-left,
  .a-button.a-button--underline-secondary.a-button--icon-play-left,
  .a-button.a-button--underline-secondary.a-button--icon-envelope-left {
    padding-inline-start: 40px !important;
  }

  .a-button.a-button--icon-arrow-right:after,
  .a-button.a-button--icon-arrow-left:before,
  .a-button.a-button--icon-play-left:before,
  .a-button.a-button--icon-envelope-left:before {
    content: '';
    display: block;
    height: 32px;
    margin: auto;
    position: absolute;
    width: 32px;
  }

  .a-button.a-button--icon-arrow-right:after {
    --surf-icon-arrow-right: svg-load('icon-arrow-right.svg');
    bottom: 0;
    mask-image: var(--surf-icon-arrow-right);
    top: 2px;
  }

  .a-button.a-button--primary.a-button--icon-arrow-right:after,
  .a-button.a-button--secondary.a-button--icon-arrow-right:after {
    right: 16px;
  }

  .a-button.a-button--underline-primary.a-button--icon-arrow-right:after,
  .a-button.a-button--underline-secondary.a-button--icon-arrow-right:after{
    right: 0;
  }

  .a-button.a-button--icon-arrow-left:before {
    --surf-icon-arrow-left: svg-load('icon-arrow-left.svg');
    bottom: 0;
    mask-image: var(--surf-icon-arrow-left);
    top: 2px;
  }

  .a-button.a-button--primary.a-button--icon-arrow-left:before,
  .a-button.a-button--secondary.a-button--icon-arrow-left:before {
    left: 16px;
  }

  .a-button.a-button--underline-primary.a-button--icon-arrow-left:before,
  .a-button.a-button--underline-secondary.a-button--icon-arrow-left:before{
    left: 0;
  }

  .a-button.a-button--icon-play-left:before {
    --surf-icon-play: svg-load('icon-play.svg');
    bottom: 0;
    left: 16px;
    mask-image: var(--surf-icon-play);
    top: 2px;
  }

  .a-button.a-button--primary.a-button--icon-play-left:before,
  .a-button.a-button--secondary.a-button--icon-play-left:before {
    left: 16px;
  }

  .a-button.a-button--underline-primary.a-button--icon-play-left:before,
  .a-button.a-button--underline-secondary.a-button--icon-play-left:before{
    left: 0;
  }

  .a-button.a-button--icon-envelope-left:before {
    --surf-icon-envelope: svg-load('icon-envelope.svg');
    bottom: 0;
    left: 16px;
    mask-image: var(--surf-icon-envelope);
    top: 2px;
  }

  .a-button.a-button--primary.a-button--icon-envelope-left:before,
  .a-button.a-button--secondary.a-button--icon-envelope-left:before {
    left: 16px;
  }

  .a-button.a-button--underline-primary.a-button--icon-envelope-left:before,
  .a-button.a-button--underline-secondary.a-button--icon-envelope-left:before {
    left: 0;
  }
}

@include icons();