//
// Global - Color
//
// - 01 - Theme Colors
// - 02 - Grayscale
//


//------------------------------------
//  01 - Theme Colors
//------------------------------------

@mixin theme() {
  :root, .ck {
    --surf-color-red:     #CC2F08;
    --surf-color-orange:  #FF6A00;
    --surf-color-gold:    #FFBB00;
    --surf-color-teal:    #00807E;
    --surf-color-blue:    #007AB8;
    --surf-color-navy:    #000080;
  }
}

@include theme();




//------------------------------------
//  02 - Grayscale
//------------------------------------

@mixin grayscale() {
  :root, .ck {
    --surf-color-white:     #FFFFFF;
    --surf-color-gray-100:  #F2F2F2;
    --surf-color-gray-200:  #DDDDDD;
    --surf-color-gray-300:  #CFCFCF;
    --surf-color-gray-500:  #6D6D6D;
    --surf-color-gray-600:  #575966;
    --surf-color-gray-700:  #494949;
    --surf-color-gray-800:  #3D404D;
    --surf-color-gray-900:  #222222;
    --surf-color-black:     #1A1A1A;
  }
}

@include grayscale();




//------------------------------------
//  03 - Gradients
//------------------------------------

@mixin gradients() {
  :root {
    --surf-gradient-hz-blue:    linear-gradient(90deg, var(--surf-color-blue), var(--surf-color-navy) 60%);
    --surf-gradient-hz-blue-02: linear-gradient(90deg, var(--surf-color-blue), var(--surf-color-navy) 100%);
    --surf-gradient-vt-blue:    linear-gradient(180deg, var(--surf-color-blue), var(--surf-color-navy));
    --surf-gradient-vt-multi:   linear-gradient(180deg, var(--surf-color-blue), var(--surf-color-teal), var(--surf-color-navy), var(--surf-color-black));
    --surf-gradient-dg-white:   linear-gradient(135deg, var(--surf-color-white), var(--surf-color-gray-200));
  }
}

@include gradients();
