//
// Global - Forms
//
// - 01 - Imports
// - 02 - General
// - 03 - Labels
// - 04 - Fields
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - General
//------------------------------------

form {
  > * + *,
  .form-item + .form-item {
    margin-block-start: var(--surf-gap-small);
    @include bp-min(large) {
      margin-block-start: var(--surf-gap-large);
    }
  }
}

.form-item {
  margin-block-end: rem(40px);
}




//------------------------------------
//  03 - Labels
//------------------------------------



label,
legend {
  color: var(--surf-color-black);
  display: block;
  font-family: var(--surf-font-condensed);
  font-size: rem(16px);
  font-weight: var(--surf-fw-bold);
  letter-spacing: 1.5px;
  line-height: var(--surf-lh-label);
  margin-block-end: rem(8px);
  text-transform: uppercase;
}

label.form-required::after {
  background: none;
  color: var(--surf-color-red);
  content: '*';
  font-family: var(--surf-font-condensed);
  font-size: rem(16px);
  font-weight: var(--surf-fw-bold);
  letter-spacing: 1.5px;
  line-height: var(--surf-lh-label);
  margin-inline: rem(4px);
  text-transform: uppercase;
  vertical-align: text-top;
}



//------------------------------------
//  04 - Fields
//------------------------------------

input,
textarea {
  background-color: var(--surf-color-white);
  border: solid 1px var(--surf-color-gray-800);
  border-radius: 0;
  font-family: var(--surf-font-sans);
  font-size: rem(18px) !important;
  max-inline-size: 100%;
  padding: 10px 12px;
}

textarea {
  display: block;
  width: 100%;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='email'],
input[type='number'] {
  height: 48px;

  &:focus,
  &:active {
    border-radius: 0;
    box-shadow: inset 0 0 0 1px var(--surf-color-black);
    outline: none;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input[type='file'] {
  height: inherit;
}

input[type='submit'] {
  border: 0;
  font-size: rem(22px);
  height: 48px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

// Input ids the need search icon
input#edit-title {
  background: svg-load('icon-search.svg', fill=#000000);
  background-position: left rem(10px) center;
  background-repeat: no-repeat;
  background-size: rem(28px) rem(28px);
  padding-inline-start: 45px;
}

select {
  appearance: none;
  background: svg-load('icon-add.svg', fill=#000000);
  background-color: var(--surf-color-white);
  background-position: right rem(10px) center;
  background-repeat: no-repeat;
  background-size: rem(28px) rem(28px);
  border-radius: 0;
  color: var(--surf-color-gray-900);
  font-family: var(--surf-font-sans);
  font-size: rem(18px) !important;
  height: 48px;
  padding: 10px 12px;
  text-indent: 0.01px;

  &:focus,
  &:active {
    border-radius: 0;
    box-shadow: inset 0 0 0 1px var(--surf-color-black);
    outline: none;
  }
}

// Remove default IE arrow
select::-ms-expand { display: none; }



//------------------------------------
//  03 - Checkboxes / Radios
//------------------------------------


.form-checkboxes,
.form-radios {

  input[type='checkbox'],
  input[type='radio'] {
    left: -9999px;
    position: absolute;
  }

  .form__item {
    align-items: center;
    display: flex;
    gap: 12px;
    margin-block-end: 12px;

    input,
    label {
      margin-block-end: 0;
    }

    input[type='checkbox']:checked + label,
    input[type='radio']:checked + label{
      font-weight: bold;
    }

    input[type='checkbox'] + label,
    input[type='radio'] + label {
      .option {
        display: inline-block;
      }
    }

    input[type='checkbox']:focus + label::before,
    input[type='radio']:focus + label::before {
      outline: rgb(59, 153, 252) auto 5px;
    }

    label:before {
      content: '';
      height: 28px;
      left: 0;
      position: absolute;
      width: 28px;
    }

    label {
      cursor: pointer;
      display: inline-block;
      padding-left: 37px;
      position: relative;
    }

    .option {
      font-family: var(--surf-font-sans);
      font-size: rem(18px);
      font-weight: var(--surf-fw-book);
      letter-spacing: normal;
      line-height: var(--surf-lh-label);
      text-transform: none;
    }
  }
}

.form-radios {
  input[type='radio'] + label:before {
    background: svg-load('icon-radio-unselected.svg', fill='#000080') left center no-repeat;
  }

  input[type='radio']:checked + label:before {
    background: svg-load('icon-radio-selected.svg', fill='#000080') left center no-repeat;
  }
}

.form-checkboxes {
  input[type='checkbox'] + label::before {
    background: svg-load('icon-check-empty-disabled.svg', fill='#000080') left center no-repeat;
  }

  input[type='checkbox']:checked + label::before {
    background: svg-load('icon-check-selected.svg', fill='#000080') left center no-repeat;
  }
}



//------------------------------------
//  04 - Descriptions
//------------------------------------

.description,
.form-item__description {
  color: var(--surf-color-gray-600);
  font-family: var(--surf-font-sans);
  font-size: rem(14px);
  line-height: var(--surf-lh-label);
  margin-block-start: rem(8px);
}




//------------------------------------
//  05 - Passwords
//------------------------------------

.password-strength__meter {
  background-color: var(--surf-color-gray-100);
}

.password-strength__indicator {
  &.is-fair {
    background-color: var(--surf-color-yellow);
  }

  &.is-strong {
    background-color: var(--surf-color-green);
  }

  &.is-good {
    background-color: var(--surf-color-green);
  }

  &.is-weak {
    background-color: var(--surf-color-red);
  }
}

.password-confirm,
.password-strength__title {
  font-family: var(--surf-font-sans);
  font-size: rem(14px);
}

.password-strength__text {
  font-weight: var(--surf-fw-bold);
}

.password-confirm > span {
  font-weight: var(--surf-fw-bold);

  &.error {
    color: var(--surf-color-red);
  }

  &.ok {
    color: var(--surf-color-green);
  }
}

.password-suggestions {
  font-family: var(--surf-font-sans);
  font-size: rem(14px);
  font-weight: var(--surf-fw-bold);

  > ul {
    font-weight: var(--surf-fw-regular);
  }
}
