//
// Global - Layout
//
// - 01 - Imports
// - 02 - Grid
// - 03 - Widths
// - 04 - Heights
// - 05 - Layers
// - 06 - Container
// - 07 - Layout
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';




//------------------------------------
//  02 - Grid
//------------------------------------

@mixin grid() {
  :root, .ck {
    --surf-grid-gap: 24px;

    @include breakpoints.bp-min(large) {
      --surf-grid-gap: 40px;
    }
  }
}

@include grid();




//------------------------------------
//  03 - Widths
//------------------------------------

:root {
  --surf-width-full: 1920px;
  --surf-width-xxlarge: 1620px;
  --surf-width-xlarge: 1380px;
  --surf-width-large: 1136px;
  --surf-width-medium: 1080px;
  --surf-width-small: 780px;
  --surf-width-xsmall: 640px;
  --surf-width-xxsmall: 480px;
}




//------------------------------------
//  04 - Heights
//------------------------------------

:root {
  --surf-height-region-header-utility: 72px;
  --surf-height-region-header-primary: 55px;

  @include breakpoints.bp-min(medium) {
    --surf-height-region-header-primary: 68px;
  }

  @include breakpoints.bp-min(large) {
    --surf-height-region-header-primary: 120px;
  }
}




//------------------------------------
//  05 - Layers
//------------------------------------

:root {
  --surf-zindex-super: 100;
  --surf-zindex-top: 50;
  --surf-zindex-over: 10;
  --surf-zindex-default: 1;
  --surf-zindex-under: -1;
  --surf-zindex-bottom: -9999px;
}




//------------------------------------
//  06 - Container
//------------------------------------

.container {
  inline-size: 100%;
  margin-inline: auto;
  padding-inline: var(--surf-grid-gap);

  &.container--full {
    max-inline-size: calc(var(--surf-width-full) + (var(--surf-grid-gap) * 2));
  }

  &.container--xxlarge {
    max-inline-size: calc(var(--surf-width-xxlarge) + (var(--surf-grid-gap) * 2));
  }

  &.container--xlarge {
    max-inline-size: calc(var(--surf-width-xlarge) + (var(--surf-grid-gap) * 2));
  }

  &.container--large {
    max-inline-size: calc(var(--surf-width-large) + (var(--surf-grid-gap) * 2));
  }

  &.container--medium {
    max-inline-size: calc(var(--surf-width-medium) + (var(--surf-grid-gap) * 2));
  }

  &.container--small {
    max-inline-size: calc(var(--surf-width-small) + (var(--surf-grid-gap) * 2));
  }

  &.container--xsmall {
    max-inline-size: calc(var(--surf-width-xsmall) + (var(--surf-grid-gap) * 2));
  }

  &.container--xxsmall {
    max-inline-size: calc(var(--surf-width-xxsmall) + (var(--surf-grid-gap) * 2));
  }
}




//------------------------------------
//  07 - Layout
//------------------------------------

.l-main {
  display: grid;
  gap: 32px;

  @include breakpoints.bp-min(medium) {
    gap: 64px;
  }

  @include breakpoints.bp-min(large) {
    gap: 80px;
  }
}

ul.l-onecol,
ul.l-twocol,
ul.l-threecol {
  margin: 0;
  padding: 0;
}

.l-onecol:not(.l-onecol--listing),
.l-twocol,
.l-threecol {
  display: grid;
  gap: 32px;

  @include breakpoints.bp-min(medium) {
    gap: 40px;
  }

  @include breakpoints.bp-min(large) {
    gap: 64px;
  }
}

.l-onecol__region,
.l-twocol__region,
.l-threecol__region {
  display: flex;
  flex-flow: nowrap column;
  gap: 32px;
  position: relative;

  @include breakpoints.bp-min(medium) {
    gap: 40px;
  }

  @include breakpoints.bp-min(large) {
    gap: 64px;
  }
}

.l-onecol__region--heading,
.l-twocol__region--heading,
.l-threecol__region--heading {
  @include breakpoints.bp-min(medium) {
    margin-block-end: -10px;
  }
}

// One Column
.l-onecol:not(.l-onecol--listing) {
  grid-template-columns: minmax(0, 1fr);
}

.l-onecol.l-onecol--listing {
  > *:not(:last-child) {
    padding-block-end: 32px;

    @include breakpoints.bp-min(medium) {
      padding-block-end: 40px;
    }
  }

  > *:not(:first-child) {
    border-top: solid 2px var(--surf-color-gray-800);
    padding-block-start: 32px;

    @include breakpoints.bp-min(medium) {
      padding-block-start: 40px;
    }
  }
}

// Two Column
.l-twocol {
  margin-inline: auto;

  &.l-twocol--50-50 {
    grid-template-columns: minmax(0, 1fr);

    @include breakpoints.bp-min(medium) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &.l-twocol--50-50 > .l-twocol__region {
    @include breakpoints.bp-min(medium) {
      height: 100%;
    }
  }

  &.l-twocol--55-45 {
    grid-template-columns: minmax(0, 1fr);

    @include breakpoints.bp-min(large) {
      grid-template-columns: 55% 1fr;
    }
  }

  &.l-twocol--55-45 > .l-twocol__region {
    @include breakpoints.bp-min(large) {
      height: 100%;
    }
  }

  &.l-twocol--45-55 {
    grid-template-columns: minmax(0, 1fr);

    @include breakpoints.bp-min(large) {
      grid-template-columns: 1fr 55%;
    }
  }

  &.l-twocol--45-55 > .l-twocol__region {
    @include breakpoints.bp-min(large) {
      height: 100%;
    }
  }

  &.l-twocol--25-75 {
    grid-template-columns: minmax(0, 1fr);

    @include breakpoints.bp-min(medium) {
      grid-template-columns: 1fr 3fr;
    }
  }

  &.l-twocol--25-75 > .l-twocol__region {
    @include breakpoints.bp-min(medium) {
      height: 100%;
    }
  }

  &.l-twocol--75-25 {
    grid-template-columns: minmax(0, 1fr);

    @include breakpoints.bp-min(medium) {
      grid-template-columns: 3fr 1fr;
    }
  }

  &.l-twocol--75-25 > .l-twocol__region {
    @include breakpoints.bp-min(medium) {
      height: 100%;
    }
  }

  .l-twocol__region > div {
    height: 100%;
  }

  .l-twocol__region--heading {
    @include breakpoints.bp-min(medium) {
      grid-column: 1/-1;
    }
  }
}

// Three Column
.l-threecol {
  &.l-threecol--33-34-33 {
    grid-template-columns: minmax(0, 1fr);

    @include breakpoints.bp-min(large) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &.l-threecol--33-34-33 > .l-threecol__region {
    @include breakpoints.bp-min(large) {
      height: 100%;
    }
  }

  .l-threecol__region > div {
    height: 100%;
  }

  .l-threecol__region--heading {
    @include breakpoints.bp-min(medium) {
      grid-column: 1/-1;
    }
  }
}


// Landing and Dashboard pages
.p-landing,
.p-dashboard {
  padding-block-end: 64px;

  .p-landing__hero,
  .p-dashboard__hero {
    margin-block-end: 32px;

    @include breakpoints.bp-min(xlarge) {
      margin-block-end: 64px;
    }
  }

  .p-landing__content > *:not(:last-child, .l-section--gray, .l-section--blue-gradient),
  .p-dashboard__content > *:not(:last-child, .l-section--gray, .l-section--blue-gradient) {
    margin-block: 32px;

    @include breakpoints.bp-min(large) {
      margin-block: 64px;
    }
  }

  .p-landing__content > .l-section--gray:first-child,
  .p-landing__dashboard > .l-section--gray:first-child,
  .p-landing__content > .l-section--blue-gradient:first-child,
  .p-landing__dashboard > .l-section--blue-gradient:first-child {
    margin-block-start: -32px;

    @include breakpoints.bp-min(xlarge) {
      margin-block-start: -64px;
    }
  }

  .p-landing__content > .l-section--gray:last-child,
  .p-landing__dashboard > .l-section--gray:last-child,
  .p-landing__content > .l-section--blue-gradient:last-child,
  .p-landing__dashboard > .l-section--blue-gradient:last-child {
    margin-block-end: -64px;
  }

  .p-dashboard__content section > .container > h2 {
    margin-block-end: 32px;

    @include breakpoints.bp-min(medium) {
      margin-block-end: 40px;
    }

    @include breakpoints.bp-min(large) {
      margin-block-end: 64px;
    }
  }
}
