//
// Global - Layout
//
// - 01 - Imports
// - 02 - Grid
// - 03 - Widths
// - 04 - Heights
// - 05 - Layers
// - 06 - Alignment
// - 07 - Container
// - 08 - Layout
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - Grid
//------------------------------------

:root {
  --surf-grid-gap: 24px;

  @include bp-min(large) {
    --surf-grid-gap: 40px;
  }
}


//------------------------------------
//  03 - Widths
//------------------------------------

:root {
  --surf-width-xxlarge: 1920px;
  --surf-width-default: 1440px;
  --surf-width-xlarge: 1384px;
  --surf-width-large: 1280px;
  --surf-width-medium: 960px;
  --surf-width-small: 768px;
  --surf-width-xsmall: 640px;
  --surf-width-xxsmall: 480px;
}




//------------------------------------
//  04 - Heights
//------------------------------------

:root {
  --surf-height-region-header-utility: 72px;
  --surf-height-region-header-primary: 72px;

  @include bp-min(large) {
    --surf-height-region-header-primary: 120px;
  }
}




//------------------------------------
//  05 - Layers
//------------------------------------

:root {
  --surf-zindex-super: 100;
  --surf-zindex-top: 90;
  --surf-zindex-over: 10;
  --surf-zindex-default: 1;
  --surf-zindex-under: -1;
  --surf-zindex-bottom: -9999px;
}




//------------------------------------
//  06 - Alignment
//------------------------------------

.align-left {
  margin: 0 var(--surf-grid-gap) var(--surf-grid-gap) 0;
}

.align-right {
  margin: 0 0 var(--surf-grid-gap) var(--surf-grid-gap);
}

.align-center {
  margin: var(--surf-grid-gap) auto;
}




//------------------------------------
//  07 - Container
//------------------------------------

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--surf-grid-gap);
  padding-right: var(--surf-grid-gap);
  width: 100%;

  &.container--default {
    max-width: calc(var(--surf-width-default) + (var(--surf-grid-gap) * 2));
  }

  &.container--large {
    max-width: calc(1143px + (var(--surf-grid-gap) * 2));
  }

  &.container--xlarge {
    max-width: calc(var(--surf-width-xlarge) + (var(--surf-grid-gap) * 2));
  }

  &.container--small {
    max-width: calc(var(--surf-width-small) + (var(--surf-grid-gap) * 2));
  }
}



//------------------------------------
//  08 - Layout
//------------------------------------

.layout--twocol-section,
.layout--threecol-section {
  display: grid;
  gap: 60px;
}

.layout--twocol-section--50-50 {
  grid-template-columns: 1fr;
  @include bp-min(medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.layout--twocol-section--33-67 {
  grid-template-columns: 1fr;
  @include bp-min(medium) {
    grid-template-columns: 1fr 2fr;
  }
}

.layout--twocol-section--67-33 {
  grid-template-columns: 1fr;
  @include bp-min(medium) {
    grid-template-columns: 2fr 1fr;
  }
}

.layout--twocol-section--25-75 {
  grid-template-columns: 1fr;
  @include bp-min(medium) {
    grid-template-columns: 1fr 3fr;
  }
}

.layout--twocol-section--75-25 {
  grid-template-columns: 1fr;
  @include bp-min(medium) {
    grid-template-columns: 3fr 1fr;
  }
}

.layout--threecol-section--33-34-33 {
  grid-template-columns: 1fr;
  @include bp-min(medium) {
    grid-template-columns: 1fr 1fr;
  }
  @include bp-min(large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.layout--threecol-section--25-50-25 {
  grid-template-columns: 1fr;
  @include bp-min(medium) {
    grid-template-columns: 1fr 1fr;
  }
  @include bp-min(large) {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

.layout--threecol-section--25-25-50 {
  grid-template-columns: 1fr;
  @include bp-min(medium) {
    grid-template-columns: 1fr 1fr;
  }
  @include bp-min(large) {
    grid-template-columns: 1fr 1fr 2fr;
  }
}

.layout--threecol-section--50-25-25 {
  grid-template-columns: 1fr;
  @include bp-min(medium) {
    grid-template-columns: 1fr 1fr;
  }
  @include bp-min(large) {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

// TODO: move to another place once through testing.
.field__name--field-p-content {
  > *:not(:last-child) {
    margin-block-end: rem(32px);
  }
}

