//
// Global - Media
//
// - 01 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../partials/breakpoints';
@use '../../partials/calculations';
@use '../../partials/media';




//------------------------------------
//  01 - General
//------------------------------------

@mixin general() {
  .a-media {
    position: relative;

    &.media--remote-video {
      @include media.responsive-iframe();
      width: 100%;
    }
  }

  .a-media .a-media__caption,
  .a-media .a-media__caption > * {
    color: var(--surf-color-gray-600);
    font-size: calculations.rem(14px);
    line-height: 1.48;
  }

  .a-media .a-media__caption {
    margin-block-start: 12px;
  }

  .a-media .a-media__caption > * {
    display: inline;
  }
}

@include general();




//------------------------------------
//  02 - Alignment
//------------------------------------

@mixin alignment() {
  .media--large.align-right,
  .media--large.align-left,
  figure[data-view-mode='large'].drupal-media-style-align-right,
  figure[data-view-mode='large'].drupal-media-style-align-left {
    float: none;
    margin-inline: 0;
  }

  .media--small.align-right,
  figure[data-view-mode='small'].drupal-media-style-align-right {
    float: none;
    margin-block: 24px;

    @include breakpoints.bp-min(small) {
      float: right;
      margin-inline-start: var(--surf-grid-gap);
    }
  }

  .media--small.align-left,
  figure[data-view-mode='small'].drupal-media-style-align-left {
    float: none;
    margin-block: 24px;

    @include breakpoints.bp-min(small) {
      float: left;
      margin-inline-end: var(--surf-grid-gap);
    }
  }
}

@include alignment();

.l-onecol .media img {
  inline-size: 100%;
  margin-inline: auto;
}




//------------------------------------
//  03 - Sizes
//------------------------------------

@mixin sizes() {
  .media--large:not(:first-child),
  figure[data-view-mode='large']:not(:first-child) {
    margin-block-start: var(--surf-grid-gap);
  }

  .media--large,
  figure[data-view-mode='large'] {
    margin-block-end: var(--surf-grid-gap);
  }

  figure[data-view-mode='large'] {
    max-inline-size: inherit;
  }

  .media--small,
  figure[data-view-mode='small'] {
    @include breakpoints.bp-min(small) {
      max-inline-size: 320px;
    }

    @include breakpoints.bp-min(xlarge) {
      max-inline-size: 540px;
    }
  }
}

@include sizes();
