//
// Global - Media
//
// - 01 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../partials/breakpoints';
@use '../../partials/calculations';




//------------------------------------
//  01 - General
//------------------------------------

@mixin general() {
  img {
    height: auto;
  }

  figcaption {
    font-size: calculations.rem(14px);
    font-style: italic;
    margin-top: 8px;
  }
}




//------------------------------------
//  02 - Alignment
//------------------------------------

@mixin alignment() {
  .media--large.align-right,
  .media--large.align-left,
  figure[data-view-mode='large'].drupal-media-style-align-right,
  figure[data-view-mode='large'].drupal-media-style-align-left {
    float: none;
    margin-block-end: var(--surf-grid-gap);
    margin-inline: 0;
  }

  .media--small.align-right,
  figure[data-view-mode='small'].drupal-media-style-align-right {
    float: none;
    margin-block: 24px;

    @include breakpoints.bp-min(small) {
      float: right;
      margin-inline-start: var(--surf-grid-gap);
    }
  }

  .media--small.align-left,
  figure[data-view-mode='small'].drupal-media-style-align-left {
    float: none;
    margin-block: 24px;

    @include breakpoints.bp-min(small) {
      float: left;
      margin-inline-end: var(--surf-grid-gap);
    }
  }
}




//------------------------------------
//  03 - Sizes
//------------------------------------

@mixin sizes() {
  figure[data-view-mode='large'] {
    max-width: inherit;
  }

  .media--small,
  figure[data-view-mode='small'] {
    @include breakpoints.bp-min(small) {
      max-inline-size: 320px;
    }

    @include breakpoints.bp-min(xlarge) {
      max-inline-size: 540px;
    }
  }
}
