//
// Global - Page
//
// - 01 - Imports
// - 02 - Page
// - 03 - Body
// - 04 - Skip Link
// - 05 - Rule
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - Page
//------------------------------------

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -moz-tab-size: 4;
  font-size: 100%;
  line-height: 1.15;
  scroll-behavior: smooth;
  tab-size: 4;
}




//------------------------------------
//  03 - Body
//------------------------------------

body {
  background-color: var(--surf-color-black); // Floating footer fix
}

.layout-container {
  background-color: var(--surf-color-white);
  overflow: hidden;
  padding-block-start: var(--surf-height-region-header-primary);

  @include bp-min(large) {
    padding-block-start: calc(var(--surf-height-region-header-primary) + var(--surf-height-region-header-utility));
  }
}

#site-content {
  position: relative;

  &:after {
    @include bp-min(xlarge) {
      background: var(--surf-gradient-vt-multi);
      block-size: 100%;
      content: '';
      display: block;
      inline-size: 28px;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
    }
  }
}




//------------------------------------
//  04 - Skip Link
//------------------------------------

.skip-link {
  background-color: var(--surf-color-navy);
  color: var(--surf-color-white) !important;
  padding: 16px 32px 20px;
  text-decoration: none;
  z-index: 999;
}

.visually-hidden.focusable:focus {
  position: absolute !important;
}

#site-content {
  &:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 5em;
    margin-top: -5em;
  }
}




//------------------------------------
//  05 - Rule
//------------------------------------

hr {
  border: 0;
  border-bottom: 1px solid var(--surf-color-dark);
}
