//
// Global - Tables
//
// - 01 - General
// - 02 - Elements
//


//------------------------------------
//  02 - General
//------------------------------------

@mixin general() {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    inline-size: 100%;
  }
}




//------------------------------------
//  03 - Elements
//------------------------------------

@mixin elements() {
  table tr {
    border-block-end: 1px solid var(--surf-color-gray-800);
  }

  table thead th {
    vertical-align: bottom;
  }

  table th,
  table td {
    padding-block: 12px;
    padding-inline: 24px;
  }

  table th {
    font-size: var(--surf-fs-18-24);
    line-height: var(--surf-lh-heading);
  }

  table td {
    min-inline-size: 240px;
  }
}
