//
// Global - Tables
//
// - 01 - Imports
// - 02 - General
// - 03 - Elements
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - General
//------------------------------------

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: var(--surf-font-sans);
  font-size: rem(16px);
  margin-bottom: rem(24px);
  margin-top: 0;
  max-width: 100%;
  text-align: left;
  width: 100%;
}

h1 + table,
h2 + table,
h3 + table,
h4 + table,
h5 + table,
table:not( :first-child ) {
  margin-top: 24px;
}




//------------------------------------
//  03 - Elements
//------------------------------------

thead {
  & th {
    vertical-align: bottom;
  }
}

th,
td {
  border-bottom: 1px solid var(--surf-color-gray-800);
  color: var(--surf-color-black);
  padding: 12px 20px;
  text-align: left;
  vertical-align: top;
}

th {
  font-family: var(--surf-font-sans);
  font-size: rem(24px);
  font-weight: var(--surf-fw-bold);
  line-height: var(--surf-lh-label);
}

td {
  font-size: rem(18px);
  min-width: 300px;
}


// Remove top border from thead by default
caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

// Account for multiple tbody instances
tbody + tbody {
  border-top: 2px solid var(--surf-color-gray-800);
}

tr.even {
  background-color: var(--surf-color-gray-100);
}
