//
// Settings - Typography
//
// - 01 - Imports
// - 02 - Families
// - 03 - Sizes
// - 04 - Weights
// - 05 - Line Heights
// - 06 - Body
// - 07 - General
// - 08 - Headings
// - 09 - Links
// - 10 - Bold
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../partials/breakpoints';
@use '../../partials/calculations';




//------------------------------------
//  02 - Families
//------------------------------------

@mixin families() {
  :root, .ck {
    --surf-font-mono: monospace;
    --surf-font-sans: 'ballinger', sans-serif;
    --surf-font-sans-alt: 'recent-grotesk', sans-serif;
    --surf-font-condensed: 'ballinger-condensed', sans-serif;
  }
}

@include families();




//------------------------------------
//  03 - Sizes
//------------------------------------

@mixin sizes() {
  :root, .ck {
    --surf-fs-16-18: #{calculations.rem(16px)};
    --surf-fs-16-18-24: #{calculations.rem(16px)};
    --surf-fs-16-22: #{calculations.rem(16px)};
    --surf-fs-16-24: #{calculations.rem(16px)};
    --surf-fs-16-24-40: #{calculations.rem(16px)};
    --surf-fs-18-24: #{calculations.rem(18px)};
    --surf-fs-18-24-32: #{calculations.rem(18px)};
    --surf-fs-18-24-32-40: #{calculations.rem(18px)};
    --surf-fs-18-24-40: #{calculations.rem(18px)};
    --surf-fs-20-24-32: #{calculations.rem(20px)};
    --surf-fs-22-40: #{calculations.rem(22px)};
    --surf-fs-22-28-44: #{calculations.rem(22px)};
    --surf-fs-24-40: #{calculations.rem(24px)};
    --surf-fs-24-40-52: #{calculations.rem(24px)};
    --surf-fs-30-32: #{calculations.rem(30px)};
    --surf-fs-40-64: #{calculations.rem(40px)};
    --surf-fs-40-96: #{calculations.rem(40px)};
    --surf-fs-40-52-64: #{calculations.rem(40px)};
    --surf-fs-40-52-64-96: #{calculations.rem(40px)};
    --surf-fs-52-64-96: #{calculations.rem(52px)};
    --surf-fs-48-132-176: #{calculations.rem(48px)};
    --surf-fs-48-100-132: #{calculations.rem(48px)};
    --surf-fs-48-100-132-176: #{calculations.rem(48px)};
    --surf-fs-80-140-200-260: #{calculations.rem(80px)};

    @include breakpoints.bp-min(medium) {
      --surf-fs-16-18-24: #{calculations.rem(18px)};
      --surf-fs-16-22: #{calculations.rem(22px)};
      --surf-fs-16-24-40: #{calculations.rem(24px)};
      --surf-fs-18-24: #{calculations.rem(24px)};
      --surf-fs-18-24-32: #{calculations.rem(24px)};
      --surf-fs-18-24-32-40: #{calculations.rem(24px)};
      --surf-fs-18-24-40: #{calculations.rem(24px)};
      --surf-fs-16-24: #{calculations.rem(24px)};
      --surf-fs-20-24-32: #{calculations.rem(24px)};
      --surf-fs-22-28-44: #{calculations.rem(28px)};
      --surf-fs-22-40: #{calculations.rem(40px)};
      --surf-fs-24-40-52: #{calculations.rem(40px)};
      --surf-fs-24-32: #{calculations.rem(32px)};
      --surf-fs-40-52-64-96: #{calculations.rem(52px)};
      --surf-fs-40-64: #{calculations.rem(64px)};
      --surf-fs-40-96: #{calculations.rem(96px)};
      --surf-fs-48-100-132: #{calculations.rem(100px)};
      --surf-fs-48-100-132-176: #{calculations.rem(100px)};
      --surf-fs-48-132-176: #{calculations.rem(132px)};
      --surf-fs-80-140-200-260: #{calculations.rem(140px)};
  }

    @include breakpoints.bp-min(large) {
      --surf-fs-16-18: #{calculations.rem(18px)};
      --surf-fs-16-24-40: #{calculations.rem(40px)};
      --surf-fs-24-40: #{calculations.rem(40px)};
      --surf-fs-24-40-52: #{calculations.rem(52px)};
      --surf-fs-18-24-32: #{calculations.rem(32px)};
      --surf-fs-18-24-32-40: #{calculations.rem(32px)};
      --surf-fs-18-24-40: #{calculations.rem(40px)};
      --surf-fs-20-24-32: #{calculations.rem(32px)};
      --surf-fs-30-32: #{calculations.rem(32px)};
      --surf-fs-40-52-64: #{calculations.rem(52px)};
      --surf-fs-40-52-64-96: #{calculations.rem(52px)};
      --surf-fs-52-64-96: #{calculations.rem(64px)};
      --surf-fs-48-100-132: #{calculations.rem(132px)};
      --surf-fs-48-100-132-176: #{calculations.rem(132px)};
      --surf-fs-80-140-200-260: #{calculations.rem(200px)};
    }


    @include breakpoints.bp-min(xlarge) {
      --surf-fs-16-18-24: #{calculations.rem(24px)};
      --surf-fs-18-24-32-40: #{calculations.rem(40px)};
      --surf-fs-22-28-44: #{calculations.rem(44px)};
      --surf-fs-40-52-64: #{calculations.rem(64px)};
      --surf-fs-40-52-64-96: #{calculations.rem(96px)};
      --surf-fs-52-64-96: #{calculations.rem(96px)};
      --surf-fs-48-100-132-176: #{calculations.rem(176px)};
      --surf-fs-48-132-176: #{calculations.rem(176px)};
      --surf-fs-80-140-200-260: #{calculations.rem(260px)};
    }
  }
}

@include sizes();




//------------------------------------
//  04 - Weights
//------------------------------------

@mixin weights() {
  :root, .ck {
    --surf-fw-thin: 100;
    --surf-fw-light: 300;
    --surf-fw-regular: 400;
    --surf-fw-book: 400;
    --surf-fw-medium: 500;
    --surf-fw-semibold: 600;
    --surf-fw-bold: 700;
  }
}

@include weights();




//------------------------------------
//  05 - Line Heights
//------------------------------------

@mixin line-heights() {
  :root, .ck {
    --surf-lh-default: 1.6;
    --surf-lh-heading: 1.2;
    --surf-lh-label:   1.4;
    --surf-lh-base:    1;
  }
}

@include line-heights();




//------------------------------------
//  06 - Body
//------------------------------------

body {
  color: var(--surf-color-black);
  font-family: var(--surf-font-sans);
}




//------------------------------------
//  07 - General
//------------------------------------

@mixin general() {
  p, li, td {
    font-size: var(--surf-fs-16-18);
    line-height: var(--surf-lh-default);
  }

  p:not(:first-child) {
    margin-block-start: 16px;
  }

  p.large {
    font-size: var(--surf-fs-18-24);
  }
}




//------------------------------------
//  08 - Headings
//------------------------------------

@mixin headings-general () {
  h1, h2, h3, h4, h5 {
    color: var(--surf-color-black);
    line-height: var(--surf-lh-heading);
    margin-block-end: 0;

    > a {
      text-decoration: none;
    }

    &:first-child {
      margin-block-start: 0;
    }
  }
}

@mixin headings-editor () {
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child),
  h5:not(:first-child) {
    margin-block-start: 32px;
  }

  h2, h3, h4, h5 {
    margin-block-end: 8px;
  }

  h2 {
    font-family: var(--surf-font-sans-alt);
    font-size: var(--surf-fs-40-52-64);
    font-weight: var(--surf-fw-book);
    letter-spacing: 1.44px;
    line-height: var(--surf-lh-base);
  }

  h2.large {
    font-size: var(--surf-fs-40-52-64-96);
  }

  h3 {
    font-size: var(--surf-fs-24-40);
  }

  h4 {
    font-size: var(--surf-fs-18-24-32);
  }

  h5 {
    font-size: var(--surf-fs-18-24);
  }
}

@include headings-general();




//------------------------------------
//  09 - Links
//------------------------------------

@mixin links() {
  a {
    color: var(--surf-color-navy);
    font-weight: var(--surf-fw-bold);
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--surf-color-gray-900);
      text-decoration: none;
    }
  }
}

@include links();




//------------------------------------
//  10 - Bold
//------------------------------------

@mixin bold() {
  strong,
  b {
    font-weight: var(--surf-fw-bold);
  }
}
