//
// Settings - Typography
//
// - 01 - Imports
// - 02 - Families
// - 03 - Sizes
// - 04 - Weights
// - 05 - Line Heights
// - 06 - Body
// - 07 - Headings
// - 08 - Links
// - 09 - Bold
// - 10 - Paragraphs
// - 11 - Blockquote
// - 12 - Lists
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - Families
//------------------------------------

:root {
  --surf-font-mono: monospace;
  --surf-font-sans: 'ballinger', sans-serif;
  --surf-font-sans-alt: 'recent-grotesk', sans-serif;
  --surf-font-condensed: 'ballinger-condensed', sans-serif;
}




//------------------------------------
//  03 - Sizes
//------------------------------------

:root {
  --surf-fs-16-18: #{rem(16px)};
  --surf-fs-16-18-24: #{rem(16px)};
  --surf-fs-16-24: #{rem(16px)};
  --surf-fs-18-24: #{rem(18px)};
  --surf-fs-18-24-32: #{rem(18px)};
  --surf-fs-18-24-40: #{rem(18px)};
  --surf-fs-24-40: #{rem(24px)};
  --surf-fs-24-40-52: #{rem(24px)};
  --surf-fs-18-24-32: #{rem(18px)};
  --surf-fs-30-32: #{rem(30px)};
  --surf-fs-40-64: #{rem(40px)};
  --surf-fs-40-52-64-96: #{rem(40px)};
  --surf-fs-52-64-96: #{rem(52px)};
  --surf-fs-48-132-176: #{rem(48px)};
  --surf-fs-48-100-132: #{rem(48px)};
  --surf-fs-48-100-132-176: #{rem(48px)};
  --surf-fs-80-140-200-260: #{rem(80px)};

  @include bp-min(medium) {
    --surf-fs-16-18-24: #{rem(18px)};
    --surf-fs-18-24: #{rem(24px)};
    --surf-fs-18-24-32: #{rem(24px)};
    --surf-fs-18-24-40: #{rem(24px)};
    --surf-fs-18-24-32: #{rem(24px)};
    --surf-fs-16-24: #{rem(24px)};
    --surf-fs-24-40-52: #{rem(40px)};
    --surf-fs-40-52-64-96: #{rem(52px)};
    --surf-fs-40-64: #{rem(64px)};
    --surf-fs-48-100-132: #{rem(100px)};
    --surf-fs-48-100-132-176: #{rem(100px)};
    --surf-fs-48-132-176: #{rem(132px)};
    --surf-fs-80-140-200-260: #{rem(140px)};
  }

  @include bp-min(large) {
    --surf-fs-16-18: #{rem(18px)};
    --surf-fs-24-40: #{rem(40px)};
    --surf-fs-24-40-52: #{rem(52px)};
    --surf-fs-18-24-32: #{rem(32px)};
    --surf-fs-18-24-40: #{rem(40px)};
    --surf-fs-18-24-32: #{rem(32px)};
    --surf-fs-30-32: #{rem(32px)};
    --surf-fs-40-52-64-96: #{rem(52px)};
    --surf-fs-52-64-96: #{rem(64px)};
    --surf-fs-48-100-132: #{rem(132px)};
    --surf-fs-48-100-132-176: #{rem(132px)};
    --surf-fs-80-140-200-260: #{rem(200px)};
  }

  @include bp-min(xlarge) {
    --surf-fs-16-18-24: #{rem(24px)};
    --surf-fs-40-52-64-96: #{rem(96px)};
    --surf-fs-52-64-96: #{rem(96px)};
    --surf-fs-48-100-132-176: #{rem(176px)};
    --surf-fs-48-132-176: #{rem(176px)};
    --surf-fs-80-140-200-260: #{rem(260px)};
  }
}




//------------------------------------
//  04 - Weights
//------------------------------------

:root {
  --surf-fw-thin: 100;
  --surf-fw-light: 300;
  --surf-fw-regular: 400;
  --surf-fw-book: 400;
  --surf-fw-medium: 500;
  --surf-fw-semibold: 600;
  --surf-fw-bold: 700;
}




//------------------------------------
//  05 - Line Heights
//------------------------------------

:root {
  --surf-lh-default: 1.6;
  --surf-lh-heading: 1.2;
  --surf-lh-label:   1.4;
  --surf-lh-base:    1;
}




//------------------------------------
//  06 - Body
//------------------------------------

body {
  color: var(--surf-color-black);
  font-family: var(--surf-font-sans);
  font-size: rem(18px);
}




//------------------------------------
//  07 - Headings
//------------------------------------

h1, h2, h3, h4, h5 {
  color: var(--surf-color-black);
  line-height: var(--surf-lh-heading);
  margin-bottom: 0;

  > a {
    text-decoration: none;
  }

  &:first-child {
    margin-top: 0;
  }
}

h1 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}




//------------------------------------
//  08 - Links
//------------------------------------

a {
  color: var(--surf-color-navy);
  font-weight: var(--surf-fw-bold);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--surf-color-gray-900);
    text-decoration: none;
  }
}




//------------------------------------
//  09 - Bold
//------------------------------------

strong,
b {
  font-weight: var(--surf-fw-bold);
}




//------------------------------------
//  10 - Paragraphs
//------------------------------------

p {
  line-height: var(--surf-lh-default);
}




//------------------------------------
//  11 - Blockquote
//------------------------------------

blockquote {
  font-style: italic;
  margin: 15px 0;
  text-indent: -0.4em;
}




//------------------------------------
//  12 - Lists
//------------------------------------

ul:not([class]),
ol:not([class]) {
  font-size: rem(16px);
  line-height: var(--surf-lh-default);
  list-style-position: inside;
}

ul:not([class]):not(:first-child),
ol:not([class]):not(:first-child) {
  margin-top: 16px;
}
