@use '../../../00-base/partials/partials' as *;

.a-left-hook {
  border-block-start: 2px solid var(--surf-color-gray-800);
  border-inline-start: 2px solid var(--surf-color-gray-800);
  height: rem(32px);
}