//
// Components - Molecule - Menu - Block
//
// - 01 - Imports
// - 02 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/animations';
@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';
@use '../../../00-base/partials/links';
@use '../../../00-base/partials/lists';




//------------------------------------
//  02 - General
//------------------------------------

.o-menu-block {
  .o-menu-block__title {
    font-family: var(--surf-font-condensed);
    font-size: calculations.rem(16px);
    letter-spacing: 1.5px;
    line-height: 1.4;
    text-transform: uppercase;
  }
}

.o-menu-block .m-menu {
  display: none; // FUOC Fix

  ul {
    @include lists.list-reset();
  }

  a,
  span,
  button {
    appearance: none;
    background: none;
    border: none;
    display: inline-block;
    font-weight: var(--surf-fw-book);
    padding-block: 0;
    padding-inline: 0;
    text-decoration: none;
  }

  a.m-menu__link--active-trail,
  span.m-menu__link--active-trail,
  button.m-menu__link--active-trail {
    font-weight: var(--surf-fw-bold);
  }

  a {
    position: relative;
    transition: animations.transition(all, 0.35s, easeInOutExpo);

    &:before {
      background-color: var(--surf-color-navy);
      block-size: 1px;
      content: '';
      display: block;
      inline-size: 100%;
      inset-block-start: calc(100% - 4px);
      inset-inline-start: 0;
      position: absolute;
      transform: scaleX(0);
      transform-origin: left;
      transition: animations.transition(all, 0.35s, easeInOutExpo);
    }

    &:hover,
    &:focus {
      color: var(--surf-color-black);
    }

    &:hover:before,
    &:focus:before {
      background-color: var(--surf-color-black);
      transform: scaleX(1);
    }
  }

  .m-menu__level--3,
  .m-menu__level--4,
  .m-menu__level--5,
  .m-menu__card p {
    display: none;
  }
}

// FUOC Fix
.js .o-menu-block .m-menu {
  display: block;
}




//------------------------------------
//  03 - Level One
//------------------------------------

.o-menu-block .m-menu .m-menu__list.m-menu__level--1 {
  > li {
    margin-block: 16px;
  }

  > li > a,
  > li > span,
  > li > button {
    font-size: var(--surf-fs-16-18);
  }
}




//------------------------------------
//  04 - Level Two
//------------------------------------

.o-menu-block .m-menu .m-menu__list.m-menu__level--2 {
  margin-block: 16px;

  > li {
    margin-block: 8px;
    padding-inline-start: 32px;
    position: relative;

    &:before {
      background-color: var(--surf-color-navy);
      block-size: 4px;
      border-radius: 50%;
      content: '';
      display: block;
      inline-size: 4px;
      inset-block-start: 11px;
      inset-inline-start: 12px;
      overflow: hidden;
      position: absolute;
    }
  }

  > li > a,
  > li > span,
  > li > button {
    font-size: calculations.rem(16px);
  }
}
