@import "_partials";

.c-header {
  h2 {
    @include surf-font-heading-one;
    @include bp-max(medium) {
      font-size: rem(48px);
      line-height: 90%;
    }
  }
}

// Text
.c-header.black-text h2 {
  color: var(--color-surf--black);
}
.c-header.white-text h2 {
  color: var(--color-surf--white);
}

// Green Particles
.c-header.green-particles {
  h2 {
    background: url(../green.svg) no-repeat bottom left;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  &.black-text h2 {
    background-color: var(--color-surf--black);
  }
  &.white-text h2 {
    background-color: var(--color-surf--white);
  }
}

// Light Particles
.c-header.light-gray-particles {
  h2 {
    background: url(../light-gray.svg) no-repeat bottom left;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  &.black-text h2 {
    background-color: var(--color-surf--black);
  }
  &.white-text h2 {
    background-color: var(--color-surf--white);
  }
}

// White Particles
.c-header.white-particles {
  h2 {
    background: url(../white-70.svg) no-repeat bottom left;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  &.black-text h2 {
    background-color: var(--color-surf--black);
  }
  &.white-text h2 {
    background-color: var(--color-surf--white);
  }
}
