@import "_partials";

.c-header:not(.black-text) {
  h2 {
    display: inline;
    @include surf-font-heading-one;
    @include bp-max(medium) {
      font-size: rem(48px);
      line-height: 90%;
    }
  }
}

.black-text h2 {
  color: var(--color-surf--black);
  margin: 0;
  text-transform: uppercase;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-medium);
  font-size: rem(40px);
  line-height: rem(40px);
  letter-spacing: rem(0.6px);

  @include bp-min(medium) {
    font-size: rem(64px);
    line-height: rem(64px);
    letter-spacing: rem(1.28px);
  }
  @include bp-min(large) {
    font-size: rem(96px);
    line-height: rem(96px);
    letter-spacing: rem(1.44px);
  }
}
// Text
// .c-header.black-text h2 {
//   color: var(--color-surf--black);
// }
// .c-header.white-text h2 {
//   color: var(--color-surf--white);
// }

// Green Particles
// .c-header.green-particles {
//   h2 {
//     background: url(../green.svg) no-repeat bottom left;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
//   }
//   &.black-text h2 {
//     background-color: var(--color-surf--black);
//   }
//   &.white-text h2 {
//     background-color: var(--color-surf--white);
//   }
// }

.black-text-green-particles {
  h2 {
    background-color: var(--color-surf--black);
    background: url(../green.svg) no-repeat bottom left;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

// Light Particles
// .c-header.light-gray-particles {
//   h2 {
//     background: url(../light-gray.svg) no-repeat bottom left;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
//   }
//   &.black-text h2 {
//     background-color: var(--color-surf--black);
//   }
//   &.white-text h2 {
//     background-color: var(--color-surf--white);
//   }
// }

.black-text-gray-particles {
  h2 {
    background-color: var(--color-surf--black);
    background: url(../light-gray.svg) no-repeat bottom left;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

// White Particles
// .c-header.white-particles {
//   h2 {
//     background: url(../white-70.svg) no-repeat bottom left;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
//   }
//   &.black-text h2 {
//     background-color: var(--color-surf--black);
//   }
//   &.white-text h2 {
//     background-color: var(--color-surf--white);
//   }
// }

.black-text-white-particles {
  h2 {
    background-color: var(--color-surf--black);
    background: url(../white-70.svg) no-repeat bottom left;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.c-header.horizontal-rule {
  h2 {
    padding-top: rem(32px);
    @include bp-max(medium) {
      padding-top: rem(60px);
    }
  }
}
