#
# GIT Ignore
# This file contains rules that tell GIT to ignore specific files or directories. These are often associated with
# local only files, environment files or whole directories that are built on remote servers, such as vendor
# directories.
#
# - 01 - Services and Settings
# - 02 - User Generated
# - 03 - Composer Generated
# - 04 - Development Tools
# - 05 - Backups
# - 06 - Misc
# - 07 - Build Artifacts
#


#------------------------------------
# 01 - Services and Settings
#------------------------------------

/web/sites/*/settings.local.php
/web/sites/*/services*.yml
!/web/sites/*/services.pantheon.*.yml
!/web/sites/*/services.yml
settings.lando.php




#------------------------------------
# 02 - User Generated
#------------------------------------

/web/sites/*/files
/web/sites/*/private




#------------------------------------
# 03 - Composer Generated
#------------------------------------

/drush/Commands/contrib/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/private/scripts/quicksilver
/web/libraries/
/vendor/
/.editorconfig
/.gitattributes
/web/**/.gitignore




#------------------------------------#
# 04 - Development Tools
#------------------------------------#

/.idea/
/.vscode/
/.ddev/
node_modules
.env




#------------------------------------#
# 05 - Backups
#------------------------------------#

*.sql
*.sql.gz
*.tar.gz




#------------------------------------#
# 06 - Misc
#------------------------------------#

/web/sites/simpletest
/.drush-lock-update
.DS_Store




#------------------------------------#
# 07 - Build Artifacts
#------------------------------------#

web/themes/custom/*/dist
web/themes/custom/*/components/*/*.css
web/themes/custom/*/components/*/*.js