//
// Component - Template - Default
//
// - 01 - Imports
// - 02 - General
//



//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;



//------------------------------------
//  02 - General
//------------------------------------

.t-default {
  main {
    position: relative;
    @include bp-min(xxlarge) {
      &::before {
        background: linear-gradient(180deg, #007fbf 0%, #00807e 33.33%, #000080 66.67%, #1a1a1a 100%);
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: rem(28px);
        z-index: 2;
      }
    }
  }
}


