@import "_partials";

.c-basic-page__header-wrapper {
  padding: rem(32px) 0 rem(60px) 0;
  position: relative;
  z-index: 1;
  background: #fff;
  @include bp-min(medium) {
    margin-top: -120px;
    padding: rem(32px) rem(62px) rem(60px) rem(60px);
  }
  @include bp-min(large) {
    padding: rem(32px) rem(62px) rem(60px) rem(60px);
  }
  @include bp-min(xlarge) {
    margin-top: -140px;
    padding: rem(60px) rem(124px) rem(60px) rem(120px);
  }
}

.c-basic-page__image-wrapper {
  margin: 0 auto;
  text-align: center;
}

.c-basic-page__breadcrumbs-wrapper {
  nav.c-breadcrumb {
    margin: 0 0 rem(32px) 0;
  }
}

.c-basic-page__title {
  margin: 0 0 rem(12px) 0;
  @include surf-font-heading-one;
  font-size: rem(48px);
  line-height: 90%;
  text-transform: uppercase;
  @include bp-min(medium) {
    font-size: rem(100px);
    line-height: 94%;
  }
  @include bp-min(large) {
    font-size: rem(132px);
    line-height: 94%;
  }
  @include bp-min(xlarge) {
    font-size: rem(176px);
    line-height: 90%;
  }
}

.c-basic-page__intro {
  @include surf-font-body-large;
  margin: 0 0 rem(32px) 0;
}

.c-basic-page__view-wrapper {
  margin-top: rem(32px);
  @include bp-min(medium) {
    margin-top: rem(60px);
  }
  @include bp-min(large) {
    margin-top: rem(80px);
  }
  hr.left-hook-divider {
    margin-bottom: rem(32px);
    @include bp-min(medium) {
      margin-bottom: rem(60px);
    }
    @include bp-min(large) {
      margin-bottom: rem(68px);
    }
  }
}
