@use '../../../libraries/partials/partials' as *;

.c-homepage-header {
  border: solid 1px red;

  // TODO: remove this
  padding: rem(20px) rem(40px);
  position: relative;

  &::before {
    background: red;
    color: #ffffff;
    content: 'homepage-header';
    display: block;
    font-size: rem(10px);
    left: 0;
    padding: rem(2px) rem(10px);
    position: absolute;
    top: 0;
  }
}
