{%
  set classes = [
  'c-homepage-header',
  'l-constrained--xlarge',
  'l--bottom-spacing'
]
%}

<section {{ attributes.addClass(classes).merge(attributes) }}>

  {% if heading is not empty %}
    <div class="c-homepage-header__heading">
      <h2>{{heading|raw}}</h2>
    </div>
  {% endif %}

</section>