//
// Component - Page - Simple Page
//
// - 01 - Imports
// - 02 - Layout
// - 03 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - Layout
//------------------------------------

.p-simple-page {
  padding-block: 40px;

  @include breakpoints.bp-min(large) {
    padding-block: 64px;
  }

  .m-breadcrumbs {
    display: none;
    margin-block-end: 32px;

    @include breakpoints.bp-min(medium) {
      display: block;
      margin-block-end: 24px;
    }
  }

  .p-simple-page__heading,
  .p-simple-page__media {
    margin-block-end: 28px;
  }
}




//------------------------------------
//  03 - General
//------------------------------------

.p-simple-page {
  .p-simple-page__heading {
    font-family: var(--surf-font-sans);
    font-size: var(--surf-fs-24-40-52);
    font-weight: var(--surf-fw-bold);
    line-height: 1.12;
  }
}
