//
// Component - Breadcrumbs
//
// - 01 - Imports
// - 02 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

//------------------------------------
//  02 - General
//------------------------------------

.hero.hero__type--title-only {
  position: relative;

  &:after {
    background: url('../../images/backgrounds/background-illustration-01.png');
    content: '';
    display: block;
    height: 288px;
    margin-right: -50vw;
    position: absolute;
    right: 50%;
    top: 0;
    width: 464px;
  }
}
