{#
/**
 * @file
 * Theme implementation to display a Press Release Node with Teaser view mode.
 *
 * Available variables:
 *  - No additional variables are available for this Node type.
 *
 * @see templates/nodes/node.html.twig
 * @see components/02-molecules/teaser/teaser.twig
 */
#}

{% set rendered_content = content|without(
    'field_date_published',
    'field_media_primary',
    'field_overview',
) %}

{% set default_image = drupal_image('public://images/2024-01/default-thumbnail-image-surf.png', 'teaser_default', responsive=true) %}

{% embed 'surf_main:teaser' with {
    attributes,
    rendered_content,
    teaser_attributes: create_attribute(),
    teaser_content: content.field_overview|field_value|default([]),
    teaser_media: content.field_media_primary|field_value|default(default_image),
    teaser_date: content.field_date_published|field_value|default([]),
    teaser_title: label|field_value,
    teaser_title_tag: 'h3',
    teaser_url: url,
} only %}
    {% block teaser_media_prefix %}
        <div class="m-teaser__media-prefix">
            <p>
                {% include 'surf_main:chip' with {
                    chip_attributes: create_attribute({'class': 'a-chip--white'}),
                    chip_text: 'Press Release'|t,
                    chip_size: 'small',
                } only %}
            </p>
        </div>
    {% endblock %}

    {% block teaser_content_suffix %}
        <div class="m-teaser__content-suffix">
            <p>
                {% include 'surf_main:chip' with {
                    chip_attributes: create_attribute({'class': 'a-chip--white'}),
                    chip_text: teaser_date,
                    chip_size: 'small',
                } only %}
            </p>
        </div>
    {% endblock %}
{% endembed %}
