//
// Component - Organism - Article
//
// - 01 - Imports
// - 02 - General
// - 03 - Article Types
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - General
//------------------------------------

.p-article__image-wrapper {
  margin-block-end: rem(32px);

  @include bp-min(medium) {
    margin-block-end: rem(40px);
  }

  @include bp-min(large) {
    margin-block-end: rem(60px);
  }

  @include bp-min(xxlarge) {
    margin-block-end: 0;
  }

  img {
    max-block-size: 690px;
    object-fit: cover;
    width: 100%;
  }
}

.p-article__video-wrapper {
  margin-block-end: rem(32px);

  @include bp-min(medium) {
    margin-block-end: rem(40px)
  }

  @include bp-min(large) {
    margin-block-end: rem(60px)
  }

  figure {
    @include responsive-iframe(16, 9);
  }
}

.p-article__inner-wrapper {
  display: grid;
  position: relative;
  row-gap: 32px;
  width: 100%;
  z-index: 1;

  @include bp-min(medium) {
    row-gap: 28px;
  }

  @include bp-min(xxlarge) {
    column-gap: 70px;
    grid-template-columns: 8fr 4fr;
  }
}

.p-article__heading {
  font-family: var(--surf-font-sans);
  font-size: var(--surf-fs-24-40-52);
  font-weight: var(--surf-fw-bold);
  letter-spacing: rem(0.4px);
  line-height: var(--surf-lh-label);

  @include bp-min(medium) {
    line-height: var(--surf-lh-heading);
  }

  @include bp-min(large) {
    letter-spacing: 0.52px;
  }
}

.p-article__overview {
  font-size: var(--surf-fs-16-24);
  line-height: var(--surf-lh-label);
}

.p-article__aside-divider {
  @include bp-min(xxlarge) {
    display: none;
  }
}

.p-article__date {
  color: var(--surf-color-black-alt);
  font-family: var(--surf-font-condensed);
  font-size: rem(16px);
  font-weight: var(--surf-fw-bold);
  letter-spacing: 1.5px;
  line-height: var(--surf-lh-label);
  text-transform: uppercase;
}

.p-article__author {
  color: var(--surf-color-black-alt);
  font-family: var(--surf-font-sans);
  font-size: rem(18px);
  font-style: italic;
  line-height: var(--surf-lh-label);
}

.p-article__tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.p-article__content-wrapper {
  background-color: var(--surf-color-white);
  > :not( :last-child ) {
    margin-block-end: rem(20px);

    @include bp-min(medium) {
      margin-block-end: rem(28px);
    }
  }

  @include bp-min(large) {
    max-inline-size: rem(780px);
  }

  @include bp-min(xxlarge) {
    margin-block-start: rem(-120px);
    padding-block-end: 120px;
    padding-block-start: 40px;
    padding-inline-end: 40px;
  }
}

.p-article__aside-wrapper {
  width: 100%;
  margin-block-end: rem(32px);

  @include bp-min(medium) {
    margin-block-end: rem(60px);
  }

  @include bp-min(xxlarge) {
    margin-block-start: rem(80px);
  }
}

.p-article__aside-constraint {
  margin-block-end: rem(32px);

  @include bp-min(medium) {
    margin-block-end: rem(60px);
  }

  @include bp-min(large) {
    max-inline-size: rem(780px);
  }

  > :not( :last-child ) {
    margin-block-end: rem(32px);

    @include bp-min(medium) {
      margin-block-end: rem(28px);
    }
    @include bp-min(xxlarge) {
      margin-block-end: rem(40px);
    }
  }
}

.p-article__callout-wrapper {
  display: grid;
  gap: rem(32px);
  grid-template-columns: 1fr;

  @include bp-min(large) {
    grid-template-columns: 1fr 1fr;
    margin-block-start: 0;
  }

  @include bp-min(xxlarge) {
    grid-template-columns: 1fr;
    margin-block-start: rem(28px);
  }
}



//------------------------------------
//  02 - Article Types
//------------------------------------

.p-article.p-article--video,
.p-article.p-article--text,
{
  .p-article__inner-wrapper {
    @include bp-min(xlarge) {
      grid-template-columns: 1fr;
    }
  }

  .p-article__callout-wrapper {
    margin-block-start: rem(32px);
    margin-block-end: rem(32px);

    @include bp-min(large) {
      margin-block-end: rem(60px);
    }

    @include bp-min(large) {
      grid-template-columns: 1fr 1fr;
      margin-block-start: rem(60px);
    }
  }
}

.p-article.p-article--portrait {
  .p-article__inner-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    @include bp-min(xlarge) {
      display: grid;
      gap: 60px;
      grid-template-rows: minmax(200px, auto);
      grid-template-columns: 2fr 1fr;

      .p-article__content-wrapper {
        grid-column: 1 /2;
        //grid-row: 1 / 4;
      }

      .p-article__image-wrapper {
        grid-column: 2 / 3;
        //grid-row: 1 / 2;
      }

      .test {
        grid-column: 2 / 3;
        //grid-row: 2 / 3;
      }

      .p-article__callout-wrapper {
        grid-column: 2 / 3;
        //grid-row: 3 / 4;
      }
    }
    //@include bp-min(xlarge) {
    //  display: grid;
    //  gap: 60px;
    //  grid-template-areas: 'content  sidebar';
    //  grid-template-columns: 2fr 1fr;
    //
    //  .p-article__content-wrapper {
    //    grid-area: content;
    //  }
    //
    //  .p-article__image-wrapper {
    //    grid-area: sidebar;
    //  }
    //
    //  .test {
    //    grid-area: sidebar;
    //  }
    //
    //  .p-article__callout-wrapper {
    //    grid-area: sidebar;
    //  }
    //}
  }
}