//
// Component - Page - Article
//
// - 01 - Imports
// - 02 - Layout
// - 03 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';
@use '../../../00-base/partials/media';




//------------------------------------
//  02 - Layout
//------------------------------------

.p-article {
  &.p-article--text,
  &.p-article--video {
    padding-block-start: 40px;

    @include breakpoints.bp-min(large) {
      padding-block-start: 64px;
    }
  }

  &.p-article--image .p-article__content-wrapper {
    @include breakpoints.bp-min(xlarge) {
      display: grid;
      gap: 140px;
      grid-template-columns: 1fr 424px;
    }
  }

  &.p-article--image .p-article__main {
    @include breakpoints.bp-min(xlarge) {
      background-color: var(--surf-color-white);
      margin-block-start: -176px;
      padding-block-start: 40px;
      padding-inline-end: 40px;
      position: relative;
      z-index: var(--surf-zindex-over);
    }
  }

  &.p-article--video .p-article__media {
    margin-block-end: 40px;

    @include breakpoints.bp-min(large) {
      margin-block-end: 64px;
    }
  }

  .p-article__main > *:not( :last-child ) {
    margin-block-end: 24px;
  }


  &.p-article--image .p-article__meta {
    padding-block-start: 32px;

    @include breakpoints.bp-min(medium) {
      padding-block-start: 28px;
    }

    @include breakpoints.bp-min(xlarge) {
      padding-block-start: 80px;
    }

    .a-left-hook {
      margin-block-end: 32px;

      @include breakpoints.bp-min(medium) {
        margin-block-end: 28px;
      }

      @include breakpoints.bp-min(xlarge) {
        display: none;
      }
    }
  }

  .m-breadcrumbs {
    margin-block-end: 32px;
    display: none;

    @include breakpoints.bp-min(medium) {
      margin-block-end: 24px;
      display: block;
    }
  }

  .p-article__callouts {
    display: flex;
    flex-flow: nowrap column;
    gap: 32px;
  }

  &.p-article--text .p-article__callouts,
  &.p-article--video .p-article__callouts {
    @include breakpoints.bp-min(large) {
      flex-flow: nowrap row;
      gap: 60px;
    }

    @include breakpoints.bp-min(xlarge) {
      inline-size: var(--surf-width-large);
      margin-inline-start: calc(((var(--surf-width-large) - var(--surf-width-small)) / 2) * -1);
    }
  }

  &.p-article--text .p-article__callouts > *,
  &.p-article--video .p-article__callouts > * {
    @include breakpoints.bp-min(large) {
      inline-size: 50%;
    }
  }

  .p-article__related .a-left-hook {
    margin-block-end: 40px;
  }

  .p-article__related .a-heading {
    margin-block-end: 40px;
    text-transform: uppercase;
  }

  &.p-article--text .p-article__meta,
  &.p-article--video .p-article__meta {
    padding-block-start: 32px;

    @include breakpoints.bp-min(medium) {
      padding-block-start: 28px;
    }

    .a-left-hook {
      display: none;
    }
  }
}




//------------------------------------
//  03 - General
//------------------------------------

.p-article {
  padding-block-end: 24px;

  @include breakpoints.bp-min(medium) {
    padding-block-end: 90px;
  }

  @include breakpoints.bp-min(large) {
    padding-block-end: 120px;
  }

  .p-article__heading {
    font-family: var(--surf-font-sans);
    font-size: var(--surf-fs-24-40-52);
    font-weight: var(--surf-fw-bold);
    line-height: 1.12;
  }

  .p-experiment__media figcaption {
    inset-block-start: 0;
    inset-block-end: inherit;
  }

  .p-article__media {
    block-size: 210px;
    margin-block-end: 32px;
    overflow: hidden;
    position: relative;

    @include breakpoints.bp-min(medium) {
      block-size: 420px;
      margin-block-end: 40px;
    }

    @include breakpoints.bp-min(large) {
      block-size: 480px;
      margin-block-end: 60px;
    }

    @include breakpoints.bp-min(xlarge) {
      block-size: 690px;
    }
  }

  .p-article__media *:not(img) {
    block-size: 100%;
    display: block;
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
  }

  .p-article__media img {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }

  .p-article__overview p {
    font-size: var(--surf-fs-16-24);
    line-height: 1.4;
  }

  .p-article__publish-date {
    color: var(--surf-color-black-alt);
    font-family: var(--surf-font-condensed);
    font-size: calculations.rem(16px);
    font-weight: var(--surf-fw-bold);
    letter-spacing: 1px;
    line-height: var(--surf-lh-label);
    margin-block-end: 16px;
    text-transform: uppercase;
  }

  .p-article__author p {
    font-size: calculations.rem(18px);
    font-style: italic;
    margin-block-end: 16px;
  }

  ul.p-article__tags {
    display: flex;
    flex-flow: wrap row;
    gap: 8px;
    margin: 0;
    margin-block-end: 32px;
    padding: 0;
  }

  .p-article__related {
    margin-block-start: 32px;

    @include breakpoints.bp-min(medium) {
      margin-block-start: 60px;
    }

    @include breakpoints.bp-min(large) {
      margin-block-start: 120px;
    }
  }
}
