{#
  TODO: replace/update the hardcoded `category_url`
#}

{% set image_url = '/themes/custom/surf_main/templates/components/teaser/news-placeholder.png' %}
{% if content.field_media_primary|render %}
  {% set image_url = file_url(content.field_media_primary['#items'].entity.field_media_image.entity.fileuri|image_style('teaser')) %}
{% endif %}

{# <pre>{{dump( content)}}</pre> #}

  {# Dates no set #}
  {% if content.field_teaser.0["#node"].field_dates.0.start_date["#text"]|date('F j, Y') is empty and content.field_teaser.0["#node"].field_dates.0.end_date["#text"]|date('F j, Y') is empty %}
  <p>no date</p>
    {% set teaser_date = null %}
  {# Same Day #}
  {% elseif content.field_teaser.0["#node"].field_dates.0.start_date["#text"]|date('F j, Y') == content.field_teaser.0["#node"].field_dates.0.end_date["#text"]|date('F j, Y') %}

    {% set teaser_date = content.field_teaser.0["#node"].field_dates.0.start_date["#text"]|date('F j, Y') %}
  {# Multiple Days #}
  {% else %}
    {% set teaser_date = content.field_teaser.0["#node"].field_dates.0.start_date["#text"]|date('F j') ~ '-' ~ content.field_teaser.0["#node"].field_dates.0.end_date["#text"]|date|date('F d, Y') %}
  {% endif %}

  {# Dates no set #}
  {% if content.field_teaser.0["#node"].field_dates.0.start_date is empty and content.field_dates.0.end_date is empty %}
    {% set teaser_time = null %}
  {# All Day #}
  {% elseif (content.field_teaser.0["#node"].field_dates.0.start_date["#text"])|date('g:i A') == '12:00 AM' and (content.field_teaser.0["#node"].field_dates.0.end_date["#text"])|date('g:i A') == '11:59 PM'  %}
    {% set teaser_time = null %}
  {# Times to be set #}
  {% else %}
    {% set teaser_time = content.field_teaser.0["#node"].field_dates.0.start_date["#text"]|date('g:i A') ~ '-' ~ content.field_teaser.0["#node"].field_dates.0.end_date["#text"]|date('g:i A') %}
  {% endif %}

{% if content.field_ref_event_types.0 is not empty %}
  {% set category = content.field_ref_event_types.0["#taxonomy_term"].name.value %}
  {% set category_url = '/events?event_type=' ~ content.field_ref_event_types.0["#taxonomy_term"].tid.value %}
{% endif %}

{% set body = content.body|render|striptags|trim %}

{# (layout == 'super' or layout == 'column-simple-stack' or layout == 'list-stack') #}
 {% include "teaser" with {
  layout: 'list-stack',
  title: label,
  body,
  url: url,
  category,
  category_url,
  teaser_date,
  teaser_time,
  image: image_url,
  alt: content.field_media_primary['#items'].entity.field_media_image.alt,
  } %}