@import "_partials";

.c-media__image-wrapper {
  position: relative;
  img {
    width: 100%;
  }
}

.c-media__caption {
  @include surf-font-body-x-small;
  color: var(--color-surf--dark-grey);
  margin: rem(8px) 0 0 0;
  & > p {
    @include surf-font-body-x-small;
    color: var(--color-surf--dark-grey);
    margin: 0 0 rem(12px) 0;
    &:last-child {
      margin: 0;
    }
  }
}
.c-media__image-credit {
  @include surf-font-body-x-small;
  color: var(--color-surf--white);
  background: rgba(0, 0, 0, 0.5);
  font-style: italic;
  padding: rem(4px) rem(8px);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 0 0 rem(40px);
}
