//
// Component - Atom - Button
//
// - 01 - Imports
// - 02 - General
// - 03 - Full
// - 04 - Underline
// - 05 - Colors
// - 06 - Icons
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - General
//------------------------------------

.a-button {
  cursor: pointer;
  display: inline-block;
  font-weight: var(--surf-fw-bold);
  text-decoration: none;
  transition: transition(all, 0.35s, easeInOutExpo);
}




//------------------------------------
//  03 - Size
//------------------------------------

.a-button {
  &.a-button--size-small {
    font-size: rem(16px);
  }

  &.a-button--size-large {
    font-size: var(--surf-fs-18-24);
  }

  &.a-button--size-small .a-icon {
    height: 22px;
    width: 22px;
  }

  &.a-button--size-large .a-icon {
    height: 28px;
    width: 28px;
  }
}




//------------------------------------
//  03 - Full
//------------------------------------

.a-button.a-button--full-navy,
.a-button.a-button--full-black,
.a-button.a-button--full-white {
  padding: 8px 16px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}




//------------------------------------
//  04 - Underline
//------------------------------------

.a-button.a-button--underline-navy,
.a-button.a-button--underline-black,
.a-button.a-button--underline-white {
  padding: 4px 0;
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(1);
    transform-origin: left;
    transition: transition(all, 0.35s, easeInOutExpo);
    top: 100%;
    width: 100%;
  }

  &:hover:after,
  &:focus:after {
    transform: scaleX(0);
  }
}




//------------------------------------
//  05 - Colors
//------------------------------------

.a-button {
  &.a-button--full-navy {
    background-color: var(--surf-color-navy);
    color: var(--surf-color-white);

    &:hover,
    &:focus {
      background-color: var(--surf-color-black);
    }
  }

  &.a-button--full-navy .a-icon--arrow-right {
    background: svg-load('icon-arrow-right.svg', fill="#FFFFFF");
  }

  &.a-button--full-navy .a-icon--arrow-left {
    background: svg-load('icon-arrow-left.svg', fill="#FFFFFF");
  }

  &.a-button--full-navy .a-icon--envelope {
    background: svg-load('icon-envelope.svg', fill="#FFFFFF");
  }

  &.a-button--full-black {
    background-color: var(--surf-color-black);
    color: var(--surf-color-white);

    &:hover,
    &:focus {
      background-color: var(--surf-color-gray-800);
    }
  }

  &.a-button--full-black .a-icon--arrow-right {
    background: svg-load('icon-arrow-right.svg', fill="#FFFFFF");
  }

  &.a-button--full-black .a-icon--arrow-left {
    background: svg-load('icon-arrow-left.svg', fill="#FFFFFF");
  }

  &.a-button--full-black .a-icon--envelope {
    background: svg-load('icon-envelope.svg', fill="#FFFFFF");
  }

  &.a-button--full-white {
    background-color: var(--surf-color-white);
    color: var(--surf-color-navy);

    &:hover,
    &:focus {
      background-color: var(--surf-color-gray-100);
    }
  }

  &.a-button--full-white .a-icon--arrow-right {
    background: svg-load('icon-arrow-right.svg', fill="#000000");
  }

  &.a-button--full-white .a-icon--arrow-left {
    background: svg-load('icon-arrow-left.svg', fill="#000000");
  }

  &.a-button--full-white .a-icon--envelope {
    background: svg-load('icon-envelope.svg', fill="#000000");
  }

  &.a-button--underline-navy {
    color: var(--surf-color-navy);

    &:after {
      background-color: var(--surf-color-navy);
    }
  }

  &.a-button--underline-navy .a-icon--arrow-right {
    background: svg-load('icon-arrow-right.svg', fill="#000080");
  }

  &.a-button--underline-navy .a-icon--arrow-left {
    background: svg-load('icon-arrow-left.svg', fill="#000080");
  }

  &.a-button--underline-navy .a-icon--envelope {
    background: svg-load('icon-envelope.svg', fill="#000080");
  }

  &.a-button--underline-black {
    color: var(--surf-color-black);

    &:after {
      background-color: var(--surf-color-black);
    }
  }

  &.a-button--underline-black .a-icon--arrow-right {
    background: svg-load('icon-arrow-right.svg', fill="#000000");
  }

  &.a-button--underline-black .a-icon--arrow-left {
    background: svg-load('icon-arrow-left.svg', fill="#000000");
  }

  &.a-button--underline-black .a-icon--envelope {
    background: svg-load('icon-envelope.svg', fill="#000000");
  }

  &.a-button--underline-white {
    color: var(--surf-color-white);

    &:after {
      background-color: var(--surf-color-white);
    }
  }

  &.a-button--underline-white .a-icon--arrow-right {
    background: svg-load('icon-arrow-right.svg', fill="#FFFFFF");
  }

  &.a-button--underline-white .a-icon--arrow-left {
    background: svg-load('icon-arrow-left.svg', fill="#FFFFFF");
  }

  &.a-button--underline-white .a-icon--envelope {
    background: svg-load('icon-envelope.svg', fill="#FFFFFF");
  }
}




//------------------------------------
//  06 - Icons
//------------------------------------

.a-button {
  .a-icon {
    position: relative;
    top: 5px;
    transform: translateX(0);
    transition: transition(all, 0.35s, easeInOutExpo);
  }

  .a-icon--position-left {
    margin-right: 5px;
  }

  .a-icon--position-right {
    margin-left: 5px;
  }

  &:hover .a-icon--position-right,
  &:focus .a-icon--position-right {
    transform: translateX(4px);
  }
}
