@use '../../../../web/themes/custom/surf_main/components/00-base/partials/partials' as *;

.c-persons-list__items {
  display: grid;
  margin: 0;
  padding: 0;
  row-gap: rem(32px);

  @include bp-min(medium) {
    column-gap: rem(20px);
    grid-template-columns: 0.5fr 0.5fr;
  }

  @include bp-min(large) {
    column-gap: rem(40px);
  }

  @include bp-min(xlarge) {
    column-gap: rem(60px);
  }

  .c-persons-list__item {
    display: block;
    margin: 0;
    padding: 0;
  }
}
