<section{{attributes.addclass(['l-teaser-grid', 'l-teaser-grid__length-' ~ items|length])}}>
  <ul{{ attributes.addClass(classes, 'item-list') }}>
        {% for item in items %}
          <li{{ item.attributes.addClass('item-row') }}>{{ item.content }}</li>
        {% endfor %}
  </ul>
</section>