@import "_partials";

.c-green-banner {
  background: linear-gradient(98.64deg, #00492c 41.67%, #008535 100%);
  padding: rem(32px) rem(15px);
  position: relative;
  overflow: hidden;
  z-index: 1;
  @include bp-min(medium) {
    padding: rem(60px) rem(40px);
  }
  @include bp-min(large) {
    padding: rem(80px) rem(40px);
  }
  @include bp-min(xlarge) {
    padding: rem(80px);
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: rem(324px);
    width: rem(324px);
    background-image: url(../banner-green-corner-particles.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    z-index: -1;
  }
  &:after {
    content: "";
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: rem(220px);
    background-image: url(../banner-illustration.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    @include bp-min(medium) {
      display: block;
    }
  }
}

.c-green-banner__title {
  color: var(--color-surf--white);
  margin: 0;
}

.c-green-banner__body {
  margin: rem(32px) 0 0 0;
  & > p {
    color: var(--color-surf--white);
    @include surf-font-body-x-large;
    font-weight: var(--font-weight-bold);
    margin-top: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include bp-min(large) {
    max-width: rem(864px);
  }
}

.c-green-banner__link {
  margin: rem(32px) 0 0 0;
}
