{#
/**
 * @file
 * Molecule component for a Form.
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - form_attributes: [array]
 * - form_title: [string]
 * - form_type: [string]
 *
 * Available slots:
 * - form_items
 *
 */
#}

{% set classes = [
    'm-form',
    form_type ? 'm-form--' ~ form_type
] %}

<article {{ form_attributes.addClass(classes) }}>
    {% if form_title %}
        <header class="m-form__header" aria-label="Form header">
            <div class="container container--small">
                <h1 class="m-form__title">{{ form_title }}</h1>
            </div>
        </header>
    {% endif %}

    <form {{ attributes.addClass('m-form__form') }}>
        {% block form_items %}{% endblock %}
    </form>
</article>
