//
// Component - Organism - Header
//
// - 01 - Imports
// - 02 - General
// - 03 - Types
// - 04 - Contextual
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - General
//------------------------------------

.o-header__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: rem(32px);
  position: relative;
  z-index: var(--surf-zindex-over);
}

.o-header__heading {
  color: var(--surf-color-black);
  font-family: var(--surf-font-sans-alt);
  font-size: var(--surf-fs-48-100-132-176);
  font-weight: var(--surf-fw-medium);
  line-height: 0.90;
  text-transform: uppercase;
}

.o-header__heading--transform-none {
  font-family: var(--surf-font-sans-alt);
  font-size: var(--surf-fs-52-64-96);
  font-weight: var(--surf-fw-medium);
  letter-spacing: rem(1.44px);
  text-transform: none;
}

.o-header__summary {
  color: var(--surf-color-gray-600);
  font-family: var(--surf-font-sans);
  font-size: var(--surf-fs-18-24-32);
  font-weight: var(--surf-fw-book);
  line-height: var(--surf-lh-label);
  margin-block-start: rem(32px);
}




//------------------------------------
//  03 - Types
//------------------------------------

.o-header {
  align-items: center;
  display: flex;
  position: relative;

  &.o-header--color {

    @include bp-min(medium) {
      background-image: url('img/header-bkg-color.png');
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 50%;
      min-block-size: rem(175px);

      .o-header__heading {
        background: url('img/background-particles-white.png') no-repeat left bottom var(--surf-color-black);
        background-clip: text;
        background-size: rem(320px);
        -webkit-text-fill-color: transparent;
      }
    }
    @include bp-min(large) {
      background-image: url('img/header-bkg-color.png');
      background-position: 100% 0;
      background-repeat: no-repeat;
      //background-size: auto;
      background-size: 50%;
      min-block-size: rem(210px);
    }
    @include bp-min(xlarge) {
      background-image: url('img/header-bkg-color.png');
      background-position: 165% 0;
      background-repeat: no-repeat;
      background-size: auto;
      min-block-size: rem(270px);
    }
    @include bp-min(xxlarge) {
      background-image: url('img/header-bkg-color.png');
      background-position: top right;
      background-repeat: no-repeat;
      min-block-size: rem(330px);
    }
  }

  &.o-header--grid:after {
    @include bp-min(large) {
      @include full-width();
      background: url('img/header-bkg-grid.png') no-repeat center right;
      content: '';
      height: 300px;
      pointer-events: none;
      position: absolute;
      top: -64px;
    }
  }

  &.o-header--ripple {
    @include bp-min(large) {
      background-image: url('img/header-bkg-ripple.png');
      background-position: top right;
      background-repeat: no-repeat;
    }
  }

  &.o-header--img {
    .o-header__content {
      background-color: var(--surf-color-white);
      margin-block-start: rem(-143px);
      margin-inline: auto;
      max-inline-size: rem(1320px);
      padding-block: rem(60px);
      padding-inline: rem(120px);
    }
  }
}




//------------------------------------
//  04 - Contextual
//------------------------------------

// Landing Pages
.p-landing__hero .o-header__content {
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: calc(var(--surf-width-xlarge) + (var(--surf-grid-gap) * 2));
  padding-block: 40px 56px;
  padding-inline: var(--surf-grid-gap);

  @include bp-min(large) {
    padding-block: 64px 0;
  }
}
