//
// Component - Organism - Header
//
// https://atendesign.atlassian.net/browse/SRL-113
// https://www.figma.com/file/JX6eNUHRmRVVEJBaRcfSoC/SURF-Main-Site-Design?type=design&node-id=1120-231719&mode=dev
//
// - 01 - Imports
// - 02 - General
// - 03 - Types
//



//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;



//------------------------------------
//  02 - General
//------------------------------------

.o-header {
}

.o-header__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: rem(32px);
  position: relative;
}

.o-header__heading {
  color: var(--surf-color-black);
  font-family: var(--surf-font-sans-alt);
  font-size: var(--surf-fs-48-100-132-176);
  font-weight: var(--surf-fw-medium);
  text-transform: uppercase;
}

.o-header__heading--gradient {
  background: linear-gradient(90deg, #000080 0%, #007ab8 100%);
  background-clip: text;
  font-size: var(--surf-fs-80-140-200-260);
  line-height: 0.8;
  -webkit-text-fill-color: transparent;
}

.o-header__heading--transform-none {
  font-family: var(--surf-font-sans-alt);
  font-size: var(--surf-fs-52-64-96);
  font-weight: var(--surf-fw-medium);
  letter-spacing: rem(1.44px);
  text-transform: none;
}

.o-header__teaser {
  color: var(--surf-color-gray-600);
  font-family: var(--surf-font-sans);
  font-size: var(--surf-fs-18-24-32);
  font-weight: var(--surf-fw-book);
  line-height: var(--surf-lh-label);
  margin-block-start: rem(12px) !important;
}



//------------------------------------
//  03 - Types
//------------------------------------

.o-header {
  &.o-header--type-color {
    @include bp-min(medium) {
      background-image: url('img/header-bkg-color.png');
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 50%;
    }
    @include bp-min(xlarge) {
      background-image: url('img/header-bkg-color.png');
      background-position: 165% 0;
      background-repeat: no-repeat;
      background-size: auto;
    }
    @include bp-min(xxlarge) {
      background-image: url('img/header-bkg-color.png');
      background-position: top right;
      background-repeat: no-repeat;
    }
  }

  &.o-header--type-grid {
    @include bp-min(large) {
      background-image: url('img/header-bkg-grid.png');
      background-position: top right;
      background-repeat: no-repeat;
    }
  }

  &.o-header--type-ripple {
    @include bp-min(large) {
      background-image: url('img/header-bkg-ripple.png');
      background-position: top right;
      background-repeat: no-repeat;
    }
  }

  &.o-header--type-img {
    .o-header__content {
      background-color: var(--surf-color-white);
      margin-block-start: rem(-143px);
      margin-inline: auto;
      max-width: rem(1320px);
      padding-block: rem(60px);
      padding-inline: rem(120px);
    }
  }
}

