{# Prepare presentational attributes #}
{% if image_url is not empty and theme != 'icon' %}
  {% set clAttributes = clAttributes.addClass('has-image') %}
{% endif %}

{# Button / Theme logic #}
{% set button_bg_color = 'forest' %}
{% if theme == 'white' %}
  {% set button_bg_color = 'forest' %}
{% elseif theme == 'cloud' %}
  {% set button_bg_color = 'forest' %}
{% elseif theme == 'icon' %}
  {% set button_bg_color = 'forest' %}
{% elseif theme == 'kelly' %}
  {% set button_bg_color = 'white' %}
{% elseif theme == 'forest' %}
  {% set button_bg_color = 'white' %}
{% endif %}

{# Markup for the component #}
<article {{ clAttributes.addClass('c-callout'|addModifiers(theme)) }}>

  {% if image_url and image_alt and theme != 'icon' %}
    <div class="c-callout__image">
    {% include "image" with {
    image: image_url,
    alt: image_alt
    } %}
    </div>
  {% endif %}

  {% if image is empty and theme == 'icon' %}
      <div{{ attributes.addClass(['c-callout__icon', icon]) }}></div>
  {% endif %}

  <div class="c-callout__content-wrapper">

    {% if heading %}
      {% block banner_heading_block %}
        <h3 class="c-callout__title">{{heading}}</h3>
      {% endblock %}
    {% endif %}

    {% if body %}
      {% block banner_body_block %}
        <div class="c-callout__body">
        {{ body|check_markup('plain') }}
        </div>
      {% endblock %}
    {% endif %}

    {% if link_text and link_url %}
    {% block callout_link %}
    <div class="c-callout__link">
      {% if theme == 'simple-icon-cta' %}
      {% include "link-button" with {
        text: link_text,
        url: link_url,
        button_style: 'underline',
        color: 'underline-green',
        button_type_size: 'medium',
        icon_type: icon ? icon : 'arrow',
        uppercase: true
        } %}
      {% elseif arrow or theme == 'icon' %}
        {% include "link-button" with {
        text: link_text,
        url: link_url,
        button_style: 'solid',
        color: button_bg_color,
        button_type_size: 'medium',
        icon_type: 'arrow'
        } %}
      {% else %}
        {% include "link-button" with {
        text: link_text,
        url: link_url,
        button_style: 'solid',
        color: button_bg_color,
        button_type_size: 'medium'
        } %}
      {% endif %}
    </div>
    {% endblock %}
    {% endif %}

  </div>

</article>