@import "_partials";

.c-image__caption {
  @include surf-font-body-x-small;
  color: var(--color-surf--dark-grey);
  margin: rem(8px) 0 0 0;
  & > p {
    @include surf-font-body-x-small;
    color: var(--color-surf--dark-grey);
    margin: 0 0 rem(12px) 0;
    &:last-child {
      margin: 0;
    }
  }
}
