//
// Component - Atom - Media
//
// - 01 - Imports
// - 02 - General
// - 03 - Contextual
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/calculations';
@use '../../../00-base/partials/media';




//------------------------------------
//  02 - General
//------------------------------------

.a-media {
  position: relative;

  &.media--remote-video {
    @include media.responsive-iframe();
    width: 100%;
  }

  .a-media__caption {
    align-items: flex-start;
    background: var(--surf-color-white);
    bottom: 0;
    color: var(--surf-color-black);
    display: flex;
    margin: 0;
    max-inline-size: 400px;
    padding: 20px;
    position: absolute;
    right: 0;
  }
}




//------------------------------------
//  03 - Contextual
//------------------------------------

.a-media {
  &.media--banner-default .a-media__caption {
    background: fade-out(black, 0.5);
    color: var(--surf-color-white);
    font-size: calculations.rem(14px);
    font-style: italic;
    padding-block: 4px;
    padding-inline: 8px;
  }
}
