{#
/**
 * @file
 * Component for Text - Section Title.

 * Available props:
 * - title: [string] the page title or custom hero heading.
 *
 */
#}

<h2 class="heading heading__type--section-title">
    {{ title }}
</h2>
