{%
  set classes = [
  'c-resources-list',
  'l-constrained--small',
  'l--bottom-spacing',
]
%}

<article {{ attributes.addClass(classes).merge(attributes) }}>

  {% if heading %}
    <h2 class="c-resources-list__heading">{{ heading }}</h2>
  {% endif %}

  {% if items %}
    {% block items_block %}
      <ul class="c-resources-list__items">
        {% for item in items %}
          <li class="c-resources-list__item">
            {{ drupal_entity('paragraph', item.id, 'default') }}
          </li>
         {% endfor %}
      </ul>
    {% endblock items_block %}
  {% endif %}

</article>
