//
// Navigation - Utility Menu
//
// - 01 - Imports
// - 02 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../partials/functions/animations' as functions-animations;
@use '../../partials/mixins/breakpoints' as mixins-breakpoints;
@use '../../partials/mixins/links' as mixins-links;
@use '../../partials/mixins/lists' as mixins-lists;




//------------------------------------
//  02 - General
//------------------------------------

.menu.menu__name--utility-nav {
  display: none; // FUOC Fix

  ul {
    @include mixins-lists.list-reset();
  }
}

// FUOC Fix
.js .menu.menu__name--utility-nav {
  display: block;
}




//------------------------------------
//  03 - Level One
//------------------------------------

.menu.menu__name--utility-nav .menu__list.menu__level--1 {
  display: flex;
  flex-flow: nowrap column;
  margin: 0;

  @include mixins-breakpoints.bp-min(large) {
    flex-flow: nowrap row;
  }

  > li {
    @include mixins-breakpoints.bp-min(large) {
      padding: 0 18px;
    }
  }

  > li > a,
  > li > button,
  > li > span {
    @include mixins-links.link-menu(22, white);
    display: block;
    padding: 12px 16px;

    @include mixins-breakpoints.bp-min(large) {
      padding: 4px 0;
    }
  }

  > li > a.icon,
  > li > button.icon,
  > li > span.icon {
    padding-left: 48px;

    @include mixins-breakpoints.bp-min(large) {
      padding-left: 0;
      padding-right: 25px;
    }
  }

  > li > a.icon:before,
  > li > button.icon:before,
  > li > span.icon:before {
    bottom: 0;
    height: 22px;
    margin: auto;
    left: 16px;
    position: absolute;
    top: 0;
    width: 22px;

    @include mixins-breakpoints.bp-min(large) {
      left: initial;
      right: 0;
    }
  }

  > li > a.icon--user:before,
  > li > button.icon--user:before,
  > li > span.icon--user:before {
    background: svg-load('icon-user.svg', fill="#FFFFFF") no-repeat center;
  }
}
