{#
/**
 * @file
 * Page component for Dashboards
 *
 * Available props:
 * - attributes
 * - dashboard_attributes
 */
#}

{% set main_classes = [
  'p-dashboard',
] %}

<div class="layout-container">
  {% if page.site_alert or page.header_utility or page.header_primary %}
    {% include 'surf_main:masthead' with {
      attributes,
      masthead_attributes: create_attribute(),
      masthead_alerts: page.site_alert,
      masthead_utility: page.header_utility,
      masthead_primary: page.header_primary,
    } only %}
  {% endif %}

  {% if page.content %}
    <main id="site-content" {{ dashboard_attributes.addClass(main_classes).merge(attributes) }}>
      {{ page.content }}
    </main>
  {% endif %}

  {{ page.footer }}
</div>

