<article {{ attributes.addClass(['c-about-page', layout]).merge(clAttributes) }}>

  {# Header #}
  <div class="c-about-page__header-wrapper l-constrained--xlarge">
    {# Title #}
    {% if title %}
    <h1 class="c-about-page__title l--bottom-spacing">
      {{ title }}
    </h1>
    {% endif %}
  </div>

  {# Body #}
  <div class="c-about-page__body-wrapper">
    {{ body }}
  </div>

</article>