@import "_partials";

.c-homepage-header {
  position: relative;

  // TODO: remove this
  padding: rem(20px) rem(40px);
  border: solid 1px red;
  &::before {
    content: "homepage-header";
    color: #fff;
    background: red;
    left: 0;
    top: 0;
    padding: rem(2px) rem(10px);
    font-size: rem(10px);
    position: absolute;
    display: block;
  }
}
