{#
/**
 * @file
 * Default theme implementation of a media library pane.
 *
 * This is used when displaying the content for media library panes in the
 * media library modal dialog.
 *
 * Available variables:
 * - filters: The filter form. Even if a pane does not show any filters,
 *   rendering this element is required.
 * - content: The content for showing selectable media items.
 * - actions: Form actions like the "Insert selected" button.
 *
 * @see template_preprocess_media_library_pane()
 *
 * @ingroup themeable
 */
#}
<div class="view-filters">
  {{ filters }}
</div>

{{ content }}

<div class="ui-dialog-buttonset form-actions">
  {{ actions }}
</div>
