{#
/**
 * @file
 * Component for Header
 *
 * Available props:
 * - header_attributes: [array] Any parent tag attributes.
 * - header_heading: [string] required
 * - header_teaser: [string]
 * - header_label: [string]
 * - header_media: [boolean]
 * - header_cta_text [string]
 * - header_cta_url [string]
 * - header_cta_html_tag [string]
 * - header_cta_style [string]
 * - header_cta_size [string]
 *
 * Available slots:
 * - header_links_block: [object]
 * - header_metadata_block: [object]
 *
 */
#}

{% set classes = [
  'o-header',
  header_media ? 'o-header--with-img',
  header_type ? 'o-header--' ~ header_type,
] %}

<header {{ header_attributes.addClass(classes).merge(attributes).setAttribute('aria-label', header_label) }}>
  <div class="o-header__content">
    {% block header_links_block %}{% endblock %}

    <div class="o-header__text-wrapper">
      {{ include('surf_main:heading', {
        heading_type: style_options['heading_type']|default('none'),
        heading_text: header_heading ? header_heading,
        heading_level: header_heading_level ? header_heading_level,
        heading_attributes: heading_attributes,
      }, with_context = false) }}

      {% if header_summary %}
        <p class="o-header__summary">{{ header_summary }}</p>
      {% endif %}
    </div>

    {% if header_cta_url %}
      {% include 'surf_main:button' with {
        button_attributes: create_attribute(),
        button_title: header_cta_text,
        button_url: header_cta_url,
        button_html_tag: header_cta_html_tag,
        button_style: header_cta_style,
        button_size: header_cta_size,
        button_color: header_cta_color,
      } only %}
    {% endif %}

    {% block header_metadata_block %}{% endblock %}
  </div>
</header>
