{#
/**
 * @file
 * Component for Header
 *
 * Available props:
 * - header_attributes: [array] Any parent tag attributes.
 * - header_heading: [string] required
 * - header_teaser: [string]
 * - header_media: [boolean]
 *
 * Available slots:
 * - header_links_block: [object]
 * - header_metadata_block: [object]
 *
 */
#}

{% set header_attributes = header_attributes ? header_attributes : create_attribute() %}

{%
  set classes = [
  'o-header',
  header_media ? 'o-header--with-img',
]
%}

<header {{ header_attributes.addClass(classes) }} {{ attributes|without(class) }}>

  <div class="o-header__content">

    {% block header_links_block %}
      <a href="http://www.example.com">Back to my dashboard</a>
    {% endblock %}

    <div class="o-header__text-wrapper">

      {{ include('surf_main:heading', {
        heading_text: header_heading,
        heading_level: header_heading_level,
        heading_attributes: heading_attributes,
      }, with_context = false) }}

      {% if header_teaser %}
        <p class="o-header__teaser">{{ header_teaser }}</p>
      {% endif %}
    </div>

    {% if header_cta_url %}
      {% embed 'surf_main:button' with {
        button_title: header_cta_text,
        button_url: header_cta_url,
        button_html_tag: header_cta_html_tag|default('link'),
        button_style: header_cta_style|default('full-navy'),
        button_size: header_cta_size|default('small'),
      } only %}
      {% endembed %}
    {% endif %}

    {% block header_metadata_block %}
    {% endblock %}

  </div>
</header>