//
// Mixins - Buttons
//
// - 01 - Reset
//


//------------------------------------
//  01 - Reset
//------------------------------------

@mixin button-reset() {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
}
