{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}

{% set classes = [
    'user-page',
    'user-page__id--' ~ user.id,
] %}

<article {{ attributes.addClass(classes) }}>
    <div class="container container--xlarge">
        <h1 class="user-page__name">{{ content.field_first_name|field_value }} {{ content.field_last_name|field_value }}</h1>
        <p class="user-page__duration">{{- content.member_for['#markup']|striptags -}}</p>
        {% include 'surf_main:button' with {
            button_attributes: create_attribute(),
            button_color: 'navy',
            button_html_tag: 'link',
            button_size: 'large',
            button_style: 'primary',
            button_title: 'Visit Dashboard',
            button_url: '/user/' ~ user.id ~ '/dashboard'
        } only %}
    </div>
</article>
