//
// Component - Molecule - Callout
//
// - 01 - Imports
// - 02 - General
// - 03 - Types
// - 04 - Contexts
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';
@use '../../../00-base/partials/layout';




//------------------------------------
//  02 - Layout
//------------------------------------

.m-callout {
  max-inline-size: var(--surf-width-small);

  .m-callout__inner-wrapper {
    align-items: flex-start;
    display: flex;
    flex-flow: nowrap column;
    gap: 16px;
    padding-block: 20px;
    padding-inline: 20px;

    @include breakpoints.bp-min(medium) {
      padding-block: 28px;
      padding-inline: 28px;
    }
  }
}




//------------------------------------
//  02 - General
//------------------------------------

.m-callout {
  background-color: var(--surf-color-gray-100);

  .m-callout__heading {
    color: var(--surf-color-black);
    font-family: var(--surf-font-sans);
    font-size: var(--surf-fs-18-24);
    font-weight: var(--surf-fw-bold);
    line-height: 1.4;
    text-transform: none;
  }

  &.m-callout--type-navy .m-callout__heading,
  &.m-callout--type-blue .m-callout__heading,
  &.m-callout--type-featured .m-callout__heading {
    color: var(--surf-color-white);
  }

  .m-callout__text {
    font-size: var(--surf-fs-16-18);
    line-height: var(--surf-lh-label);
    margin-block-start: 0;
  }

  &.m-callout--type-navy .m-callout__text,
  &.m-callout--type-blue .m-callout__text,
  &.m-callout--type-featured .m-callout__text {
    color: var(--surf-color-white);
  }
}




//------------------------------------
//  03 - Blue
//------------------------------------

.m-callout.m-callout--type-blue {
  background-color: var(--surf-color-blue);
}




//------------------------------------
//  04 - Navy
//------------------------------------

.m-callout.m-callout--type-navy {
  background-color: var(--surf-color-navy);
}




//------------------------------------
//  05 - White
//------------------------------------

.m-callout.m-callout--type-white {
  background-color: var(--surf-color-white);
  display: flex;
  flex-flow: nowrap column;
  gap: 24px 32px;

  @include breakpoints.bp-min(small) {
    flex-flow: nowrap row;
  }

  @include breakpoints.bp-min(large) {
    flex-flow: nowrap column;
  }

  .m-callout__inner-wrapper {
    gap: 12px;
    padding-block: 0;
    padding-inline: 0;
  }

  .m-callout__media {
    block-size: auto;
    flex-shrink: 0;
    inline-size: 100%;

    @include breakpoints.bp-min(small) {
      inline-size: 42.5%;
    }

    @include breakpoints.bp-min(large) {
      inline-size: auto;
      max-inline-size: 420px;
    }
  }

  .m-callout__heading {
    color: var(--surf-color-navy);
    font-size: var(--surf-fs-18-24-40);
  }

  .m-callout__text p {
    font-size: var(--surf-fs-16-18-24);
  }

  .a-button {
    margin-block-start: 20px;
  }
}




//------------------------------------
//  06 - Featured
//------------------------------------

.m-callout.m-callout--type-featured {
  background-image: var(--surf-gradient-hz-blue-02);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto;
  max-inline-size: none;
  position: relative;

  &:before,
  &:after {
    block-size: 100%;
    content: '';
    inset-block-start: 0;
    position: absolute;
  }

  &:before {
    background: url('img/background-particles-navy.png') no-repeat;
    background-size: 324px;
    inline-size: 100%;
    inset-inline-start: 0;
  }

  &:after {
    background: url('img/background-shapes-white.png') no-repeat;
    background-size: 220px auto;
    display: none;
    inline-size: 220px;
    inset-inline-end: 0;

    @include breakpoints.bp-min(medium) {
      display: block;
    }
  }

  .m-callout__inner-wrapper {
    gap: 32px;
    padding-block: 40px;
    padding-inline: var(--surf-grid-gap);

    @include breakpoints.bp-min(medium) {
      padding-block: 60px;
    }

    @include breakpoints.bp-min(large) {
      padding-block: 80px;
      padding-inline: 80px;
    }
  }

  .m-callout__heading {
    font-family: var(--surf-font-sans-alt);
    font-size: var(--surf-fs-40-96);
    font-weight: var(--surf-fw-medium);
    letter-spacing: calculations.rem(0.6px);
    line-height: 1;
    text-transform: uppercase;
    z-index: 2;

    @include breakpoints.bp-min(medium) {
      letter-spacing: calculations.rem(1.44px);
    }
  }

  .m-callout__text {
    font-size: var(--surf-fs-18-24-32);
    font-weight: var(--surf-fw-bold);
    z-index: 2;
  }

  .a-button.a-button--underline.a-button--white {
    font-family: var(--surf-font-condensed);
    font-size: var(--surf-fs-16-22);
    letter-spacing: calculations.rem(1.8px);
    line-height: 1.4;
    text-transform: uppercase;

    &:hover {
      color: var(--surf-color-white);
    }
  }
}

.l-section:last-child > div > div:last-child > div:last-child > .m-callout.m-callout--type-featured {
  @include layout.full-width();
  margin-block-end: -60px;

  @include breakpoints.bp-min(xlarge) {
    inline-size: 100%;
    inset-inline: 0;
    margin-block-end: 0;
    margin-inline: 0;
    position: relative;
  }
}




//------------------------------------
//  07 - Factoid
//------------------------------------

.m-callout.m-callout--type-factoid {
  background-color: var(--surf-color-white);
  display: flex;
  flex-flow: nowrap column;
  gap: 16px 32px;

  @include breakpoints.bp-min(small) {
    flex-flow: nowrap row;
  }

  @include breakpoints.bp-min(large) {
    flex-flow: nowrap column;
  }

  .m-callout__inner-wrapper {
    gap: 4px;
    padding-block: 0;
    padding-inline: 0;

    @include breakpoints.bp-min(small) {
      padding-block: 20px;
    }

    @include breakpoints.bp-min(large) {
      padding-block: 0;
    }
  }

  .m-callout__media {
    block-size: auto;
    flex-shrink: 0;
    inline-size: 100px;
  }

  .m-callout__heading {
    font-size: var(--surf-fs-16-24);
  }
}



//------------------------------------
//  08 - News Sidebar
//------------------------------------

.m-callout.m-callout--type-news-sidebar {

}
