{#
/**
 * @file
 * Theme implementation to display a Curriculum Module Node with Teaser Dashboard view mode.
 *
 * Available variables:
 *  - No additional variables are available for this Node type.
 *
 * @see templates/nodes/node.html.twig
 * @see components/02-molecules/teaser/teaser.twig
 */
#}

{% set rendered_content = content|without(
    'field_content_area',
    'field_media',
    'field_overview',
    'field_ref_grade_level',
    'field_ref_standards',
    'field_ref_educator_resource_type',
    'reservation_links'
) %}

{% set default_image = drupal_image('public://images/2024-01/illustration - curriculum placeholder.png', 'teaser_default', responsive=true) %}

{% embed 'surf_main:teaser' with {
    attributes,
    rendered_content,
    teaser_attributes: create_attribute({'class': 'm-teaser--curriculum'}),
    teaser_content: content.field_overview|field_value|default([]),
    teaser_media: content.field_media|field_value|default(default_image),
    teaser_date: content.field_date_published|field_value|default([]),
    teaser_title: label,
    teaser_title_tag: 'h3',
    teaser_url: dashboard_url,
    curriculum_grade_level: content.field_ref_grade_level|field_value|default([]),
    curriculum_standards: content.field_ref_standards|field_value|default([]),
    chip_text: content.field_ref_educator_resource_type|field_value|default([]),
} only %}
    {% block teaser_media_prefix %}
        <div class="m-teaser__media-prefix">
            <p>
                {% include 'surf_main:chip' with {
                    attributes,
                    chip_attributes: create_attribute({'class': 'a-chip--white'}),
                    chip_text: chip_text|default([]),
                    chip_size: 'small',
                } only %}
            </p>
        </div>
    {% endblock %}

    {% block teaser_content_suffix %}
        <ul class="m-teaser__tags">
            {% for grade_level in curriculum_grade_level %}
                <li>{{ grade_level }}</li>
            {% endfor %}

            {% for standard in curriculum_standards %}
                <li>{{ standard }}</li>
            {% endfor %}
        </ul>
    {% endblock %}
{% endembed %}
