{#
/**
 * @file
 * Theme implementation to display a Curriculum Module Node with Full view mode.
 *
 * Available variables:
 *  - content.reservation_links: [array]
 *
 * @see modules/custom/surf_curriculum
 * @see templates/nodes/node.html.twig
 * @see components/05-pages/curriculum-module/curriculum-module.twig
 */
#}

{% set rendered_content = content|without(
    'body',
    'field_media',
    'field_overview',
    'field_ref_content_area',
    'field_ref_educator_resource_type',
    'field_ref_grade_level',
    'field_ref_standards',
    'field_resource_list',
    'field_time_required',
    'reservation_links',
) %}

{% if logged_in and content.reservation_links.webform['#url'] and content.field_ref_educator_resource_type|render %}
    {% set curriculum_module_cta_url = content.reservation_links.webform['#url'] %}
    {% set curriculum_module_cta_text = 'Request this ' ~ node.field_ref_educator_resource_type.entity.name.value %}
{% else %}
    {% set curriculum_module_cta_url = '/user/register?destination=node/' ~ node.id %}
    {% set curriculum_module_cta_text = 'Register or Login to Request'|t %}
{% endif %}

{% if content.field_overview|render %}
    {% set curriculum_module_summary %}
        <p>{{ content.field_overview|field_value }}</p>
    {% endset %}
{% endif %}

{% include 'surf_main:curriculum-module' with {
    attributes,
    rendered_content,
    curriculum_module_attributes: create_attribute(),
    curriculum_module_body: content.body|render ? content.body|field_value,
    curriculum_module_content_area: content.field_ref_content_area|field_value|default([]),
    curriculum_module_cta_url: curriculum_module_cta_url,
    curriculum_module_cta_text: curriculum_module_cta_text,
    curriculum_module_grade_level: content.field_ref_grade_level|field_value|default([]),
    curriculum_module_heading: label|field_value,
    curriculum_module_media: content.field_media|field_value|default([]),
    curriculum_module_resources: content.field_resource_list|field_value|default([]),
    curriculum_module_standards: content.field_ref_standards|field_value|default([]),
    curriculum_module_summary: curriculum_module_summary,
    curriculum_module_time_required: content.field_time_required|render ? content.field_time_required|field_value,
} only %}
