<div class="l--offset">
  <div id="styleguide-header" class="styleguide l-cluster--start">
    <div class="styleguide__toc">
      {% for item in items %}
      <div class="styleguide__toc-list">
        {{ item }}
      </div>
    {% endfor %}
    </div>
    <div class="break"><br /></div>
  </div>
</div>
