<div class="o-view-embed__title">
  {% embed 'surf_main:heading' with {
    heading_attributes: create_attribute(),
    heading_text: title,
    heading_level: '2',
    heading_type: 'lg',
    heading_rule: true,
  } only %}
  {% endembed %}
</div>
