{% embed 'surf_main:one-column' with {
    layout_attributes: create_attribute(),
    layout_items: rows,
    layout_html_wrapper: 'ul',
} only %}
    {% block layout_content %}
        {% for item in layout_items %}
            {% if loop.first %}
                <li class="l-onecol__region">
                    {{ item.content }}
                </li>
            {% endif %}
        {% endfor %}
    {% endblock %}
{% endembed %}

{% embed 'surf_main:two-column' with {
    layout_attributes: create_attribute(),
    layout_items: rows|slice(1),
    layout_column_widths: '50-50',
    layout_html_wrapper: 'ul',
} only %}
    {% block layout_content %}
        {% for item in layout_items %}
            <li class="l-twocol__region">
                {{ item.content }}
            </li>
        {% endfor %}
    {% endblock %}
{% endembed %}
