{#
/**
 * @file
 * Component for Reports / Publications (Node)
 *
 * Available props:
 * - report_pub_attributes: [array] Any parent tag attributes.
 * - report_pub_heading: [string]
 * - report_pub_summary: [string]
 *
 */
#}

{% set classes = [
    'p-report-pub',
] %}

<article {{ report_pub_attributes.addClass(classes).merge(attributes) }}>
    {% if report_pub_media %}
        <div class="p-report-pub__media">
            {{ report_pub_media }}
        </div>
    {% endif %}

    <div class="container container--xlarge">

        {% embed 'surf_main:header' with {
            header_heading: report_pub_heading,
            header_heading_level: '1',
            header_summary: report_pub_summary,
            header_cta_url: report_pub_cta_url,
            header_cta_text: report_pub_cta_text,
            header_cta_html_tag: report_pub_cta_html_tag|default('link'),
            header_cta_style: report_pub_cta_style|default('primary'),
            header_cta_size: report_pub_cta_size|default('large'),
            header_cta_color: report_pub_cta_size|default('navy'),
            header_attributes: create_attribute(),
            heading_attributes: create_attribute({'class': ['o-header__heading', 'p-report_pub__heading']}),
        } only %}
        {% endembed %}

        <div class="p-report-pub__main-content">
            {{ report_pub_content }}
        </div>
    </div>
</article>
