//
// Mixins - Typography
// Use these mixins when needing to easily define typography styles, such as sizes and typographical layout.
//
// - 01 - Imports
// - 02 - Line Height
// - 03 - Typography
// - 04 - Headings
// - 05 - Body Text
// - 06 - Sizing
//


//------------------------------------
//  00 - Imports
//------------------------------------

@use 'sass:math';
@use '../functions/calculations' as functions-calculations;
@use 'breakpoints' as mixins-breakpoints;




//------------------------------------
//  02 - Line Height
//  Calculate a unitless line height from two values.
//  - @param $font-size: Font size to start from.
//  - @param $line-height: The desired line height.
//  - @example = line-height: line-height(16px, 24px);
//------------------------------------

@function line-height($font-size, $line-height) {
  $ratio: math.div($line-height, $font-size);
  @return math.div($ratio, ($ratio * 0 + 1));
}




// ------------------------------------
// 01 - Typography
// Mixin for determining font sizing and line heights from CSS variables.
// @param $font-size: [integer] size of font depicted by a number / associates with CSS variables.
// @param $line-height: [string] setting of line height as depicted by a string / associates with CSS variables.
// ------------------------------------

@mixin font($font-size, $line-height: default) {
  font-size: var(--surf-font-size- + $font-size);
  line-height: var(--surf-line-height- + $line-height);
}




// ------------------------------------
// 02 - Headings
// ------------------------------------

@mixin heading-01() {
  @include font(176, heading);
  font-family: var(--surf-font-sans-alt);
  font-weight: var(--surf-font-weight-medium);
}

@mixin heading-02() {
  @include font(96, heading);
  font-family: var(--surf-font-sans-alt);
  font-weight: var(--surf-font-weight-medium);
}

@mixin heading-03() {
  @include font(52, heading);
  font-family: var(--surf-font-sans);
  font-weight: var(--surf-font-weight-bold);
}

@mixin heading-04() {
  @include font(40, heading);
  font-family: var(--surf-font-sans);
  font-weight: var(--surf-font-weight-bold);
}

@mixin heading-05() {
  @include font(24, heading);
  font-family: var(--surf-font-sans);
  font-weight: var(--surf-font-weight-bold);
}

@mixin heading-06() {
  @include font(18, heading);
  font-family: var(--surf-font-sans);
  font-weight: var(--surf-font-weight-bold);
}

@mixin surf-font-label() {
  font-family: var(--surf-font-condensed);
  font-size: rem(16px);
  font-weight: var(--surf-font-weight-bold);
  letter-spacing: 1.5px;
}

@mixin surf-font-label-medium() {
  font-family: var(--surf-font-condensed);
  font-size: rem(22px);
  font-weight: var(--surf-font-weight-bold);
  letter-spacing: 1.8px;
}

@mixin surf-font-label-small() {
  font-family: var(--surf-font-condensed);
  font-weight: var(--surf-font-weight-bold);
  letter-spacing: 1.5px;
  text-transform: uppercase;

  @include font(20, label);
}

@mixin surf-font-label-x-small() {
  font-family: var(--surf-font-condensed);
  font-weight: var(--surf-font-weight-bold);
  letter-spacing: 1.5px;
  text-transform: uppercase;

  @include font(16, label);
}




// ------------------------------------
// 03 - Body Text
// ------------------------------------

@mixin body-xlg() {

  @include font(body-md, default);
  font-family: var(--surf-font-sans);
  font-weight: var(--surf-font-weight-book);
}




// ------------------------------------
// 04 - Sizing
// ------------------------------------

@mixin size-14() {
  font-size: functions-calculations.rem(14px);
  line-height: line-height(14px, 20px);
}

@mixin size-16() {
  font-size: functions-calculations.rem(16px);
  line-height: line-height(16px, 22px);
}

@mixin size-24() {
  font-size: functions-calculations.rem(18px);
  line-height: line-height(18px, 24px);

  @include mixins-breakpoints.bp-min(large) {
    font-size: functions-calculations.rem(24px);
    line-height: line-height(24px, 34px);
  }
}

@mixin size-40() {
  font-size: functions-calculations.rem(24px);
  line-height: line-height(24px, 32px);

  @include mixins-breakpoints.bp-min(large) {
    font-size: functions-calculations.rem(40px);
    line-height: line-height(40px, 52px);
  }
}
