//
// Component - Page - Feature
//
// - 01 - Imports
// - 02 - General
// - 03 - Modifiers
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - General
//------------------------------------

.p-feature {
  .o-header__content {
    background-color: var(--surf-color-white);
    padding-block: calculations.rem(32px);

    @include breakpoints.bp-min(xlarge) {
      padding-block: calculations.rem(60px);
      padding-inline: calculations.rem(120px);
    }
  }

  .p-feature__media {
    img {
      max-block-size: 480px;
      object-fit: cover;
      width: 100%;

      @include breakpoints.bp-min(xlarge) {
        max-block-size: 690px;
      }
    }
  }

  .m-breadcrumbs {
    display: none;

    @include breakpoints.bp-min(medium) {
      display: block;
    }
  }

  .p-feature__overview {
    margin-block-end: calculations.rem(32px);

    @include breakpoints.bp-min(medium) {
      margin-block-end: calculations.rem(60px);
    }
  }

  .p-feature__main-content {
    > * {
      margin-inline: auto;
    }

    > :not(:last-child) {
      margin-block-end: calculations.rem(60px);
    }
  }
}




//------------------------------------
//  03 - Modifiers
//------------------------------------

.p-feature.p-feature--with-img .o-header {
  @include breakpoints.bp-min(xlarge) {
    margin-block-start: calculations.rem(-120px);
  }
}
