//
// Component - Organism - Event
//
//
//
//
// - 01 - Imports
// - 02 - General
// - 03 - Component Overrides
//



//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;



//------------------------------------
//  02 - General
//------------------------------------

.o-event {
  padding-block-end: rem(26px);
  position: relative;
  @include bp-min(medium) {
    padding-block-end: rem(60px);
  }
  @include bp-min(large) {
    padding-block-end: rem(50px);
  }
  @include bp-min(xxlarge) {
    padding-block-end: rem(143px);
  }
}

.o-event__inner-wrapper {
  > :not( :last-child ) {
    margin-block-end: rem(32px);
    @include bp-min(medium) {
      margin-block-end: rem(40px);
    }
    @include bp-min(large) {
      margin-block-end: rem(60px);
    }
  }
}

.o-event__body-wrapper {
  > :not( :last-child ) {
    margin-block-end: rem(32px);
    @include bp-min(medium) {
      margin-block-end: rem(40px);
    }
    @include bp-min(large) {
      margin-block-end: rem(28px);
    }
  }
}

.o-event__meta-wrapper,
.o-event__dates {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: rem(24px);
}

.o-event__dates {
  p {
    color: var(--surf-color-black-alt);
    font-family: var(--surf-font-sans);
    font-size: var(--surf-fs-18-24);
    font-weight: var(--surf-fw-bold);
    line-height: var(--surf-lh-label);
  }
}

.o-event__summary {
  color: var(--surf-color-black-alt);
  font-family: var(--surf-font-sans-alt);
  font-size: var(--surf-fs-40-64);
  font-weight: var(--surf-fw-medium);
  letter-spacing: rem(0.6px);
  line-height: var(--surf-lh-base);
  margin-block-end: rem(28px);
  @include bp-min(medium) {
    letter-spacing: rem(1.28px);
  }
}

.o-event__content-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
  @include bp-min(medium) {
    gap: 40px;
  }
  @include bp-min(large) {
    gap: 60px;
  }
  @include bp-min(xlarge) {
    grid-template-columns: 1fr 400px;

    .o-event__body-wrapper {
      order: 1;
    }

    .o-event__media {
      justify-self: end;
      order: 2;
    }
  }
}



//------------------------------------
//  03 - Component Overrides
//------------------------------------

.o-event {
  .a-left-hook {
    @include bp-min(xlarge) {
      width: 65%;
    }
  }
}
