{#
/**
 * @file
 * Component for Hero
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - hero_attributes: [string] Any additional attributes needing to be specified.
 * - hero_media: [array] Media element used as either a background or primary media.
 * - hero_text: [array] Text element representing supportive content.
 * - hero_title: [string] Text representing the primary title of the hero.
 * - hero_type: [string] Options include 'content-left', 'content-right', 'content-top'.
 */
#}

{% set classes = [
    'm-hero',
    'm-hero--' ~ hero_type,
] %}

<section {{ hero_attributes.addClass(classes).merge(attributes) }}>
  <div class="m-hero__media">
    {{ hero_media }}
  </div>

  <div class="m-hero__content">
    <h1 class="m-hero__title">{{ hero_title }}</h1>

    {% if hero_text %}
      <div class="m-hero__text">
        {{- hero_text -}}
      </div>
    {% endif %}
  </div>
</section>
