.t-pane {
  background-color: var(--color-background);
}

.t-white-black {
  --color-background: #fff;
  --color-background-hover: #f2f2f2;
  --color-border: var(--color-surf--black);
  --color-border-muted: var(--color-surf--cloud);
  --color-text: var(--color-surf--black);
  --color-text-heading: var(--color-surf--black);
  --color-text-heading-muted: #707070;
  --color-text-muted: var(--color-surf--grey);
  --color-link: var(--color-surf--black);
  --color-link-hover: var(--color-surf--black);
}

.t-white-forest {
  --color-background: #fff;
  --color-background-hover: #f2f2f2;
  --color-border: var(--color-surf--black);
  --color-border-muted: var(--color-surf--cloud);
  --color-text: var(--color-surf--forest);
  --color-text-heading: var(--color-surf--black);
  --color-text-heading-muted: #707070;
  --color-text-muted: var(--color-surf--grey);
  --color-link: var(--color-surf--forest);
  --color-link-hover: var(--color-surf--black);
}

.t-black {
  --color-border: #fff;
  --color-border-muted: var(--color-surf--cloud);
  --color-background: #222222;
  --color-background-hover: #494949;
  --color-text: #fff;
  --color-text-heading: #fff;
  --color-text-heading-muted: #e7e7e7;
  --color-text-muted: var(--color-surf--cloud);
  --color-link: #f2f2f2;
  --color-link-hover: #fff;
}

.t-cloud {
  --color-background: #f2f2f2;
  --color-background-hover: #f6f6f6;
  --color-border: var(--color-surf--black);
  --color-border-muted: var(--color-surf--grey);
  --color-text: #222222;
  --color-text-muted: var(--color-surf--grey);
  --color-text-heading: #222222;
  --color-text-heading-muted: #707070;
  --color-link: #00492c;
  --color-link-hover: #00492c;
}

.t-kelly {
  --color-background: #008535;
  --color-background-hover: #00492c;
  --color-border: #fff;
  --color-border-muted: var(--color-surf--cloud);
  --color-text: #fff;
  --color-text-muted: var(--color-surf--cloud);
  --color-text-heading: #fff;
  --color-text-heading-muted: #e7e7e7;
  --color-link: #fff;
  --color-link-hover: #fff;
}

.t-forest {
  --color-background: #00492c;
  --color-background-hover: #008535;
  --color-border: #fff;
  --color-border-muted: var(--color-surf--cloud);
  --color-text: #fff;
  --color-text-muted: var(--color-surf--cloud);
  --color-text-heading: #fff;
  --color-text-heading-muted: #e7e7e7;
  --color-link: #fff;
  --color-link-hover: #fff;
}

.t-gradient {
  --color-background: #008535;
  --color-background-hover: #00492c;
  --color-border: #fff;
  --color-border-muted: var(--color-surf--cloud);
  --color-text: #fff;
  --color-text-muted: var(--color-surf--cloud);
  --color-text-heading: #fff;
  --color-text-heading-muted: #e7e7e7;
  --color-link: #fff;
  --color-link-hover: #fff;
}

// Underline buttons have transparent backgrounds
.t-underline-green {
  --color-background: transparent;
  --color-background-hover: transparent;
  --color-link: #00492c;
  --color-link-hover: #008535;
}

.t-underline-white {
  --color-background: transparent;
  --color-background-hover: transparent;
  --color-link: #fff;
  --color-link-hover: #fff;
}
