//
// @file
// Cart Component Styles
//

@use '../../partials/partials' as *;

.collapsible__container {
  border: solid rem(1px) var(--color-surf--black);
  @include bp-min(xlarge) {
    border: none;
  }
}

.collapsible__trigger {
  @include surf-font-label-peewee;
  color: var(--color-surf--black);
  font-family: var(--font-family-condensed);
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: solid rem(1px) var(--color-surf--black);
  padding: rem(15px) rem(16px);
  cursor: pointer;
  text-align: left;
  width: 100%;
  border-radius: 0;
  background-image: inline-svg(
    '<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none"><path stroke="#222" stroke-width="1.5" d="M6.222 14h15.556"/></svg>'
  );
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right rem(12px) center;
  &[aria-expanded="false"] {
    border-bottom: none;
    background-image: inline-svg(
      '<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none"><path stroke="#222" stroke-width="1.5" d="M14 5.871v16.258M22.129 14H5.87"/></svg>'
    );
  }
  @include bp-min(xlarge) {
    display: none;
  }
}

.collapsible__container-content {
  padding: rem(24px);
  @include bp-min(xlarge) {
    padding: 0;
  }
}
