//
// Component - Molecules - Pager
//
// - 01 - Imports
// - 02 - Layout
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/animations';
@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - Layout
//------------------------------------

.m-pager {
  .m-pager__items {
    align-items: center;
    display: flex;
    flex-flow: wrap row;
    margin-block: 32px 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;

    @include breakpoints.bp-min(large) {
      margin-block: 64px 0;
    }
  }
}




//------------------------------------
//  02 - General
//------------------------------------

.m-pager {
  .m-pager__link {
    display: block;
    font-size: calculations.rem(16px);
    line-height: 1;
    padding-block: 8px;
    padding-inline: 8px;
    text-decoration: none;
    transition: animations.transition(all, 0.35s, easeInOutExpo);

    &.is-active,
    &:hover,
    &:focus {
      background-color: var(--surf-color-black);
      color: var(--surf-color-white);
    }
  }
}
