{#
/**
 * @file
 * Theme override to display a Standard Term with Teaser view mode.
 *
 * Available variables:
 * - No additional variables are available for this Term type.
 *
 * @see templates/taxonomy/taxonomy-term.html.twig
 * @see components/02-molecules/teaser/teaser.twig
 */
#}

{% embed 'surf_main:teaser' with {
  attributes,
  teaser_attributes: create_attribute({'class': 'm-teaser--standard'}),
  teaser_content: content.description|field_value,
  teaser_title: name|field_value,
  term,
} only %}
  {% block teaser_content %}
    <div class="m-teaser__content-text">
      <a class="m-teaser__link" href="/curriculum-modules?standard={{ term.id }}">{{ teaser_title }}</a>
      {{- teaser_content -}}
    </div>
  {% endblock %}
{% endembed %}

