@use '../../../libraries/partials/partials' as *;

//FIXME: update font mixin references
.c-event-title {
  font-size: rem(48px);
  line-height: 94%;
  margin: 0 0 rem(32px) 0;

  //@include surf-font-heading-one;

  @include bp-min(large) {
    font-size: rem(100px);
    line-height: 94%;
  }

  @include bp-min(large) {
    font-size: rem(132px);
    line-height: 94%;
  }

  @include bp-min(xxlarge) {
    font-size: rem(132px);
    line-height: 94%;
  }
}

.c-event__breadcrumb-list {
  display: flex;
  margin: 0 0 rem(32px) 0;
  padding: 0;
}

.c-event__breadcrumb-item {
  display: inline-block;
  margin: 0;
}

.c-event__breadcrumb-link {
  font-family: var(--surf-font-condensed);
  font-size: rem(16px);
  font-weight: var(--surf-font-weight-bold);
  letter-spacing: 1.5px;
  color: var(--color-surf--forest);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.c-event__header-wrapper {
  margin-bottom: rem(32px);

  @include bp-min(medium) {
    margin-bottom: rem(40px);
  }

  @include bp-min(large) {
    margin-bottom: rem(60px);
    padding-top: rem(50px);
  }

  &::after {

    @include bp-min(large) {
      background-image: url('../img/event-illustration.png');
      background-position: top right;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      display: block;
      height: rem(222px);
      position: absolute;
      right: 0;
      top: 0;
      width: rem(333px);
    }

    @include bp-min(xlarge) {
      height: rem(300px);
      width: rem(450px);
    }
  }
}

.c-event__details-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @include bp-min(large) {
    align-items: center;
    flex-direction: row;
  }

  li {
    display: block;
    margin: 0;
  }
}

.c-event__details-wrapper li.c-event-dates {
  font-size: var(–surf-font-size-40);
  font-weight: var(--font-weight-bold);

  @include bp-min(medium) {
    font-size: var(–surf-font-size-24);
    font-weight: var(--font-weight-bold);
  }
}

.c-event__datetime-wrapper {

  @include bp-min(medium) {
    align-items: center;
    display: flex;
  }
}

.c-event__details-wrapper li.c-event-times {
  font-size: var(–surf-font-size-40);
  font-weight: var(--font-weight-bold);
  margin: rem(12px) 0 0 0;

  @include bp-min(medium) {
    font-size: var(–surf-font-size-24);
    font-weight: var(--font-weight-bold);
    margin: 0;
  }
}

.c-event.c-event--dateTimeSeparator li.c-event-dates {

  @include bp-min(medium) {
    margin: 0 rem(24px) 0 0;
    padding: 0 rem(26px) 0 0;
    position: relative;

    &:after {
      background: var(--color-surf--black);
      content: '';
      font-size: var(–surf-font-size-24);
      font-weight: var(--font-weight-bold);
      height: rem(22px);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: rem(2px);
    }
  }
}

.c-event__details-wrapper li.c-event__link {
  margin: rem(12px) 0 0 0;

  @include bp-min(medium) {
    margin: rem(32px) 0 0 0;
  }

  @include bp-min(large) {
    margin: 0 0 0 rem(24px);
  }
}

.c-event__link .forest-button {
  font-family: var(--font-family-sans);
  font-size: var(–surf-font-size-24);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0;
  text-transform: unset;
}

.c-event hr.left-hook-divider {
  margin-bottom: rem(64px);

  @include bp-min(medium) {
    margin-bottom: rem(72px);
  }

  @include bp-min(large) {
    margin-bottom: rem(92px);
  }
}

.c-event__overview {
  //TODO: replace font mixin
  //@include surf-font-heading-two;
  margin: 0 0 rem(32px) 0;

  @include bp-min(medium) {
    font-size: rem(64px);
    line-height: rem(64px);
    margin: 0 0 rem(40px) 0;
  }

  @include bp-min(large) {
    margin: 0 0 rem(28px) 0;
    max-width: rem(780px);
  }
}

.c-event__image-wrapper {
  margin: 0 0 rem(32px) 0;

  @include bp-min(medium) {
    margin: 0 0 rem(40px) 0;
    max-height: rem(226px);
  }

  @include bp-min(large) {
    margin: 0 0 rem(60px) 0;
    max-height: rem(370px);
  }

  @include bp-min(xxlarge) {
    margin: 0;
    max-height: rem(370px);
  }

  img {
    display: block;
    max-height: rem(236px);

    @include bp-min(medium) {
      max-height: rem(226px);
    }

    @include bp-min(large) {
      max-height: rem(370px);
    }
  }
}

.c-event__content-wrapper {
  padding: 0 0 rem(25px) 0;

  @include bp-min(medium) {
    padding: 0 0 rem(76px) 0;
  }

  @include bp-min(large) {
    padding: 0 0 rem(67px) 0;
  }

  @include bp-min(xxlarge) {
    display: flex;
    padding: 0 0 rem(143px) 0;

    .c-event__image-wrapper {
      flex: none;
      margin: 0 0 0 rem(60px);
      order: 2;
    }
  }
}

.c-event__body-wrapper {
  & > .text-content > p:first-child {
    margin-top: 0;
  }

  & > .text-content > p:last-child {
    margin-bottom: 0;
  }

  @include bp-min(medium) {
    grid-area: body;
    order: unset;
  }

  @include bp-min(large) {
    max-width: rem(780px);
  }
}
