<blockquote {{ attributes.addClass(['c-pullquote', style]).merge(clAttributes) }}>

  {% if quote %}
    <div class="c-pullquote__content">
      <p>{{quote|check_markup('plain') }}</p>
    </div>
  {% endif %}

  {% if credit %}
    {% block credit_body %}
    <footer class="c-pullquote__footer">
      <cite>{{credit}}</cite>
    </footer>
    {% endblock %}
  {% endif %}

</blockquote>
