
<blockquote {{ clAttributes.addClass(['c-pullquote', style]) }}>

  {% if quote %}
    <div class="c-pullquote__content">
      {{quote|check_markup('plain') }}
    </div>
  {% endif %}

  {% if credit %}
    {% block credit_body %}
    <footer class="c-pullquote__footer">
      <cite>{{credit}}</cite>
    </footer>
    {% endblock %}
  {% endif %}

</blockquote>