@use '../../../libraries/partials/partials' as *;

.c-pullquote__content p {
  color: var(--color-text-heading);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-medium);
}

.c-pullquote__footer {
  margin: rem(20px) 0 0 0;

  cite {

    @include surf-font-label;
    align-items: baseline;
    color: var(--color-text-muted);
    display: flex;

    &::before {
      content: '\2014';
      margin: 0 7px 0 0;
    }
  }
}

// Style: fullwidth
.c-pullquote.fullwidth {
  .c-pullquote__content p {
    background: linear-gradient(
      92.82deg,
      var(--color-text-heading-muted) 0.11%,
      var(--color-text-heading) 95.94%
    );
    background-clip: text;
    color: transparent;
    font-size: rem(40px);
    letter-spacing: 0.015em;
    line-height: 100%;

    @include bp-min(medium) {
      font-size: rem(64px);
      line-height: 100%;
    }

    @include bp-min(large) {
      font-size: rem(94px);
      line-height: 100%;
    }
  }
}

// Style: centered
.c-pullquote.centered {
  border-bottom: solid 2px var(--color-border-muted);
  border-top: solid 2px var(--color-border-muted);
  padding: 32px 0;

  .c-pullquote__content p {
    font-size: rem(40px);
    letter-spacing: 0.02em;
    line-height: 100%;

    @include bp-min(medium) {
      font-size: rem(52px);
      line-height: 100%;
    }

    @include bp-min(large) {
      font-size: rem(64px);
      line-height: 100%;
    }
  }
}
