//
// @file
// Basic HTML tag styles
//
// This file outputs to global.css, the primary stylesheet for the theme
//

@import "../../partials/_partials";

// Make everything border-box
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  background-color: #fff;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background-color: #fff;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-medium);
  line-height: var(--font-line-height-body-medium);
  margin: 0;
  overflow-x: hidden;
}

.skip-link.visually-hidden.focusable {
  background-color: #fff;
  color: var(--color-surf--black);
  display: block;
  margin: 1em;
  padding: 0.25em;
  position: absolute !important;
  left: 0;
  top: 0;
  width: fit-content !important;
  z-index: 99;
}

.page-content-and-footer__wrapper {
  position: relative;
  margin-top: rem(32px);
  @include bp-min(medium) {
    margin-top: rem(60px);
  }
  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: rem(20px);
    background: linear-gradient(
      180deg,
      #f26438 6.25%,
      #ffc956 33.85%,
      #008535 54.69%,
      #008535 69.79%,
      #2976d9 93.75%
    );
    background-size: 100%;
    // background-size: 100% 600%;
    background-position: 0% 100%;
    // animation: bg-animation 10s infinite linear alternate;
    display: none;
    z-index: 2;
    // Large Desktop
    @include bp-min(xlarge) {
      display: block;
    }
  }
  .l-constrained--wide {
    @include bp-max(large) {
      width: 100%;
    }
  }
  & > main > div {
    padding-bottom: rem(35px);
    @include bp-min(medium) {
      padding-bottom: rem(70px);
    }
    @include bp-min(large) {
      padding-bottom: rem(98px);
    }
    @include bp-min(xxlarge) {
      padding-bottom: rem(120px);
    }
  }
}

hr.left-hook-divider {
  border: 0;
  border-bottom: rem(2px) solid var(--color-surf--grey);
  position: relative;
  overflow: visible;
  margin-bottom: rem(32px);
  &::before {
    content: "";
    position: absolute;
    height: rem(32px);
    width: rem(2px);
    background: var(--color-surf--grey);
  }
}

// @keyframes bg-animation {
//   from {
//     background-position: 0% 100%;
//   }
//   to {
//     background-position: 100% 0%;
//   }
// }
