@use '../../partials/partials' as *;


/** Password **/
.form-item-password-confirm {
  width: var(--size-form-narrow);
  max-width: 100%;
}

.password-strength__meter {
  background-color: var(--color-feedback-background);
}

.password-strength__indicator {
  &.is-fair {
    background-color: var(--color-feedback-fair);
  }
  &.is-strong {
    background-color: var(--color-feedback-strong);
  }
  &.is-good {
    background-color: var(--color-feedback-good);
  }
  &.is-weak {
    background-color: var(--color-feedback-weak);
  }
}

.password-confirm,
.password-strength__title {
  font-size: var(--font-size-description);
  font-family: var(--font-family-interface);
}

.password-strength__text {
  font-weight: var(--font-weight-bold);
}

.password-confirm > span {
  font-weight: var(--font-weight-bold);

  &.error {
    color: var(--color-feedback-error);
  }

  &.ok {
    color: var(--color-feedback-good);
  }
}

.password-suggestions {
  font-size: var(--font-size-description);
  font-family: var(--font-family-interface);
  font-weight: var(--font-weight-bold);

  > ul {
    font-weight: var(--font-weight-regular);
  }
}
