@import "_partials";

/** API
Animation
- transition-speed (F, S)
- transition-ease

Logo
- width
- inset

Menu Button
- icon size
- Inset
- transition speed
- background color
- button (fill) color
- border
- size
- width

Button
- font-size
- color-text (H, F, A, D)
- color-background (H, F, A, D)
- color-border (H, F, A, D)
- color-glow
- color-shadow
- size-icon
- size-border
- size-radius
- space-inset

Label
- font-family
- font-weight
- font-size
- color-text (D, E)
- space-gap

Input
- font-family
- font-weight
- font-size
- color-text (D, E)
- space-gap
- space-inset
- size-radius
- size-icon

Form-Item
- space-gap

**/

:root {
  /**
    Boolean inputs such as checkboxs and radios
    as well as select options when styling is available.
  **/
  --options-space-gap-y: 0.75em;
  --options-space-gap-x: 0.25em;

  --option-line-height: var(--font-line-height-tight, 1.2);
  --option-font-size: 16px;
  --option-font-weight: 400;
  --option-space-gap-x: 0.75em;
  --option-space-gap-y: 0.25em;
  --option-input-size: 0.75em;
}

form > * + * {
  // margin-top: var(--space-gap-y);
}

label[for] {
  @include surf-font-label-peewee;
  color: var(--color-surf--black);
  font-family: var(--font-family-condensed);
  display: block;
  margin: 0 0 rem(8px) 0;
}

// label,
// legend {
//   display: block;
//   margin-bottom: 0;
//   font-family: var(--label-font-family, var(--font-family-interface));
//   font-size: var(--label-font-size, 16px);
//   font-weight: var(--label-font-weight, var(--font-weight-bold));
// }

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not(
    [type="reset"]
  ),
textarea {
  @include surf-font-body-medium;
  color: var(--color-surf--black);
  background-color: var(--color-surf--white);
  border-color: var(--color-surf--grey);
  border-width: rem(1px);
  border-style: solid;
  border-radius: 0;
  max-width: 100%;
  padding: rem(11px) rem(12px);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    color: #b6b6b6;
  }
  &:focus {
    border-radius: 0;
    box-shadow: 0 0 0 rem(1px) var(--color-surf--black);
    border-color: var(--color-surf--black);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline-color: transparent;
    outline-style: none;
  }
  &.form-element--api-textfield {
    background-image: inline-svg(
      '<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none"><path stroke="#222" stroke-linejoin="round" stroke-width="1.5" d="m15.288 14.755 8.8 8.8"/><circle cx="10.889" cy="10.355" r="6.222" stroke="#222" stroke-width="1.5" transform="rotate(45 10.889 10.355)"/></svg>'
    );
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left rem(12px) center;
    padding-left: rem(46px);
  }
}

textarea {
  display: block;
  width: 100%;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="number"] {
  height: auto;
}

input[type="file"] {
  height: inherit;
}

input[type="button"],
input[type="submit"],
button:not([class]) {
  @include surf-font-label-medium;
  color: var(--color-surf--white);
  cursor: pointer;
  background: var(--color-surf--forest);
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  padding: rem(8px) rem(18px);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background: var(--color-surf--grey);
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

input[type="reset"],
input[data-drupal-selector="edit-reset"] {
  @include surf-font-label-medium;
  color: var(--color-surf--white);
  cursor: pointer;
  background: var(--color-surf--black);
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  padding: rem(8px) rem(18px);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background: var(--color-surf--grey);
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

select {
  @include surf-font-body-medium;
  appearance: none;
  background-color: var(#fff);
  border-radius: 0;
  padding: rem(11px) rem(12px);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-radius: 0;
    border-color: var(--color-surf--black);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 0 0 rem(1px) var(--color-surf--black);
    outline-color: transparent;
    outline-style: none;
  }
}

select:not([multiple]) {
  padding: 11px 40px 11px 12px;
  background-image: inline-svg(
    '<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" fill-rule="evenodd" stroke="#222" stroke-width="1.5"><path d="M9 .871v16.258M17.129 9H.871"/></g></svg>'
  );
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right rem(12px) center;
}

// Checkboxes
input[type="checkbox"] {
  appearance: none;
  border: solid rem(1.5px) var(--color-surf--forest);
  border-radius: rem(4px);
  background-color: var(--color-surf--white);
  display: inline-block;
  width: rem(21.78px);
  height: rem(21.78px);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
  background-position: center center;
  background-size: 0;
  &:checked {
    background-image: inline-svg(
      '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" fill="none"><path stroke="#00492C" stroke-width="1.5" d="m.975 5.207 5.109 5.109 8.941-8.941"/></svg>'
    );
    background-repeat: no-repeat;
    background-size: rem(16px);
    background-position: center center;
  }
  &:focus {
    border-color: var(--color-surf--black);
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 0 0 rem(1px) var(--color-surf--black);
    outline-color: transparent;
    outline-style: none;
  }
}

// Radio
input[type="radio"] {
  appearance: none;
  border: solid rem(1.5px) var(--color-surf--forest);
  border-radius: rem(4px);
  background-image: var(--color-surf--white);
  width: rem(21.78px);
  height: rem(21.78px);
  border-radius: 1000%;
  display: inline-block;
  background-size: 0px;
  background-position: center center;
  &:checked {
    background-image: inline-svg(
      '<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none"><circle cx="5.001" cy="5" r="4.667" fill="#00492C"/></svg>'
    );
    background-repeat: no-repeat;
    background-size: rem(9.33px);
    background-position: center center;
  }
  &:focus {
    border-color: var(--color-surf--black);
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 0 0 rem(1px) var(--color-surf--black);
    outline-color: transparent;
    outline-style: none;
  }
}

// Remove default IE arrow
select::-ms-expand {
  display: none;
}

// Form Item Wrapper
.form-item {
  > * + * {
    margin-top: var(--space-gap-y-minimal);
  }
}

.form-item + .form-item {
  // margin-top: var(--space-gap-y);
}

// input[type="checkbox"],
// input[type="radio"] {
//   height: var(--option-input-size, auto);
//   width: var(--option-input-size, auto);
// }

input[type="checkbox"] + label,
input[type="radio"] + label,
.option {
  display: inline-block;
  font-size: var(--option-font-size);
  font-weight: var(--option-font-weight);
  line-height: var(--option-line-height);
}

.form-type-boolean + .form-type-boolean {
  margin-top: var(--options-space-gap-y);
}

.form-type-boolean {
  padding-left: calc(var(--option-space-gap-x) + var(--option-input-size));
  font-size: var(--option-font-size);

  input[type="checkbox"],
  input[type="radio"] {
    display: inline-block;
    font-size: inherit;
    left: calc((var(--option-space-gap-x) + var(--option-input-size)) * -1);
    margin-right: calc((var(--option-input-size)) * -1);
    position: relative;

    & + label {
      font-size: inherit;
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: var(--option-input-size) auto;
    column-gap: var(--option-space-gap-x);
    padding-left: 0;

    > * {
      grid-column: 2;
    }

    input[type="checkbox"],
    input[type="radio"] {
      grid-column: 1;
      left: auto;
      margin: calc((1em - var(--option-input-size)) / var(--option-line-height))
        0 0;
      position: static;

      & + * {
        margin-top: 0;
      }
    }
  }
}

.description {
  font-size: var(--font-size-description);
  font-family: var(--font-family-interface);
}

.filter-wrapper {
  margin-top: 0;
}

.filter-guidelines,
.filter-help {
  font-size: var(--font-size-description);
  font-family: var(--font-family-interface);
}

.filter-guidelines ul {
  margin-top: 0;
}

/** Password **/
.form-item-password-confirm {
  width: var(--size-form-narrow);
  max-width: 100%;
}

.password-strength__meter {
  background-color: var(--color-feedback-background);
}

.password-strength__indicator {
  &.is-fair {
    background-color: var(--color-feedback-fair);
  }
  &.is-strong {
    background-color: var(--color-feedback-strong);
  }
  &.is-good {
    background-color: var(--color-feedback-good);
  }
  &.is-weak {
    background-color: var(--color-feedback-weak);
  }
}

.password-confirm,
.password-strength__title {
  font-size: var(--font-size-description);
  font-family: var(--font-family-interface);
}

.password-strength__text {
  font-weight: var(--font-weight-bold);
}

.password-confirm > span {
  font-weight: var(--font-weight-bold);

  &.error {
    color: var(--color-feedback-error);
  }

  &.ok {
    color: var(--color-feedback-good);
  }
}

.password-suggestions {
  font-size: var(--font-size-description);
  font-family: var(--font-family-interface);
  font-weight: var(--font-weight-bold);

  > ul {
    font-weight: var(--font-weight-regular);
  }
}

form.views-exposed-form {
  @include bp-min(medium) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .form-actions input[type="submit"] {
    height: rem(50px);
  }
}

.views-header {
  margin: rem(20px) 0 0 0;
  @include bp-min(medium) {
    margin: rem(32px) 0 0 0;
  }
  p {
    margin: 0;
    @include surf-font-body-x-small;
    color: var(--color-surf--black);
    @include bp-min(medium) {
    }
  }
}

.item-list__wrapper {
  margin: rem(32px) 0 0 0;
  @include bp-min(medium) {
    margin: rem(60px) 0 0 0;
  }
}

.browse-curriculum-block--view {
  .form-actions input[type="submit"] {
    margin-right: rem(20px);
  }
  .form-item-title {
    flex: none;
    width: 100%;
    margin-bottom: rem(32px);
  }
  .form-item-grade-level {
    margin: 0 0 rem(32px) 0;
  }
  .form-item-sort-bef-combine {
    flex: none;
    width: 100%;
    margin: rem(32px) 0;
  }
  @include bp-min(medium) {
    .form-item-grade-level {
      margin: 0 rem(20px) 0 0;
    }
  }
  @include bp-min(large) {
    .form-item-sort-bef-combine {
      flex: initial;
      width: auto;
      margin: 0 rem(20px);
    }
  }
}

.all-experiments-block--view {
  .form-actions input[type="submit"] {
    margin-right: rem(20px);
  }
  .form-item-title {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-item-research-areas {
    margin: 0 0 rem(32px) 0;
  }
  .form-actions {
    flex: none;
    width: 100%;
  }
  @include bp-min(medium) {
    .form-actions {
      flex: initial;
      width: auto;
      margin: 0 0 0 rem(20px);
    }
    .form-item-research-areas {
      margin: 0;
    }
  }
  @include bp-min(large) {
    .form-item-title {
      flex: initial;
      width: auto;
      margin: 0 rem(20px) 0 0;
    }
  }
}

.news-search-block--view {
  .form-actions input[type="submit"] {
    margin-right: rem(20px);
  }
  .form-item-title {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-item-research-areas {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-item-type {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-actions {
    flex: none;
    width: 100%;
  }
  @include bp-min(medium) {
    .form-actions {
      flex: initial;
      width: auto;
      margin: 0 0 0 rem(20px);
    }
    .form-item-research-areas {
      flex: initial;
      width: auto;
      margin: 0 rem(20px) 0 0;
    }
    .form-item-type {
      flex: initial;
      width: auto;
      margin: 0;
    }
    .form-actions {
      flex: none;
      width: 100%;
      margin: rem(32px) 0 0 0;
    }
  }
  @include bp-min(large) {
    .form-item-title {
      flex: initial;
      width: auto;
      margin: 0 rem(20px) 0 0;
    }
  }
}

.press-releases-search-block--view {
  .form-actions input[type="submit"] {
    margin-right: rem(20px);
  }
  .form-item-title {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-item-research-areas {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-item-type {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-actions {
    flex: none;
    width: 100%;
  }
  @include bp-min(medium) {
    margin-top: rem(80px);
    .form-actions {
      flex: initial;
      width: auto;
      margin: 0 0 0 rem(20px);
    }
    .form-item-research-areas {
      flex: initial;
      width: auto;
      margin: 0 rem(20px) 0 0;
    }
    .form-item-type {
      flex: initial;
      width: auto;
      margin: 0;
    }
    .form-actions {
      flex: none;
      width: 100%;
      margin: rem(32px) 0 0 0;
    }
  }
  @include bp-min(large) {
    margin-top: rem(140px);
    .form-actions {
      flex: initial;
      width: auto;
    }
    .form-item-title {
      flex: initial;
      width: auto;
      margin: 0 rem(20px) 0 0;
    }
  }
}

.jobs-search-block--view {
  .form-actions input[type="submit"] {
    margin-right: rem(20px);
  }
  .form-item-title {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-item-department {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-item-type {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-actions {
    flex: none;
    width: 100%;
  }
  @include bp-min(medium) {
    .form-actions {
      flex: initial;
      width: auto;
      margin: 0 0 0 rem(20px);
    }
    .form-item-department {
      flex: initial;
      width: auto;
      margin: 0 rem(20px) 0 0;
    }
    .form-item-type {
      flex: initial;
      width: auto;
      margin: 0;
    }
    .form-actions {
      flex: none;
      width: 100%;
      margin: rem(32px) 0 0 0;
    }
  }
  @include bp-min(large) {
    .form-actions {
      flex: initial;
      width: auto;
    }
    .form-item-title {
      flex: initial;
      width: auto;
      margin: 0 rem(20px) 0 0;
    }
  }
}

.events-search-block--view {
  .item-list__wrapper {
    margin: rem(64px) 0 0 0;
    @include bp-min(medium) {
      margin: rem(80px) 0 0 0;
    }
    @include bp-min(large) {
      margin: rem(80px) 0 0 0;
    }
    .item-list {
      grid-template-columns: repeat(1, 1fr);
      gap: rem(64px);
      & > .item-row {
        // padding-top: rem(32px);
        position: relative;
        &:before {
          content: "";
          background: var(--color-surf--grey);
          height: rem(1px);
          width: 100%;
          position: absolute;
          left: 0;
          top: -32px;
        }
      }
      @include bp-min(medium) {
        grid-template-columns: repeat(1, 1fr);
        gap: rem(80px);
        .item-row {
          &:before {
            top: -40px;
          }
        }
      }
      @include bp-min(large) {
        grid-template-columns: repeat(1, 1fr);
        gap: rem(80px);
        .item-row {
          &:before {
            top: -40px;
          }
        }
      }
    }
  }

  .form-actions input[type="submit"] {
    margin-right: rem(20px);
  }
  .form-item-title {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-item-department {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-item-location {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-item-event-type {
    flex: none;
    width: 100%;
    margin: 0 0 rem(32px) 0;
  }
  .form-actions {
    flex: none;
    width: 100%;
  }
  @include bp-min(medium) {
    .form-actions {
      flex: initial;
      width: auto;
      margin: 0 0 0 rem(20px);
    }
    .form-item-department {
      flex: initial;
      width: auto;
      margin: 0 rem(20px) 0 0;
    }
    .form-item-location {
      flex: initial;
      width: auto;
      margin: 0 rem(20px) 0 0;
    }
    .form-item-event-type {
      flex: none;
      width: 100%;
      margin: rem(32px) 0 0 0;
    }
    .form-actions {
      flex: none;
      width: 100%;
      margin: rem(32px) 0 0 0;
    }
  }
  @include bp-min(large) {
    .form-actions {
      flex: initial;
      width: auto;
    }
    .form-item-title {
      flex: initial;
      width: auto;
      margin: 0 rem(20px) 0 0;
    }
    .form-item-event-type {
      flex: initial;
      width: auto;
      margin: rem(32px) rem(20px) 0 0;
    }
  }
}
