//
// Global - Icons
//
// - 01 - Base
// - 02 - Icons
//


//------------------------------------
//  01 - Base
//------------------------------------

.icon {
  position: relative;

  &:before {
    content: '';
    display: block;
  }
}




//------------------------------------
//  02 - Icons
//------------------------------------

.icon.icon--illustration-calendar:before {
  background: url('../../../../images/illustrations/illustration-calendar.png') no-repeat center;
}

.icon.icon--illustration-comment:before {
  background: url('../../../../images/illustrations/illustration-calendar.png') no-repeat center;
}

.icon.icon--illustration-document:before {
  background: url('../../../../images/illustrations/illustration-document.png') no-repeat center;
}

.icon.icon--illustration-lightbulb:before {
  background: url('../../../../images/illustrations/illustration-lightbulb.png') no-repeat center;
}

.icon.icon--illustration-person:before {
  background: url('../../../../images/illustrations/illustration-person.png') no-repeat center;
}

.icon.icon--illustration-teacher:before {
  background: url('../../../../images/illustrations/illustration-teacher.png') no-repeat center;
}

.icon.icon--user:before {
  background: svg-load('icon-user.svg') no-repeat center;
}

.icon.icon--chevron-down:before {
  background: svg-load('icon-angle-down.svg') no-repeat center;
}

.icon.icon--search:before {
  background: svg-load('icon-search.svg') no-repeat center;
}
