//
// Global - Lists
//
// - 01 - General
//


//------------------------------------
//  01 - General
//------------------------------------

ul:not([class]),
ol:not([class]) {
  font-size: var(--surf-font-size-16);
  line-height: var(--surf-line-height-default);
  list-style-position: inside;
}

ul:not([class]):not(:first-child),
ol:not([class]):not(:first-child) {
  margin-top: 16px;
}
