img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;

  img {
    display: block;
  }
}

figure {
  figcaption {
    margin: rem(8px) 0 0 0;
    font-style: italic;
    font-size: rem(14px);
    line-height: 148%;
    color: var(--color-surf--grey);
  }
}
