@use '../../partials/partials' as *;


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  color: var(--color-text-heading);
  font-family: var(--font-family-heading);
  // font-weight: var(--font-weight-bold);

  > a {
    text-decoration: none;
  }

  + p {
    margin-top: 12px;
  }

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  margin: 0;
  @include surf-font-heading-one;
  @include bp-max(medium) {
    font-size: rem(48px);
  }
}

h2 {
  margin-top: 48px;
  @include surf-font-heading-two;
}

h3 {
  margin-top: 48px;
  @include surf-font-heading-three;
}

h4 {
  margin-top: 48px;
  @include surf-font-heading-four;
}

h5 {
  margin-top: 48px;
  @include surf-font-heading-five;
}

h6 {
  margin-top: 48px;
  @include surf-font-heading-six;
}

// Rule
hr {
  border: 0;
  border-bottom: 2px solid var(--color-surf--grey);
}

//
// Links
//
a {
  color: var(--color-surf--forest);
  font-weight: var(--font-weight-bold);
  &:hover,
  &:focus,
  &:active {
    color: var(--color-surf--black);
  }
}

p:not([class]) > a:not([class]),
li:not([class]) > a:not([class]) {
  text-decoration: underline;
  &:hover,
  &:focus,
  &:active {
    color: var(--color-link-hover);
    text-decoration: none;
  }
}

strong,
b {
  font-weight: var(--font-weight-bold);
}

//
// Copy
//
p,
li {
  //margin: 15px 0;
  //@include surf-font-body-medium;
}

blockquote:not([class]) {
  margin: rem(32px) 0;
  p {
    @include surf-font-heading-two;
  }
  & > p:first-child {
    margin-top: 0;
  }
  & > p:last-child {
    margin-bottom: 0;
  }
}

// Rich Text Styles
.field--name-field-text {
  p.intro-paragraph {
    @include surf-font-body-x-large;
  }
  p.large-paragraph {
    @include surf-font-body-large;
  }

  p a:not([class]) {
    color: var(--color-surf--forest);
    font-weight: var(--font-weight-bold);
    &:hover {
      color: var(--color-surf--forest);
    }
  }

  // Images
  img[data-align="right"] {
    @include bp-min(medium) {
      float: right;
      margin: 0 0 rem(10px) rem(10px);
    }
  }
  img[data-align="center"] {
    @include bp-min(medium) {
      margin: 0 auto;
      display: block;
    }
  }

  // Table

  table {
    border-collapse: collapse;
    border: none;
  }
  thead th {
    @include surf-font-body-large;
    border: none;
    color: var(--color-surf--black);
    font-weight: var(--font-weight-bold);
    padding: rem(12px) rem(20px);
  }
  thead td {
    border: none;
  }
  tr {
    border-top: rem(1px) solid var(--color-surf--grey);
  }
  tbody > tr:first-child {
    border-top: rem(1px) solid var(--color-surf--grey);
  }
  tbody > tr:last-child {
    border-bottom: rem(1px) solid var(--color-surf--grey);
  }
  tr:first-child {
    border-top: none;
  }
  td {
    border: none !important;
    padding: rem(12px) rem(20px);
  }
  tbody td {
    color: var(--color-surf--black);
    @include surf-font-body-medium;
  }
}
