@import "../../partials/_partials";

@custom-selector :--heading h1, h2, h3, h4, h5;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  color: var(--color-text-heading);
  font-family: var(--font-family-heading);
  // font-weight: var(--font-weight-bold);

  > a {
    text-decoration: none;
  }

  + p {
    margin-top: 12px;
  }

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  margin: 0;
  @include surf-font-heading-one;
}

h2 {
  margin-top: 48px;
  @include surf-font-heading-two;
}

h3 {
  margin-top: 48px;
  @include surf-font-heading-three;
}

h4 {
  margin-top: 48px;
  @include surf-font-heading-four;
}

h5 {
  margin-top: 48px;
  @include surf-font-heading-five;
}

h6 {
  margin-top: 48px;
  @include surf-font-heading-six;
}

// Rule
hr {
  border: 0;
  border-bottom: 2px solid var(--color-surf--black);
}

//
// Links
//
a {
  color: var(--color-link);
  font-weight: var(--font-weight-bold);
  &:hover,
  &:focus,
  &:active {
    color: var(--color-link-hover);
  }
}

p:not([class]) > a:not([class]),
li:not([class]) > a:not([class]) {
  text-decoration: underline;
  &:hover,
  &:focus,
  &:active {
    color: var(--color-link-hover);
    text-decoration: none;
  }
}

strong,
b {
  font-weight: var(--font-weight-bold);
}

//
// Copy
//
p,
li {
  margin: 15px 0;
  @include surf-font-body-medium;
}

// blockquote {
// margin: 15px 0;
// text-indent: -0.4em;
// font-style: italic;
// }
