{#
/**
 * @file
 * Default theme implementation to display a Section Paragraph.
 *
 * Available variables:
 * - No additional variables are available for this Paragraph type.
 *
 * @see templates/paragraphs/paragraph.html.twig
 */
#}

{% set classes = [
    'l-section',
    'paragraph',
    'paragraph--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
] %}

<section {{ attributes.addClass(classes) }}>
    {% if style_options['section_width'] == 'xlarge' %}
        <div class="container container--xlarge">
    {% elseif style_options['section_width'] == 'large' %}
        <div class="container container--large">
    {% elseif style_options['section_width'] == 'medium' %}
        <div class="container container--medium">
    {% elseif style_options['section_width'] == 'small' %}
        <div class="container container--small">
    {% endif %}
            {{ content }}
        </div>
</section>
