//
// Component - Notification
//
// - 01 - Imports
// - 02 - Layout
// - 03 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - Layout
//------------------------------------

.message.message--dashboard {
  @include bp-min(large) {
    display: flex;
    flex-flow: nowrap row;
  }

  .message__content--primary {
    @include bp-min(large) {
      width: 100%;
    }
  }

  .message__content--secondary {
    margin-block-start: 24px;

    @include bp-min(large) {
      flex-shrink: 0;
      margin-inline-start: var(--surf-grid-gap);
      margin-block-start: 0;
    }
  }

  &:first-child {
    margin-block-start: 0;
  }
}




//------------------------------------
//  03 - General
//------------------------------------

.message.message--dashboard {
  background-color: var(--surf-color-gray-100);
  margin-block-start: 16px;
  padding: var(--surf-grid-gap);

  .message__title {
    color: var(--surf-color-navy);
    font-size: var(--surf-fs-18-24-32-40);
    margin-block-end: 8px;
  }

  .message__text p {
    font-size: var(--surf-fs-16-18-24);
    line-height: 1.4;
  }

  .message__extra {
    color: var(--surf-color-gray-600);
    font-size: rem(16px);
    margin-block-start: 8px;
  }
}
