//
// @file
// Search form styles
//

.search-form {
  form {
    display: flex;
    flex-flow: row nowrap;

    .form-actions {
      margin: 0;
    }

    .form-item {
      margin: 0;

      input {
        margin: 0;
      }
    }
  }
}
