@use '../../00-base/partials/partials' as *;

.c-link-button {
  --space-inset-x: 0.75rem;
  --space-inset-y: 0.375rem;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-link);
  display: inline-flex;
  letter-spacing: rem(1.5px);
  line-height: 140%;
  padding: rem(6px) rem(12px);
  position: relative;
  text-decoration: none;
  text-transform: initial;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: var(--surf-font-condensed);
  font-size: rem(16px);
  font-weight: var(--surf-fw-bold);
  letter-spacing: 1.5px;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-background-hover);
    color: var(--color-link-hover);
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @include bp-min(large) {
    --space-inset-x: 1.125rem;
    --space-inset-y: 0.5rem;
    padding: var(--space-inset-y) var(--space-inset-x);
    font-family: var(--surf-font-condensed);
    font-size: rem(22px);
    font-weight: var(--surf-fw-bold);
    letter-spacing: 1.8px;
  }

  &.c-link-button--medium {
    font-size: var(--surf-fs-16);
    font-weight: var(--font-weight-bold);
    padding: rem(6px) rem(12px);
  }
}

// Support uppercase text
.link-button--uppercase {
  text-transform: uppercase;
}

// Solid button style is only a placeholder and does not impact styles

// Gradient button - only Forest Green
.link-button--gradient {
  z-index: 1;

  &::before {
    background: linear-gradient(90deg, transparent, #00492c);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

// Underline Styles
.link-button--underline {
  border-bottom: solid 2px var(--color-link-hover);
  padding: 0 0 8px;

  @include bp-min(large) {
    padding: 8px 5px 8px 0;
  }
}

.link-button--underline:hover,
.link-button--underline:focus {
  border-bottom-color: transparent;
  text-decoration: none;
}

// Icon styles
.link-button__icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-left: rem(10px);
}

.link-button__icon-left {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-right: rem(6px);
}

.c-link-button.link-button--underline {
  &.c-link-button--subscribe,
  &.c-link-button--video {
    border-bottom-color: var(--color-surf-forest);
    padding-left: 0;
    padding-right: 0;
    font-family: var(--surf-font-condensed);
    font-size: rem(16px);
    font-weight: var(--surf-fw-bold);
    letter-spacing: 1.5px;

    .link-button__icon {
      margin-left: rem(6px);
    }
  }
}
