//
// Component - Organism - Research Node
//
// - 01 - Imports
// - 02 - General
// - 03 - Modifiers
// - 04 - Context Overrides
//



//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;



//------------------------------------
//  02 - General
//------------------------------------
//

.o-research {
  // empty
}

.o-research__media {
  img {
    max-height: 480px;
    object-fit: cover;
    width: 100%;

    @include bp-min(xlarge) {
      max-height: 690px;
    }
  }
}

.o-research__overview {
  margin-block-end: rem(32px);
  @include bp-min(medium) {
    margin-block-end: rem(60px);
  }
}

.o-research__main-content,
.lpb-component-list {

  > :not( :last-child ) {
    margin-block-end: rem(28px);
  }
}

.o-research__additional-content {
  margin-block-start: rem(32px);

  @include bp-min(medium) {
    margin-block-start: rem(60px);
  }

  @include bp-min(large) {
    margin-block-start: rem(80px);
  }

  > :not( :last-child ) {
    margin-block-end: rem(32px);

    @include bp-min(medium) {
      margin-block-end: rem(60px);
    }

    @include bp-min(large) {
      margin-block-end: rem(80px);
    }
  }
}

.o-research__key-experiments {
  > :not( :last-child ) {
    margin-block-end: rem(40px);
  }
}

.o-research__in-the-news {
  > :not( :last-child ) {
    margin-block-end: rem(32px);

    @include bp-min(medium) {
      margin-block-end: rem(60px);
    }

    @include bp-min(large) {
      margin-block-end: rem(68px);
    }
  }
}

//------------------------------------
//  03 - Modifiers
//------------------------------------

.o-research--with-img
.o-header {
  @include bp-min(xlarge) {
    margin-block-start: rem(-120px);
  }
}



//------------------------------------
//  03 - Context Overrides
//------------------------------------

.o-research {
  .m-gallery {
    margin-block: rem(40px);
    @include bp-min(medium) {
      margin-block: rem(60px);
    }
  }
}