//
// Component - Molecule - Form
//
// - 01 - Imports
// - 02 - General
// - 03 - Modifiers
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - Page
//------------------------------------

.m-form.m-form--page { // Modifier for page layouts
  padding-block: 40px;

  @include breakpoints.bp-min(large) {
    padding-block: 80px;
  }

  input[type='text'],
  input[type='password'],
  input[type='date'],
  input[type='email'],
  input[type='number'] {
    inline-size: 100%;
  }

  .m-form__field:not(.m-form__field--checkbox, .m-form__field--radio, :last-child),
  form > .container > fieldset {
    margin-block-end: 40px;
  }

  .form-actions {
    margin-block-start: 64px;
  }

  .m-form__form > div:not(:first-child) {
    margin-block-start: var(--surf-grid-gap);
  }
}




//------------------------------------
//  03 - Inline
//------------------------------------

.m-form.m-form--inline { // Modifier for exposed filter forms
  display: flex;
  flex-flow: nowrap column;
  gap: 20px;

  @include breakpoints.bp-min(xlarge) {
    align-items: flex-end;
    flex-flow: nowrap row;
  }

  .m-form__fields {
    display: flex;
    flex-flow: nowrap column;
    gap: 20px;
    inline-size: 100%;

    @include breakpoints.bp-min(medium) {
      align-items: flex-end;
      flex-flow: nowrap row;
    }
  }


  .m-form__fields > .m-form__field {
    flex: 0 1 100%;
  }

  .m-form__fields > .m-form__field input,
  .m-form__fields > .m-form__field select {
    inline-size: 100%;
  }
}




//------------------------------------
//  03 - General
//------------------------------------

.m-form {
  .m-form__title {
    font-family: var(--surf-font-sans-alt);
    font-size: var(--surf-fs-40-52-64);
    font-weight: var(--surf-fw-medium);
    letter-spacing: calculations.rem(1.44px);
    line-height: var(--surf-lh-base);
    margin-block-end: 24px;
    text-transform: uppercase;

    @include breakpoints.bp-min(large) {
      margin-block-end: 40px;
    }
  }
}
