.m-form {
  //empty
}

.m-form--inline {
  max-inline-size: 780px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-inline: auto;

  .form-item {
    margin-block-end: 0;
  }

  .form-actions {
    display: flex;
    gap: 20px;
  }
}