{#
/**
 * @file
 * Page component for an Event
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - event_attributes: [string] Component reserved space for attributes.
 * - event_heading: [string] Value of the page title for this component.
 * - event_summary: [string] Value of sub-title text for this component.
 * - event_dates [string] Rendered array of dates relating to this component.
 * - event_link_text [string] Value that represents the text of the primary link.
 * - event_link_url [string] Value of the URL that represents the direction of the primary link.
 * - event_media: [array] Rendered array of the media object that represents this component.
 * - event_body [arary] Rendered array of all content placed on the page.
 *
 */
#}

{% set classes = [
    'p-event',
] %}

<article {{ event_attributes.addClass(classes).merge(attributes) }}>
    {% embed 'surf_main:header' with {
        header_heading: event_heading,
        header_label: 'Event',
        header_attributes: create_attribute({'class': ['o-header--grid']}),
        header_heading_level: '1',
        heading_attributes: create_attribute({'class': ['o-header__heading']}),
        event_dates,
        event_link_text,
        event_link_url,
    } only %}
        {% block header_links_block %}
            {{ drupal_breadcrumb() }}
        {% endblock %}

        {% block header_metadata_block %}
            <div class="p-event__meta-wrapper">
                {% if event_dates %}
                    <div class="p-event__dates">
                        <p>{{ event_dates }}</p>
                    </div>
                {% endif %}

                {% if event_link_url %}
                    {% include 'surf_main:button' with {
                        attributes,
                        button_attributes: create_attribute(),
                        button_color: 'navy',
                        button_external: true,
                        button_html_tag: 'link',
                        button_size: 'large',
                        button_style: 'primary',
                        button_title: event_link_text,
                        button_url: event_link_url,
                    } only %}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}

    <div class="container container--xlarge">
        <div class="p-event__inner-wrapper">
            {% embed 'surf_main:left-hook' with {
                left_hook_attributes: create_attribute(),
            } only %}
            {% endembed %}

            <div class="p-event__content-grid">
                {% if event_media %}
                    {% embed 'surf_main:media' with {
                        media_attributes: create_attribute({'class': ['p-event__media']}),
                        media: event_media,
                    } only %}
                        {% block media_block %}
                            {{ media }}
                        {% endblock %}
                    {% endembed %}
                {% endif %}

                <div class="p-event__body-wrapper">
                    {% if event_summary %}
                        {% embed 'surf_main:heading' with {
                            heading_attributes: create_attribute({'class': ['p-event__summary']}),
                            heading_text: event_summary,
                            heading_level: '2',
                        } only %}
                        {% endembed %}
                    {% endif %}

                    {% if event_body %}
                        {% embed 'surf_main:editor' with {
                            editor_attributes: create_attribute(),
                            editor_content: event_body,
                        } only %}
                        {% endembed %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</article>
