//
// Component - Molecule - Teasers
//
// - 01 - Imports
// - 02 - General
// - 03 - Super
// - 04 - List
// - 05 - 3 Column
// - 06 - 2 Column
// - 07 - 1 Column
// - 08 - Experiment
// - 09 - Standard
// - 10 - Curriculum
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/animations';
@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';
@use '../../../00-base/partials/layout';
@use '../../../00-base/partials/media';




//------------------------------------
//  02 - General
//------------------------------------

.m-teaser {
  &:hover a,
  &:focus-within a {
    text-decoration: underline !important;
  }

  .m-teaser__media {
    overflow: hidden;
    position: relative;
  }

  .m-teaser__media .a-media.media--remote-video {
    padding-block-start: 0;
  }

  .m-teaser__media img {
    transform: scale(1);
    transition: animations.transition(all, 0.35s, easeInOutExpo);
  }

  &:hover .m-teaser__media img,
  &:focus-within .m-teaser__media img {
    transform: scale(1.08);
  }

  .m-teaser__media-prefix {
    bottom: -1px;
    left: 0;
    position: absolute;
    z-index: var(--surf-zindex-over);
  }

  .m-teaser__content {
    width: 100%;
  }

  .m-teaser__tags {
    display: flex;
    font-size: calculations.rem(14px);
    line-height: var(--surf-lh-label);
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    > li {
      margin-inline-end: 16px;
    }

    > li a {
      margin-inline: 0 !important;
    }
  }

  .m-teaser__tags a {
    font-weight: var(--surf-fw-book);
  }

  .m-teaser__tags a .a-chip {
    font-weight: var(--surf-fw-bold);
  }

  .m-teaser__tags a:hover .a-chip,
  .m-teaser__tags a:focus .a-chip {
    text-decoration: underline;
  }

  .m-teaser__content-suffix .a-chip--white {
    color: var(--surf-color-gray-800);
    padding-inline-start: 0;
  }
}




//------------------------------------
//  03 - Super
//------------------------------------

.m-teaser.m-teaser--super {
  background-color: var(--surf-color-navy);
  color: var(--surf-color-white);
  overflow: hidden;
  position: relative;

  @include breakpoints.bp-min(large) {
    align-items: flex-end;
    display: flex;
    min-block-size: 512px;
  }

  @include breakpoints.bp-min(xlarge) {
    min-block-size: 690px;
  }

  @include breakpoints.bp-max(xlarge) {
    @include layout.full-width();
  }

  a {
    color: var(--surf-color-white);
  }

  .m-teaser__media {
    block-size: 210px;
    position: relative;

    @include breakpoints.bp-min(medium) {
      block-size: 384px;
    }

    @include breakpoints.bp-min(large) {
      block-size: 100%;
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
      z-index: var(--surf-zindex-default);
    }
  }

  .m-teaser__media *:not(img) {
    block-size: 100%;
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
  }

  .m-teaser__media img {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .m-teaser__media .a-media:before {
    background: fade-out(black, 0.75);
    block-size: 100%;
    content: '';
    display: block;
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
    z-index: var(--surf-zindex-default);
  }

  .m-teaser__media-prefix .a-chip.a-chip--white {
    color: var(--surf-color-black);
  }

  .m-teaser__media figcaption {
    display: none;
  }

  .m-teaser__content-prefix {
    margin-block-end: 24px;
    pointer-events: none;
  }

  .m-teaser__content {
    padding: 40px var(--surf-grid-gap);
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: var(--surf-zindex-over);

    @include breakpoints.bp-min(large) {
      background-color: transparent;
    }

    @include breakpoints.bp-min(xlarge) {
      padding: 64px;
    }
  }

  .m-teaser__title {
    font-size: calculations.rem(18px);

    @include breakpoints.bp-min(medium) {
      font-size: calculations.rem(24px);
    }

    @include breakpoints.bp-min(large) {
      font-size: calculations.rem(40px);
    }
  }

  p.m-teaser__content-text {
    font-size: var(--surf-fs-18-24);
    margin: 16px 0 0;
  }
}




//------------------------------------
//  05 - 3 Column
//------------------------------------

.l-threecol > .l-threecol__region > .m-teaser,
.l-threecol > .l-threecol__region > .paragraph--content-as-teaser > .m-teaser {
  display: flex;
  flex-flow: nowrap column;
  gap: 20px 32px;
  max-inline-size: 100%;

  @include breakpoints.bp-min(small) {
    align-items: flex-start;
    flex-flow: nowrap row;
  }

  @include breakpoints.bp-min(large) {
    flex-flow: nowrap column;
  }

  .m-teaser__media {
    block-size: auto;
    flex-shrink: 0;
    inline-size: 100%;

    @include breakpoints.bp-min(small) {
      inline-size: 30.25%;
    }

    @include breakpoints.bp-min(large) {
      inline-size: 100%;
    }
  }

  .m-teaser__media-prefix .a-chip.a-chip--white {
    color: var(--surf-color-black);
  }

  .m-teaser__title {
    font-size: var(--surf-fs-18-24);
  }

  &:hover .m-teaser__title a,
  &:focus-within .m-teaser__title a {
    color: var(--surf-color-black);
  }

  p.m-teaser__content-text {
    font-size: var(--surf-fs-16-18);
    margin-block-start: 8px;

    @include breakpoints.bp-min(large) {
      margin-block-start: 16px;
    }
  }

  .m-teaser__content-suffix {
    gap: 8px;
    margin: 8px 0 0;

    @include breakpoints.bp-min(large) {
      margin: 16px 0 0;
    }
  }

  .m-teaser__content-suffix a,
  .m-teaser__content-suffix span:not(.a-chip) {
    font-size: calculations.rem(14px);
    font-weight: var(--surf-fw-book);
    margin: 0 8px;
    white-space: pre;
  }
}




//------------------------------------
//  06 - 2 Column
//------------------------------------

.l-twocol > .l-twocol__region > .m-teaser,
.l-twocol > .l-twocol__region > .paragraph--content-as-teaser > .m-teaser {
  @include breakpoints.bp-min(small) {
    align-items: center;
    display: flex;
    flex-flow: nowrap row;
  }

  @include breakpoints.bp-min(medium) {
    flex-flow: nowrap column;
  }

  .m-teaser__media {
    margin-block-end: 20px;
    width: 100%;

    @include breakpoints.bp-min(small) {
      flex-shrink: 0;
      inline-size: 45%;
      margin-block-end: 0;
      margin-inline-end: 24px;
    }

    @include breakpoints.bp-min(medium) {
      inline-size: 100%;
      margin-block-end: 24px;
      margin-inline-end: 0;
    }
  }

  .m-teaser__media-prefix .a-chip.a-chip--white {
    color: var(--surf-color-black);
  }

  .m-teaser__media img,
  .m-teaser__content {
    inline-size: 100%;
  }

  .m-teaser__title {
    font-size: var(--surf-fs-18-24-40);
  }

  &:hover .m-teaser__title a,
  &:focus-within .m-teaser__title a {
    color: var(--surf-color-black);
  }

  p.m-teaser__content-text {
    font-size: var(--surf-fs-16-18-24);
    margin-block-start: 12px;

    @include breakpoints.bp-min(medium) {
      margin-block-start: 16px;
    }
  }

  .m-teaser__content-suffix {
    align-items: center;
    display: flex;
    margin-block-start: 12px;
  }

  .m-teaser__content-suffix p,
  .m-teaser__content-suffix a,
  .m-teaser__content-suffix li {
    font-size: calculations.rem(14px);
    line-height: var(--surf-lh-default);
  }

  .m-teaser__content-suffix > *:not(:first-child) {
    margin-inline-start: 12px;
    padding-inline-start: 12px;
    position: relative;

    &:before {
      background-color: var(--surf-color-gray-800);
      block-size: 14px;
      content: '';
      display: block;
      inline-size: 1px;
      margin-block: auto;
      margin-inline: auto;
      inset-inline-start: 0;
      inset-block: 0;
      position: absolute;
    }
  }

  .m-teaser__content-suffix .m-teaser__dates {
    font-size: calculations.rem(16px);
    font-weight: var(--surf-fw-bold);
    text-transform: uppercase;
  }
}




//------------------------------------
//  07 - 1 Column
//------------------------------------

.l-onecol > .l-onecol__region > .m-teaser:not(.m-teaser--super),
.l-onecol > .l-onecol__region > .paragraph--content-as-teaser > .m-teaser:not(.m-teaser--super) {
  @include breakpoints.bp-min(small) {
    align-items: center;
    display: flex;
    flex-flow: nowrap row;
  }

  .m-teaser__media {
    margin-block-end: 20px;
    inline-size: 100%;

    @include breakpoints.bp-min(small) {
      flex-shrink: 0;
      margin-block-end: 0;
      margin-inline-end: 32px;
      inline-size: 45%;
    }

    @include breakpoints.bp-min(xlarge) {
      margin-inline-end: 56px;
    }
  }

  .m-teaser__title {
    font-size: var(--surf-fs-18-24-40);
  }

  &:hover .m-teaser__title a,
  &:focus-within .m-teaser__title a {
    color: var(--surf-color-black);
  }

  p.m-teaser__content-text {
    font-size: var(--surf-fs-16-18-24);
    margin-block-start: 12px;

    @include breakpoints.bp-min(medium) {
      margin-block-start: 16px;
    }
  }

  .m-teaser__content-suffix {
    margin-block-start: 4px;

    @include breakpoints.bp-min(medium) {
      margin-block-start: 12px;
    }

    @include breakpoints.bp-min(large) {
      margin-block-start: 18px;
    }
  }
}

.l-onecol--listing > .l-onecol__region > .m-teaser:not(.m-teaser--super),
.l-onecol--listing > .l-onecol__region > .paragraph--content-as-teaser > .m-teaser:not(.m-teaser--super) {
  @include breakpoints.bp-min(small) {
    align-items: flex-start;
  }

  .m-teaser__media {
    margin-block-end: 20px;
    inline-size: 100%;

    @include breakpoints.bp-min(small) {
      flex-shrink: 0;
      inline-size: 45%;
      margin-block-end: 0;
      margin-inline-end: 0;
      margin-inline-start: 32px;
      order: 1;
    }

    @include breakpoints.bp-min(xlarge) {
      margin-inline-start: 56px;
    }
  }
}




//------------------------------------
//  08 - Experiment
//------------------------------------

.m-teaser.m-teaser--experiment {
  .m-teaser__title {
    font-size: var(--surf-fs-18-24);
    font-weight: var(--surf-fw-bold);
    line-height: var(--surf-lh-label);
    margin-block-end: calculations.rem(12px);
  }

  .m-teaser__link {
    text-decoration: none;
  }

  .m-teaser__content-text {
    font-size: var(--surf-fs-16-18);
    line-height: var(--surf-lh-label);
    margin-block-end: calculations.rem(12px);
    margin-block-start: 0;
  }

  .m-teaser__content-suffix {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .m-teaser__content-suffix a,
  .m-teaser__content-suffix span:not(.a-chip) {
    font-size: calculations.rem(14px);
    font-weight: var(--surf-fw-book);
    white-space: pre;
  }

  .m-teaser__content-suffix span:not(.a-chip ):not(:last-child),
  .m-teaser__content-suffix a:not(:last-child) {
    @include breakpoints.bp-min(medium) {
      border-left: solid 1px var(--surf-color-gray-800);
    }
  }

  .m-teaser__content-suffix > * {
    position: relative;
  }

  .m-teaser__content-suffix > *:not(:first-child) {
    padding-inline-start: 8px;

    &:after {
      background-color: var(--surf-color-gray-800);
      block-size: 16px;
      content: '';
      inline-size: 1px;
      inset-block: 0;
      inset-inline-start: 0;
      margin-block: auto;
      position: absolute;
    }
  }

  .m-teaser__dates {
    color: var(--surf-color-gray-800);
    font-family: var(--surf-font-condensed);
    font-size: calculations.rem(16px);
    font-weight: var(--surf-fw-bold);
    letter-spacing: 1px;
    line-height: var(--surf-lh-label);
    position: relative;
    text-transform: uppercase;
  }
}

.l-threecol > .l-threecol__region > .m-teaser--experiment,
.l-threecol > .l-threecol__region > .paragraph--content-as-teaser > .m-teaser--experiment {
  .m-teaser__media {
    display: none;
  }
}




//------------------------------------
//  09 - Standard
//------------------------------------

.m-teaser.m-teaser--standard {
  .m-teaser__title {
    font-size: var(--surf-fs-16-18);
    line-height: var(--surf-lh-label);
    margin-block-end: calculations.rem(4px);
  }

  .m-teaser__link {
    display: inline-block;
    font-weight: var(--surf-fw-book);
    margin-block-end: calculations.rem(4px);
    text-decoration: underline;
    text-decoration-thickness: 2px;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .m-teaser__content-text {
    font-size: var(--surf-fs-16-18);
    line-height: var(--surf-lh-label);
    margin-block-start: 0;
  }
}




//------------------------------------
//  10 - Curriculum
//------------------------------------

.m-teaser.m-teaser--curriculum {
  position: relative;

  .m-teaser__tags {
    margin-block-start: calculations.rem(12px);
  }

  .m-teaser__content {
    @include breakpoints.bp-min(small) {
      margin-block-end: 24px;
    }

    @include breakpoints.bp-min(large) {
      margin-block-end: 0;
    }
  }

  .m-teaser__content-text {
    margin-block-start: calculations.rem(12px);
  }

  + .status-description {
    margin-block-start: -40px;

    @include breakpoints.bp-min(small) {
      inset-block-end: 0;
      inset-inline-start: calc(30.25% + 32px);
      margin-block-start: 0;
      position: absolute;
    }

    @include breakpoints.bp-min(large) {
      inset-inline-start: 0;
      margin-block-start: -40px;
      position: relative;
    }
  }
}




//------------------------------------
//  11 - Areas of Research
//------------------------------------

.l-onecol.l-onecol--listing .m-teaser.m-teaser--research-area {
  @include breakpoints.bp-min(small) {
    align-items: center;
  }

  .m-teaser__media {
    inline-size: 200px;

    @include breakpoints.bp-min(small) {
      inline-size: 32%;
    }
  }

  .m-teaser__title {
    font-size: var(--surf-fs-18-24-32-40);
  }

  .m-teaser__title a {
    display: inline-block;
    padding-inline-end: 40px;
    position: relative;

    @include breakpoints.bp-min(medium) {
      padding-inline-end: 56px;
    }

    &:after {
      --icon-arrow-right: svg-load('icon-arrow-right.svg');
      background-color: var(--surf-color-navy);
      block-size: 32px;
      content: '';
      inline-size: 32px;
      inset-block: 0;
      inset-inline-end: 0;
      margin-block: auto;
      mask: var(--icon-arrow-right) no-repeat center;
      mask-size: contain;
      position: absolute;
      transition: animations.transition(all, 0.35s, easeInOutExpo);
      transform: translateX(0);

      @include breakpoints.bp-min(medium) {
        block-size: 40px;
        inline-size: 40px;
        inset-block: 4px 0;
      }
    }

    &:hover:after,
    &:focus:after {
      background-color: var(--surf-color-black);
      transform: translateX(4px);
    }
  }
}

.l-onecol.l-onecol--listing > .l-onecol__region:nth-child(odd) .m-teaser.m-teaser--research-area {
  .m-teaser__media {
    order: -1;

    @include breakpoints.bp-min(small) {
      margin-inline: 0 56px;
    }
  }
}

.l-onecol.l-onecol--listing > .l-onecol__region:nth-child(even) .m-teaser.m-teaser--research-area {
  .m-teaser__media {
    order: 1;

    @include breakpoints.bp-min(small) {
      margin-inline: 56px 0;
    }
  }
}




//------------------------------------
//  09 - Events
//------------------------------------

.m-teaser.m-teaser--event {
  .m-teaser__title {
    font-size: var(--surf-fs-18-24-32) !important;
  }

  .m-teaser__content-suffix {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-block-start: 24px;

    @include breakpoints.bp-min(large) {
      margin-block-start: 40px;
    }
  }

  .m-teaser__dates {
    font-size: var(--surf-fs-16-18);
    font-weight: var(--surf-fw-bold);
  }
}

.l-onecol--listing > .l-onecol__region > .m-teaser.m-teaser--event:not(.m-teaser--super),
.l-onecol--listing > .l-onecol__region > .paragraph--content-as-teaser > .m-teaser.m-teaser--event:not(.m-teaser--super) {
  .m-teaser__media {
    @include breakpoints.bp-min(small) {
      inline-size: 40%;
    }
  }
}




//------------------------------------
//  10 - Search Result
//------------------------------------

.m-teaser.m-teaser--search-result {
  display: flex;

  .m-teaser__title {
    font-size: var(--surf-fs-18-24-32) !important;
  }
}

.l-onecol--listing > .l-onecol__region > .m-teaser.m-teaser--search-result:not(.m-teaser--super),
.l-onecol--listing > .l-onecol__region > .paragraph--content-as-teaser > .m-teaser.m-teaser--search-result:not(.m-teaser--super) {
  .m-teaser__media {
    @include breakpoints.bp-min(small) {
      inline-size: 50%;
    }
  }
}
