//
// Component - Molecule - Breadcrumbs
//
// - 01 - Imports
// - 02 - General
// - 03 - Default
// - 04 - Large
// - 05 - Single Back
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - General
//------------------------------------

.m-teaser {
  &:hover a,
  &:focus-within a {
    text-decoration: underline;
  }

  .m-teaser__media {
    overflow: hidden;
    position: relative;
  }

  .m-teaser__media img {
    transform: scale(1);
    transition: transition(all, 0.35s, easeInOutExpo);
  }

  &:hover .m-teaser__media img,
  &:focus-within .m-teaser__media img {
    transform: scale(1.08);
  }

  .m-teaser__media-prefix {
    bottom: -1px;
    left: 0;
    position: absolute;
    z-index: var(--surf-zindex-over);
  }
}




//------------------------------------
//  03 - Super
//------------------------------------

.m-teaser.m-teaser--super {
  color: var(--surf-color-white);
  position: relative;
  width: 100%;

  @include bp-max(xlarge) {
    margin-left: calc(var(--surf-grid-gap) * -1);
    width: 100vw;
  }

  @include bp-min(large) {
    min-height: 690px;
  }

  a {
    color: var(--surf-color-white);
  }

  .m-teaser__media,
  .m-teaser__media *:not(img) {
    @include bp-min(large) {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .m-teaser__media img {
    width: 100%;

    @include bp-min(large) {
      @include background-image();
    }
  }

  .m-teaser__content-prefix {
    margin-bottom: 24px;
    pointer-events: none;
  }

  .m-teaser__content {
    background-color: var(--surf-color-navy);
    padding: 40px var(--surf-grid-gap);
    pointer-events: none;
    width: 100%;

    @include bp-min(large) {
      background-color: transparent;
      bottom: 0;
      left: 0;
      padding: 40px;
      position: absolute;
    }

    @include bp-min(xlarge) {
      padding: 64px;
    }
  }

  .m-teaser__title {
    font-size: var(--surf-fs-18-24-40);
  }

  p.m-teaser__content-text {
    margin: 16px 0 0;
  }
}




//------------------------------------
//  04 - List
//------------------------------------

.m-teaser.m-teaser--list {
  @include bp-min(medium) {
    align-items: center;
    display: flex;
    flex-flow: nowrap row;
  }

  &:hover a,
  &:focus-within a {
    color: var(--surf-color-black);
  }

  .m-teaser__media {
    margin-bottom: 24px;
    width: 210px;

    @include bp-min(medium) {
      flex-shrink: 0;
      margin-bottom: 0;
      margin-left: 32px;
      order: 1;
    }

    @include bp-min(large) {
      margin-left: 56px;
      width: 300px;
    }

    @include bp-min(xlarge) {
      margin-left: 176px;
      width: 540px;
    }
  }

  .m-teaser__title {
    font-size: var(--surf-fs-18-24-32);
  }

  p.m-teaser__content-text {
    font-size: var(--surf-fs-16-18-24);
    margin-top: 12px;
  }

  .m-teaser__content-suffix {
    margin-top: 24px;

    @include bp-min(large) {
      margin-top: 40px;
    }
  }

  .m-teaser__content-suffix span.a-chip:first-child {
    display: block;
    margin-bottom: 16px;
    width: fit-content;

    @include bp-min(large) {
      display: inline-flex;
      margin-bottom: 0;
      width: initial;
    }
  }

  .m-teaser__content-suffix span.a-chip:not(:last-child) {
    margin-right: 16px;
  }

  .m-teaser__content-suffix span:not(.a-chip) {
    display: block;
    font-size: var(--surf-fs-16-18);
    font-weight: var(--surf-fw-bold);
    width: fit-content;

    @include bp-min(medium) {
      display: initial;
      width: initial;
    }
  }

  .m-teaser__content-suffix span:not(.a-chip):not(:last-child) {
    @include bp-min(medium) {
      border-right: solid 1px var(--surf-color-gray-800);
      margin-right: 18px;
      padding-right: 20px;
    }
  }
}




//------------------------------------
//  05 - 3 Column
//------------------------------------

.m-teaser.m-teaser--col-3 {
  @include bp-min(small) {
    align-items: center;
    display: flex;
    flex-flow: nowrap row;
  }

  @include bp-min(xlarge) {
    flex-flow: nowrap column;
  }

  .m-teaser__media {
    margin-bottom: 20px;
    width: 100%;

    @include bp-min(small) {
      flex-shrink: 0;
      margin-bottom: 0;
      margin-right: 24px;
      width: 45%;
    }

    @include bp-min(xlarge) {
      margin-bottom: 24px;
      margin-right: 0;
      width: 100%;
    }
  }

  .m-teaser__title {
    font-size: var(--surf-fs-18-24);
  }

  &:hover .m-teaser__title a,
  &:focus-within .m-teaser__title a {
    color: var(--surf-color-black);
  }

  p.m-teaser__content-text {
    font-size: var(--surf-fs-16-18);
    margin-top: 12px;

    @include bp-min(medium) {
      margin-top: 16px;
    }
  }

  .m-teaser__content-suffix {
    margin: 8px -8px 0;

    @include bp-min(medium) {
      margin: 16px -8px 0;
    }
  }

  .m-teaser__content-suffix a,
  .m-teaser__content-suffix span:not(.a-chip) {
    font-size: rem(14px);
    font-weight: var(--surf-fw-book);
    margin: 0 8px;
    white-space: pre;
  }
}




//------------------------------------
//  05 - 2 Column
//------------------------------------

.m-teaser.m-teaser--col-2 {
  @include bp-min(small) {
    align-items: center;
    display: flex;
    flex-flow: nowrap row;
  }

  @include bp-min(xlarge) {
    flex-flow: nowrap column;
  }

  .m-teaser__media {
    margin-bottom: 20px;
    width: 100%;

    @include bp-min(small) {
      flex-shrink: 0;
      margin-bottom: 0;
      margin-right: 24px;
      width: 45%;
    }

    @include bp-min(xlarge) {
      margin-bottom: 24px;
      margin-right: 0;
      width: 100%;
    }
  }

  .m-teaser__title {
    font-size: var(--surf-fs-18-24-40);
  }

  &:hover .m-teaser__title a,
  &:focus-within .m-teaser__title a {
    color: var(--surf-color-black);
  }

  p.m-teaser__content-text {
    font-size: var(--surf-fs-16-18-24);
    margin-top: 12px;

    @include bp-min(medium) {
      margin-top: 16px;
    }
  }

  .m-teaser__content-suffix {
    margin: 8px -8px 0;

    @include bp-min(medium) {
      margin: 16px -8px 0;
    }
  }

  .m-teaser__content-suffix a,
  .m-teaser__content-suffix span:not(.a-chip) {
    font-size: rem(14px);
    font-weight: var(--surf-fw-book);
    margin: 0 8px;
    white-space: pre;
  }

  .m-teaser__content-suffix span:not(.a-chip):not(:last-child),
  .m-teaser__content-suffix a:not(:last-child) {
    @include bp-min(medium) {
      border-left: solid 1px var(--surf-color-gray-800);
    }
  }
}




//------------------------------------
//  06 - 1 Column
//------------------------------------

.m-teaser.m-teaser--col-1 {
  @include bp-min(small) {
    align-items: center;
    display: flex;
    flex-flow: nowrap row;
  }

  .m-teaser__media {
    margin-bottom: 20px;
    width: 100%;

    @include bp-min(small) {
      flex-shrink: 0;
      margin-bottom: 0;
      margin-right: 32px;
      width: 45%;
    }

    @include bp-min(xlarge) {
      margin-right: 56px;
    }
  }

  .m-teaser__title {
    font-size: var(--surf-fs-18-24-40);
  }

  &:hover .m-teaser__title a,
  &:focus-within .m-teaser__title a {
    color: var(--surf-color-black);
  }

  p.m-teaser__content-text {
    font-size: var(--surf-fs-16-18-24);
    margin-top: 12px;

    @include bp-min(medium) {
      margin-top: 16px;
    }
  }

  .m-teaser__content-suffix {
    margin: 8px -8px 0;

    @include bp-min(medium) {
      margin: 16px -8px 0;
    }
  }

  .m-teaser__content-suffix a,
  .m-teaser__content-suffix span:not(.a-chip) {
    font-size: rem(14px);
    font-weight: var(--surf-fw-book);
    margin: 0 8px;
    white-space: pre;
  }

  .m-teaser__content-suffix span:not(.a-chip):not(:last-child),
  .m-teaser__content-suffix a:not(:last-child) {
    @include bp-min(medium) {
      border-left: solid 1px var(--surf-color-gray-800);
    }
  }
}
