//
// Component - Organism - View Embed
//
//
// - 01 - Imports
// - 02 - General
//



//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;



//------------------------------------
//  02 - General
//------------------------------------

.o-view-embed {
  //empty
}

.o-view-embed__header {
  font-size: rem(14px);
  line-height: var(--surf-lh-label);
  margin-block-start: rem(20px);
}

.o-view-embed__rows {
  margin-block: rem(68px);

  //style no results message
  > p {
    margin-block: rem(68px);
  }
}

.o-view-embed__title {
  margin-block-end: rem(20px);
}

