//
// Component - Page - Basic Page
//
// - 01 - Imports
// - 02 - Layout
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - Layout
//------------------------------------

.p-page {
  padding-block-end: 32px;

  @include breakpoints.bp-min(medium) {
    padding-block-end: 90px;
  }

  @include breakpoints.bp-min(large) {
    padding-block-end: 120px;
  }

  .m-breadcrumbs {
    display: none;

    @include breakpoints.bp-min(large) {
      display: block;
    }
  }

  &.p-page--with-img .p-page__header {
    @include breakpoints.bp-min(xlarge) {
      background-color: var(--surf-color-white);
      margin-block-start: calculations.rem(-120px);
    }
  }

  .p-page__header {
    margin-inline: auto;
    max-inline-size: var(--surf-width-xlarge);
    padding-block: 32px;
    position: relative;

    @include breakpoints.bp-min(medium) {
      padding-block: 60px;
    }

    @include breakpoints.bp-min(xlarge) {
      padding-inline: 80px;
    }
  }

  .p-page__media figcaption {
    inset-block-start: 0;
    inset-block-end: inherit;
  }

  .p-page__media img {
    block-size: 380px;
    object-fit: cover;
    width: 100%;

    @include breakpoints.bp-min(xlarge) {
      block-size: 690px;
    }
  }

  .p-page__overview {
    margin-block-end: 32px;

    @include breakpoints.bp-min(medium) {
      margin-block-end: 60px;
    }
  }
}




//------------------------------------
//  03 - Modifiers
//------------------------------------

.p-page {
  &.p-page--respect-case .o-header__heading {
    text-transform: none;
  }

  &.p-page--respect-case .a-button.a-button--primary.a-button--large.a-button--navy {
    text-transform: none;
  }
}
