//
// Component - Molecule - Contact
//
// - 01 - Imports
// - 02 - Layout
// - 03 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

// TBD




//------------------------------------
//  02 - Layout
//------------------------------------

.m-footer-menu {
  ul.m-menu__list {
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
  }
}




//------------------------------------
//  03 - General
//------------------------------------

.m-footer-menu {
  ul.m-menu__list > li:not(:first-child) {
    margin-block-start: 4px;
  }

  ul.m-menu__list > li > a {
    color: var(--surf-color-white);
    font-size: var(--surf-fs-16-22);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--surf-color-gray-300);
      text-decoration: underline;
    }
  }
}
