//
// Component - Organism - Section
//
// - 01 - Imports
// - 02 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';




//------------------------------------
//  02 - Layout
//------------------------------------

.l-section {
  &.l-section--align-top > .container > * {
    align-items: flex-start;
  }

  &.l-section--align-middle > .container > * {
    align-items: center;
  }

  &.l-section--align-bottom > .container > * {
    align-items: flex-end;
  }

  &.l-section--gray,
  &.l-section--blue-gradient {
    padding-block: 32px;

    @include breakpoints.bp-min(medium) {
      padding-block: 64px;
    }

    @include breakpoints.bp-min(large) {
      padding-block: 80px;
    }
  }

  &.l-section--gray + .l-section--gray {
    padding-block-start: 0;
  }
}




//------------------------------------
//  03 - Gray
//------------------------------------

.l-section--gray {
  background-color: var(--surf-color-gray-100);
}




//------------------------------------
//  04 - Blue Gradient
//------------------------------------

.l-section--blue-gradient {
  background: var(--surf-gradient-vt-blue-02);
  color: var(--surf-color-white);
  position: relative;

  > .container {
    position: relative;
    z-index: var(--surf-zindex-over);
  }

  canvas {
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
    z-index: var(--surf-zindex-default);
  }
}
