{#
/**
 * @file user-request.html.twig
 * Default theme implementation to present User request data.
 *
 * This template is used when viewing User request pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_request()
 *
 * @ingroup themeable
 */
#}

{% set rendered_content = content|without(
    'field_curriculum_unit',
    'state',
) %}

{% if content %}
    {{ content.field_curriculum_unit|field_value }}
    <p class="status-description">{{ content.state|field_value }}</p>
    {{ rendered_content }}
{% endif %}
