{#
/**
 * @file
 * Component for Editor
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Any Drupal additional attributes.
 * - editor_attributes: [array] Any component level attributes.
 * - editor_content: [string] Content for the editor component.
 *
 * Example usage:
{% embed 'surf_main:editor' with {
  editor_attributes: create_attribute(),
  editor_content: body,
} only %}
{% endembed %}
 */
#}

{% set classes = [
    'a-editor',
    'clearfix'
] %}

<div {{ editor_attributes.addClass(classes).merge(attributes) }}>
    {{ editor_content }}
</div>