{#
/**
 * @file
 * Atom component for Editor
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Any Drupal additional attributes.
 * - editor_attributes: [array] Any component level attributes.
 * - editor_content: [string] Content for the editor component.
 *
 */
#}

{% set classes = [
    'a-editor',
    'clearfix',
    editor_content_align ? 'a-editor--' ~ editor_content_align,
] %}

<div {{ editor_attributes.addClass(classes).merge(attributes) }}>
    {{ editor_content }}
</div>