//
// Component - Organism - Curriculum
//
// - 01 - Imports
// - 02 - General
// - 03 - Contexts
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - General
//------------------------------------

.p-curriculum {
  margin-block-end: rem(32px);
  @include bp-min(large) {
    margin-block-end: rem(68px);
  }
}

.p-curriculum__meta {
  padding: rem(20px);
  margin-block-start: rem(32px);
  background-color: var(--surf-color-gray-100);
  display: flex;
  gap: rem(20px);
  flex-wrap: wrap;
  inline-size: 100%;

  @include bp-min(medium) {
    padding: rem(40px);
    gap: rem(40px) rem(60px);
  }
  @include bp-min(large) {
    padding: rem(60px);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li:not(:last-child) {
    margin-block-end: rem(8px);
  }

  a {
    font-weight: var(--surf-fw-book);
    font-size: var(--surf-fs-16-18-24);
  }
}

.p-curriculum__content {
  margin-block-start: rem(60px);
  margin-block-end: rem(32px);
  @include bp-min(medium) {
    margin-block-end: rem(90px);
  }

  > *:not(:last-child) {
    margin-block-end: rem(32px);
    @include bp-min(large) {
      margin-block-end: rem(48px);
    }
  }
}

.p-curriculum__meta-label {
  font-family: var(--surf-font-condensed);
  font-size: rem(16px);
  font-weight: var(--surf-fw-bold);
  line-height: var(--surf-lh-label);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-block-end: rem(8px);
}

.p-curriculum__meta-time {
  font-size: var(--surf-fs-16-18-24);
}

.p-curriculum__request-button {
  margin-block-start: rem(32px);
}

.p-curriculum__standards {
  max-inline-size: var(--surf-width-small);

  .a-editor h2 {
    margin-block-end: rem(16px);
  }

  ol,
  ul {
    margin: 0;
    padding: 0;
    li:not(:last-child) {
      margin-block-end: rem(16px);
    }
  }
}

.p-curriculum__more-view {
  .a-heading {
    margin-block-end: rem(32px);
    @include bp-min(medium) {
      margin-block-end: rem(60px);
    }
  }
}

.p-curriculum__back-button {
  margin-block: rem(32px);
  @include bp-min(medium) {
    margin-block: rem(60px);
  }
}



//------------------------------------
//  03 - Contexts
//------------------------------------

.p-curriculum {

  .o-header__content {
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: calc(1143px + (var(--surf-grid-gap) * 2));
    padding-block-start: rem(32px);
    padding-inline: var(--surf-grid-gap);

    .o-header__summary {
      margin-block-start: rem(12px);
    }
  }

  .o-resource-list {
    margin-inline: revert;
    max-inline-size: rem(900px);
  }
}

