{#
 /**
  * @file
  * Default theme implementation of border preview box.
  *
  * @ingroup themeable
  */
#}

{{ attach_library('bootstrap_styles/plugins_groups.border.border_preview') }}

<div data-bs-element="bs_preview-box" id="bs-border-preview">
  {{ 'Preview'|t }}
</div>
