<section {{ attributes.addClass(['c-header', header_text_style, header_particle_style, 'l-constrained--xlarge', 'l--bottom-spacing']).merge(clAttributes) }}>
  {% if heading %}
    <h2>{{heading}}</h2>
  {% endif %}
</header>
