@use '../../00-base/partials/partials' as *;

.c-resources-file {
  display: flex;
  flex-direction: column;
}

.c-resources-file__title-wrapper {
  display: flex;
  position: relative;
  width: 100%;

  &::before {
    background-image: inline-svg(
      '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="#00492C" stroke-width="1.5" d="M4 21.334V2.667H14.89l4.667 4.667v14H4Z"/><path stroke="#00492C" stroke-width="1.5" d="M14.889 2.667v4.667h4.666"/><path stroke="#222" stroke-width="1.5" d="M6.967 11.223h9.29M6.967 14.334h9.29M6.967 17.444h6.194"/></svg>'
    );
    background-position: center center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: rem(24px);
    margin: 0 rem(6px) 0 0;
    width: rem(24px);
  }
}

.c-resources-file__link {
  color: var(--color-surf--forest);
  font-size: rem(16px);
  font-weight: var(--font-weight-regular);
  line-height: 148%;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.c-resources-file__meta-wrapper {
  color: var(--color-surf--black);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: rem(16px);
  font-weight: var(--font-weight-regular);
  line-height: 148%;
  padding: 0 0 0 rem(30px);
}

.c-resources-file__size {
  margin: 0 rem(8px) 0 0;
  padding: 0 rem(10px) 0 0;
  position: relative;

  &:after {
    background: var(--color-surf--black);
    content: '';
    font-weight: var(--font-weight-regular);
    height: rem(12px);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: rem(1px);
  }
}

.c-resources-file__mimetype {
  text-transform: uppercase;
}
