<section {{ clAttributes.addClass('c-list').addClass(['c-list--' ~ items|length ~ '-columns', style, 'l-constrained', 'c-list--default-column']) }}>
  <div class="c-list--inner-wrapper">
    <div class="c-list--main">

    {% if items %}
    <ul class="c-list__items">
      {% for key, item in items %}
      {% block items_block %}

      <li class="c-list__item">
        {{item.content|check_markup('plain')}}
      </li>
      {% endblock %}
      {% endfor %}
    </ul>
    {% endif %}

    </div>
  </div>
</section>