<article{{ attributes.addClass(['article']) }}>

  <header class="article__header l-constrained">
    {{ title_prefix }}
    {% include '@prototype-components/page-title/page-title.twig' with {
      text: label
    } only %}
    {{ title_suffix }}
  </header>

  <div class="l--1-col l-constrained">
    <div class="l__primary">
      {% if content %}
        {{ content }}
      {% endif %}
    </div>
  </div>
</article>
