<article{{attributes.addClass(['article'])}}>
	{# article__header l-constrained #}
	<header class="">
		{{ title_prefix }}
		{% include 'page-title' with {
    text: label
    } only %}
		{{ title_suffix }}
	</header>
	{# l--1-col l-constrained #}
	<div class="">
		<div class="l__primary">
			{% if content %}
				{{ content }}
			{% endif %}
			<h2>Component Library</h2>
			{# Add Components here 👇🏻 #}

			<!-- Page Heading / Hero -->


	{# Teaser: Super  #}
	<div class="l-stack  u-padding">
		<hr />
		<h3>News Teasers (super): One Column Layout</h3>
	</div>

		<div class="c-layout c-layout--layout-onecolumn">
			<div class="c-layout--inner-wrapper">
				<!-- Content -->
				<div class="c-layout--main">

					<!-- Column One -->
					<div class="c-layout--region c-layout--primary">
						{% include "teaser" with {
						layout: 'super', title: 'Excavation of huge caverns for DUNE particle detector is underway', body: '<p>To date, about 274,000 tons of rock have been removed—more than a third of the 800,000 tons that needs to be extracted.</p>', url: 'https://github.com', category: 'Featured', category_url: 'https://github.com', teaser_date: 'August 18, 2022', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg',  alt: 'Atl text example'
					} %}
					</div>

				</div>
			</div>
		</div>


		{# Teaser: Stack  #}
		<div class="l-stack  u-padding">
		<hr />
		<h3>News Teasers (column stack): One Column Layout</h3>
		</div>
		<div class="c-layout c-layout--layout-onecolumn">
			<div class="c-layout--inner-wrapper">
				<!-- Content -->
				<div class="c-layout--main">

					<!-- Column One -->
					<div class="c-layout--region c-layout--primary">
						{% include "teaser" with {
						layout: 'column-stack', title: 'Excavation of huge caverns for DUNE particle detector is underway', body: '<p>To date, about 274,000 tons of rock have been removed—more than a third of the 800,000 tons that needs to be extracted.</p>', url: 'https://github.com', category: 'Featured', category_url: 'https://github.com', teaser_date: 'August 18, 2022', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg',  alt: 'Atl text example'
					} %}
					</div>

				</div>
			</div>
		</div>

		<div class="l-stack  u-padding">
		<hr />
		<h3>News Teasers (column stack): Two Column Layout</h3>
		</div>
		<div class="c-layout c-layout--layout-twocolumn-halves">
			<div class="c-layout--inner-wrapper">
				<!-- Content -->
				<div class="c-layout--main">

					<!-- Column One -->
					<div class="c-layout--region c-layout--primary">
						{% include "teaser" with {
						layout: 'column-stack', title: 'Interning a mile beneath the surface, 2022 summer interns share their experiences', body: '<p>Students in a variety of fields get real-world experience during 10-week summer internships at SURF.</p>', url: 'https://github.com', category: 'Featured', category_url: 'https://github.com', teaser_date: 'August 18, 2022', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg',  alt: 'Atl text example'
					} %}
					</div>

					<!-- Column Two -->
					<div class="c-layout--region c-layout--secondary">
						{% include "teaser" with {
						layout: 'column-stack', title: 'Researchers create 3D seismic array at SURF', body: '<p>The 3D DAS experiment is studying digital acoustic sensing techniques with a novel, three-dimensional seismic array at SURF.</p>', url: 'https://github.com', category: 'Featured', category_url: 'https://github.com', teaser_date: 'August 18, 2022', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg',  alt: 'Atl text example'
					} %}
					</div>

				</div>
			</div>
		</div>


		<div class="l-stack  u-padding">
		<hr />
		<h3>News Teasers (column stack): Three Column Layout</h3>
		</div>
		<div class="c-layout c-layout--layout-threecolumn-thirds">
			<div class="c-layout--inner-wrapper">
				<!-- Content -->
				<div class="c-layout--main">

					<!-- Column One -->
					<div class="c-layout--region c-layout--primary">
						{% include "teaser" with {
						layout: 'column-stack', title: 'Researchers record successful startup of LUX-ZEPLIN dark matter detector at Sanford Underground Research Facility', url: 'https://github.com', category: 'Press Release', category_url: 'https://github.com', teaser_date: 'August 18, 2022', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/news-placeholder.png', alt: 'Atl text example'
					} %}
					</div>

					<!-- Column Two -->
					<div class="c-layout--region c-layout--secondary">
						{% include "teaser" with {
						layout: 'column-stack', title: 'Stratton family members visit Stratton Station', url: 'https://github.com', category: 'Video', category_url: 'https://github.com', teaser_date: 'August 18, 2022', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example', icon: 'video'
					} %}
					</div>

					<!-- Column Three -->
					<div class="c-layout--region c-layout--tertiary">
						{% include "teaser" with {
						layout: 'column-stack', title: 'Davis-Bahcall Scholars reflect on 2022 program', url: 'https://github.com', category: 'Deep Talk', category_url: 'https://github.com', teaser_date: 'August 18, 2022', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example', icon: 'video'
					} %}
					</div>

				</div>
			</div>
		</div>

		{# Curriculum teasers #}
		<div class="l-stack  u-padding">
		<hr />
		<h3>Curriculum teasers (column simple stack): Three Column Layout</h3>
		</div>
		<div class="c-layout c-layout--layout-threecolumn-thirds">
			<div class="c-layout--inner-wrapper">
				<!-- Content -->
				<div class="c-layout--main">

					<!-- Column One -->
					<div class="c-layout--region c-layout--primary">
						{% include "teaser" with {
						layout: 'column-simple-stack', title: 'Ghost Particles', body: '<p>What is a neutrino and why is it so difficult to detect? During this unit, make the conceptual leap from the macroscopic to the microscopic by exploring extremely small objects.</p>', url: 'https://github.com', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/curriculum-placeholder.png', alt: 'Atl text example', tags: [
						{
							title: 'Upper Elementary',
							url: 'https://github.com',
						},
						{
							title: 'Content Area',
							url: 'https://github.com',
						},
						{
							title: 'View Standards (5)',
							url: 'https://github.com',
						},
					]
					} %}
					</div>

					<!-- Column Two -->
					<div class="c-layout--region c-layout--secondary">
						{% include "teaser" with {
						layout: 'column-simple-stack', title: 'Argon Transfer Challenge', body: '<p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>', url: 'https://github.com', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example', tags: [
						{
							title: 'Middle School',
							url: 'https://github.com',
						},
						{
							title: 'Content Area',
							url: 'https://github.com',
						},
						{
							title: 'Hide Standards',
							url: 'https://github.com',
						},
						{
							title: 'MS-PS1-1',
							url: 'https://github.com',
						},
						{
							title: 'MS-PS3-2',
							url: 'https://github.com',
						},
						{
							title: 'MS-PS1-3',
							url: 'https://github.com',
						},
					]
					} %}
					</div>

					<!-- Column Three -->
					<div class="c-layout--region c-layout--tertiary">
						{% include "teaser" with {
						layout: 'column-simple-stack', title: 'May the Force Be With You', body: '<p>What do magnets and electromagnets have to do with particle accelerators and neutrino beams? How are magnetism, electricity, and movement related? Use the force to find out.</p>', url: 'https://github.com', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example', tags: [
						{
							title: 'Upper Elementary',
							url: 'https://github.com',
						},
						{
							title: 'Content Area',
							url: 'https://github.com',
						},
						{
							title: 'View Standards (5)',
							url: 'https://github.com',
						},
					]
					} %}
					</div>

				</div>
			</div>
		</div>



		{# Experiments teasers #}
		<div class="l-stack  u-padding">
		<hr />
		<h3>Experiments teasers (column simple stack): Two Column Layout</h3>
		</div>

		<div class="c-layout c-layout--layout-twocolumn-halves simple">
			<div class="c-layout--inner-wrapper">
				<!-- Content -->
				<div class="c-layout--main">

					<!-- Column One -->
					<div class="c-layout--region c-layout--primary">
						{% include "teaser" with {
						layout: 'column-simple-stack', title: 'LUX-ZEPLIN', body: '<p>LZ is 100x more sensitive to finding signals from dark matter particles than its predecessor, the Large Underground Xenon experiment (LUX).</p>', url: 'https://github.com', category: 'Nuclear Astrophysics', category_url: 'https://github.com', teaser_date: '2012–Present', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example'
					} %}
					</div>

					<!-- Column Two -->
					<div class="c-layout--region c-layout--secondary">
						{% include "teaser" with {
						layout: 'column-simple-stack', title: 'Deep Underground Neutrino Experiment', body: '<p>The Long-Baseline Neutrino Facility (LBNF) will host the Deep Underground Neutrino Experiment to study the property of the neutrino.</p>', url: 'https://github.com', category: 'Nuclear Astrophysics', category_url: 'https://github.com', teaser_date: '2017–Present', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example'
					} %}
					</div>

				</div>
			</div>
		</div>

		<div class="l-stack  u-padding">
		<hr />
		<h3>Experiments teasers (column simple stack): Three Column Layout</h3>
		</div>

		<div class="c-layout c-layout--layout-threecolumn-thirds simple">
			<div class="c-layout--inner-wrapper">
				<!-- Content -->
				<div class="c-layout--main">

					<!-- Column One -->
					<div class="c-layout--region c-layout--primary">
						{% include "teaser" with {
						layout: 'column-simple-stack', title: 'LUX-ZEPLIN', body: '<p>LZ is 100x more sensitive to finding signals from dark matter particles than its predecessor, the Large Underground Xenon experiment (LUX).</p>', url: 'https://github.com', teaser_date: '2012–Present', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example'
					} %}
					</div>

					<!-- Column Two -->
					<div class="c-layout--region c-layout--secondary">
						{% include "teaser" with {
						layout: 'column-simple-stack', title: 'Deep Underground Neutrino Experiment', body: '<p>The Long-Baseline Neutrino Facility (LBNF) will host the Deep Underground Neutrino Experiment to study the property of the neutrino.</p>', url: 'https://github.com', teaser_date: '2017–Present', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example'
					} %}
					</div>

					<!-- Column Three -->
					<div class="c-layout--region c-layout--tertiary">
						{% include "teaser" with {
						layout: 'column-simple-stack', title: 'Deep Underground Neutrino Experiment', body: '<p>The Long-Baseline Neutrino Facility (LBNF) will host the Deep Underground Neutrino Experiment to study the property of the neutrino.</p>', url: 'https://github.com', teaser_date: '2017–Present', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example'
					} %}
					</div>

				</div>
			</div>
		</div>


		<div class="l-stack  u-padding">
		<hr />
		<h3>Experiments Teasers (column simple stack): Three Column Layout</h3>
		</div>
		<div class="c-layout c-layout--layout-threecolumn-thirds simple">
			<div class="c-layout--inner-wrapper">
				<!-- Content -->
				<div class="c-layout--main">

					<!-- Column One -->
					<div class="c-layout--region c-layout--primary">
						{% include "teaser" with {
						layout: 'column-simple-stack', title: 'BHSU Underground Campus', body: '<p>An underground campus used by experiments across the globe and managed by local university faculty and students.</p>', url: 'https://github.com', teaser_date: '2010–Present', category: 'Nuclear Astrophysics', category_url: 'https://github.com'
					} %}
					</div>

					<!-- Column Two -->
					<div class="c-layout--region c-layout--secondary">
						{% include "teaser" with {
						layout: 'column-simple-stack', title: 'CASPAR', body: '<p>CASPAR is a low-energy particle accelerator that allows researchers to study processes that take place inside collapsing stars.</p>', url: 'https://github.com', teaser_date: '2009–Present', category: 'Nuclear Astrophysics', category_url: 'https://github.com',
					} %}
					</div>

					<!-- Column Three -->
					<div class="c-layout--region c-layout--tertiary">
						{% include "teaser" with {
						layout: 'column-simple-stack', title: 'Davis Experiment', body: '<p>In 1969, a chemist by the name of Ray Davis began an experiment to detect neutrinos coming from the sun. In 2002 he would be awarded a share of the Nobel Prize for his work.</p>', url: 'https://github.com', teaser_date: '1969-1972', category: 'Nuclear Astrophysics', category_url: 'https://github.com',
					} %}
					</div>

				</div>
			</div>
		</div>



		{# Teaser: List Stack  #}
		<div class="l-stack  u-padding">
		<hr />
		<h3>Events Teasers (list stack): One Column Layout</h3>
		</div>

		<div class="c-layout c-layout--layout-onecolumn list">
			<div class="c-layout--inner-wrapper">
				<!-- Content -->
				<div class="c-layout--main">

					<!-- item one -->
					<div class="c-layout--list-item">
						{% include "teaser" with {
						layout: 'list-stack', title: 'Deep Talk: The Beauty of the Lakota Language', body: '<p>Purus mattis sed egestas egestas amet, scelerisque aliquet feugiat sed arcu amet.</p>', url: 'https://github.com', category: 'Public', category_url: 'https://github.com', category_color: 'forest', teaser_date: 'October 28, 2022', teaser_time: '10:00 AM–6:00 PM MT', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example'
					} %}
					</div>

					<!-- item two -->
					<div class="c-layout--list-item">
						{% include "teaser" with {
						layout: 'list-stack', title: 'General Safety Basic Training', body: '<p>Condimentum ultricies libero, gravida pellentesque feugiat scelerisque fermentum scelerisque at mi id.</p>', url: 'https://github.com', category: 'Training', category_url: 'https://github.com', category_color: 'cloud', teaser_date: 'November 10,2022–November 12,2022', teaser_time: '10:00 AM–12:00 PM MT', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example'
					} %}
					</div>

					<!-- item three -->
					<div class="c-layout--list-item">
						{% include "teaser" with {
						layout: 'list-stack', title: 'General Safety Basic Training', body: '<p>Condimentum ultricies libero, gravida pellentesque feugiat scelerisque fermentum scelerisque at mi id.</p>', url: 'https://github.com', category: 'Professional Development', category_url: 'https://github.com', category_color: 'gold', teaser_date: 'November 10,2022–November 12,2022', teaser_time: '10:00 AM–12:00 PM MT', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example'
					} %}
					</div>

					<!-- item four -->
					<div class="c-layout--list-item">
						{% include "teaser" with {
						layout: 'list-stack', title: 'General Safety Basic Training', body: '<p>Condimentum ultricies libero, gravida pellentesque feugiat scelerisque fermentum scelerisque at mi id.</p>', url: 'https://github.com', category: 'Professional Development', category_url: 'https://github.com', category_color: 'gold', teaser_date: 'November 10,2022–November 12,2022', teaser_time: '10:00 AM–12:00 PM MT', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example'
					} %}
					</div>

				</div>
			</div>
		</div>

		<div class="l-stack  u-padding">
		<hr />
		<h3>Search Teasers (list stack): One Column Layout</h3>
		</div>

		<div class="c-layout c-layout--layout-onecolumn list">
			<div class="c-layout--inner-wrapper">
				<!-- Content -->
				<div class="c-layout--main">

					<!-- item one -->
					<div class="c-layout--list-item">
						{% include "teaser" with {
						layout: 'list-stack', title: 'Search result title', body: '<p>Justo, aliquam consectetur enim integer fames rutrum praesent pretium mi adipiscing venenatis aliquet tempor ridiculus et ipsum tortor semper iaculis velit vel sit.</p>', url: 'https://github.com', image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg', alt: 'Atl text example'
					} %}
					</div>

					<!-- item two -->
					<div class="c-layout--list-item">
						{% include "teaser" with {
						layout: 'list-stack', title: 'Tellus aliquam scelerisque nulla', body: '<p>Nunc, suspendisse vitae vitae nec eu dolor suspendisse purus mollis lacus, sem in varius ut mollis in odio nunc auctor consectetur nulla dui enim.</p>', url: 'https://github.com'
					} %}
					</div>

				</div>
			</div>
		</div>






						<!-- Callouts & Factoids -->
				<div class="l-stack  u-padding">

				<h3>Callouts</h3>
				{% include "callout" with {
					heading: 'It\'s a Callout!',
					body: '<p>This is a callout <strong>component</strong>. It\'s a great way to highlight important information.</p>',
					link_text: 'Click Me',
					link_url: 'http://example.com',
					theme: 'cloud',
				} %}
				{% include "callout" with {
					heading: 'It\'s a Callout!',
					body: '<p>This is a callout <strong>component</strong>. It\'s a great way to highlight important information.</p>',
					link_text: 'Click Me',
					link_url: 'http://example.com',
					theme: 'forest',
				} %}
				{% include "callout" with {
					heading: 'It\'s a Callout!',
					body: '<p>This is a callout <strong>component</strong>. It\'s a great way to highlight important information.</p>',
					link_text: 'Click Me',
					link_url: 'http://example.com',
					theme: 'kelly',
				} %}

				{% include "callout" with {
					heading: 'It\'s a Callout!',
					body: '<p>This is a callout <strong>component</strong>. It\'s a great way to highlight important information.</p>',
					link_text: 'Click Me',
					link_url: 'http://example.com',
					theme: 'cloud',
					image_url: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/images/examples/large.jpg',
					image_alt: 'Ea irure adipisicing'
				} %}

					</div>

<h3>Callouts: Two Column Layout</h3>
  <div class="l-width--medium layout l--layout-twocolumn-halves">
    <div class="l--inner-wrapper">
      <!-- Content -->
      <div class="l__main">

        <!-- Column One -->
        <div class="l__region l__primary">
					{% include "callout" with {
					heading: 'It\'s a Callout!',
					body: '<p>This is a callout <strong>component</strong>. It\'s a great way to highlight important information.</p>',
					link_text: 'Click Me',
					link_url: 'http://example.com',
					theme: 'cloud',
					image_url: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/images/examples/large.jpg',
					image_alt: 'Ea irure adipisicing'
				} %}
        </div>

        <!-- Column Two -->
        <div class="l__region l__secondary">
          	{% include "callout" with {
					heading: 'It\'s a Callout!',
					body: '<p>This is a callout <strong>component</strong>. It\'s a great way to highlight important information.</p>',
					link_text: 'Click Me',
					link_url: 'http://example.com',
					theme: 'cloud',
					image_url: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/images/examples/large.jpg',
					image_alt: 'Ea irure adipisicing'
				} %}
        </div>

      </div>
    </div>
  </div>


	<h3>Callouts: Three Column Layout</h3>
  <div class="l-width--medium layout l--layout-threecolumn-thirds">
    <div class="l--inner-wrapper">
      <!-- Content -->
      <div class="l__main">

        <!-- Column One -->
        <div class="l__region l__primary">
					{% include "callout" with {
					heading: 'It\'s a Callout!',
					body: '<p>This is a callout <strong>component</strong>. It\'s a great way to highlight important information.</p>',
					link_text: 'Click Me',
					link_url: 'http://example.com',
					theme: 'cloud',
					image_url: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/images/examples/large.jpg',
					image_alt: 'Ea irure adipisicing'
				} %}
        </div>

        <!-- Column Two -->
        <div class="l__region l__secondary">
          {% include "callout" with {
					heading: 'It\'s a Callout!',
					body: '<p>This is a callout <strong>component</strong>. It\'s a great way to highlight important information.</p>',
					link_text: 'Click Me',
					link_url: 'http://example.com',
					theme: 'cloud',
					image_url: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/images/examples/large.jpg',
					image_alt: 'Ea irure adipisicing'
				} %}
        </div>

				 <!-- Column Three -->
        <div class="l__region l__tertiary">
          {% include "callout" with {
					heading: 'It\'s a Callout!',
					body: '<p>This is a callout <strong>component</strong>. It\'s a great way to highlight important information.</p>',
					link_text: 'Click Me',
					link_url: 'http://example.com',
					theme: 'cloud',
					image_url: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/images/examples/large.jpg',
					image_alt: 'Ea irure adipisicing'
				} %}
        </div>

      </div>
    </div>
  </div>

		<h3>Icon Callouts (factoids): Three Column Layout</h3>
  <div class="l-width--medium layout l--layout-threecolumn-thirds">
    <div class="l--inner-wrapper">
      <!-- Content -->
      <div class="l__main">

        <!-- Column One -->
        <div class="l__region l__primary">
					{% include "callout" with {
					heading: '2,000 scientists',
					body: '<p>Egestas urna enim, est felis vestibulum morbi dictum enim condimentum sit phasellus integer lorem at nec aliquam.</p>',
					link_text: 'Button',
					link_url: 'http://example.com',
					theme: 'icon',
					image_url: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/images/examples/icon-cosmic-rays.svg',
					image_alt: 'Ea irure adipisicing',
					arrow: true
				} %}
        </div>

        <!-- Column Two -->
        <div class="l__region l__secondary">
          {% include "callout" with {
					heading: 'Nobel Prize Awarded 1950',
					body: '<p>Egestas urna enim, est felis vestibulum morbi dictum enim condimentum sit phasellus integer lorem at nec aliquam.</p>',
					link_text: 'Button',
					link_url: 'http://example.com',
					theme: 'icon',
					image_url: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/images/examples/icon-cosmic-rays.svg',
					image_alt: 'Ea irure adipisicing',
					arrow: true
				} %}
        </div>

				 <!-- Column Two -->
        <div class="l__region l__tertiary">
          {% include "callout" with {
					heading: '360 miles of tunels',
					body: '<p>Thanks to 360° video technology we can take ANY classroom on a virtual tour of the Sanford Underground Research Facility!</p>',
					link_text: 'Button',
					link_url: 'http://example.com',
					theme: 'icon',
					image_url: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/images/examples/icon-cosmic-rays.svg',
					image_alt: 'Ea irure adipisicing',
					arrow: true
				} %}
        </div>

      </div>
    </div>
  </div>


			<!-- Teaser -->
			{# <div class="l-stack  u-padding">
				<h3>Teaser: News</h3>
				{% include "teaser" with {
					layout: 'stacked',
					title: 'Enhancing the search',
					url: 'https://github.com',
					category: 'Article',
					category_url: 'https://github.com',
					body: "<p>Est id non nulla veniam occaecat amet anim ea enim. Nulla do cillum nisi dolore exercitation aliqua sunt ad in est in amet eu magna sit. Ea magna voluptate veniam minim sunt incididunt irure culpa anim irure pariatur.</p>",
					teaser_date: 'August 18, 2022',
					image: "https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/teaser/teaser.jpg",
					alt: 'Atl text example',
				} %}
				</div> #}







			<!-- Header -->
			<div class="l-stack  u-padding">
				<h3>Header Component: Black text</h3>
				{% include "header" with {
					heading: 'Header Title',
					header_text_style: 'black-text',
				} %}

				<h3>Header Component: Black text with green particles</h3>
				{% include "header" with {
					heading: 'Header Title',
					header_text_style: 'black-text',
					header_particle_style: 'green-particles',
				} %}

				<h3>Header Component: Black text with Light Gray particles</h3>
				{% include "header" with {
					heading: 'Header Title',
					header_text_style: 'black-text',
					header_particle_style: 'light-gray-particles',
				} %}

				<h3>Header Component: Black text with White particles</h3>
				{% include "header" with {
					heading: 'Header Title',
					header_text_style: 'black-text',
					header_particle_style: 'white-particles',
				} %}
				</div>

			<!-- Person Banner -->
			<div class="l-stack u-padding">
				<h3>Person Component: with an image</h3>
				{% include "person" with {
					image_url: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/person/person.jpg',
					image_alt: 'Dr. Paul Schwering',
					full_name: 'Dr. Paul Schwering',
					initials: 'PS',
					title: 'Geophysicist',
					phone: '(605) 722-8650',
					contact_url: 'https://github.com',
					bio_url: 'https://github.com',
				} %}

				<h3>Person Component: without an image</h3>
				{% include "person" with {
					full_name: 'Dr. Paul Schwering',
					initials: 'PS',
					title: 'Geophysicist',
					phone: '(605) 722-8650',
					contact_url: 'https://github.com',
					bio_url: 'https://github.com',
				} %}
				</div>

			<!-- Blue Banner -->
			<div class="l-stack  u-padding">
				<h3>Blue Banner Component</h3>
				{% include "blue-banner" with {
					primary_image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/blue-banner/blue-banner01.jpg',
					primary_image_alt: 'Primary Image Example',
					secondary_image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/blue-banner/blue-banner02.jpg',
					secondary_image_alt: 'Secondary Image Example',
					heading: "Questions? Contact Us!",
					body: "<p>Example paragraph. Interdum risus tortor turpis gravida sed. Risus sit et egestas tellus ac sed.</p>",
					link_text: "Underline Button with Arrow Component",
					link_url: "https://github.com",
				} %}
				</div>

			<!-- Green Banner -->
			<div class="l-stack  u-padding">
				<h3>Green Banner Component</h3>
				{% include "green-banner" with {
					heading: 'Questions? Contact Us!',
					body:'<p>Our education experts & staff are here to help connect you with the right resources & opportunities.</p>',
					link_text: 'Underline Button with Arrow Component',
					link_url: 'https://github.com'
				} %}
				</div>

			<!-- Image -->
			<div class="l-stack  u-padding">
				<h3>Image: with caption</h3>
				{% include "image" with {
					alt: 'Image Example with caption',
					image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/images/examples/large.jpg',
					caption:'<p>In exercitation in tempor ea enim elit id consequat.</p>'
				} %}
				</div>


			<!-- Video -->

			<div class="l-stack  u-padding">
				<h3>Video: Youtube Example</h3>
				{% include "video" with {
					title: 'YouTube Example',
					video: 'https://www.youtube.com/embed/0RWs6uxR9yg?feature=oembed',
					caption:'<p>In exercitation in tempor ea enim elit id consequat.</p>'
				} %}

				<h3>Video: Vimeo Example</h3>
				{% include "video" with {
					title: 'Vimeo Example',
					video: 'https://player.vimeo.com/video/728948316',
					caption: '<p>Nostrud in excepteur cupidatat eu consequat consequat proident ut occaecat reprehenderit do do ipsum. Fugiat incididunt culpa exercitation sit ad nisi laborum esse deserunt dolor in laborum.</p>'
				} %}
			</div>

			<!-- Accordion -->
			<div class="l-stack  u-padding">
				<h3>Accordion</h3>
				{% include "accordion" with {
					items: [
						{
							title: 'Accordion One',
							content: '<p>Example quote paragraph. Interdum risus tortor turpis gravida sed. Risus sit et egestas tellus ac sed.</p>',
						},
						{
							title: 'Accordion Two',
							content: '<p>Example quote paragraph. Interdum risus tortor turpis gravida sed. Risus sit et egestas tellus ac sed.</p>',
						},
						{
							title: 'Accordion Three',
							content: '<p>Example quote paragraph. Interdum risus tortor turpis gravida sed. Risus sit et egestas tellus ac sed.</p>',
						}
					]
				} %}
			</div>

			<!-- Pullquote -->
			<div class="l-stack u-padding">
				<h3>Pullquote Fullwidth</h3>
				{% include "pullquote" with {
					quote: '<p>Extremely large emphasized text example. Lorem ipsum dolor sit amet.</p>',
					credit: 'Optional second line for quote credit.',
					style:'fullwidth'
				} %}

				<h3>Pullquote Centered</h3>
				{% include "pullquote" with {
					quote: '<p>“Learn from yesterday, live for today, hope for tomorrow. The important thing is not to stop questioning.”</p>',
					credit: 'Albert Enstein',
					style:'centered'
				} %}
			</div>


			{# End of Components 👆🏻 #}
			<hr/>

			{# Layout Examples #}

<h3>Layouts: Thirds Column layout</h3>

  <div class="l-width--medium layout l--layout-threecolumn-thirds l-constrained">
    <div class="l--inner-wrapper">

      <!-- Content -->
      <div class="l__main">

        <!-- Column One -->
        <div class="l__region l__primary">
              <p>col one</p>
        </div>

        <!-- Column Two -->
        <div class="l__region l__secondary">
              <p>col two</p>
        </div>

        <!-- Column Three -->
        <div class="l__region l__tertiary">
              <p>col three</p>
        </div>

      </div>
    </div>
  </div>


<h3>Layouts: 50/50 column layout</h3>

  <div class="l-width--medium layout l--layout-twocolumn-halves l-constrained">
    <div class="l--inner-wrapper">

      <!-- Content -->
      <div class="l__main">

        <!-- Column One -->
        <div class="l__region l__primary">
              <p>col one</p>
        </div>

        <!-- Column Two -->
        <div class="l__region l__secondary">
              <p>col two</p>
        </div>

      </div>
    </div>
  </div>


			{# Start of HTML Kitchen Sink #}

			<div>
				<h3>
					Examples of Buttons & Links
				</h3>
				{% include "link-button" with {
          text: "Forest Green Button Component",
          url: "google.com",
					color: 'forest',
          uppercase: true,
        } %}
				<p>
					<a href="#" class="forest-button">Forest Green Button Class</a>
				</p>
				{% include "link-button" with {
					text: "Lowercase Button with Arrow Component",
					url: "apple.com",
					color: 'forest',
					uppercase: false,
					icon_type: 'arrow'
				} %}
				<p>Button wth arrow example</p>
				{% include "link-button" with {
          text: "Gradient Button Component",
          url: "apple.com",
					button_style: 'gradient',
					color: 'gradient',
          uppercase: true,
        } %}
				<p>
					<a href="#" class="gradient-button">Gradient Button Class</a>
				</p>
				{% include "link-button" with {
          text: "Underline Green Button Component",
          url: "google.com",
					button_style: 'underline',
					color: 'underline-green',
          uppercase: true,

        } %}
				<p>
					<a href="#" class="underline-green-button">Underline Green Button Class</a>
				</p>
				{% include "link-button" with {
          text: "Underline Button with Arrow Component",
          url: "github.com",
					button_style: 'underline',
					color: 'underline-green',
          uppercase: false,
					icon_type: 'arrow',
        } %}
				<p>Underline Button wth arrow example</p>
				{% include "link-button" with {
          text: "Kelly Green Button Component",
          url: "apple.com",
          color: 'kelly',
					uppercase: true,
        } %}
				<p>
					<a href="#" class="kelly-green-button">Kelly Green Button Class</a>
				</p>
				{% include "link-button" with {
          text: "Black Button Component",
          url: "google.com",
          color: 'black',
					uppercase: true,
        } %}
				<p>
					<a href="#" class="black-button">Black Button Class</a>
				</p>
				<div style="background:black; padding: 1rem; width: fit-content;">
					{% include "link-button" with {
						text: "Underline White Button Component",
						url: "google.com",
						button_style: 'underline',
						color: 'underline-white',
						uppercase: true,
					} %}
					<p>
						<a href="#" class="underline-white-button">Underline White Button Class</a>
					</p>

					{% include "link-button" with {
						text: "Underline White Button with Arrow Component",
						url: "google.com",
						button_style: 'underline',
						color: 'underline-white',
						uppercase: false,
						icon_type: 'arrow'
					} %}
					<p></p>
					{% include "link-button" with {
						text: "White Green Button Component",
						url: "apple.com",
						color: 'white',
						uppercase: true,
					} %}
					<p>
						<a href="#" class="white-green-button">White Green Button Class</a>
					</p>
				</div>

				<p>
					Example of a
					<a href="#">standard link</a>
				</p>
			</div>
			<hr/>
			<div>
				<h3>Example of headings:</h3>

				<h1>h1 Kitchen Sink Heading</h1>
				<h2>h2 Kitchen Sink
					<strong>Heading</strong>
				</h2>
				<h3>h3 Kitchen Sink
					<strong>Heading</strong>
				</h3>
				<h4>h4 Kitchen Sink
					<strong>Heading</strong>
				</h4>
				<h5>h5 Kitchen Sink
					<strong>Heading</strong>
				</h5>
				<h6>h6 Kitchen Sink
					<strong>Heading</strong>
				</h6>

			</div>
			<hr/>
			<div>
				<h3>Example of headings and paragraphs:</h3>

				<h1>h1 HTML5 Kitchen Sink</h1>
				<p>This paragraph is nested inside an article. It contains many different, sometimes useful,
					<a href="#">HTML5
												tags</a>. Of course there are classics like
					<em>emphasis</em>,
					<strong>strong</strong>, and small but there
												are many others as well. Hover the following text for abbreviation tag: abbr. Similarly, you can use acronym
												tag like this: ftw. You can define deleted text which often gets replaced with inserted text.</p>

				<h2>h2 Back in my quaint
					<a href='#'>garden</a>
				</h2>
				<p>Et officia dolore dolor eiusmod. Aute culpa
					<a href="#">voluptate mollit</a>
					veniam dolore ex. Esse aliquip
										et do aliqua nostrud dolore qui eiusmod eu quis eiusmod consectetur duis ipsum. Exercitation duis id ut
										tempor. Officia aliqua aute consectetur aliquip do id pariatur. Culpa eu
					<a href="#">ullamco</a>
					officia anim
										veniam laboris deserunt non qui laborum mollit. Nisi dolore ex sunt veniam veniam aliqua aliqua Lorem. Nostrud
										reprehenderit in sint sint aute do magna aliqua tempor.</p>

				<h3>h3 Jaunty
					<a href='#'>zinnias</a>
					vie with flaunting phlox</h3>
				<p>Minim ea anim ipsum sit non. Aute ex do sunt incididunt magna cupidatat. Labore veniam
					<a href="#">cupidatat</a>
					ut qui incididunt ipsum id aliqua mollit
					<a href="#">velit id ad</a>. Dolor eiusmod
												velit sit. Pariatur minim dolore duis aliquip do cillum minim amet qui veniam excepteur exercitation sunt
												velit. Ea est tempor sunt cupidatat ex occaecat ad laborum mollit elit nisi mollit cupidatat. Non adipisicing
												commodo laborum exercitation Lorem eiusmod magna mollit aute.</p>

				<h4>h4 Five or six big jet planes zoomed quickly by the new tower.</h4>
				<p>Duis id sunt eu irure sint amet reprehenderit. Aute amet sint quis occaecat Lorem nostrud nulla aute irure
										aliqua. Commodo dolore quis irure elit commodo. Enim sit Lorem mollit. Anim ea enim velit
					<a href="#">cillum commodo</a>
					occaecat nostrud sit cillum ea. Ex nulla enim ipsum. Ipsum eu cillum et quis ullamco.</p>

				<h5>h5 Expect skilled signwriters to use many jazzy, quaint old alphabets effectively.</h5>
				<p>Incididunt
					<a href="#">reprehenderit</a>
					fugiat reprehenderit voluptate esse dolor esse anim sunt aliqua
										consequat. Tempor consequat quis eu do incididunt pariatur exercitation sit aliqua duis. Eu tempor sint Lorem
										tempor labore ut consectetur proident. In quis duis ex commodo. Cupidatat sit esse sit et in laboris amet. Ut
										nisi sint adipisicing est ullamco excepteur labore.</p>

				<h6>h6 Pack my box with five dozen liquor jugs.</h6>
				<p>Sunt ut laborum incididunt elit non proident pariatur non id. Sunt amet aliquip officia aliquip consequat do
										labore occaecat elit cupidatat voluptate est. Eu cupidatat proident duis mollit sit
					<a href="#">labore duis duis</a>
					duis qui. Nostrud velit nulla fugiat elit excepteur velit pariatur nisi sint. Consectetur magna
										Lorem commodo dolor nulla sunt amet dolor amet. Non ad est cillum deserunt tempor nulla ex commodo cupidatat
										esse incididunt exercitation cillum ex. Sint fugiat veniam esse cupidatat ex consequat consectetur consectetur
										magna duis non. Elit duis velit ipsum magna nostrud in sit occaecat.</p>
			</div>
			<hr/>
			{# Blockquote #}
			<div>
				<h3>Example of an blockquote with a cite:</h3>
				<figure>
					<blockquote>
						<p>Words can be like
							<a href="#">X-rays</a>, if you use them properly—they'll go through anything. You read
																and you're
																pierced.</p>
					</blockquote>
					<figcaption>—Aldous Huxley,
						<cite>Brave New World</cite>
					</figcaption>
				</figure>
			</div>
			<hr/>
			{# Image with a caption #}
			<div>
				<h3>Example of an image with a caption:</h3>
				<figure>
					<img src="https://placehold.jp/150x150.png" alt="Example">
					<figcaption>Fig1. A picture of Bill Murray from
						<a href="https://www.fillmurray.com/">fillmurray.com</a>
					</figcaption>
				</figure>
			</div>
			<hr/>
			{# Unordered List #}
			<h3>Example of an unordered list:</h3>
			<div>
				<ul>
					<li>Unordered List item one
						<ul>
							<li>Nested list item
								<ul>
									<li>Level 3, item one</li>
									<li>Level 3, item two</li>
									<li>Level 3, item three</li>
									<li>Level 3, item four</li>
								</ul>
							</li>
							<li>List item two</li>
							<li>List item three</li>
							<li>List item four</li>
						</ul>
					</li>
					<li>List item two</li>
					<li>List item three</li>
					<li>List item four</li>
				</ul>
			</div>
			<hr/>
			{# Order List #}
			<h3>Example of an ordered list:</h3>
			<ol>
				<li>List item one
					<ol>
						<li>List item one
							<ol>
								<li>List item one</li>
								<li>List item two</li>
								<li>List item three</li>
								<li>List item four</li>
							</ol>
						</li>
						<li>List item two</li>
						<li>List item three</li>
						<li>List item four</li>
					</ol>
				</li>
				<li>List item two</li>
				<li>List item three</li>
				<li>List item four</li>
			</ol>
			<hr/>
			{# Form #}
			<div>
				<h3>Example of a form:</h3>
				<form>
					<p>
						<label for="example-input-email">Email address</label>
						<input type="email" id="example-input-email" placeholder="Enter email">
					</p>
					<p>
						<label for="example-input-password1">Number</label>
						<input type="number" id="example-input-number" placeholder="Number">
					</p>
					<p>
						<label for="example-input-password">Password</label>
						<input type="password" id="example-input-password" placeholder="Password">
					</p>
					<p>
						<label for="example-input-search">Search</label>
						<input type="search" id="example-input-serach" placeholder="Search ..">
					</p>
					<p>
						<label for="example-input-tel">Telephone number</label>
						<input type="tel" id="example-input-tel" placeholder="Telephone number">
					</p>

					<p>
						<label for="example-input-text">Text</label>
						<input type="text" id="example-input-text" placeholder="Enter some text here">
					</p>
					<p>
						<label for="example-input-url">Url</label>
						<input type="url" id="example-input-url" placeholder="Enter a url here">
					</p>
					<p>
						<label for="example-input-color">Color</label>
						<input type="color" id="example-inupt-color" placeholder="#fff">
					</p>
					<p>
						<label for="example-input-date">Date</label>
						<input type="date" id="example-input-date" placeholder="date">
					</p>
					<p>
						<label for="example-input-date-time">Date / Time</label>
						<input type="datetime" id="example-input-date-time" placeholder="date / time">
					</p>
					<p>
						<label for="example-input-date-time-local">Date / Time local</label>
						<input type="datetime-local" id="example-input-date-time-local" placeholder="date / time local">
					</p>
					<p>
						<label for="example-input-month">Month</label>
						<input type="month" id="example-input-month" placeholder="Month">
					</p>
					<p>
						<label for="example-input-week">Week</label>
						<input type="week" id="example-input-week" placeholder="Week">
					</p>
					<p>
						<label for="example-input-time">Time</label>
						<input type="time" id="example-input-time" placeholder="Time">
					</p>
					<p>
						<label for="example-select1">Example select</label>
						<select id="example-select1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</p>
					<p>
						<label for="example-select2">Example multiple select</label>
						<select multiple id="example-select2">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</p>
					<p>
						<label for="example-textarea">Example textarea</label>
						<textarea id="example-textarea" rows="3"></textarea>
					</p>
					<p>
						<label for="example-input-file">File input</label>
						<input type="file" id="example-input-file">
					</p>
					<fieldset>
						<legend>I am legend</legend>
						<div>
							<label>
								<input type="radio" name="options-radios" id="optionsR-radios1" value="option1" checked>
								Option one is this and that&mdash;be sure to include why it's great
							</label>
						</div>

						<div>
							<label>
								<input type="radio" name="options-radios" id="options-radios2" value="option2">
								Option two can be something else and selecting it will deselect option one
							</label>
						</div>
						<div>
							<label>
								<input type="radio" name="optionsRadios" id="options-radios3" value="option3" disabled>
								Option three is disabled
							</label>
						</div>
					</fieldset>

					<fieldset>
						<legend>I am also legend</legend>
						<input type="checkbox">
						Check me out
						<input type="checkbox">
						Or check me out
					</fieldset>
					<p>
						<button type="button" name="button">Button</button>
						<input type="button" name="input" value="Input Button">
						<input type="submit" name="submit" value="Submit Button">
						<input type="reset" name="reset" value="Reset Button">
					</p>
				</form>
			</div>
			{# End of HTML Kitchen Sink #}
		</div>
	</div>
</article>
