  {#
    TODO:
    - [ ] Update the hard-coded contact_url
    - [ ] Update the hard-coded image credit
    - [ ] Update the hard-coded callout blocks
  #}

{# <pre>{{dump(content)}}</pre> #}

{% set related = [] %}
{% if content.field_ref_related_content['#items']|length > 0 %}
  {% for i, value in content.field_ref_related_content['#items'] %}
    {% if value.entity %}

      {% set icon = '' %}

      {# set the category / entity type #}
      {% set category = value.entity.type.value.0.target_id %}

      {# set the teaser date with fallback #}
      {% set teaser_date = value.entity.field_date_published.value ? value.entity.field_date_published.value|date('F d, Y') : value.node.created.value|date('F d, Y')%}

      {# set default for image and alt values #}
      {% set alt = value.entity.title.value %}
      {% set image = '/themes/custom/surf_main/templates/components/teaser/news-placeholder.png' %}

      {# set image #}

      {# check if image #}
      {% if value.entity.field_media_primary.0.entity.field_media_image %}

        {# set image #}
        {% set image = value.entity.field_media_primary.0.entity.field_media_image.entity.fileuri|image_style('full_teaser') %}

        {# set alt to use the image's alt text #}
        {% set alt = value.entity.field_media_primary.0.entity.field_media_image.alt %}

      {# check if video #}
      {% elseif value.entity.field_media_primary.0.entity.field_media_oembed_video %}

        {# set category to video #}
        {% set category = 'video' %}
        {# set icon #}
        {% set icon = 'video' %}

        {# set image #}
        {% set image = value.entity.field_media_primary.0.entity.thumbnail.entity.uri.value|image_style('full_teaser') %}

      {% endif %}

      {% set related = related|merge([
        {content: include('teaser',
          {
            layout: 'column-stack',
            title: value.entity.title.value,
            body: '',
            url: value.entity|entity_url,
            category: category,
            category_url: '/news',
            teaser_date: teaser_date,
            image: image,
            alt: alt,
            icon: icon,
          }
          )}
        ])
      %}

    {% endif %}
  {% endfor %}
{% endif %}

{% set date = content.field_date_published.0["#text"] ? content.field_date_published.0["#text"] : node.created.value|date('F d, Y') %}



{% set video_url = content.field_media_primary['#items'].entity.field_media_oembed_video.value|replace({'https://vimeo.com/': ''}) %}

{% set image_alt = content.field_media_primary['#items'].entity.field_media_image.alt %}

{% set image_url = file_url(content.field_media_primary['#items'].entity.field_media_image.entity.fileuri) %}


{% set image_width = content.field_media_primary['#items'].entity.field_media_image.width %}
{% set image_height = content.field_media_primary['#items'].entity.field_media_image.height %}

{% set style = 'no-media' %}
{% if video_url %}
  {% set style = 'video' %}
{% elseif image_url|trim is empty %}
  {% set style = 'no-media' %}
{% elseif image_width < image_height %}
  {% set style = 'vertical' %}
{% elseif image_width >= image_height %}
  {% set style = 'horizontal' %}
{% endif %}


{% set callouts =
  [
    {content:  include("callout", {
      heading: '',
      body: '<p>Stay up-to-date on our latest news and upcoming events.</p>',
      link_text: 'Subscribe to Deep Thoughts',
      link_url: '/',
      theme: 'simple-icon-cta',
      arrow: true,
      icon: 'subscribe',
      image_url: '',
      image_alt: '',
    })},
    {content:  include("callout", {
      heading: '',
      body: '<p>Watch our lectures on physics, algorithmic art, local history, botany and more!</p>',
      link_text: 'Watch Deep Talks on Vimeo',
      link_url: '/',
      theme: 'simple-icon-cta',
      arrow: true,
      icon: 'video',
      image_url: '',
      image_alt: '',
      })}
  ]
%}

{% set image_credit = 'Image credit can go here.' %}

{% include "article-page" with {
  title: label|field_value,
  date: date,
  author: content.field_author|field_value,
  body: content.field_p_content,
  overview: content.field_highlight|field_value,
  image_url: image_url,
  image_alt: image_alt,
  image_credit: image_credit,
  video_url: video_url,
  video_title: label|field_value ~ 'video',
  categories: content.field_ref_research_areas,
  related: related,
  callouts: callouts,
  style: style,
} %}
