<article{{attributes.addClass(['article', 'l-constrained'])}}>
	{# article__header l-constrained #}
	{# <header class="">
		{{ title_prefix }}
		{% include 'page-title' with {
    text: label
    } only %}
		{{ title_suffix }}
	</header> #}
	{# l--1-col l-constrained #}
	<div class="">
		<div class="l__primary">
			{% if content %}
				{{ content }}
			{% endif %}

			{# SRRM-232: Resoruces List Paragraph #}
			{% include '@surf_main/examples/resoruces-list.html.twig' %}

			{# SRRM-59: List Paragraph #}
			{% include '@surf_main/examples/list.html.twig' %}

			{# SRRM-89: Rich Text Paragraph #}
			{% include '@surf_main/examples/rich-text.html.twig' %}

			{# SRRM-95: Teaser Paragraph #}
			{% include '@surf_main/examples/teaser.html.twig' %}

			{# SRRM-86: Callout Paragraph #}
			{% include '@surf_main/examples/callout.html.twig' %}


			{# SRRM-86: Header Paragraph #}
			{% include '@surf_main/examples/header.html.twig' %}


			<!-- Person Banner -->
			<div class="l-stack u-padding" id="215">
				<h3>Person Component: with an image</h3>
				{% include "person" with {
					image_url: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/person/person.jpg',
					image_alt: 'Dr. Paul Schwering',
					full_name: 'Dr. Paul Schwering',
					initials: 'PS',
					title: 'Geophysicist',
					phone: '(605) 722-8650',
					contact_url: 'https://github.com',
					bio_url: 'https://github.com',
				} %}

				<h3>Person Component: without an image</h3>
				{% include "person" with {
					full_name: 'Dr. Paul Schwering',
					initials: 'PS',
					title: 'Geophysicist',
					phone: '(605) 722-8650',
					contact_url: 'https://github.com',
					bio_url: 'https://github.com',
				} %}
				</div>

			<!-- Blue Banner -->
			<div class="l-stack  u-padding" id="242">
				<h3>Blue Banner Component</h3>
				{% include "blue-banner" with {
					primary_image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/blue-banner/blue-banner01.jpg',
					primary_image_alt: 'Primary Image Example',
					secondary_image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/templates/components/blue-banner/blue-banner02.jpg',
					secondary_image_alt: 'Secondary Image Example',
					heading: "Let's Go Further",
					body: "<p>support our mission in science, education & outreach.</p>",
					link_text: "Donate to SURF Foundation",
					link_url: "https://github.com",
				} %}
				</div>

			<!-- Green Banner -->
			<div class="l-stack  u-padding" id="211">
				<h3>Green Banner Component</h3>
				{% include "green-banner" with {
					heading: 'Questions? Contact Us!',
					body:'<p>Our education experts & staff are here to help connect you with the right resources & opportunities.</p>',
					link_text: 'Underline Button with Arrow Component',
					link_url: 'https://github.com'
				} %}
				</div>

			<!-- Image -->
			<div class="l-stack  u-padding" id="82a">
				<h3>Image: with caption</h3>
				{% include "image" with {
					alt: 'Image Example with caption',
					image: 'https://dev-surf-main.pantheonsite.io/themes/custom/surf_main/images/examples/large.jpg',
					caption:'<p>In exercitation in tempor ea enim elit id consequat.</p>'
				} %}
				</div>


			<!-- Video -->

			<div class="l-stack  u-padding" id="82b">
				<h3>Video: Youtube Example</h3>
				{% include "video" with {
					title: 'YouTube Example',
					video: 'https://www.youtube.com/embed/0RWs6uxR9yg?feature=oembed',
					caption:'<p>In exercitation in tempor ea enim elit id consequat.</p>'
				} %}

				<h3>Video: Vimeo Example</h3>
				{% include "video" with {
					title: 'Vimeo Example',
					video: 'https://player.vimeo.com/video/728948316',
					caption: '<p>Nostrud in excepteur cupidatat eu consequat consequat proident ut occaecat reprehenderit do do ipsum. Fugiat incididunt culpa exercitation sit ad nisi laborum esse deserunt dolor in laborum.</p>'
				} %}
			</div>

			<!-- Accordion -->
			<div class="l-stack  u-padding" id="209">
				<h3>Accordion</h3>
				{% include "accordion" with {
					items: [
						{
							title: 'Accordion One',
							content: '<p>Example quote paragraph. Interdum risus tortor turpis gravida sed. Risus sit et egestas tellus ac sed.</p>',
						},
						{
							title: 'Accordion Two',
							content: '<p>Example quote paragraph. Interdum risus tortor turpis gravida sed. Risus sit et egestas tellus ac sed.</p>',
						},
						{
							title: 'Accordion Three',
							content: '<p>Example quote paragraph. Interdum risus tortor turpis gravida sed. Risus sit et egestas tellus ac sed.</p>',
						}
					]
				} %}
			</div>

			<!-- Pullquote -->
			<div class="l-stack u-padding" id="230">
				<h3>Pullquote Fullwidth</h3>
				{% include "pullquote" with {
					quote: '<p>Extremely large emphasized text example. Lorem ipsum dolor sit amet.</p>',
					credit: 'Optional second line for quote credit.',
					style:'fullwidth'
				} %}

				<h3>Pullquote Centered</h3>
				{% include "pullquote" with {
					quote: '<p>“Learn from yesterday, live for today, hope for tomorrow. The important thing is not to stop questioning.”</p>',
					credit: 'Albert Enstein',
					style:'centered'
				} %}
			</div>


			{# End of Components 👆🏻 #}
			<hr/>

			{# Layout Examples #}

<h3>Layouts: Thirds Column layout</h3>

  <div class="l-width--medium layout l--layout-threecolumn-thirds l-constrained">
    <div class="l--inner-wrapper">

      <!-- Content -->
      <div class="l__main">

        <!-- Column One -->
        <div class="l__region l__primary">
              <p>col one</p>
        </div>

        <!-- Column Two -->
        <div class="l__region l__secondary">
              <p>col two</p>
        </div>

        <!-- Column Three -->
        <div class="l__region l__tertiary">
              <p>col three</p>
        </div>

      </div>
    </div>
  </div>


<h3>Layouts: 50/50 column layout</h3>

  <div class="l-width--medium layout l--layout-twocolumn-halves l-constrained">
    <div class="l--inner-wrapper">

      <!-- Content -->
      <div class="l__main">

        <!-- Column One -->
        <div class="l__region l__primary">
              <p>col one</p>
        </div>

        <!-- Column Two -->
        <div class="l__region l__secondary">
              <p>col two</p>
        </div>

      </div>
    </div>
  </div>


			{# Start of HTML Kitchen Sink #}

			{# <div>
				<h3>
					Examples of Buttons & Links
				</h3>
				{% include "link-button" with {
          text: "Forest Green Button Component",
          url: "google.com",
					color: 'forest',
          uppercase: true,
        } %}
				<p>
					<a href="#" class="forest-button">Forest Green Button Class</a>
				</p>
				{% include "link-button" with {
					text: "Lowercase Button with Arrow Component",
					url: "apple.com",
					color: 'forest',
					uppercase: false,
					icon_type: 'arrow'
				} %}
				<p>Button wth arrow example</p>
				{% include "link-button" with {
          text: "Gradient Button Component",
          url: "apple.com",
					button_style: 'gradient',
					color: 'gradient',
          uppercase: true,
        } %}
				<p>
					<a href="#" class="gradient-button">Gradient Button Class</a>
				</p>
				{% include "link-button" with {
          text: "Underline Green Button Component",
          url: "google.com",
					button_style: 'underline',
					color: 'underline-green',
          uppercase: true,

        } %}
				<p>
					<a href="#" class="underline-green-button">Underline Green Button Class</a>
				</p>
				{% include "link-button" with {
          text: "Underline Button with Arrow Component",
          url: "github.com",
					button_style: 'underline',
					color: 'underline-green',
          uppercase: false,
					icon_type: 'arrow',
        } %}
				<p>Underline Button wth arrow example</p>
				{% include "link-button" with {
          text: "Kelly Green Button Component",
          url: "apple.com",
          color: 'kelly',
					uppercase: true,
        } %}
				<p>
					<a href="#" class="kelly-green-button">Kelly Green Button Class</a>
				</p>
				{% include "link-button" with {
          text: "Black Button Component",
          url: "google.com",
          color: 'black',
					uppercase: true,
        } %}
				<p>
					<a href="#" class="black-button">Black Button Class</a>
				</p>
				<div style="background:black; padding: 1rem; width: fit-content;">
					{% include "link-button" with {
						text: "Underline White Button Component",
						url: "google.com",
						button_style: 'underline',
						color: 'underline-white',
						uppercase: true,
					} %}
					<p>
						<a href="#" class="underline-white-button">Underline White Button Class</a>
					</p>

					{% include "link-button" with {
						text: "Underline White Button with Arrow Component",
						url: "google.com",
						button_style: 'underline',
						color: 'underline-white',
						uppercase: false,
						icon_type: 'arrow'
					} %}
					<p></p>
					{% include "link-button" with {
						text: "White Green Button Component",
						url: "apple.com",
						color: 'white',
						uppercase: true,
					} %}
					<p>
						<a href="#" class="white-green-button">White Green Button Class</a>
					</p>
				</div>

			</div> #}

			{# Form #}
			<div>
				<h3>Example of a form:</h3>
				<form>
					<p>
						<label for="example-input-email">Email address</label>
						<input type="email" id="example-input-email" placeholder="Enter email">
					</p>
					<p>
						<label for="example-input-password1">Number</label>
						<input type="number" id="example-input-number" placeholder="Number">
					</p>
					<p>
						<label for="example-input-password">Password</label>
						<input type="password" id="example-input-password" placeholder="Password">
					</p>
					<p>
						<label for="example-input-search">Search</label>
						<input type="search" id="example-input-serach" placeholder="Search ..">
					</p>
					<p>
						<label for="example-input-tel">Telephone number</label>
						<input type="tel" id="example-input-tel" placeholder="Telephone number">
					</p>

					<p>
						<label for="example-input-text">Text</label>
						<input type="text" id="example-input-text" placeholder="Enter some text here">
					</p>
					<p>
						<label for="example-input-url">Url</label>
						<input type="url" id="example-input-url" placeholder="Enter a url here">
					</p>
					<p>
						<label for="example-input-color">Color</label>
						<input type="color" id="example-inupt-color" placeholder="#fff">
					</p>
					<p>
						<label for="example-input-date">Date</label>
						<input type="date" id="example-input-date" placeholder="date">
					</p>
					<p>
						<label for="example-input-date-time">Date / Time</label>
						<input type="datetime" id="example-input-date-time" placeholder="date / time">
					</p>
					<p>
						<label for="example-input-date-time-local">Date / Time local</label>
						<input type="datetime-local" id="example-input-date-time-local" placeholder="date / time local">
					</p>
					<p>
						<label for="example-input-month">Month</label>
						<input type="month" id="example-input-month" placeholder="Month">
					</p>
					<p>
						<label for="example-input-week">Week</label>
						<input type="week" id="example-input-week" placeholder="Week">
					</p>
					<p>
						<label for="example-input-time">Time</label>
						<input type="time" id="example-input-time" placeholder="Time">
					</p>
					<p>
						<label for="example-select1">Example select</label>
						<select id="example-select1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</p>
					<p>
						<label for="example-select2">Example multiple select</label>
						<select multiple id="example-select2">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</p>
					<p>
						<label for="example-textarea">Example textarea</label>
						<textarea id="example-textarea" rows="3"></textarea>
					</p>
					<p>
						<label for="example-input-file">File input</label>
						<input type="file" id="example-input-file">
					</p>
					<fieldset>
						<legend>I am legend</legend>
						<div>
							<label>
								<input type="radio" name="options-radios" id="optionsR-radios1" value="option1" checked>
								Option one is this and that&mdash;be sure to include why it's great
							</label>
						</div>

						<div>
							<label>
								<input type="radio" name="options-radios" id="options-radios2" value="option2">
								Option two can be something else and selecting it will deselect option one
							</label>
						</div>
						<div>
							<label>
								<input type="radio" name="optionsRadios" id="options-radios3" value="option3" disabled>
								Option three is disabled
							</label>
						</div>
					</fieldset>

					<fieldset>
						<legend>I am also legend</legend>
						<input type="checkbox">
						Check me out
						<input type="checkbox">
						Or check me out
					</fieldset>
					<p>
						<button type="button" name="button">Button</button>
						<input type="button" name="input" value="Input Button">
						<input type="submit" name="submit" value="Submit Button">
						<input type="reset" name="reset" value="Reset Button">
					</p>
				</form>
			</div>
			{# End of HTML Kitchen Sink #}
		</div>
	</div>
</article>
