<article{{attributes.addClass(['article'])}}>
	<div class="l--1-col l-new-constrained"> {# l-constrained #}
		<div class="l__primary">
			{% if content %}
				{{ content }}
			{% endif %}
		</div>
	</div>
</article>
