@import "_partials";

.c-callout {
  background-color: var(--color-surf--white);
  padding: rem(20px);
  @include bp-min(medium) {
    padding: rem(28px);
  }
  @include bp-min(large) {
    padding: rem(32px);
  }
  @include bp-min(xxlarge) {
    padding: rem(40px);
  }
  &.c-callout--cloud {
    background-color: var(--color-surf--cloud);
  }
  &.c-callout--forest {
    background-color: var(--color-surf--forest);
    color: var(--color-surf--white);
  }
  &.c-callout--kelly {
    background-color: var(--color-surf--kelly-green);
    color: var(--color-surf--white);
  }
  &.has-image {
    padding: 0;
    .c-callout__content-wrapper {
      padding: rem(40px);
    }
  }
}

.c-callout__title {
  @include surf-font-body-x-large;
  color: inherit;
  font-weight: var(--font-weight-bold);
}

// Two Column Overrides

// Three Column Overrides
