.c-callout img {
  display: block;
}

.c-callout__content {
  --space-inset-x: 40px;
  --space-inset-y: 40px;
  background-color: var(--background-color, transparent);
  color: var(--color-body);
}

.c-callout__heading * {
  color: var(--color-heading);
}
