@import "_partials";

.c-media-gallery {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1),
    transform 1s cubic-bezier(0.4, 0, 0.2, 1);

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .splide {
    display: flex;
    flex-direction: column;

    .splide__track {
      order: 1;
    }

    .splide__slide {
      position: relative;

      figure {
        span {
          display: block;
          position: relative;
          // background: var(--color-surf--midnight);
          // FIXME:
          background: #111;

          &::after {
            transition: opacity 1300ms cubic-bezier(0.4, 0, 0.2, 1);
            // opacity: 0;
            content: "";
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(
              180deg,
              rgba(0, 110, 240, 0) 63.54%,
              rgba(0, 110, 240, 0.9) 100%
            );
          }
        }

        img {
          width: 100%;
          display: block;
        }

        figcaption {
          font-size: rem(14px);
          line-height: 157%;
          background: #fff;
          width: 100%;
          margin: 0;
          padding: rem(20px) rem(15px);
          z-index: 2;

          @include bp-min(medium) {
            padding: rem(40px) 0;
          }

          @include bp-min(large) {
            width: auto;
            font-size: rem(18px);
            line-height: 156%;
            position: absolute;
            bottom: -1px;
            left: -1px;
            right: rem(42px);
            padding: rem(12px) rem(20px);
            max-width: rem(780px);
          }
        }
      }
    }

    .splide__arrows {
      order: 2;
    }
  }

  // Arrows
  .splide__arrows {
    display: flex;
    column-gap: rem(20px);

    @include bp-min(medium) {
      display: flex;
      justify-content: flex-end;
      margin: 0 auto;
      max-width: rem(686px);
      width: 100%;
    }

    @include bp-min(large) {
      margin-top: rem(40px);
      justify-content: center;
    }

    @include bp-min(xlarge) {
      margin-top: rem(80px);
    }

    .splide__arrow {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: rem(4px) rem(20px);
      // background: var(--color-surf--mist);
      // FIXME:
      background: #eee;
      border-radius: 0;
      border: none;
      cursor: pointer;
      width: rem(64px);
      height: rem(32px);
      transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
      position: relative;

      // border-bottom: solid rem(4px) var(--color-surf--mist);
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background-image: linear-gradient(
          to bottom,
          transparent 0%,
          transparent 94%,
          var(--color-surf--navy) 94%,
          var(--color-surf--navy) 100%
        );
        background-repeat: no-repeat;
        background-size: 0 100%;
        background-position-x: right;
        transition: background-size 0.35s cubic-bezier(0.4, 0, 0.2, 1);
      }

      &:hover,
      &:focus {
        transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

        // border-bottom: solid rem(4px) var(--color-surf--navy);
        &::after {
          transition: background-size 0.25s cubic-bezier(0.4, 0, 0.2, 1);
          background-size: 100% 100%;
          background-position-x: left;
        }

        svg {
          transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
          transform: scale(1.1) translate(4px, 0);

          path {
            fill: var(--color-surf--navy);
            // FIXME:
            background: #2d1746;
          }
        }
      }

      @include bp-min(large) {
        width: rem(140px);
        height: rem(60px);
      }

      svg {
        transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);

        path {
          transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
          // fill: var(--color-surf--blue);
          // FIXME:
          fill: #550ec7;
        }
      }

      &.splide__arrow--prev {
        margin: 0 0 0 auto;

        svg {
          transform: rotate(180deg);
        }

        @include bp-min(medium) {
          margin: 0;
        }

        &:hover,
        &:focus {
          transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

          // border-bottom: solid rem(4px) var(--color-surf--navy);
          &::after {
            transition: background-size 0.25s cubic-bezier(0.4, 0, 0.2, 1);
            background-size: 100% 100%;
            background-position-x: right;
          }

          svg {
            transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
            transform: rotate(180deg) scale(1.1) translate(4px, 0);

            path {
              // fill: var(--color-surf--navy);
              // FIXME:
              background: #550ec7;
            }
          }
        }
      }

      &.splide__arrow--next {
        margin: 0 auto 0 0;

        @include bp-min(medium) {
          margin: 0;
        }
      }
    }
  }
}

.c-media-gallery {
  .splide__arrow--prev {
    opacity: 0;
    transform: translateX(-15px);
    transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1),
      transform 1s cubic-bezier(0.4, 0, 0.2, 1);

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .splide__arrow--next {
    opacity: 0;
    transform: translateX(15px);
    transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1),
      transform 1s cubic-bezier(0.4, 0, 0.2, 1);

    // add a delay to the next arrow
    &.visible {
      opacity: 1;
      transform: translateX(0);
      transition-delay: 250ms;
    }
  }
}
