{#
/**
 * @file
 * Default theme implementation to display an Gallery Paragraph.
 *
 * Available variables:
 * - No additional variables are available for this Paragraph type.
 *
 * @see templates/paragraphs/paragraph.html.twig
 * @see components/02-molecules/gallery/gallery.twig
 *
 */
#}

{% set classes = [
    'paragraph',
    'paragraph--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% set rendered_content = content|without(
    'field_ref_media'
) %}

{{ rendered_content }}

{% set gallery_items %}
    {% for i in 0..content.field_ref_media|field_value|length - 1 %}
        {% set item_height = content.field_ref_media[loop.index0]['#media'].field_media_image.0.width %}

        <li class="splide__slide m-gallery__slide">
            {{- content.field_ref_media[loop.index0] -}}
        </li>
    {% endfor %}
{% endset %}

{% include 'surf_main:gallery' with {
    attributes,
    gallery_attributes: create_attribute({'class': classes}),
    gallery_items: gallery_items,
    gallery_title: 'Gallery ' ~ paragraph.id(),
} only %}
