//
// Component - Page - Basic Page
//
// https://atendesign.atlassian.net/browse/SRL-50
// https://www.figma.com/file/JX6eNUHRmRVVEJBaRcfSoC/SURF-Main-Site-Design?type=design&node-id=1120-209822&mode=dev
//
// - 01 - Imports
// - 02 - General
//



//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;



//------------------------------------
//  02 - General
//------------------------------------

.o-header__content {
  background-color: var(--surf-color-white);
  padding-block: rem(32px);
  @include bp-min(xlarge) {
    padding-block: rem(60px);
    padding-inline: rem(120px);
  }
}

