//
// Component - Page - Experiment/Research Page
//
// - 01 - Imports
// - 02 - General
//



//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;



//------------------------------------
//  02 - General
//------------------------------------

.o-header__content {
  background-color: var(--surf-color-white);
  padding-block: rem(32px);
  @include bp-min(xlarge) {
    padding-block: rem(60px);
    padding-inline: rem(120px);
  }
}

