//
// Component - Atom - Editor
//
// - 01 - Imports
// - 02 - General
// - 03 - Headings
// - 04 - Links
// - 05 - Lists
// - 06 - Tables
// - 07 - Media
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/global/src/lists';
@use '../../../00-base/global/src/media';
@use '../../../00-base/global/src/tables';
@use '../../../00-base/global/src/typography';




//------------------------------------
//  02 - General
//------------------------------------

.a-editor {
  @include typography.general();
  @include typography.bold();
  margin-inline: auto;
  max-inline-size: var(--surf-width-small);
}




//------------------------------------
//  03 - Headings
//------------------------------------

.a-editor {
  @include typography.headings-editor();
}




//------------------------------------
//  04 - Links
//------------------------------------

.a-editor {
  @include typography.links();
}




//------------------------------------
//  05 - Lists
//------------------------------------

.a-editor {
  @include lists.general();
  @include lists.unordered();
  @include lists.ordered();
}




//------------------------------------
//  06 - Tables
//------------------------------------

.a-editor {
  @include tables.general();
  @include tables.elements();

  .a-editor__table {
    max-inline-size: 100%;
    overflow: auto;
  }
}




//------------------------------------
//  07 - Media
//------------------------------------

.a-editor {
  @include media.alignment();
  @include media.general();
  @include media.sizes();

  .a-media.media--small.align-right {
    @include breakpoints.bp-min(large) {
      margin-inline-end: -8vw;
    }

    @include breakpoints.bp-min(xlarge) {
      margin-inline-end: -16vw;
    }
  }

  .a-media.media--small.align-left {
    @include breakpoints.bp-min(large) {
      margin-inline-start: -8vw;
    }

    @include breakpoints.bp-min(xlarge) {
      margin-inline-start: -16vw;
    }
  }
}
