//
// Component - Atom - Editor
//
// - 01 - Imports
// - 02 - General
// - 03 - Tables
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - General
//------------------------------------

.a-editor {
  p:not(:first-child) {
    margin-top: 16px;
  }
}




//------------------------------------
//  02 - General
//------------------------------------

.a-editor .a-editor__table {
  max-width: 100%;
  overflow: auto;
}
