//
// Component - Organism - Experiment Node
//
// - 01 - Imports
// - 02 - General
// - 03 - Modifiers
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - General
//------------------------------------

.p-experiment {
  .o-header__content {
    background-color: var(--surf-color-white);
    padding-block: calculations.rem(32px);

    @include breakpoints.bp-min(xlarge) {
      padding-block: calculations.rem(60px);
      padding-inline: calculations.rem(120px);
    }
  }

  .p-experiment__media {
    img {
      max-block-size: 480px;
      object-fit: cover;
      width: 100%;

      @include breakpoints.bp-min(xlarge) {
        max-block-size: 690px;
      }
    }
  }

  .m-breadcrumbs {
    display: none;

    @include breakpoints.bp-min(medium) {
      display: block;
    }
  }

  .p-experiment__dates {
    color: var(--surf-color-gray-800);
    display: flex;
    grid-gap: 2px;
    font-size: calculations.rem(16px);
    font-weight: var(--surf-fw-bold);
    text-transform: uppercase;
  }

  .p-experiment__overview {
    margin-block-end: calculations.rem(32px);

    @include breakpoints.bp-min(medium) {
      margin-block-end: calculations.rem(60px);
    }
  }

  .p-experiment__main-content {
    > * {
      margin-inline: auto;
    }

    > :not(:last-child) {
      margin-block-end: calculations.rem(60px);
    }
  }

  .p-experiment__in-the-news {
    > :not( :last-child ) {
      margin-block-end: calculations.rem(32px);

      @include breakpoints.bp-min(medium) {
        margin-block-end: calculations.rem(60px);
      }

      @include breakpoints.bp-min(large) {
        margin-block-end: calculations.rem(68px);
      }
    }
  }
}




//------------------------------------
//  03 - Modifiers
//------------------------------------

.p-experiment.p-experiment--with-img .o-header {
  @include breakpoints.bp-min(xlarge) {
    margin-block-start: calculations.rem(-120px);
  }
}
