//
// Regions - Header Primary
//
// - 01 - Imports
// - 02 - Layout
// - 03 - General
// - 04 - Mobile Menu
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/animations';
@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/buttons';
@use '../../../00-base/partials/links';




//------------------------------------
//  02 - Layout
//------------------------------------


.o-masthead .o-masthead__primary {
  align-items: center;
  display: flex;
  height: var(--surf-height-region-header-primary);
  width: 100%;

  > .container {
    align-items: center;
    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-end;
  }

  > .container > .site-branding {
    margin-inline-end: auto;
    width: 113px;

    @include breakpoints.bp-min(medium) {
      width: 154px;
    }

    @include breakpoints.bp-min(large) {
      width: 217px;
    }
  }

  > .container > .site-branding .site-branding__logo {
    position: relative;
    top: 4px;
  }

  > .container > .menu {
    display: none;

    @include breakpoints.bp-min(xxlarge) {
      display: block;
    }
  }
}




//------------------------------------
//  03 - General
//------------------------------------

.o-masthead .o-masthead__primary {
  background: var(--surf-color-white);
}




//------------------------------------
//  04 - Mobile Menu
//------------------------------------

.o-masthead .o-masthead__primary {
  .o-masthead__flyout {
    @include breakpoints.bp-min(xxlarge) {
      display: none;
    }
  }

  .o-masthead__flyout .o-masthead__flyout-trigger {
    @include buttons.button-reset();
    @include links.menu(22px, navy);
    padding-inline-start: 32px;

    @include breakpoints.bp-min(medium) {
      @include links.menu(28px, navy);
      padding-inline-start: 40px;
    }

    &:after {
      display: none;
    }

    &:before {
      background: svg-load('icon-menu.svg', fill='#000080') no-repeat center;
      background-size: cover;
      bottom: 0;
      content: '';
      display: block;
      height: 24px;
      left: 0;
      margin: auto;
      position: absolute;
      top: 0;
      transform: rotate(0deg);
      transition: animations.transition(all, 0.35s, easeInOutExpo);
      width: 24px;

      @include breakpoints.bp-min(medium) {
        height: 32px;
        width: 32px;
      }
    }
  }

  .o-masthead__flyout.is-open .o-masthead__flyout-trigger:before {
    background: svg-load('icon-close.svg', fill='#000080') no-repeat center;
    transform: rotate(360deg);
  }

  .o-masthead__flyout .o-masthead__flyout-content-wrapper {
    background: fade-out(#000, 0.5);
    display: block;
    height: calc(100vh - (var(--surf-height-region-header-primary)));
    left: 0;
    opacity: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    position: fixed;
    top: var(--surf-height-region-header-primary);
    transition: animations.transition(all, 0.35s, easeInOutExpo);
    visibility: hidden;
    width: 100vw;

    @include breakpoints.bp-min(large) {
      height: calc(100vh - (var(--surf-height-region-header-primary) - var(--surf-height-region-header-utility)));
      top: calc(var(--surf-height-region-header-primary) + var(--surf-height-region-header-utility));
    }

    .gin--horizontal-toolbar & {
      height: calc(100vh - (var(--surf-height-region-header-primary) + var(--gin-toolbar-height)));
      top: var(--surf-height-region-header-primary);

      @include breakpoints.bp-min(large) {
        height: calc(100vh - (var(--surf-height-region-header-primary) + var(--gin-toolbar-height)));
        top: calc(var(--surf-height-region-header-primary) + var(--surf-height-region-header-utility));
      }
    }
  }

  .o-masthead__flyout.is-open .o-masthead__flyout-content-wrapper {
    opacity: 1;
    visibility: visible;
  }

  .o-masthead__flyout .o-masthead__flyout-content {
    background: var(--surf-gradient-vt-blue);
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: animations.transition(all, 0.35s, easeInOutExpo);
    width: 100%;

    @include breakpoints.bp-min(small) {
      transform: translateX(376px);
      width: 376px;
    }
  }

  .o-masthead__flyout.is-open .o-masthead__flyout-content {
    transform: translateX(0);
  }
}
