//
// Component - Organism - Masthead
//
// - 01 - Imports
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use 'masthead_primary';
@use 'masthead_utility';




//------------------------------------
//  02 - General
//------------------------------------

.o-masthead {
  left: 0;
  position: relative;
  top: 0;
  width: 100%;

  &.scrolled {
    position: fixed;
  }
}
