{#
/**
 * @file
 * Component for Article (Node)
 *
 * Available props:
 *
 */
#}

{% set classes = [
    'p-article',
    'p-article--text'
] %}

<article {{ attributes.addClass(classes).merge(attributes) }}>
    <div class="container container--small">
        <div class="p-article__inner-wrapper">
            {% embed 'surf_main:heading' with {
                heading_text: article_heading,
                heading_level: '1',
                heading_attributes: create_attribute({'class': ['p-article__heading']}),
            } only %}
            {% endembed %}

            {% embed 'surf_main:editor' with {
                editor_attributes: create_attribute(),
                editor_content: article_body,
            } only %}
            {% endembed %}

            {% if article_date %}
                <div class="p-article__date">
                    {{ article_date }}
                </div>
            {% endif %}

            {% if article_author %}
                <p class="p-article__author">
                    by {{ article_author }}
                </p>
            {% endif %}

            {% if article_tags %}
                <ul class="p-article__tags">
                    {% for tag in article_tags %}
                        <li>
                            {% embed 'surf_main:chip' with {
                                chip_text: tag,
                                chip_size: 'small',
                                chip_attributes: create_attribute(),
                            } only %}
                            {% endembed %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    <div class="container container--large">
        <div class="p-article__callout-wrapper">
            {% embed 'surf_main:callout' with {
                callout_attributes: create_attribute(),
                callout_text: 'Stay up-to-date on our latest news and upcoming events.',
                callout_button_text: 'Subscribe to Deep Thoughts',
                callout_button_url: 'http://www.example.com',
                callout_button_prefix: 'envelope',
                callout_type: 'news',
            } only %}
            {% endembed %}

            {% embed 'surf_main:callout' with {
                callout_attributes: create_attribute(),
                callout_text: 'Watch our lectures on physics, algorithmic art, local history, botany and more!',
                callout_button_text: 'Watch Deep Talks on Vimeo',
                callout_button_url: 'http://www.example.com',
                callout_button_prefix: 'play',
                callout_type: 'news',
            } only %}
            {% endembed %}
        </div>
    </div>

    <div class="container container--xlarge">
        {% embed 'surf_main:left-hook' with {
            left_hook_attributes: create_attribute(),
        } only %}
        {% endembed %}

        {% embed 'surf_main:heading' with {
            heading_attributes: create_attribute({'class': ['a-heading--lg']}),
            heading_text: research_area ~ 'Related News',
            heading_level: '2',
        } only %}
        {% endembed %}
    </div>
</article>
