//
// Component - Atom - Icon
//
// - 01 - Imports
// - 02 - General
// - 03 - Types
//


//------------------------------------
//  01 - Imports
//------------------------------------

// TBD




//------------------------------------
//  02 - General
//------------------------------------

.a-icon {
  background-size: cover;
  display: inline-block;
}




//------------------------------------
//  03 - Types
//------------------------------------

.a-icon {
  &.a-icon--add {
    --icon-add: svg-load('icon-add.svg');
    mask-image: var(--icon-add);
  }

  &.a-icon--angle-down {
    background: svg-load('icon-angle-down.svg', fill="#000") no-repeat center;
  }

  &.a-icon--angle-left {
    background: svg-load('icon-angle-left.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--angle-right {
    background: svg-load('icon-angle-right.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--angle-up {
    background: svg-load('icon-angle-up.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--arrow-down {
    background: svg-load('icon-arrow-down.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--arrow-left {
    background: svg-load('icon-arrow-left.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--arrow-right {
    background: svg-load('icon-arrow-right.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--arrow-up {
    background: svg-load('icon-arrow-up.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--bag {
    background: svg-load('icon-bag.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--boxed-error {
    background: svg-load('icon-boxed-error.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--boxed-info {
    background: svg-load('icon-boxed-info.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--boxed-success {
    background: svg-load('icon-boxed-success.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--burst {
    background: svg-load('icon-burst.svg', fill="currentColor") no-repeat center;
  }

  &.a-con--calendar {
    background: svg-load('icon-calendar.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--calendar-alt {
    background: svg-load('icon-calendar-alt.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--chart-bar {
    background: svg-load('icon-chart-bar.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--check {
    background: svg-load('icon-check.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--check-empty-disabled {
    background: svg-load('icon-check-empty-disabled.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--check-partial {
    background: svg-load('icon-check-partial.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--check-selected {
    background: svg-load('icon-check-selected.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--clock {
    background: svg-load('icon-clock.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--close {
    background: svg-load('icon-close.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--comment {
    background: svg-load('icon-comment.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--diagonal {
    background: svg-load('icon-diagonal.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--download {
    background: svg-load('icon-download.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--envelope {
    background: svg-load('icon-envelope.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--expand {
    background: svg-load('icon-expand.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--facebook {
    background: svg-load('icon-facebook.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--file {
    background: svg-load('icon-file.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--file-pdf {
    background: svg-load('icon-file-pdf.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--heart {
    background: svg-load('icon-heart.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--info {
    background: svg-load('icon-info.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--instagram {
    background: svg-load('icon-instagram.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--link {
    background: svg-load('icon-link.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--linkedin {
    background: svg-load('icon-linkedin.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--location {
    background: svg-load('icon-location.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--location-alt {
    background: svg-load('icon-location-alt.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--menu {
    background: svg-load('icon-menu.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--pencil {
    background: svg-load('icon-pencil.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--phone {
    background: svg-load('icon-phone.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--play {
    background: svg-load('icon-play.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--play-solid {
    background: svg-load('icon-play-solid.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--question {
    background: svg-load('icon-question.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--radio-selected {
    background: svg-load('icon-radio-selected.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--radio-unselected {
    background: svg-load('icon-radio-unselected.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--search {
    background: svg-load('icon-search.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--share {
    background: svg-load('icon-share.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--share-alt {
    background: svg-load('icon-share-alt.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--star {
    background: svg-load('icon-star.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--teacher {
    background: svg-load('icon-teacher.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--thumbs-up {
    background: svg-load('icon-thumbs-up.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--user {
    background: svg-load('icon-user.svg', fill="currentColor") no-repeat center;
  }

  &.a-icon--youtube {
    background: svg-load('icon-youtube.svg', fill="currentColor") no-repeat center;
  }
}
