//
// Component - Atom - Icon
//
// - 01 - Imports
// - 02 - General
// - 03 - Types
//


//------------------------------------
//  01 - Imports
//------------------------------------

// TBD




//------------------------------------
//  02 - General
//------------------------------------

.a-icon {
  background-size: cover;
  display: inline-block;
}




//------------------------------------
//  03 - Types
//------------------------------------

.a-icon {
  &.a-icon--add {
    background: svg-load('icon-add.svg');
  }

  &.a-icon--angle-down {
    background: svg-load('icon-angle-down.svg');
  }

  &.a-icon--angle-left {
    background: svg-load('icon-angle-left.svg');
  }

  &.a-icon--angle-right {
    background: svg-load('icon-angle-right.svg');
  }

  &.a-icon--angle-up {
    background: svg-load('icon-angle-up.svg');
  }

  &.a-icon--arrow-down {
    background: svg-load('icon-arrow-down.svg');
  }

  &.a-icon--arrow-left {
    background: svg-load('icon-arrow-left.svg');
  }

  &.a-icon--arrow-right {
    background: svg-load('icon-arrow-right.svg');
  }

  &.a-icon--arrow-up {
    background: svg-load('icon-arrow-up.svg');
  }

  &.a-icon--bag {
    background: svg-load('icon-bag.svg');
  }

  &.a-icon--boxed-error {
    background: svg-load('icon-boxed-error.svg');
  }

  &.a-icon--boxed-info {
    background: svg-load('icon-boxed-info.svg');
  }

  &.a-icon--boxed-success {
    background: svg-load('icon-boxed-success.svg');
  }

  &.a-icon--burst {
    background: svg-load('icon-burst.svg');
  }

  &.a-con--calendar {
    background: svg-load('icon-calendar.svg');
  }

  &.a-icon--calendar-alt {
    background: svg-load('icon-calendar-alt.svg');
  }

  &.a-icon--chart-bar {
    background: svg-load('icon-chart-bar.svg');
  }

  &.a-icon--check {
    background: svg-load('icon-check.svg');
  }

  &.a-icon--check-empty-disabled {
    background: svg-load('icon-check-empty-disabled.svg');
  }

  &.a-icon--check-partial {
    background: svg-load('icon-check-partial.svg');
  }

  &.a-icon--check-selected {
    background: svg-load('icon-check-selected.svg');
  }

  &.a-icon--clock {
    background: svg-load('icon-clock.svg');
  }

  &.a-icon--close {
    background: svg-load('icon-close.svg');
  }

  &.a-icon--comment {
    background: svg-load('icon-comment.svg');
  }

  &.a-icon--diagonal {
    background: svg-load('icon-diagonal.svg');
  }

  &.a-icon--download {
    background: svg-load('icon-download.svg');
  }

  &.a-icon--envelope {
    background: svg-load('icon-envelope.svg');
  }

  &.a-icon--expand {
    background: svg-load('icon-expand.svg');
  }

  &.a-icon--facebook {
    background: svg-load('icon-facebook.svg');
  }

  &.a-icon--file {
    background: svg-load('icon-file.svg');
  }

  &.a-icon--file-pdf {
    background: svg-load('icon-file-pdf.svg');
  }

  &.a-icon--heart {
    background: svg-load('icon-heart.svg');
  }

  &.a-icon--info {
    background: svg-load('icon-info.svg');
  }

  &.a-icon--instagram {
    background: svg-load('icon-instagram.svg');
  }

  &.a-icon--link {
    background: svg-load('icon-link.svg');
  }

  &.a-icon--linkedin {
    background: svg-load('icon-linkedin.svg');
  }

  &.a-icon--location {
    background: svg-load('icon-location.svg');
  }

  &.a-icon--location-alt {
    background: svg-load('icon-location-alt.svg');
  }

  &.a-icon--menu {
    background: svg-load('icon-menu.svg');
  }

  &.a-icon--pencil {
    background: svg-load('icon-pencil.svg');
  }

  &.a-icon--phone {
    background: svg-load('icon-phone.svg');
  }

  &.a-icon--play {
    background: svg-load('icon-play.svg');
  }

  &.a-icon--play-solid {
    background: svg-load('icon-play-solid.svg');
  }

  &.a-icon--question {
    background: svg-load('icon-question.svg');
  }

  &.a-icon--radio-selected {
    background: svg-load('icon-radio-selected.svg');
  }

  &.a-icon--radio-unselected {
    background: svg-load('icon-radio-unselected.svg');
  }

  &.a-icon--search {
    background: svg-load('icon-search.svg');
  }

  &.a-icon--share {
    background: svg-load('icon-share.svg');
  }

  &.a-icon--share-alt {
    background: svg-load('icon-share-alt.svg');
  }

  &.a-icon--star {
    background: svg-load('icon-star.svg');
  }

  &.a-icon--teacher {
    background: svg-load('icon-teacher.svg');
  }

  &.a-icon--thumbs-up {
    background: svg-load('icon-thumbs-up.svg');
  }

  &.a-icon--user {
    background: svg-load('icon-user.svg');
  }

  &.a-icon--youtube {
    background: svg-load('icon-youtube.svg');
  }
}
