@use '../../00-base/partials/partials' as *;

//FIXME: fix img references
.c-landing-page {
  width: 100%;

  &.title_illustration {

    @include bp-min(medium) {
      background-image: url('../../../../images/illustrations/landing-page-header.png');
      background-position: top right;
      background-repeat: no-repeat;
      background-size: rem(460px);
      min-height: rem(160px);
    }

    @include bp-min(large) {
      background-position: top right -270px;
      background-size: rem(930px);
      min-height: rem(320px);
    }

    @include bp-min(xlarge) {
      background-position: top right;
      background-size: rem(930px);
      min-height: rem(320px);
    }

    .c-landing-page__title {
      background: var(--color-surf--black)
        url('/themes/custom/surf_main/templates/components/header/green.svg')
        no-repeat bottom left;
      background-clip: text;
      color: var(--color-surf--black);
      display: inline;
      margin-top: 0;
      -webkit-text-fill-color: transparent;
    }
  }
}