//
// Component - Organism - Experiment Node
//
// - 01 - Imports
// - 02 - General
// - 03 - Modifiers
// - 04 - Context Overrides
//



//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;



//------------------------------------
//  02 - General
//------------------------------------
//

.o-experiment {
  // empty
}

.o-experiment__media {
  img {
    max-height: 600px;
    object-fit: cover;
  }
}

.o-experiment__overview {
  margin-block-end: rem(32px);
  @include bp-min(medium) {
    margin-block-end: rem(60px);
  }
}

.o-experiment__main-content,
.lpb-component-list {
  > * {
    margin-inline: auto;
  }

  > :not( :last-child ) {
    margin-block-end: rem(60px);
  }
}

.o-experiment__additional-content {
  margin-block-start: rem(32px);

  @include bp-min(medium) {
    margin-block-start: rem(60px);
  }

  @include bp-min(large) {
    margin-block-start: rem(80px);
  }

  > :not( :last-child ) {
    margin-block-end: rem(32px);

    @include bp-min(medium) {
      margin-block-end: rem(60px);
    }

    @include bp-min(large) {
      margin-block-end: rem(80px);
    }
  }
}

.o-experiment__in-the-news {
  > :not( :last-child ) {
    margin-block-end: rem(32px);

    @include bp-min(medium) {
      margin-block-end: rem(60px);
    }

    @include bp-min(large) {
      margin-block-end: rem(68px);
    }
  }
}



//------------------------------------
//  03 - Modifiers
//------------------------------------

.o-experiment--with-img
.o-header {
  @include bp-min(xlarge) {
    margin-block-start: rem(-120px);
  }
}


//------------------------------------
//  04 - Context Overrides
//------------------------------------
//

.o-experiment__main-content,
.lpb-component-list {

  .layout--twocol-section {
    max-width: rem(888px);
    margin-inline: auto;
  }

  .m-gallery {
    margin-block: rem(40px);
    @include bp-min(medium) {
      margin-block: rem(60px);
    }
  }

  .m-pullquote.m-pullquote--medium {
    max-width: rem(1020px);
    padding-inline: 0;
    margin-block-start: rem(-28px);
    margin-block-end: rem(32px);
  }
}