@import "_partials";

.c-curriculum-module__title {
  margin: 0 0 rem(12px) 0;
  @include surf-font-heading-one;
  font-size: rem(48px);
  line-height: 90%;
  text-transform: uppercase;
  @include bp-min(medium) {
    font-size: rem(100px);
    line-height: 94%;
  }
  @include bp-min(large) {
    font-size: rem(132px);
    line-height: 94%;
  }
  @include bp-min(xlarge) {
    font-size: rem(176px);
    line-height: 90%;
  }
}

.c-curriculum-module__header-wrapper {
  margin-bottom: rem(32px);
  @include bp-min(medium) {
    margin-bottom: rem(40px);
  }
  @include bp-min(large) {
    // padding-top: rem(50px);
    margin-bottom: rem(60px);
  }
  &:after {
    @include bp-min(large) {
      content: "";
      display: block;
      background-image: url("../img/curriculum-module.png");
      background-position: top right;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      width: rem(333px);
      height: rem(222px);
      background-size: cover;
      top: 0;
    }
    @include bp-min(xlarge) {
      width: rem(450px);
      height: rem(300px);
    }
  }
}

.c-curriculum-module__details-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @include bp-min(large) {
    align-items: center;
    flex-direction: row;
  }
  li {
    display: block;
    margin: 0;
  }
}

.c-curriculum-module__overview {
  p {
    @include surf-font-body-large;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: rem(28px);
    }
  }
}

.c-curriculum-module__image-wrapper {
  margin: 0 0 rem(32px) 0;

  @include bp-min(medium) {
    margin: 0 0 rem(40px) 0;
    max-height: rem(226px);
  }
  @include bp-min(large) {
    margin: 0 0 rem(60px) 0;
    max-height: rem(370px);
  }
  @include bp-min(xxlarge) {
    margin: 0;
    max-height: rem(370px);
  }
  img {
    display: block;
    max-height: rem(236px);
    @include bp-min(medium) {
      max-height: rem(226px);
    }
    @include bp-min(large) {
      max-height: rem(370px);
    }
  }
}

.c-curriculum-module__content-wrapper {
  padding: 0 0 rem(25px) 0;
  @include bp-min(medium) {
    padding: 0 0 rem(76px) 0;
  }
  @include bp-min(large) {
    padding: 0 0 rem(67px) 0;
  }
  @include bp-min(xxlarge) {
    // display: flex;
    padding: 0 0 rem(143px) 0;
    .c-curriculum-module__image-wrapper {
      order: 2;
      flex: none;
      margin: 0 0 0 rem(60px);
    }
  }
}

.c-curriculum-module__body-wrapper {
  & > .text-content > p:first-child {
    margin-top: 0;
  }
  & > .text-content > p:last-child {
    margin-bottom: 0;
  }
  @include bp-min(medium) {
    order: unset;
    grid-area: body;
  }
  @include bp-min(large) {
    max-width: rem(780px);
  }
}

.c-curriculum-module__related-wrapper {
  margin: rem(60px) 0 0 0;
  @include bp-min(medium) {
    margin: rem(80px) 0 0 0;
  }
}

.c-curriculum-module__related-title {
  margin: 0 0 rem(40px) 0;
  @include surf-font-heading-two;
  @include bp-min(medium) {
    @include surf-font-heading-two;
  }
}

.c-curriculum-module__image-wrapper,
.c-curriculum-module__video-wrapper {
  margin: 0 0 rem(32px) 0;
  padding: 0 0 rem(32px) 0;
  border-bottom: solid rem(1px) var(--color-surf--grey);
  @include bp-min(medium) {
    margin: 0 0 rem(60px) 0;
    padding: 0 0 rem(60px) 0;
  }
  @include bp-min(xlarge) {
    padding: 0;
    border-bottom: none;
  }
}

.c-curriculum-module-content__inner-wrapper {
  .c-curriculum-module-content__title {
    margin: 0 0 rem(32px) 0;
    font-size: rem(40px);
    line-height: 100%;
    letter-spacing: 0.015em;
    @include bp-min(medium) {
      font-size: rem(52px);
    }
    @include bp-min(large) {
      font-size: rem(64px);
    }
    @include bp-min(large) {
      font-size: rem(96px);
    }
  }
}

// Meta Data
.c-curriculum-module__meta-data {
  background: var(--color-surf--cloud);
  padding: rem(20px) rem(24px);
  @include bp-min(medium) {
    padding: rem(40px);
    display: flex;
    flex-wrap: wrap;
  }
}

.c-curriculum-module__meta-data--grade-levels {
  @include bp-min(medium) {
    padding: 0 rem(60px) 0 0;
    width: 50%;
  }
  @include bp-min(large) {
    max-width: rem(260px);
    width: auto;
  }
  .c-curriculum-module__meta-data-items {
    @include bp-min(medium) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.c-curriculum-module__meta-data--content-areas {
  margin: rem(20px) 0 0 0;
  @include bp-min(medium) {
    margin: 0;
    width: 50%;
  }
  @include bp-min(large) {
    padding: 0 rem(60px) 0 0;
    max-width: rem(260px);
    width: auto;
  }
  .c-curriculum-module__meta-data-items {
    @include bp-min(medium) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.c-curriculum-module__meta-data--time-required {
  margin: rem(20px) 0 0 0;
  @include bp-min(medium) {
    margin: rem(40px) 0 0 0;
    width: 100%;
    flex: none;
  }
  @include bp-min(large) {
    margin: 0;
    flex: 1;
    width: auto;
  }
  .c-curriculum-module__meta-data-items {
    @include bp-min(medium) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.c-curriculum-module__meta-data-title {
  @include surf-font-label-peewee;
  margin: 0;
}

.c-curriculum-module__meta-data-items {
  margin: rem(20px) 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(20px);
  column-gap: rem(44px);
  @include bp-min(medium) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.c-curriculum-module__meta-data-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-size: rem(18px);
  line-height: 144%;
  @include bp-min(medium) {
    font-size: rem(24px);
    line-height: 140%;
  }
  a {
    @include surf-font-body-small;
    color: var(--color-surf--forest);
    font-weight: var(--font-weight-regular);
    text-decoration: underline;
    display: inline-block;
    font-size: rem(18px);
    line-height: 144%;
    @include bp-min(medium) {
      font-size: rem(24px);
      line-height: 140%;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &.link {
    padding-left: rem(30px);
    background-image: inline-svg(
      '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="#00492C" stroke-width="1.5" d="m11.6 5.733 1.572-1.571a4 4 0 0 1 5.657 5.657l-3.3 3.3a4.667 4.667 0 0 1-6.6 0"/><path stroke="#00492C" stroke-width="1.5" d="M10.972 17.675 9.4 19.247a4 4 0 1 1-5.657-5.657l3.3-3.3a4.667 4.667 0 0 1 6.6 0"/></svg>'
    );
    background-repeat: no-repeat;
    background-position: top left;
  }
  &.file {
    padding-left: rem(30px);
    background-image: inline-svg(
      '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path stroke="#00492C" stroke-width="1.5" d="M4 21.333V2.667h10.89l4.666 4.666v14H4Z"/><path stroke="#00492C" stroke-width="1.5" d="M14.89 2.667v4.666h4.666M6.968 11.222h9.29M6.968 14.333h9.29M6.968 17.445h6.193"/></svg>'
    );
    background-repeat: no-repeat;
    background-position: top left;
  }
}

.c-curriculum-module__link {
  margin: rem(32px) 0;
  @include bp-min(medium) {
    margin: rem(32px) 0 rem(60px) 0;
  }
}

// List
.c-list--inner-wrapper {
  margin: 0 0 rem(60px) 0;
}

// back link
.c-curriculum-module__link-back {
  margin: 0 0 rem(60px) 0;
}

// .c-curriculum-module__bottom-wrapper {
//   & > .cl-component--green-banner-cta {
//     margin-bottom: 0;
//     @include bp-max(medium) {
//       max-width: 100%;
//       width: 100%;
//     }
//   }
// }

body.page-node-type-curriculum-module .cl-component--green-banner-cta {
  margin-bottom: 0;
  @include bp-max(medium) {
    max-width: 100%;
    width: 100%;
  }
}

body.page-node-type-curriculum-module {
  .page-content-and-footer__wrapper > main > div {
    @include bp-max(medium) {
      padding-bottom: 0;
    }
  }
}

.c-curriculum-module__curriculum-standards-wrapper {
  margin: rem(32px) 0 0 0;
}

.c-curriculum-module__curriculum-standards-title {
  margin: 0 0 rem(16px) 0;
  @include bp-max(medium) {
    margin: 0 0 rem(32px) 0;
  }
  @include bp-max(large) {
    margin: 0 0 rem(50px) 0;
  }
  @include bp-max(xlarge) {
    margin: 0 0 rem(60px) 0;
  }
}

.c-curriculum-module__curriculum-standards-item-title {
  color: var(--color-surf--forest);
  font-size: rem(16px);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-body);
  line-height: 148%;
  margin: 0 0 rem(4px) 0;
  @include bp-max(medium) {
    font-size: rem(18px);
    line-height: 144%;
  }
  a {
    color: var(--color-surf--forest);
    font-size: rem(16px);
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-regular);
    line-height: 148%;
    text-decoration: underline;
    @include bp-max(medium) {
      font-size: rem(18px);
      line-height: 144%;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
.c-curriculum-module__curriculum-standards-item-body {
  p {
    font-size: rem(16px);
    line-height: 148%;
    color: var(--color-surf--black);
    @include bp-max(medium) {
      font-size: rem(18px);
      line-height: 144%;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}
