<section {{ attributes.addClass('c-resources-link').merge(clAttributes) }}>
  <span class="c-resources-link__title-wrapper">
    <a href="{{link_link}}" target="_blank" rel="nofollow noreferrer noopener" class="c-resources-link__link">{{link_title}}</a>
  </span>
</section>
