//
// Component - Molecule - Pullquote
//
// https://atendesign.atlassian.net/browse/SRL-118
// https://www.figma.com/file/JX6eNUHRmRVVEJBaRcfSoC/SURF-Main-Site-Design?type=design&node-id=1213-263587&mode=dev
//
// - 01 - Imports
// - 02 - General
// - 03 - Types
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - General
//------------------------------------

.m-pullquote {
  border-block: 2px solid var(--surf-color-gray-100);
  margin-inline: auto;
  max-width: 65%;
  padding-block: rem(32px);
}

.m-pullquote__quote {
  font-family: var(--surf-font-sans-alt);
  font-size: rem(64px);
  font-style: normal;
  font-weight: var(--surf-fw-medium);
  letter-spacing: 0.02em;
  line-height: 1;
  text-indent: 0;
}

.m-pullquote__credit {
  font-family: var(--surf-font-condensed);
  font-size: rem(16px);
  font-weight: var(--surf-fw-bold);
  letter-spacing: 1.5px;
  line-height: var(--surf-lh-label);
  margin-block-start: rem(20px);
  text-transform: uppercase;
}




//------------------------------------
//  03 - Types
//------------------------------------

.m-pullquote {
  &.m-pullquote--type-large {
    border: none;
    max-width: 100%;
    padding: 0;

    .m-pullquote__quote {
      background: linear-gradient(92.82deg, #707070 0.11%, #000000 95.94%);
      background-clip: text;
      font-size: rem(96px);
      letter-spacing: 0.015em;
      line-height: 1;
      margin: 0;
      -webkit-text-fill-color: transparent;
    }

    .m-pullquote__credit {
      font-family: var(--surf-font-condensed);
      font-size: rem(20px);
      font-weight: var(--surf-fw-bold);
      letter-spacing: 1.5px;
      line-height: var(--surf-lh-label);
      text-transform: uppercase;
    }
  }
}
