//
// Component - Molecule - Pullquote
//
// https://atendesign.atlassian.net/browse/SRL-118
// https://www.figma.com/file/JX6eNUHRmRVVEJBaRcfSoC/SURF-Main-Site-Design?type=design&node-id=1213-263587&mode=dev
//
// - 01 - Imports
// - 02 - General
// - 03 - Types
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - General
//------------------------------------

.m-pullquote {
  border-block: 2px solid var(--surf-color-gray-100);
  margin-inline: auto;
  padding-block: rem(32px);

  blockquote {
    margin: 0;
  }
}

.m-pullquote__quote {
  p {
    font-style: normal;
    text-indent: 0;
  }
}

.m-pullquote__credit {
  font-family: var(--surf-font-condensed);
  font-size: rem(16px);
  font-weight: var(--surf-fw-bold);
  letter-spacing: 1.5px;
  line-height: var(--surf-lh-label);
  margin-block-start: rem(20px);
  text-transform: uppercase;
}




//------------------------------------
//  03 - Types
//------------------------------------

.m-pullquote.m-pullquote--sm {
  padding: rem(32px);
  max-inline-size: rem(1020px);

  .m-pullquote__quote {
    p {
      font-family: var(--surf-font-sans);
      font-size: var(--surf-fs-20-24-32);
      font-weight: var(--surf-fw-book);
      line-height: var(--surf-lh-label);
    }
  }
}

.m-pullquote.m-pullquote--md {
  padding: rem(32px);

  .m-pullquote__quote {
    p {
      font-family: var(--surf-font-sans-alt);
      font-size: var(--surf-fs-40-52-64);
      font-weight: var(--surf-fw-medium);
      letter-spacing: 1.28px;
      line-height: var(--surf-lh-base);
    }
  }
}

.m-pullquote.m-pullquote--lg {
  border: none;
  padding: 0;
  max-inline-size: 100%;

  .m-pullquote__quote {
    p {
      background: linear-gradient(92.82deg, #707070 0.11%, #000000 95.94%);
      background-clip: text;
      font-family: var(--surf-font-sans-alt);
      font-size: var(--surf-fs-40-52-64-96);
      font-weight: var(--surf-fw-medium);
      letter-spacing: 0.015em;
      line-height: var(--surf-lh-base);
      margin: 0;
      -webkit-text-fill-color: transparent;
    }
  }

  .m-pullquote__credit {
    font-family: var(--surf-font-condensed);
    font-size: rem(20px);
    font-weight: var(--surf-fw-bold);
    letter-spacing: 1.5px;
    line-height: var(--surf-lh-label);
    text-transform: uppercase;
  }
}
