{#
/**
 * @file
 * Organism Component for Landing Page
 *
 * Available props:
 * - attributes: []
 * - landing_attributes: [array]
 * - landing_content: [array]
 * - landing_hero: [array]
 *
 */
#}

{% set classes = [
    'p-landing',
    'p-page',
] %}

<article {{ landing_attributes.addClass(classes).merge(attributes) }}>
    {{ landing_hero }}

    <div class="p-page__content">
        {{ landing_content }}
    </div>
</article>
