//
// Component - Page - Landing Page
//
// - 01 - Imports
// - 02 - Layout
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';




//------------------------------------
//  02 - Layout
//------------------------------------

.p-landing {
  padding-block-end: 60px;

  .p-landing__hero {
    margin-block-end: 32px;

    @include breakpoints.bp-min(medium) {
      margin-block-end: 60px;
    }
  }

  .p-landing__content > *:not( :last-child ) {
    margin-block-end: 32px;

    @include breakpoints.bp-min(large) {
      margin-block-end: 68px;
    }
  }
}
