//
// @file
// Color variables.
//
// SEE https://yeun.github.io/open-color/
//

:root {
  // SURF Main Branding Colors
  --color-surf--black: #222222;
  --color-surf--dark-grey: #494949;
  --color-surf--grey: #6d6d6d;
  --color-surf--cloud: #f2f2f2;
  --color-surf--blue: #2976d9;
  --color-surf--forest: #00492c;
  --color-surf--kelly-green: #008535;
  --color-surf--sage: #bcebbc;
  --color-surf--gold: #ffbe34;
  --color-surf--coral: #f26438;

  // Color: Background
  --color-background: transparent;
  --color-background-interface-inactive: var(--color-gray-95);
  --color-background-interface-active: #fff;

  //
  // Semantic colors
  //
  --color-border: var(--color-surf--black);
  --color-text: var(--color-surf--black);
  --color-text-heading: var(--color-surf--black);
  --color-text-input: var(--color-surf--black);

  --color-link: var(--color-surf--forest);
  --color-link-hover: var(--color-surf--black);
  --color-link-active: var(--color-surf--black);
  --color-link-visited: var(--color-surf--black);

  // Callouts
  --color-accent: #d6336c;
  --color-required: #c00;

  // Feedback
  --color-feedback-status: #008535;
  --color-feedback-success: #008535;
  --color-feedback-warning: #ffbe34;
  --color-feedback-error: #f26438;
  --color-feedback-weak: #f26438;
  --color-feedback-fair: #ffbe34;
  --color-feedback-good: #008535;
  --color-feedback-strong: #008535;
  --color-feedback-background: #e1e0e1;

  --table-color-border: var(--color-border);
  --table-color-background-header: #e1e0e1;
  --table-color-background-row-odd: #e1e0e1;
  --table-color-background-row-even: #fff;
}
