//
// @file
// Color variables.
//
// SEE https://yeun.github.io/open-color/
//

:root {
  // Color: Background
  --color-background: transparent;
  --color-background-interface-inactive: var(--color-gray-95);
  --color-background-interface-active: #fff;

  //
  // Semantic colors
  //
  --color-border: #c3c1c3;
  --color-text:#363136;
  --color-text-heading:#363136;
  --color-text-input:#363136;

  --color-link:#00659b;
  --color-link-hover:#00659b;
  --color-link-active:#00659b;
  --color-link-visited:#00659b;

  // Callouts
  --color-accent:#d6336c;
  --color-required: #c00;

  // Feedback
  --color-feedback-status:#417505;
  --color-feedback-success:#417505;
  --color-feedback-warning:#fdc400;
  --color-feedback-error: #c00;
  --color-feedback-weak: #c00;
  --color-feedback-fair: #fdc400;
  --color-feedback-good: #417505;
  --color-feedback-strong: #417505;
  --color-feedback-background: #e1e0e1;

  --table-color-border: var(--color-border);
  --table-color-background-header: #e1e0e1;
  --table-color-background-row-odd: #e1e0e1;
  --table-color-background-row-even: #fff;
}
