// The following custom property naming conventions are inspired by
// "Naming Tokens in Design Systems" by Nathan Curtis
// https://medium.com/eightshapes-llc/naming-tokens-in-design-systems-9e86c7444676
// These default values are intended to be mofified and extended to suite the needs
// of an individual project.

@import "../../partials/_partials";

:root {
  /*
    Font: Families
  */
  --font-family-mono: monospace;
  --font-family-sans: "ballinger", sans-serif;
  --font-family-condensed: "ballinger-condensed", sans-serif;
  --font-family-serif: "recent-grotesk", sans-serif;
  --font-family-body: var(--font-family-sans);
  --font-family-heading: var(--font-family-serif);
  --font-family-interface: var(--font-family-sans);

  /*
    SURF Main Fonts
  */

  // SURF Main - Heading Fonts
  .font-surf--heading-one {
    font-weight: var(--font-weight-medium);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading-one);
    line-height: var(--font-line-height-heading-one);
  }

  .font-surf--heading-one-alt {
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading-one);
    letter-spacing: 0.01em;
    line-height: var(--font-line-height-heading-one-alt);
  }
  .font-surf--heading-two {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading-two);
    line-height: var(--font-line-height-heading-two);
  }
  .font-surf--heading-two-alt {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading-two);
    letter-spacing: 0.02em;
    line-height: var(--font-line-height-heading-two-alt);
  }
  .font-surf--heading-three {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading-three);
    line-height: var(--font-line-height-heading-three);
  }
  .font-surf--heading-four {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading-four);
    line-height: var(--font-line-height-heading-four);
  }
  .font-surf--heading-five {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading-five);
  }
  .font-surf--heading-six {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading-six);
  }

  // SURF Main - Body Fonts
  .font-surf--body-jumbo {
    font-weight: var(--font-weight-medium);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body-jumbo);
    line-height: var(--font-line-height-body-jumbo);
  }
  .font-surf--body-x-large {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body-x-large);
    line-height: var(--font-line-height-body-x-large);
  }
  .font-surf--body-large {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body-large);
    line-height: var(--font-line-height-body-large);
  }
  .font-surf--body-medium {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body-medium);
    line-height: var(--font-line-height-body-medium);
  }
  .font-surf--body-small {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body-small);
    line-height: var(--font-line-height-body-small);
  }
  .font-surf--body-x-small {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body-x-small);
    line-height: var(--font-line-height-body-x-small);
  }

  // SURF Main - Label Fonts
  .font-surf--label-x-large {
    text-transform: uppercase;
    font-family: var(--font-family-condensed);
    font-size: var(--font-size-label-large);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--font-letter-spacing-wider);
    line-height: var(--font-line-height-label-large);
  }
  .font-surf--label-large {
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-condensed);
    font-size: var(--font-size-label-large);
    letter-spacing: var(--font-letter-spacing-wide);
    line-height: var(--font-line-height-label-large);
  }
  .font-surf--label-medium {
    text-transform: uppercase;
    font-family: var(--font-family-condensed);
    font-size: var(--font-size-label-medium);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--font-letter-spacing-wide);
    line-height: var(--font-line-height-label-medium);
  }
  .font-surf--label-small {
    text-transform: uppercase;
    font-family: var(--font-family-condensed);
    font-size: var(--font-size-label-small);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--font-letter-spacing-wide);
    line-height: var(--font-line-height-label-small);
  }
  .font-surf--label-peewee {
    text-transform: uppercase;
    font-family: var(--font-family-condensed);
    font-size: var(--font-size-label-peewee);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--font-letter-spacing-wide);
    line-height: var(--font-line-height-label-peewee);
  }

  /*
    Font: Sizes

    By default, all font-size declarations will be converted to rems
    via postCSS. Declerations for other properties will maintain their px units.
  */

  /*
    Font: Weight
  */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-book: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*
    Font: Letter Spacing;
  */
  --font-letter-spacing-normal: 0;
  --font-letter-spacing-wide: 0.09375em; //1.5px
  --font-letter-spacing-wider: 0.125em; //2px;

  // SURF Main - Heading Sizes
  --font-size-heading-one: 72px;
  --font-size-heading-one-alt: 24px;
  --font-size-heading-two: 40px;
  --font-size-heading-two-alt: 32px;
  --font-size-heading-three: 36px;
  --font-size-heading-four: 28px;
  --font-size-heading-five: 24px;
  --font-size-heading-six: 20px;

  // SURF Main - Body Sizes
  --font-size-body-jumbo: 18px;
  --font-size-body-x-large: 18px;
  --font-size-body-large: 16px;
  --font-size-body-medium: 16px;
  --font-size-body-small: 16px;
  --font-size-body-x-small: 14px;

  // SURF Main - Label Sizes
  --font-size-label-x-large: 22px;
  --font-size-label-large: 22px;
  --font-size-label-medium: 22px;
  --font-size-label-small: 20px;
  --font-size-label-peewee: 16px;

  // SURF Main - Heading Line Height
  --font-line-height-heading-one: 90%;
  --font-line-height-heading-one-alt: 112%;
  --font-line-height-heading-two: 100%;
  --font-line-height-heading-two-alt: 100%;
  --font-line-height-heading-three: 100%;
  --font-line-height-heading-four: 100%;

  // SURF Main - Body Line Height
  --font-line-height-body-jumbo: 130%;
  --font-line-height-body-x-large: 130%;
  --font-line-height-body-large: 140%;
  --font-line-height-body-medium: 144%;
  --font-line-height-body-small: 148%;
  --font-line-height-body-x-small: 148%;

  // SURF Main - Label Line Height
  --font-line-height-label-x-large: 132%;
  --font-line-height-label-large: 130%;
  --font-line-height-label-medium: 140%;
  --font-line-height-label-small: 140%;
  --font-line-height-label-peewee: 140%;
}

// Tablet
@include bp-min(medium) {
  :root {
    // SURF Main - Heading Sizes
    --font-size-heading-one: 100px;
    --font-size-heading-one-alt: 40px;
    --font-size-heading-two: 52px;
    --font-size-heading-two-alt: 40px;
    --font-size-heading-three: 44px;
    --font-size-heading-four: 32px;
    --font-size-heading-five: 28px;
    --font-size-heading-six: 24px;

    // SURF Main - Body Sizes
    --font-size-body-jumbo: 40px;
    --font-size-body-x-large: 32px;
    --font-size-body-large: 24px;
    --font-size-body-medium: 18px;

    // SURF Main - Label Sizes
    --font-size-label-x-large: 40px;
    --font-size-label-large: 28px;
  }
}
// Small Desktop
@include bp-min(large) {
  :root {
    // SURF Main - Heading Sizes
    --font-size-heading-one: 132px;
    --font-size-heading-one-alt: 52px;
    --font-size-heading-two: 64px;
    --font-size-heading-two-alt: 40px;
    --font-size-heading-three: 52px;
    --font-size-heading-four: 48px;
    --font-size-heading-five: 36px;
    --font-size-heading-six: 32px;
  }
}
// Large Desktop
@include bp-min(xxlarge) {
  :root {
    // SURF Main - Heading Sizes
    --font-size-heading-one: 176px;
    --font-size-heading-two: 96px;
    --font-size-heading-three: 76px;
    --font-size-heading-four: 52px;
    --font-size-heading-five: 48px;
    --font-size-heading-six: 44px;
  }
}
// large - 1620px
// small desktop - 1024px
// tablet - 768px
// mobile - 375px
