//
// Settings - Typography
//
// - 01 - Imports
// - 02 - Families
// - 03 - Sizes
// - 04 - Weights
// - 05 - Line Heights
// - 06 - Body
// - 07 - Headings
// - 08 - Links
// - 09 - Bold
// - 10 - Paragraphs
// - 11 - Blockquote
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../partials/functions/calculations' as functions-calculations;

@use '../../partials/mixins/breakpoints' as mixins-breakpoints;

@use '../../partials/mixins/typography' as mixins-typography;




//------------------------------------
//  02 - Families
//------------------------------------
:root {
  --surf-font-mono: monospace;
  --surf-font-sans: 'ballinger', sans-serif;
  --surf-font-sans-alt: 'recent-grotesk', sans-serif;
  --surf-font-condensed: 'ballinger-condensed', sans-serif;
}




//------------------------------------
//  03 - Sizes
//------------------------------------
:root {
  --surf-font-size-14: #{functions-calculations.rem(14px)};
  --surf-font-size-16: #{functions-calculations.rem(16px)};
  --surf-font-size-18: #{functions-calculations.rem(18px)};
  --surf-font-size-22: #{functions-calculations.rem(22px)};
  --surf-font-size-24: #{functions-calculations.rem(24px)};
  --surf-font-size-28: #{functions-calculations.rem(28px)};
  --surf-font-size-32: #{functions-calculations.rem(32px)};
  --surf-font-size-40: #{functions-calculations.rem(32px)};
  --surf-font-size-52: #{functions-calculations.rem(40px)};
  --surf-font-size-96: #{functions-calculations.rem(40px)};
  --surf-font-size-176: #{functions-calculations.rem(48px)};

  @include mixins-breakpoints.bp-min(medium) {
    --surf-font-size-96: #{functions-calculations.rem(52px)};
    --surf-font-size-176: #{functions-calculations.rem(100px)};
  }

  @include mixins-breakpoints.bp-min(large) {
    --surf-font-size-40: #{functions-calculations.rem(40px)};
    --surf-font-size-52: #{functions-calculations.rem(56px)};
    --surf-font-size-96: #{functions-calculations.rem(64px)};
    --surf-font-size-176: #{functions-calculations.rem(132px)};
  }

  @include mixins-breakpoints.bp-min(xlarge) {
    --surf-font-size-96: #{functions-calculations.rem(96px)};
    --surf-font-size-176: #{functions-calculations.rem(176px)};
  }
}




//------------------------------------
//  04 - Weights
//------------------------------------
:root {
  --surf-font-weight-thin: 100;
  --surf-font-weight-light: 300;
  --surf-font-weight-regular: 400;
  --surf-font-weight-book: 400;
  --surf-font-weight-medium: 500;
  --surf-font-weight-semibold: 600;
  --surf-font-weight-bold: 700;
}




//------------------------------------
//  05 - Line Heights
//------------------------------------
:root {
  --surf-line-height-default: 1.6;
  --surf-line-height-heading: 1.2;
}




//------------------------------------
//  06 - Body
//------------------------------------
body {
  color: var(--surf-color-gray-900);
  font-family: var(--surf-font-sans);
  font-size: var(--surf-font-size-18);
}




//------------------------------------
//  07 - Headings
//------------------------------------
h1, h2, h3, h4, h5 {
  color: var(--surf-color-gray-900);
  margin-bottom: 0;

  > a {
    text-decoration: none;
  }

  + p {
    margin-top: 16px;
  }

  &:first-child {
    margin-top: 0;
  }
}

h1 {

  @include mixins-typography.heading-01();
}

h2 {

  @include mixins-typography.heading-02();
}

h3 {

  @include mixins-typography.heading-03();
}

h4 {

  @include mixins-typography.heading-04();
}

h5 {

  @include mixins-typography.heading-05();
}

h6 {

  @include mixins-typography.heading-06();
}




//------------------------------------
//  08 - Links
//------------------------------------
a {
  color: var(--surf-color-navy);
  font-weight: var(--surf-font-weight-bold);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--surf-color-gray-900);
    text-decoration: none;
  }
}




//------------------------------------
//  09 - Bold
//------------------------------------
strong,
b {
  font-weight: var(--surf-font-weight-bold);
}




//------------------------------------
//  10 - Paragraphs
//------------------------------------
p:not( :first-child ) {
  margin-top: 16px;
}




//------------------------------------
//  11 - Blockquote
//------------------------------------
blockquote {
  font-style: italic;
  margin: 15px 0;
  text-indent: -0.4em;
}
