@use '../../../../web/themes/custom/surf_main/components/00-base/partials/partials' as *;

.c-experiment-research-page.has-image,
.c-experiment-research-page__header-wrapper {

  @include bp-min(medium) {
    margin-top: -120px;
  }

  @include bp-min(xlarge) {
    margin-top: -140px;
  }
}

.c-experiment-research-page__header-wrapper {
  background: #ffffff;
  padding: rem(32px) 0 rem(60px) 0;
  position: relative;
  z-index: 1;

  @include bp-min(medium) {
    padding: rem(32px) rem(62px) rem(60px) rem(60px);
  }

  @include bp-min(large) {
    padding: rem(32px) rem(62px) rem(60px) rem(60px);
  }

  @include bp-min(xlarge) {
    padding: rem(60px) rem(124px) rem(60px) rem(120px);
  }
}

.c-experiment-research-page__image-wrapper {
  margin: 0 auto;
  text-align: center;
}

.c-experiment-research-page__breadcrumbs-wrapper {
  nav.c-breadcrumb {
    margin: 0 0 rem(32px) 0;
  }
}

.c-experiment-research-page__title {
  font-size: rem(48px);
  line-height: 90%;
  margin: 0 0 rem(12px) 0;
  text-transform: uppercase;

  //TODO: replace font mixin
  //@include surf-font-heading-one;
}

.c-experiment-research-page__intro {
  font-size: var(–surf-font-size-24);
  margin: 0 0 rem(32px) 0;
}
