{#
/**
 * @file
 * Component for Section
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Space for Drupal attributes.
 * - section_attributes [mixed] Any custom attributes for the section.
 *
 * Available slots:
 * - section_content
 *
 */
#}

{% set classes = [
  'o-section',
] %}

<section {{ section_attributes.addClass(classes).merge(attributes) }}>
  {% if section_content %}
    {% block section_content %}
      {{ section_content }}
    {% endblock %}
  {% endif %}
</section>
