{#
/**
 * @file
 * Molecule component for Legal Menu
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - legal_menu_attributes: [string] Any additional attributes needing to be specified.
 * - legal_menu_title: [string] Reserved for the main title of this block.
 * - legal_menu_content: [array] Reserved for the primary list of menu links.
 */
#}

{% set classes = [
    'm-legal-menu',
] %}

<nav {{ legal_menu_attributes.addClass(classes).setAttribute('aria-label', legal_menu_title).merge(attributes) }}>
    {% if legal_menu_title %}
        <h2 class="m-footer-menu__title visually-hidden">{{ legal_menu_title }}</h2>
    {% endif %}

    {{ legal_menu_content }}
</nav>
