{#
/**
 * @file
 * Default theme implementation to display a Heading Paragraph.
 *
 * Available variables:
 * - No additional variables are available for this Paragraph type.
 *
 * @see templates/paragraphs/paragraph.html.twig
 * @see components/01-atoms/heading/heading.twig
 *
 */
#}

{% set classes = [
    'paragraph',
    'paragraph--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

<div {{ attributes.addClass(classes) }}>
    {% include 'surf_main:header' with {
        header_attributes: create_attribute(),
        heading_attributes: create_attribute({'class': 'o-header__heading a-heading a-heading--none'}),
        header_heading: content.field_title|field_value|default([]),
        header_heading_level: '1',
        header_summary: content.field_text|field_value|default([]),
        header_cta_url: content.field_link|render ? content.field_link.0['#url'],
        header_cta_text: content.field_link|render ? content.field_link.0['#title'],
        header_cta_html_tag: 'link',
        header_cta_style: 'primary',
        header_cta_size: 'large',
        header_cta_color: 'navy',
        header_type: style_options['header_type']|default('color'),
    } only %}
</div>

{{ content|without(
    'field_title',
    'field_text',
    'field_link',
) }}
