{#
/**
 * @file
 * Theme implementation to display an Article Node with Teaser view mode.
 *
 * Available variables:
 * - No additional variables are available for this Node type.
 *
 * @see templates/nodes/node.html.twig
 * @see components/02-molecules/teaser/teaser.twig
 */
#}

{% if node.field_media_primary.entity.bundle() == 'remote_video' %}
    {% set chip_text = 'Video'|t %}
    {% set chip_icon_prefix = 'play-solid' %}
{% else %}
    {% set chip_text = 'Article'|t %}
{% endif %}

{% set rendered_content = content|without(
    'field_media_primary',
    'field_date_published',
    'field_overview',
) %}

{% set default_image = drupal_image('public://images/2024-01/default-thumbnail-image-surf.png', 'teaser_default', responsive=true) %}

{% embed 'surf_main:teaser' with {
    attributes,
    rendered_content,
    teaser_attributes: create_attribute(),
    teaser_content: content.field_overview|field_value|default([]),
    teaser_media: content.field_media_primary|field_value|default(default_image),
    teaser_date: content.field_date_published|field_value|default([]),
    teaser_title: label,
    teaser_title_tag: 'h3',
    teaser_url: url,
    chip_text: chip_text|default([]),
    chip_icon_prefix: chip_icon_prefix|default([]),
} only %}
    {% block teaser_media_prefix %}
        <div class="m-teaser__media-prefix">
            <p>
                {% include 'surf_main:chip' with {
                    attributes,
                    chip_attributes: create_attribute({'class': 'a-chip--white'}),
                    chip_text: chip_text|default([]),
                    chip_icon_prefix: chip_icon_prefix|default([]),
                    chip_size: 'small',
                } only %}
            </p>
        </div>
    {% endblock %}

    {% block teaser_content_suffix %}
        <div class="m-teaser__content-suffix">
            <p>
                {% include 'surf_main:chip' with {
                    attributes,
                    chip_attributes: create_attribute({'class': 'a-chip--white'}),
                    chip_text: teaser_date|default([]),
                    chip_size: 'small',
                } only %}
            </p>
        </div>
    {% endblock %}
{% endembed %}
