{#
/**
 * @file
 * Component for Chip
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - chip_attributes: Component specific attribute injection.
 * - chip_icon_prefix: [string] Uses the Atom - Icon component.
 * - chip_size: [string] Available options are 'small' and 'large.
 * - chip_text: [string] Required text to be displayed.
 * - chip_url: [string] Link URL if this chip is linked.
 *
 * Example usage:
{% embed 'surf_main:chip' with {
  chip_text: 'Category A',
  chip_url: 'http://www.example.com',
  chip_size: 'large',
} only %}
{% endembed %}
 */
#}

{% set classes = [
    'a-chip',
    'a-chip--' ~ chip_size|default('large'),
] %}

<span {{ chip_attributes.addClass(classes).merge(attributes) }}>
  {% if chip_icon_prefix %}
      {% include 'surf_main:icon' with {
          icon_position: 'left',
          icon_type: chip_icon_prefix,
      } %}
  {% endif %}

    {% if chip_url %}
        <a href="{{ chip_url }}">{{- chip_text -}}</a>
    {% else %}
        {{- chip_text -}}
    {% endif %}
</span>
