{#
/**
 * @file
 * Component for Chip
 *
 * Available props:
 * - chip_attributes: [array] Any parent tag attributes.
 * - chip_text: [string] required
 * - chip_url: [string]
 *
 * - chip_icon_prefix: [string]
 *
 */
#}

{%
  set classes = [
  'a-chip',
]
%}

<span {{ chip_attributes.addClass(classes).merge(attributes) }}>

  {% if chip_icon_prefix %}
    {% include 'surf_main:icon' with {
      icon_position: 'left',
      icon_type: chip_icon_prefix,
    } %}
  {% endif %}

  {% if chip_url %}
    <a href="{{ chip_url }}">{{ chip_text }}</a>
  {% else %}
    {{ chip_text }}
  {% endif %}

</span>