//
// @file
// Pager Styles
//

@import "../../partials/_partials";

.pager__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: rem(48px) 0;
  li.pager__item {
    @include surf-font-body-small;
    display: block;
    color: var(--color-surf--black);
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-bold);
    margin: 0;
    // @include bp-min(medium) {
    //   margin-right: rem(10px);
    // }

    &:not(:last-child) {
      margin-right: rem(9px);
    }
    a.pager__link {
      @include surf-font-body-small;
      color: var(--color-surf--forest);
      background-color: var(--color-surf--white);
      padding: 0 rem(7px);
      font-family: var(--font-family-sans);
      font-weight: var(--font-weight-bold);
      text-decoration: none;
      transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
      @supports (-moz-appearance: none) {
        padding: rem(5px) rem(7px) rem(2px) rem(7px);
      }
      &:hover,
      &:active {
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        text-decoration: underline;
        color: var(--color-surf--black);
      }
    }
    &.pager__item--ellipsis {
      padding: 0 rem(7px);
    }
    &.is-active a {
      color: var(--color-surf--white);
      background-color: var(--color-surf--black);
      padding: 0 rem(7px);
      font-family: var(--font-family-sans);
      font-weight: var(--font-weight-bold);
      text-decoration: none;
      &:hover {
        color: var(--color-surf--white);
      }
    }
    &.pager__item--previous,
    &.pager__item--next {
      a {
        padding: 0;
      }
    }
  }
}
