@import "_partials";

.c-article__header-wrapper {
  max-width: rem(780px);
  margin: 0 auto rem(28px) auto;
}

.c-article__breadcrumb-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.c-article__breadcrumb-item {
  margin: 0;
  display: inline-block;
}

.c-article__breadcrumb-link {
  @include surf-font-label-peewee;
  color: var(--color-surf--forest);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  letter-spacing: 0.08em;
  &:hover {
    text-decoration: none;
  }
}

.c-article__date {
  @include surf-font-label-peewee;
  color: var(--color-surf--black);
  font-weight: var(--font-weight-bold);
  letter-spacing: rem(1.5px);
  margin: 0 0 rem(28px) 0;
}

.c-article__breadcrumbs-date-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 rem(28px) 0;
}

.c-article__title {
  @include surf-font-heading-one-alt;
}

.c-article__image-wrapper {
  max-width: rem(1143px);
  margin: 0 auto rem(60px) auto;
  img {
    width: 100%;
    display: block;
  }
}

.c-article__video-wrapper {
  position: relative;
  // padding-bottom: 56.25%;
  // height: 0;
  // overflow: hidden;
  max-width: rem(1143px);
  margin: 0 auto rem(32px) auto;
  @include bp-min(medium) {
    margin: 0 auto rem(40px) auto;
  }
  @include bp-min(large) {
    margin: 0 auto rem(60px) auto;
  }
}

.c-article__content-wrapper {
  max-width: rem(780px);
  margin: 0 auto rem(28px) auto;
}

.c-article__overview {
  p {
    @include surf-font-body-large;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: rem(28px);
    }
  }
}

.c-article__body {
  .text-content > p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.left-hook-divider.top {
  margin: 0 0 rem(56px) 0;
  display: none;
}

.c-article__bottom-wrapper {
  max-width: rem(780px);
  margin: 0 auto rem(80px) auto;
}

.c-article__author {
  @include surf-font-body-medium;
  font-style: italic;
  margin: 0 0 rem(28px) 0;
}

.c-article__categories {
  margin: 0 0 rem(16px) 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.c-article__categories-item {
  display: inline-block;
  margin: 0 rem(12px) rem(12px) 0;
  a {
    @include surf-font-label-peewee;
    color: var(--color-surf--forest);
    padding: rem(2px) rem(8px);
    background: var(--color-surf--cloud);
    text-decoration: none;
    &:hover {
      color: var(--color-surf--black);
      text-decoration: underline;
    }
  }
}

.c-article__contacts-title {
  @include surf-font-label-peewee;
  margin: 0 0 rem(28px) 0;
}

.c-article__contacts {
  margin: 0 0 rem(28px) 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
  max-width: rem(510px);
  li {
    display: block;
    margin: 0;
  }
}

.c-article__press-resources-wrapper {
  margin: rem(60px) 0 0 0;
  @include bp-min(medium) {
    margin: rem(80px) 0 0 0;
  }
}

.c-article__press-resources-title {
  margin: 0 0 rem(40px) 0;
  @include surf-font-heading-two;
  @include bp-min(medium) {
    @include surf-font-heading-two;
  }
}

// Horizontal Image
.c-article.c-article--horizontal {
  @include bp-max(xlarge) {
    max-width: unset;
    margin: 0;
    width: unset;
    .c-article__content-wrapper,
    .c-article__bottom-wrapper,
    .c-article__callout-wrapper,
    .left-hook-divider.bottom,
    .c-article__press-resources-wrapper {
      grid-area: content;
      max-width: 1380px;
      margin-left: auto;
      margin-right: auto;
      width: calc(100vw - var(--space-inset-x) * 2);
    }
  }

  .c-article__inner-wrapper {
    @include bp-min(xlarge) {
      // GRID
      display: grid;
      column-gap: rem(140px);
      grid-template-areas:
        "image image"
        "content bottom"
        "content bottom"
        "divider divider"
        "related related";
      grid-template-columns: 1fr rem(420px);
    }
  }
  .c-article__image-wrapper {
    grid-area: image;
    width: 100vw;
    max-width: 100%;
    margin: 0 0 rem(32px) 0;
    @include bp-min(medium) {
      margin: 0 0 rem(40px) 0;
    }
    @include bp-min(large) {
      margin: 0 0 rem(60px) 0;
    }
    @include bp-min(xlarge) {
      max-width: 1380px;
      margin-left: auto;
      margin-right: auto;
      width: calc(100vw - var(--space-inset-x) * 2);
    }
    img {
      width: 100%;
    }
  }
  .c-article__content-wrapper {
    grid-area: content;
    @include bp-min(xlarge) {
      background: var(--color-surf--white);
      padding: rem(40px) rem(40px) 0 0;
      margin: -150px 0 0 0;
      max-width: unset;
      z-index: 1;
    }
  }
  .c-article__header-wrapper {
    @include bp-max(xlarge) {
      max-width: rem(700px);
      margin: 0 0 rem(28px) 0;
    }
    @include bp-min(xlarge) {
      max-width: unset;
      margin: 0 0 rem(28px) 0;
    }
  }

  .c-article__overview,
  .c-article__body {
    @include bp-max(xlarge) {
      max-width: rem(700px);
      margin: 0 0 rem(28px) 0;
    }
  }
  .left-hook-divider.top {
    @include bp-max(xlarge) {
      display: block;
    }
  }
  .c-article__bottom-wrapper {
    margin-bottom: rem(20px);
    @include bp-min(medium) {
      margin-bottom: rem(47px);
    }
    @include bp-min(xlarge) {
      grid-area: bottom;
      max-width: unset;
      margin: 0;
    }
  }
  .c-article__categories {
    margin-bottom: rem(20px);
    @include bp-max(xlarge) {
      max-width: rem(700px);
    }
    @include bp-min(medium) {
      margin-bottom: rem(48px);
    }
    @include bp-min(xlarge) {
      margin-bottom: rem(28px);
    }
  }
  .c-article__callout-wrapper {
    @include bp-min(xlarge) {
      grid-area: list;
      .cl-component--list {
        max-width: 100%;
        width: 100%;
        .c-list__items {
          grid-template-columns: 1fr;
        }
      }
    }
  }
  .left-hook-divider.bottom {
    grid-area: divider;
    margin-top: rem(32px);
    @include bp-min(medium) {
      margin-top: rem(60px);
    }
    @include bp-min(xlarge) {
      margin-top: rem(120px);
    }
  }
  .c-article__press-resources-wrapper {
    grid-area: related;
  }
}

// Vertical Image
.c-article.c-article--vertical .c-article__inner-wrapper {
  @include bp-min(large) {
    display: grid;
    column-gap: rem(80px);
    grid-template-areas:
      "content image"
      "content bottom"
      "content bottom"
      "divider divider"
      "related related";
    grid-template-columns: 1fr rem(420px);
  }
  @include bp-min(xlarge) {
    column-gap: rem(180px);
    grid-template-columns: 1fr rem(630px);
  }

  .c-article__image-wrapper {
    grid-area: image;
    margin: 0 auto rem(40px) auto;
    @include bp-min(large) {
      margin: 0 0 rem(40px) 0;
    }
    img {
      max-height: rem(360px);
      object-fit: contain;
      @include bp-min(large) {
        max-height: unset;
        object-fit: unset;
      }
    }
  }

  .c-article__content-wrapper {
    margin: 0 0 rem(28px) 0;
    grid-area: content;
    // margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .c-article__categories {
    margin-bottom: rem(20px);
    @include bp-min(medium) {
      margin-bottom: rem(30px);
    }
  }

  .c-article__bottom-wrapper {
    grid-area: bottom;
    max-width: 100%;
    width: 100%;
    margin-bottom: rem(26px);
  }

  .c-article__callout-wrapper {
    grid-area: list;
    .cl-component--list {
      max-width: 100%;
      width: 100%;
      .c-list__items {
        grid-template-columns: 1fr;
      }
    }
  }

  .c-article__press-resources-wrapper {
    grid-area: related;
  }

  .left-hook-divider.bottom {
    grid-area: divider;
    margin-top: rem(32px);
    @include bp-min(medium) {
      margin-top: rem(58px);
    }
    @include bp-min(xlarge) {
      margin-top: rem(105px);
    }
  }
}

// Video
.c-article.c-article--video .c-article__inner-wrapper {
  .left-hook-divider.bottom {
    margin-top: rem(32px);
    @include bp-min(medium) {
      margin-top: rem(48px);
    }
    @include bp-min(xlarge) {
      margin-top: rem(67px);
    }
  }
  .c-article__bottom-wrapper {
    max-width: unset;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: rem(32px);
    @include bp-min(medium) {
      margin-bottom: rem(60px);
    }
  }
  .c-article__date,
  .c-article__author,
  .c-article__categories {
    max-width: rem(780px);
    margin-left: auto;
    margin-right: auto;
  }
  .c-article__categories {
    margin-bottom: rem(22px);
    @include bp-min(medium) {
      margin-bottom: rem(44px);
    }
  }
}

// No Media
.c-article.c-article--no-media .c-article__inner-wrapper {
  .left-hook-divider.bottom {
    margin-top: rem(32px);
    @include bp-min(medium) {
      margin-top: rem(48px);
    }
    @include bp-min(xlarge) {
      margin-top: rem(100px);
    }
  }
  .c-article__bottom-wrapper {
    max-width: unset;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: rem(32px);
    @include bp-min(medium) {
      margin-bottom: rem(60px);
    }
  }
  .c-article__date,
  .c-article__author,
  .c-article__categories {
    max-width: rem(780px);
    margin-left: auto;
    margin-right: auto;
  }
  .c-article__categories {
    margin-bottom: rem(22px);
    @include bp-min(medium) {
      margin-bottom: rem(44px);
    }
  }
}
