{#
/**
 * @file
 * Theme override to display a One Column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}

{% embed 'surf_main:one-column' with {
    attributes,
    region_attributes,
    layout_attributes: create_attribute(),
    layout_html_wrapper: 'div',
    layout_content: content,
} only %}
    {% block layout_content %}
        {% if layout_content.header|mercury_editor or layout_content.header|render %}
            <div {{ region_attributes.header.addClass('l-onecol__region', 'l-onecol__region--heading')}}>
                {{ layout_content.header }}
            </div>
        {% endif %}

        <div {{ region_attributes.first.addClass('l-onecol__region', 'l-onecol__region--first')}}>
            {{ layout_content.first }}
        </div>
    {% endblock %}
{% endembed %}
