{%
  set classes = [
  'tabs',
]
%}

{% macro tabs__item(link, attributes) %}
  <li{{ attributes.addClass('tabs__item') }}>{{ link }}</li>
{% endmacro %}

<ul {{ attributes.addClass(classes).merge(attributes) }}>
  {{ content }}
</ul>
