@import "_partials";

/*
  --- Column Simple Stack Layout---
*/

.c-teaser.c-teaser--list-stack {
  display: flex;
  flex-direction: column;
  @include bp-min(medium) {
    flex-direction: row;
  }
  // Content Wrapper
  .c-teaser__content-wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    @include bp-min(medium) {
      order: 1;
    }
  }

  // Image Wrapper
  .c-teaser__image-wrapper {
    width: 100%;
    position: relative;
    margin: 0 0 rem(24px) 0;
    max-width: rem(210px);
    @include bp-min(medium) {
      order: 2;
      max-width: rem(210px);
      flex: none;
      margin: 0 0 0 rem(32px);
    }
    @include bp-min(large) {
      max-width: rem(300px);
      margin: 0 0 0 rem(60px);
    }
    @include bp-min(xxlarge) {
      max-width: rem(540px);
      margin: 0 0 0 rem(180px);
    }
    img {
      display: block;
      width: 100%;
    }
  }

  // Title
  .c-teaser__title {
    @include surf-font-body-x-large;
    color: var(--color-surf--forest);
    font-weight: var(--font-weight-bold);
    margin: 0;
    @include bp-min(medium) {
      @include surf-font-body-large;
    }
    @include bp-min(large) {
      @include surf-font-body-x-large;
    }
    @include bp-min(xxlarge) {
      @include surf-font-body-x-large;
    }
    a {
      transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        text-decoration: underline;
      }
    }
  }

  // Body
  .c-teaser__body {
    margin: rem(12px) 0 0 0;
    p {
      @include surf-font-body-small;
      margin: 0;
      @include bp-min(medium) {
        @include surf-font-body-medium;
      }
      @include bp-min(xxlarge) {
        @include surf-font-body-large;
      }
    }
  }

  .c-teaser__meta-wrapper {
    margin: rem(12px) 0 0 0;
    @include bp-min(medium) {
      margin: rem(20px) 0 0 0;
    }
    @include bp-min(large) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  // Category
  .c-teaser__category {
    @include surf-font-label-peewee;
    background-color: var(--color-surf--forest);
    color: var(--color-surf--white);
    padding: rem(2px) rem(8px);
    display: inline-block;
    margin: 0 0 rem(12px) 0;
    @include bp-min(large) {
      margin: 0 rem(16px) rem(16px) 0;
    }
    a {
      color: var(--color-surf--black);
      text-decoration: none;
      transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        color: var(--color-surf--black);
        text-decoration: underline;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    &.cloud {
      background-color: var(--color-surf--cloud);
      a {
        color: var(--color-surf--forest);
      }
    }
    &.kelly {
      background-color: var(--color-surf--kelly);
      a {
        color: var(--color-surf--white);
      }
    }
    &.forest {
      background-color: var(--color-surf--forest);
      a {
        color: var(--color-surf--white);
      }
    }
    &.gold {
      background-color: var(--color-surf--gold);
      a {
        color: var(--color-surf--black);
      }
    }
  }

  .c-teaser__date-time-wrapper {
    margin: rem(12px) 0 0 0;
    display: flex;
    flex-direction: column;
    @include bp-min(medium) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include bp-min(large) {
      margin: 0 0 rem(16px) 0;
    }
  }

  // Date
  .c-teaser__date {
    @include surf-font-body-small;
    font-weight: var(--font-weight-bold);
    color: var(--color-surf--black);
    margin: 0;
  }
  .c-teaser__time {
    @include surf-font-body-small;
    font-weight: var(--font-weight-bold);
    color: var(--color-surf--black);
    margin: 0;

    @include bp-min(medium) {
      margin: 0 0 0 rem(16px);
      padding: 0 0 0 rem(17px);
      position: relative;
      &:before {
        content: "";
        background: var(--color-surf--black);
        height: rem(12px);
        width: rem(1px);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
