@import "_partials";

/*
  --- Super Layout ----
*/
.c-teaser.c-teaser--super {
  background: var(--color-surf--forest);
  position: relative;
  flex-direction: column;
  @include bp-min(medium) {
    flex-direction: column;
  }
  @include bp-min(large) {
    flex-direction: column;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(0, 73, 44, 0) 0%, #00492c 100%);
      z-index: 0;
    }
  }
  @include bp-min(xxlarge) {
    flex-direction: column;
  }

  // Image Wrapper
  .c-teaser__image-wrapper {
    position: relative;
    margin: 0;
    height: 100%;
    img {
      display: block;
      width: 100%;
    }
  }

  // Content Wrapper
  .c-teaser__content-wrapper {
    z-index: 1;
    color: var(--color-surf--white);
    background: var(--color-surf--forest);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: rem(40px) rem(15px);
    margin: 0;
    @include bp-min(medium) {
      padding: rem(40px);
      margin: 0;
    }
    @include bp-min(large) {
      background: none;
      padding: 0 rem(40px) rem(40px) rem(40px);
      margin: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    @include bp-min(xxlarge) {
      padding: 0 rem(60px) rem(60px) rem(60px);
      margin: 0;
    }
  }

  // Date
  .c-teaser__date {
    @include surf-font-label-peewee;
    color: var(--color-surf--white);
    order: 2;
    margin: 0;
  }

  // Video Icon
  &.c-teaser--video {
    .c-teaser__category {
      padding-left: rem(24px);
      background-image: inline-svg(
        '<svg xmlns="http://www.w3.org/2000/svg" width="11" height="14" fill="none"><path fill="#494949" d="M.062.938 10.562 7l-10.5 6.062V.938Z"/></svg>'
      );
      background-repeat: no-repeat;
      background-position: center left rem(8px);
    }
  }

  // Title
  .c-teaser__title {
    order: 3;
    display: flex;
    flex: none;
    width: 100%;
    margin-top: rem(14px);
    @include bp-min(large) {
      margin-top: rem(20px);
    }
    a {
      @include surf-font-body-medium;
      font-weight: var(--font-weight-bold);
      color: var(--color-surf--white);
      @include bp-min(medium) {
        @include surf-font-body-large;
        font-weight: var(--font-weight-bold);
      }
      @include bp-min(large) {
        font-size: rem(40px);
        line-height: 130%;
      }
    }
  }

  // Body
  .c-teaser__body {
    order: 4;
    flex: none;
    width: 100%;
    @include bp-min(large) {
      font-size: 24px;
      line-height: 144%;
    }
    p {
      @include surf-font-body-medium;
      margin-bottom: 0;
      @include bp-min(large) {
        font-size: 24px;
        line-height: 144%;
      }
    }
  }

  // Category
  .c-teaser__category {
    @include surf-font-label-peewee;
    background-color: var(--color-surf--white);
    color: var(--color-surf--black);
    padding: rem(2px) rem(8px);
    display: inline-block;
    margin: 0 rem(20px) 0 0;
    a {
      text-decoration: none;
    }
  }

  // Meta Wrapper
  .c-teaser__meta-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
