@import "_partials";

.c-blue-banner {
  background: linear-gradient(108.38deg, #0050b8 0%, #2976d9 82.91%);
  padding: rem(32px) rem(15px);
  position: relative;
  overflow: hidden;
  z-index: 1;
  @include bp-min(medium) {
    padding: rem(60px) rem(40px);
  }
  @include bp-min(large) {
    padding: rem(80px) rem(40px);
  }
  @include bp-min(xlarge) {
    padding: rem(80px);
  }
  &:after {
    content: "";
    display: none;
    position: absolute;
    right: -112px;
    bottom: -52px;
    width: rem(344px);
    height: rem(405px);
    background-image: url(../blue-banner-circles.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    @include bp-min(large) {
      display: block;
    }
  }
}

.c-blue-banner__title {
  @include surf-font-heading-one;
  color: var(--color-surf--white);
  margin: 0;
}

.c-blue-banner__body {
  margin: rem(20px) 0 0 0;
  & > p {
    color: var(--color-surf--white);
    @include surf-font-body-x-large;
    font-weight: var(--font-weight-bold);
    margin-top: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include bp-min(large) {
    max-width: rem(864px);
  }
}

.c-blue-banner__link {
  margin: rem(34px) 0 0 0;
}
