{#
/**
 * @file
 * Component for Callout
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - callout_attributes: [array] Any parent tag attributes.
 * - callout_text: [string]
 * - callout_heading: [string] required
 * - callout_heading_level: [string] required
 * - callout_media: [array]
 * - callout_media_caption: [string]
 * - callout_button_text: [string]
 * - callout_button_url: [string]
 *
 */
#}

{% set classes = [
  'm-callout',
  callout_type ? 'm-callout--type-' ~ callout_type,
] %}

<div {{ callout_attributes.addClass(classes).merge(attributes) }}>
    {% if callout_media %}
      <div class="m-callout__media">
        {{ callout_media }}
      </div>
    {% endif %}

    <div class="m-callout__inner-wrapper">
        {% if callout_heading %}
          {% embed 'surf_main:heading' with {
            heading_text: callout_heading ? callout_heading,
            heading_level: '2',
            heading_type: style_options['heading_type']|default('none'),
            heading_attributes: create_attribute({'class': ['m-callout__heading']}),
          } only %}
          {% endembed %}
        {% endif %}

        {% if callout_text %}
          <div class="m-callout__text">{{ callout_text }}</div>
        {% endif %}

        {% if callout_button_url %}
            {% if callout_type == 'navy' or callout_type == 'blue' %}
                {% include 'surf_main:button' with {
                    button_attributes: create_attribute(),
                    button_color: 'white',
                    button_external: true,
                    button_html_tag: 'link',
                    button_size: 'small',
                    button_style: 'primary',
                    button_title: callout_button_text,
                    button_url: callout_button_url,
                } only %}
            {% elseif callout_type == 'white' %}
                {% include 'surf_main:button' with {
                    button_attributes: create_attribute(),
                    button_color: 'navy',
                    button_external: true,
                    button_html_tag: 'link',
                    button_size: 'small',
                    button_style: 'underline',
                    button_title: callout_button_text,
                    button_url: callout_button_url,
                } only %}
            {% elseif callout_type == 'gray' %}
                {% include 'surf_main:button' with {
                    button_attributes: create_attribute(),
                    button_color: 'navy',
                    button_external: true,
                    button_html_tag: 'link',
                    button_size: 'small',
                    button_style: 'primary',
                    button_title: callout_button_text,
                    button_url: callout_button_url,
                } only %}
            {% elseif callout_type == 'featured' %}
                {% if callout_button_prefix == 'play' %}
                    {% include 'surf_main:button' with {
                        button_attributes: create_attribute(),
                        button_color: 'white',
                        button_external: true,
                        button_html_tag: 'link',
                        button_prefix: 'icon-play-left',
                        button_size: 'small',
                        button_style: 'underline',
                        button_suffix: 'icon-arrow-right',
                        button_title: callout_button_text,
                        button_url: callout_button_url,
                    } only %}
                {% elseif callout_button_prefix == 'envelope' %}
                    {% include 'surf_main:button' with {
                        button_attributes: create_attribute(),
                        button_color: 'white',
                        button_external: true,
                        button_html_tag: 'link',
                        button_prefix: 'icon-envelope-left',
                        button_size: 'small',
                        button_style: 'underline',
                        button_suffix: 'icon-arrow-right',
                        button_title: callout_button_text,
                        button_url: callout_button_url,
                    } only %}
                {% else %}
                    {% include 'surf_main:button' with {
                        button_attributes: create_attribute(),
                        button_color: 'white',
                        button_external: true,
                        button_html_tag: 'link',
                        button_size: 'small',
                        button_style: 'underline',
                        button_suffix: 'icon-arrow-right',
                        button_title: callout_button_text,
                        button_url: callout_button_url,
                    } only %}
                {% endif %}
            {% else %}
                {% if callout_button_prefix == 'play' %}
                    {% include 'surf_main:button' with {
                        button_attributes: create_attribute(),
                        button_color: 'navy',
                        button_external: true,
                        button_html_tag: 'link',
                        button_prefix: 'icon-play-left',
                        button_size: 'small',
                        button_style: 'underline',
                        button_suffix: 'icon-arrow-right',
                        button_title: callout_button_text,
                        button_url: callout_button_url,
                    } only %}
                {% elseif callout_button_prefix == 'envelope' %}
                    {% include 'surf_main:button' with {
                        button_attributes: create_attribute(),
                        button_color: 'navy',
                        button_external: true,
                        button_html_tag: 'link',
                        button_prefix: 'icon-envelope-left',
                        button_size: 'small',
                        button_style: 'underline',
                        button_suffix: 'icon-arrow-right',
                        button_title: callout_button_text,
                        button_url: callout_button_url,
                    } only %}
                {% else %}
                    {% include 'surf_main:button' with {
                        button_attributes: create_attribute(),
                        button_color: 'navy',
                        button_external: true,
                        button_html_tag: 'link',
                        button_size: 'small',
                        button_style: 'underline',
                        button_suffix: 'icon-arrow-right',
                        button_title: callout_button_text,
                        button_url: callout_button_url,
                    } only %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% block callout_content %}
        {% endblock %}
    </div>

</div>
