//
// Component - Page - Event
//
// - 01 - Imports
// - 02 - Layout
// - 03 - General
// - 04 - Overrides
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - Layout
//------------------------------------

.p-event {
  padding-block: 32px 56px;
  position: relative;

  @include breakpoints.bp-min(large) {
    padding-block: 64px 80px;
  }

  .m-breadcrumbs {
    display: none;

    @include breakpoints.bp-min(medium) {
      display: block;
    }
  }

  .p-event__inner-wrapper {
    margin-block-start: 48px;

    @include breakpoints.bp-min(large) {
      margin-block-start: 64px;
    }
  }

  .a-left-hook {
    margin-block-end: 48px;

    @include breakpoints.bp-min(xlarge) {
      inline-size: 65%;
      margin-block-start: 64px;
    }
  }

  .p-event__body-wrapper > :not(:last-child) {
    margin-block-end: 32px;

    @include breakpoints.bp-min(medium) {
      margin-block-end: 40px;
    }

    @include breakpoints.bp-min(large) {
      margin-block-end: 28px;
    }
  }

  .p-event__content-grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr;

    @include breakpoints.bp-min(medium) {
      gap: 40px;
    }

    @include breakpoints.bp-min(large) {
      gap: 60px;
      grid-template-columns: 1fr 400px;
    }

    @include breakpoints.bp-min(xlarge) {

    }
  }

  .p-event__body-wrapper {
    @include breakpoints.bp-min(large) {
      order: 1;
    }
  }

  .p-event__media {
    max-inline-size: 540px;

    @include breakpoints.bp-min(large) {
      justify-self: end;
      order: 2;
    }
  }
}




//------------------------------------
//  03 - General
//------------------------------------

.p-event {
  .p-event__meta-wrapper,
  .p-event__dates {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .p-event__dates p {
    color: var(--surf-color-black-alt);
    font-family: var(--surf-font-sans);
    font-size: var(--surf-fs-18-24);
    font-weight: var(--surf-fw-bold);
    line-height: var(--surf-lh-label);
  }

  .p-event__summary {
    color: var(--surf-color-black-alt);
    font-family: var(--surf-font-sans-alt);
    font-size: var(--surf-fs-40-64);
    font-weight: var(--surf-fw-medium);
    line-height: var(--surf-lh-base);
    margin-block-end: 28px;
  }
}



//------------------------------------
//  04 - Overrides
//------------------------------------

.p-event {
  .o-header__heading {
    font-size: var(--surf-fs-48-100);
    text-transform: none;
  }
}
