{#
/**
 * @file
 * Theme implementation to display a node as a teaser.
 *
 * Available variables:
 *  See embed below
 *
 * @see template_preprocess_node()
 */
#}

{% embed 'surf_main:teaser' with {
  attributes,
  teaser_attributes: create_attribute(),
  teaser_content: content.field_overview|field_value|default([]),
  teaser_media: content.field_media|field_value|default([]),
  teaser_date: content.field_date_published|field_value|default([]),
  teaser_title: label,
  teaser_title_tag: 'h3',
  teaser_type: 'curriculum',
  teaser_url: url,
  curriculum_grade_level: content.field_ref_grade_level|field_value|default([]),
  curriculum_standards: content.field_ref_standards|field_value|default([]),
} only %}
  {% block teaser_content_suffix %}
    <ul class="m-teaser__tags">
      {% for grade_level in curriculum_grade_level %}
        <li>{{ grade_level }}</li>
      {% endfor %}
      {% for standard in curriculum_standards %}
        <li>{{ standard }}</li>
      {% endfor %}
    </ul>
  {% endblock %}
{% endembed %}

{{ content|without(
  'field_media',
  'field_overview',
  'field_ref_grade_level',
  'field_content_area',
  'field_ref_standards',
) }}