{#
/**
 * @file
 * Component for Accordion
 *
 * Available props:
 * - attributes: [Drupal\Core\Template\Attribute] Drupal reserved space for attributes.
 * - accordion_attributes: [string] Any additional attributes needing to be specified.
 * - accordion_items: [array] Grouping of objects that function as the accordion blades.
 *
 */
#}

{% set classes = [
    'm-accordion',
    'accordion'
] %}

<div {{ accordion_attributes.addClass(classes).merge(attributes) }}>
    {{ accordion_items }}
</div>
