{#
/**
 * @file
 * Component for Breadcrumbs

 * Available props:
 * - title: [string] the page title or custom hero heading.
 *
 */
#}

<div class="hero hero__type--title-only">
    <h1 class="hero__title">{{ title }}</h1>
</div>
