//
// Component - Organism - View
//
// - 01 - Imports
// - 02 - Layout
// - 03 - Specifics
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - Layout
//------------------------------------

.o-view {
  .o-view__header {
    font-size: calculations.rem(14px);
    margin-block-start: 20px;
  }

  .views-filters-summary .value {
    border: none;
    border-radius: 0;
    display: inline;
    font-weight: var(--surf-fw-book);
    margin-right: -4px;
    margin-bottom: 0;
    padding: 0;
  }

  &.o-view--full {
    margin-block-start: -24px;
  }

  &.o-view--full .o-view__rows,
  &.o-view--full .o-view__empty {
    margin-block-start: 32px;

    @include breakpoints.bp-min(large) {
      margin-block-start: 64px;
    }
  }
}




//------------------------------------
//  03 - Specifics
//------------------------------------

// Standards listing
.o-view.o-view--standards.o-view--full {
  .l-twocol ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .l-twocol h3 {
    margin-block-end: 12px;
  }
}

// First post needing a border top
.o-view--events.o-view--upcoming-events-two .l-onecol.l-onecol--listing,
.o-view--events.o-view--full .l-onecol.l-onecol--listing {
  > *:first-child {
    border-top: solid 2px var(--surf-color-gray-800);
    padding-block-start: 40px;
  }
}
