{#
/**
 * @file
 * Component for Utility Menu
 *
 * Available props:
 * -
 *
 */
#}

{% set classes = [
    'm-search-bar',
    'dropdown',
] %}

<div {{ search_bar_attributes.addClass(classes) }} {{ attributes }}>
    {{ search_bar_form }}

    <button id="search-trigger"
            class="m-search-bar__trigger dropdown__trigger"
            aria-haspopup="true"
            aria-expanded="false">
        {{ 'Search'|t }}
        <span class="m-search-bar__trigger-icon"></span>
    </button>
</div>
