//
// Component - Molecule - Statement
//
// - 01 - Imports
// - 02 - General
// - 03 - Contexts
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';
@use '../../../00-base/global/src/buttons';




//------------------------------------
//  02 - General
//------------------------------------

.m-statement {
  .m-statement__eyebrow,
  .m-statement__eyebrow-bottom {
    color: var(--surf-color-gray-600);
    font-family: var(--surf-font-condensed);
    font-weight: var(--surf-fw-bold);
    font-size: var(--surf-fs-22-40);
    letter-spacing: 2px;
    line-height: 1.3;
    text-transform: uppercase;
  }

  .m-statement__eyebrow {
    margin-block-end: 8px;

    @include breakpoints.bp-min(medium) {
      margin-block-end: 0;
    }
  }

  .m-statement__title {
    font-family: var(--surf-font-sans-alt);
    font-size: calculations.rem(48px);
    font-weight: var(--surf-fw-book);
    line-height: 0.85;
    text-transform: uppercase;

    @include breakpoints.bp-min(medium) {
      font-size: calculations.rem(120px);
      background: url('img/background-particles-white.png') no-repeat left bottom var(--surf-color-black);
      background-size: 320px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @include breakpoints.bp-min(large) {
      font-size: calculations.rem(120px);
    }

    @include breakpoints.bp-min(xlarge) {
      font-size: calculations.rem(144px);
    }

    @include breakpoints.bp-min(xxlarge) {
      font-size: calculations.rem(176px);
    }
  }

  .m-statement__text {
    margin-block-start: 12px;
    max-inline-size: var(--surf-width-small);

    @include breakpoints.bp-min(medium) {
      margin-block-start: 32px;
    }
  }

  .m-statement__text p {
    color: var(--surf-color-gray-600);
    font-size: var(--surf-fs-16-24);
    line-height: var(--surf-lh-default);
  }

  .m-statement__link {
    margin-block-start: 16px;

    @include breakpoints.bp-min(medium) {
      margin-block-start: 32px;
    }
  }

  .m-statement__link a {
    @include buttons.base();
    @include buttons.underline-base('navy');

    @include breakpoints.bp-min(medium) {
      font-size: calculations.rem(22px);
    }
  }
}




//------------------------------------
//  03 - Contexts
//------------------------------------

.l-section--blue-gradient .m-statement {
  .m-statement__title {
    background: none;
    color: var(--surf-color-white);
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
  }

  .m-statement__eyebrow,
  .m-statement__eyebrow-bottom {
    color: var(--surf-color-white);
  }

  .m-statement__text p {
    color: var(--surf-color-white);
  }
}
