//
// Component - Page - Contract
//
// - 01 - Imports
// - 02 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - Layout
//------------------------------------

.p-contract {
  padding-block: 40px;

  @include breakpoints.bp-min(large) {
    padding-block: 64px;
  }

  > section:not(:first-child) {
    margin-block-start: 40px;

    @include breakpoints.bp-min(large) {
      margin-block-start: 64px;
    }
  }

  .p-contract__header .container,
  .p-contract__content .container {
    display: flex;
    flex-flow: nowrap column;
    gap: 24px;

    @include breakpoints.bp-min(large) {
      gap: 32px;
    }
  }
}




//------------------------------------
//  03 - General
//------------------------------------

.p-contract {
  .p-contract__header h1 {
    font-family: var(--surf-font-sans-alt);
    font-size: var(--surf-fs-40-52-64-96);
    font-weight: var(--surf-fw-medium);
    letter-spacing: calculations.rem(0.6px);
    line-height: var(--surf-lh-base);

    @include breakpoints.bp-min(medium) {
      letter-spacing: calculations.rem(1.44px);
    }
  }

  .p-contract__post-date {
    display: inline-flex;
    font-family: var(--surf-font-condensed);
    font-size: var(--surf-fs-16-20);
    font-weight: var(--surf-fw-bold);
    letter-spacing: 1px;
    line-height: 1.4;
    gap: 4px;
    text-transform: uppercase;
  }

  .p-contract__summary h2 {
    font-family: var(--surf-font-sans-alt);
    font-size: var(--surf-fs-40-52-64);
    font-weight: var(--surf-fw-book);
    letter-spacing: calculations.rem(0.6px);
    line-height: var(--surf-lh-base);
    margin-block-end: 24px;

    @include breakpoints.bp-min(medium) {
      letter-spacing: calculations.rem(1.44px);
    }
  }
}
