{#
/**
 * @file
 * Component for View Embed
 *
 * Available props:
 * - view_embed_attributes: [array] Any parent tag attributes.
 * - view_embed_view: [array].
 *
#}

{% set classes = [
  'o-view-embed',
] %}

<div {{ view_embed_attributes.addClass(classes).merge(attributes) }}>
  {{ view_embed_view }}
</div>
