

<article{{ attributes.addClass(['c-view', 'l-constrained--xlarge', 'l--bottom-spacing'])}}>

  {% if view is not empty %}
  <section class="c-view__view-wrapper">
    {{view}}
  </section>
  {% endif %}

</article>