//
// Component - Page - Person
//
// - 01 - Imports
// - 02 - Layout
// - 03 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';




//------------------------------------
//  02 - Layout
//------------------------------------

.p-person {
  padding-block: 32px 56px;

  @include breakpoints.bp-min(large) {
    padding-block: 64px 80px;
  }

  .Heading { grid-area: Heading; }
  .Content { grid-area: Content; }
  .Media { grid-area: Media; }

  .container {
    display: flex;
    flex-flow: nowrap column;
    gap: 32px 0;
  }

  &.p-person--with-img > .container {
    @include breakpoints.bp-min(large) {
      display: grid;
      grid-template-columns: 1.3fr 0.7fr;
      gap: 32px 120px;
    }
  }

  > .container > .o-header {
    grid-column: 1 / 3;
    order: -1;
  }

  .p-person__content {
    display: flex;
    flex-flow: nowrap column;
    gap: 24px;

    @include breakpoints.bp-min(large) {
      gap: 32px;
    }
  }

  .p-person__media {
    order: -1;

    @include breakpoints.bp-min(large) {
      order: 1;
    }
  }
}




//------------------------------------
//  03 - General
//------------------------------------

.p-person {
  .p-person__heading {
    line-height: 0.94;
  }

  .p-person__titles {
    color: var(--surf-color-gray-600);
    font-family: var(--surf-font-sans);
    font-size: var(--surf-fs-18-24-32);
    font-weight: var(--surf-fw-regular);
    line-height: 1.44;

    @include breakpoints.bp-min(medium) {
      line-height: 1.32;
    }
  }

  .p-person__titles span:not(:first-child) {
    margin-inline-start: -4px;

    @include breakpoints.bp-min(medium) {
      margin-inline-start: -7px;
    }

    &:before {
      content: ', ';
    }
  }

  .p-person__contact {
    display: flex;
    flex-flow: wrap row;
    gap: 32px;
  }

  .p-person__contact a {
    font-size: var(--surf-fs-18-24);
    font-weight: var(--surf-fw-book);
  }
}
