//
// Component - Molecule - Contact
//
// - 01 - Imports
// - 02 - Layout
// - 03 - General
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - Layout
//------------------------------------

.m-legal-menu {
  ul.m-menu__list {
    display: flex;
    flex-flow: nowrap column;
    gap: 4px;
    list-style: none;
    margin-block: 0;
    padding-inline: 0;
    @include breakpoints.bp-min(medium) {
      gap: 16px;
    }

    @include breakpoints.bp-min(large) {
      align-items: center;
      flex-flow: nowrap row;
      gap: 0;
    }
  }
}




//------------------------------------
//  03 - General
//------------------------------------

.m-legal-menu {
  ul.m-menu__list > li {
    position: relative;
  }

  ul.m-menu__list > li:not(:first-child) {
    @include breakpoints.bp-min(large) {
      padding-inline-start: 16px;
      margin-inline-start: 16px;
    }

    &:before {
      @include breakpoints.bp-min(large) {
        background-color: var(--surf-color-gray-800);
        block-size: 16px;
        content: '';
        display: block;
        inline-size: 1px;
        inset-block: 1px 0;
        inset-inline-start: 0;
        margin-block: auto;
        position: absolute;
      }
    }
  }

  ul.m-menu__list > li > a {
    color: var(--surf-color-white);
    font-size: calculations.rem(16px);
    font-weight: var(--surf-fw-book);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--surf-color-gray-300);
      text-decoration: underline;
    }
  }
}
