//
// Partials - Calculations
// Simple functions to help developers calculate different values from percentages to sizing such as REMs.
//
// - 01 - Imports
// - 02 - Target/Container Percentage
// - 03 - REMs
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use 'sass:math';




//------------------------------------
//  02 - Target/Container Percentage
//  Calculate the percentage of a target size compared to a container size.
//  - @param $target: Size of an element needing a calculated percentage.
//  - @param $container: Size of the target's container, needed to calculate percentage.
//  - @example = width: calc-percent(250, 1000);
//------------------------------------

@function percent($target, $container) {
  @return calc((#{$target} / #{$container}) * 100%);
}




//------------------------------------
//  03 - REMs
//  Calculate a size into REM units -- mostly used for font size rendering.
//  - @param $size: Size of an element needing a calculated size into REMs.
//  - @param $base: Base font size of the site -- defaults to 16px.
//  - @example = font-size: calc-rem(24px);
//------------------------------------

$base-font-size: 16px !default;

@function rem($size, $base: $base-font-size) {
  $rem-size: math.div($size, $base);
  @return #{$rem-size}rem;
}
