//
// Partials - Layout
// Use these mixins when needing to easily define layout styles, such as widths and grids.
//
// - 01 - Imports
// - 02 - Full Width
// - 03 - Flex Grid
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use 'calculations' as functions-calculations;




//------------------------------------
//  02 - Full Width
//  When needing to make a nested element, within an already defined container, span outside and full width on a page,
//  use this mixin.
//  - @example = @include full-width();
//------------------------------------

@mixin full-width() {
  inline-size: 100vw;
  inset-inline: 50%;
  margin-inline: -50vw;
  position: relative;
}




//------------------------------------
//  03 - Flex Grid
//  When needing to make a list of elements into a flex grid, use this mixin along with defining amount of columns,
//  the child selector for the list wrapper and gutter sizes.
//  - @param $columns: Number of elements to display per row.
//  - @param $selector: Selector(s) to use for child elements.
//  - @param $column-gutter: Value of space between each item in a row
//  - @param $bottom-gutter: Value of space under each item in a column.
//  - @example = @include flex-grid(3, 'li', 40px, 40px);
//------------------------------------

@mixin flex-grid($columns, $selector, $column-gutter, $bottom-gutter) {
  display: flex;
  flex-flow: wrap row;
  margin-inline: calc(#{$column-gutter} / -2);
  padding: 0;

  > #{$selector} {
    $width: functions-calculations.percent(1, #{$columns});
    $gutter: calc(#{$column-gutter} / 2);

    flex: 0 0 $width;
    margin-block-start: $bottom-gutter;
    max-inline-size: $width;
    padding: 0 $gutter;

    // Account for margin top for all items not in the first row
    @for $i from 1 through $columns {
      &:nth-child(#{$i}) {
        margin-block-start: 0;
      }
    }
  }
}
