//
// Partials - Links
//
// - 01 - Imports
// - 02 - Menu Link
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use 'animations';
@use 'calculations';




//------------------------------------
//  02 - Menu Link
//------------------------------------

@mixin menu($size, $color, $hover-color: 'black') {
  color: var(--surf-color-#{$color});
  display: inline-block;
  font-family: var(--surf-font-condensed);
  font-size: calculations.rem($size);
  font-weight: var(--surf-fw-bold);
  letter-spacing: 1px;
  padding: 4px 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: var(--surf-color-#{$hover-color});
  }

  &:after {
    background-color: var(--surf-color-#{$color});
    content: '';
    display: block;
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: calc(100% - 8px);
    transform: scaleX(0);
    transform-origin: left;
    transition: animations.transition(all, 0.35s, easeInOutExpo);
    width: 100%;
  }

  &:hover:after,
  &:focus:after {
    background-color: var(--surf-color-#{$hover-color});
    opacity: 1;
    transform: scaleX(1);
  }
}
