<section {{ attributes.addClass('green-banner-cta').merge(clAttributes) }}>
  {% if heading %}
  {% block banner_heading_block %}
  <h2 class="green-banner-cta__title">{{heading}}</h2>
  {% endblock %}
  {% endif %}

  {% if body %}
  {% block banner_body_block %}
  <div class="green-banner-cta__body">
    <p>{{ body|check_markup('plain') }}</p>
  </div>
  {% endblock %}
  {% endif %}

  {% if link_text and link_url %}
  {% block callout__link %}
  <div class="green-banner-cta__link">
    {% include "link-button" with {
    text: link_text,
    url: link_url,
    button_style: 'underline',
    color: 'underline-white',
    icon_type: "arrow",
    uppercase: true,
    } %}
  </div>
  {% endblock %}
  {% endif %}

</section>