<div class="c-rich-text" style="margin: 32px 0">
  <h3>Buttons</h3>
  <p><em>Full</em></p>
</div>

{% include 'surf_main:button' with {
    attributes,
    button_attributes: create_attribute(),
    button_external: true,
    button_html_tag: 'link',
    button_size: 'large',
    button_style: 'full-navy',
    button_title: 'Example Button',
    button_url: 'https://example.com',
} %}

{% include 'surf_main:button' with {
    attributes,
    button_attributes: create_attribute(),
    button_external: true,
    button_html_tag: 'link',
    button_size: 'large',
    button_style: 'full-navy',
    button_suffix: 'arrow-right',
    button_title: 'Example Button',
    button_url: 'https://example.com',
} %}

{% include 'surf_main:button' with {
    attributes,
    button_attributes: create_attribute(),
    button_external: true,
    button_html_tag: 'link',
    button_size: 'large',
    button_style: 'full-black',
    button_title: 'Example Button',
    button_url: 'https://example.com',
} %}

{% include 'surf_main:button' with {
    attributes,
    button_attributes: create_attribute(),
    button_external: true,
    button_html_tag: 'link',
    button_size: 'large',
    button_style: 'full-black',
    button_suffix: 'arrow-right',
    button_title: 'Example Button',
    button_url: 'https://example.com',
} %}

{% include 'surf_main:button' with {
    attributes,
    button_attributes: create_attribute(),
    button_external: true,
    button_html_tag: 'link',
    button_size: 'large',
    button_style: 'full-white',
    button_title: 'Example Button',
    button_url: 'https://example.com',
} %}

{% include 'surf_main:button' with {
    attributes,
    button_attributes: create_attribute(),
    button_external: true,
    button_html_tag: 'link',
    button_size: 'large',
    button_style: 'full-white',
    button_suffix: 'arrow-right',
    button_title: 'Example Button',
    button_url: 'https://example.com',
} %}


<div class="c-rich-text" style="margin: 32px 0">
    <p><em>List</em></p>
</div>
