<form class="views-exposed-form bef-exposed-form" data-drupal-selector="views-exposed-form-site-search-site-search-block" action="/search" method="get" id="views-exposed-form-site-search-site-search-block" accept-charset="UTF-8" data-once="exposed-form">

  <div class="js-form-item form-item js-form-type-textfield form-item-keyword js-form-item-keyword">

    <label for="edit-keyword" class="form-item__label">Find a page</label>

    <input data-drupal-selector="edit-keyword" type="text" id="edit-keyword" name="keyword" value="test" size="30" maxlength="128" placeholder="Find a Page" class="form-text form-element form-element--type-text form-element--api-textfield">

  </div>

  <div class="js-form-item form-item js-form-type-select form-item-division js-form-item-division">

    <label for="edit-division" class="form-item__label">Division</label>

    <select data-drupal-selector="edit-division" id="edit-division" name="division" class="form-select form-element form-element--type-select"><option value="All" selected="selected">Division</option><option value="157">Ally(v)  </option><option value="3042">China Region</option><option value="186">Clean Air Moms Action  </option><option value="174">Climate Corps  	</option><option value="3016">Communications</option><option value="189">Community Engagement  	</option><option value="144">Content and Brand  	</option><option value="3017">Corporate Services and Risk Management</option><option value="184">Defend Our Future  </option><option value="152">DEI Council  	</option><option value="3040">Departments and Programs (Executive Office)</option><option value="168">EDF Board of Trustees  		</option><option value="194">EJ Council  </option><option value="3018">General (Development)</option><option value="163">Internal Audit  	</option><option value="156">AsPIRE  </option><option value="180">Economics and Global Climate Cooperation  		</option><option value="3046">EDF Action (EDAF)</option><option value="3030">Enterprise Operations</option><option value="148">General (Executive Office)  		</option><option value="3043">Government Partnerships</option><option value="153">Innovative Diversity Efforts Alliance (IDEA)  	</option><option value="171">Leadership Council  		</option><option value="3023">Marketing</option><option value="183">Moms Clean Air Force  </option><option value="145">Performance Marketing  	</option><option value="154">Black &amp; Green  </option><option value="173">EDF+Business  		</option><option value="3012">Finance</option><option value="188">Initiative Hub  	</option><option value="3031">Institutional Giving</option><option value="3011">IT</option><option value="170">Social Activities Committee (SAC)  		</option><option value="155">EDF Pride  </option><option value="3025">Energy Transition</option><option value="3010">Human Resources</option><option value="3041">Legal and Compliance</option><option value="3035">Legal Regulatory</option><option value="3019">Major Gifts</option><option value="169">Sustainability Council  		</option><option value="3044">Europe Region</option><option value="159">Feminists for Environmental and Gender Equity (FEGE)  </option><option value="3037">Membership</option><option value="182">Political Affairs  	</option><option value="178">Healthy Communities  		</option><option value="158">Latinos@EDF  </option><option value="3014">Operations (Development)</option><option value="3045">India Region</option><option value="3032">Planned Giving</option><option value="3034">Justice and Equity</option><option value="3033">MethaneSAT, LLC</option><option value="3024">Office of the Chief Scientist</option><option value="3022">People and Nature</option><option value="3026">US Region</option><option value="3038">Economics</option><option value="3020">EDF + Business</option><option value="3028">Executive Office</option><option value="3027">Global Climate Collaboration</option><option value="3039">Global Climate Cooperation</option><option value="3013">Global Development</option><option value="150">Global Enterprise  			</option><option value="3021">Global Mission</option><option value="3036">Global Strategy</option><option value="167">Groups  			</option><option value="3029">Health Communities</option><option value="3015">MarComm</option></select>

  </div>

  <div data-drupal-selector="edit-changed-wrapper" id="edit-changed-wrapper" class="js-form-wrapper form-wrapper">

    <fieldset data-drupal-selector="edit-changed-wrapper" id="edit-changed-wrapper--2" class="js-form-item form-item js-form-wrapper form-wrapper">
      <legend>
        <span class="fieldset-legend">Dates</span>
      </legend>
      <div class="fieldset-wrapper">

        <div class="js-form-item form-item js-form-type-textfield form-item-changed-min js-form-item-changed-min">

          <label for="edit-changed-min" class="form-item__label">Min</label>

          <input placeholder="Date From" class="bef-datepicker form-text form-element form-element--type-text form-element--api-textfield hasDatepicker" autocomplete="off" data-drupal-selector="edit-changed-min" type="text" id="edit-changed-min" name="changed[min]" value="" size="30" maxlength="128">

        </div>

        <div class="js-form-item form-item js-form-type-textfield form-item-changed-max js-form-item-changed-max">

          <label for="edit-changed-max" class="form-item__label">Max</label>

          <input placeholder="Date To" class="bef-datepicker form-text form-element form-element--type-text form-element--api-textfield hasDatepicker" autocomplete="off" data-drupal-selector="edit-changed-max" type="text" id="edit-changed-max" name="changed[max]" value="" size="30" maxlength="128">


        </div>

      </div>
    </fieldset>


  </div>

  <div class="js-form-item form-item js-form-type-select form-item-sort-bef-combine js-form-item-sort-bef-combine">

    <label for="edit-sort-bef-combine" class="form-item__label">Sort by</label>

    <select data-drupal-selector="edit-sort-bef-combine" id="edit-sort-bef-combine" name="sort_bef_combine" class="form-select form-element form-element--type-select"><option value="changed_DESC">Recent</option><option value="changed_ASC">Oldest</option><option value="relevance_DESC">Relevance</option></select>



  </div>

  <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">

    <input data-drupal-selector="edit-submit-site-search" type="submit" id="edit-submit-site-search" value="Search" class="button js-form-submit form-submit solid-btn">


  </div>




</form>