<div class="c-rich-text" style="margin: 32px 0">
  <h3>Grid</h3>
  <p><em>Example of Teasers 3 up</em></p>
</div>

{% embed 'surf_main:grid' with {
  grid_attributes: create_attribute({'class': ['a-grid--teaser-3-col']}),
  grid_html_tag: 'ul',
} only %}
  {% block grid_items_block %}
    <li>
      <div class="teaser a-grid a-grid--teaser">
        <div class="teaser__img"></div>
        <div class="teaser__body">
          <h3>Argon Transfer Challenge</h3>
          <p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>
        </div>
      </div>
    </li>
    <li><div class="teaser a-grid a-grid--teaser">
        <div class="teaser__img"></div>
        <div class="teaser__body">
          <h3>Argon Transfer Challenge</h3>
          <p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>
        </div>
      </div></li>
    <li><div class="teaser a-grid a-grid--teaser">
        <div class="teaser__img"></div>
        <div class="teaser__body">
          <h3>Argon Transfer Challenge</h3>
          <p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>
        </div>
      </div></li>
    <li><div class="teaser a-grid a-grid--teaser">
        <div class="teaser__img"></div>
        <div class="teaser__body">
          <h3>Argon Transfer Challenge</h3>
          <p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>
        </div>
      </div></li>
    <li><div class="teaser a-grid a-grid--teaser">
        <div class="teaser__img"></div>
        <div class="teaser__body">
          <h3>Argon Transfer Challenge</h3>
          <p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>
        </div>
      </div></li>
    <li><div class="teaser a-grid a-grid--teaser">
        <div class="teaser__img"></div>
        <div class="teaser__body">
          <h3>Argon Transfer Challenge</h3>
          <p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>
        </div>
      </div></li>
  {% endblock %}
{% endembed %}

<div class="c-rich-text" style="margin: 32px 0">
  <p><em>Example of Teasers 2 up</em></p>
</div>

{% embed 'surf_main:grid' with {
  grid_attributes: create_attribute({'class': ['a-grid--teaser-2-col']}),
  grid_html_tag: 'ul',
} only %}
  {% block grid_items_block %}
    <li>
      <div class="teaser a-grid a-grid--teaser ">
        <div class="teaser__img"></div>
        <div class="teaser__body">
          <h3>Argon Transfer Challenge</h3>
          <p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>
        </div>
      </div>
    </li>
    <li><div class="teaser a-grid a-grid--teaser">
        <div class="teaser__img"></div>
        <div class="teaser__body">
          <h3>Argon Transfer Challenge</h3>
          <p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>
        </div>
      </div></li>
    <li><div class="teaser a-grid a-grid--teaser">
        <div class="teaser__img"></div>
        <div class="teaser__body">
          <h3>Argon Transfer Challenge</h3>
          <p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>
        </div>
      </div></li>
    <li><div class="teaser a-grid a-grid--teaser">
        <div class="teaser__img"></div>
        <div class="teaser__body">
          <h3>Argon Transfer Challenge</h3>
          <p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>
        </div>
      </div></li>
    <li><div class="teaser a-grid a-grid--teaser">
        <div class="teaser__img"></div>
        <div class="teaser__body">
          <h3>Argon Transfer Challenge</h3>
          <p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>
        </div>
      </div></li>
    <li><div class="teaser a-grid a-grid--teaser">
        <div class="teaser__img"></div>
        <div class="teaser__body">
          <h3>Argon Transfer Challenge</h3>
          <p>How do you transfer 70,000 tons of argon nearly one mile underground to the DUNE detectors? Learn about phase changes in matter and design an engineering solution to this ‘enormous’ problem.</p>
        </div>
      </div></li>
  {% endblock %}
{% endembed %}

