<hr style="border: 1px solid #F2F2F2; margin-top: 32px">
<div class="c-rich-text" style="margin: 32px 0">
  <h3>Headings</h3>
</div>

{% embed 'surf_main:heading' with {
  heading_attributes: create_attribute(),
  heading_text: 'Heading Level One',
  heading_level: '1',
} only %}
{% endembed %}

{% embed 'surf_main:heading' with {
  heading_attributes: create_attribute(),
  heading_text: 'Heading Level Two',
  heading_level: '2',
} only %}
{% endembed %}

{% embed 'surf_main:heading' with {
  heading_attributes: create_attribute(),
  heading_text: 'Heading Level Three',
  heading_level: '3',
} only %}
{% endembed %}