<hr style="border: 1px solid #F2F2F2; margin-top: 32px">
<div class="c-rich-text" style="margin: 32px 0">
  <h3>Left Hook</h3>
</div>

{% embed 'surf_main:left-hook' with {
  left_hook_attributes: create_attribute(),
} only %}
{% endembed %}