<hr style="border: 1px solid #F2F2F2; margin-top: 32px">
<div class="c-rich-text" style="margin: 32px 0">
  <h3>Media</h3>
  <p><em>Image</em></p>
</div>

{% embed 'surf_main:media' with {
  media_attributes: create_attribute(),
} only %}

  {% block media_block %}
    <img loading="eager" src="/sites/default/files/2023-06/210609-TestSling-0052_0.jpg" width="5040" height="3360" alt="Test Sling">
  {% endblock %}

{% endembed %}

<hr style="border: 1px solid #F2F2F2; margin-top: 32px">
<div class="c-rich-text" style="margin: 32px 0">
  <p><em>Image with Caption</em></p>
</div>

{% embed 'surf_main:media' with {
  media_attributes: create_attribute(),
  media_caption: 'Photo caption. Sed faucibus egestas aliquam cras enim, aliquet neque metus ut convallis volutpat.',
} only %}

  {% block media_block %}
    <img loading="eager" src="/sites/default/files/2023-06/210609-TestSling-0052_0.jpg" width="5040" height="3360" alt="Test Sling">
  {% endblock %}

{% endembed %}