<div class="c-rich-text" style="margin: 32px 0">
  <h3>Person Card</h3>
  <p><em>Default</em></p>
</div>

{% embed 'surf_main:person-card' with {
  person_card_attributes: create_attribute(),
  person_card_name: 'Constance Walker',
  person_card_role: 'Communications Director',
  person_card_office_phone: '(605) 722-8650',
  person_card_email: 'email@email.com',
  person_card_media: drupal_entity('media', 3296),
  person_card_url: 'http://www.example.com',
  attributes,
} only %}
{% endembed %}