<div class="c-rich-text" style="margin: 32px 0">
  <h3>Pullquotes</h3>
  <p><em>Default</em></p>
</div>

{% embed 'surf_main:pullquote' with {
  pullquote_attributes: create_attribute(),
  pullquote_quote: '“Learn from yesterday, live for today, hope for tomorrow. The important thing is not to stop questioning.”',
  pullquote_credit: '— Albert Einstein',
} only %}
{% endembed %}

<div class="c-rich-text" style="margin: 32px 0">
  <p><em>Small</em></p>
</div>

{% embed 'surf_main:pullquote' with {
  pullquote_attributes: create_attribute(),
  pullquote_quote: 'SURF hosts a highly sensitive WIMP detector beneath nearly a mile of rock, and inside a 72,000-gallon, high-purity water tank, shielding it from cosmic rays and other radiation that would interfere with a dark matter signal.',
  pullquote_type: 'sm',
} only %}
{% endembed %}

<div class="c-rich-text" style="margin: 32px 0">
  <p><em>Large</em></p>
</div>

{% embed 'surf_main:pullquote' with {
  pullquote_attributes: create_attribute(),
  pullquote_quote: 'Extremely large emphasized text example. Lorem ipsum dolor sit amet.',
  pullquote_credit: '— Optional second line for quote credit.',
  pullquote_type: 'lg',
} only %}
{% endembed %}