<div class="c-rich-text" style="margin: 32px 0">
  <h3>Table</h3>
  <p><em>Default</em></p>
</div>

<div style="overflow-x:auto;">
<table>
  <thead>
  <tr>
    <th>
      Column Heading
    </th>
    <th>
      Column Heading
    </th>
    <th>
      Column Heading
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Est quis vulputate mattis
    </td>
    <td>
      Egestas odio condimentum amet
    </td>
    <td>
      Et libero congue dictum
    </td>
  </tr>
  <tr>
    <td>
      Tellus a condimentum gravida
    </td>
    <td>
      Vitae diam a consequat
    </td>
    <td>
      In sodales ornare non
    </td>
  </tr>
  <tr>
    <td>
      In faucibus diam viverra
    </td>
    <td>
      Lectus viverra lectus pharetra
    </td>
    <td>
      At dignissim diam sed
    </td>
  </tr>
  <tr>
    <td>
      Pellentesque in non dui
    </td>
    <td>
      Consequat at eget eget
    </td>
    <td>
      Vulputate eros accumsan id
    </td>
  </tr>
  <tr>
    <td>
      Vestibulum mauris commodo pellentesque
    </td>
    <td>
      Sed praesent elit nunc
    </td>
    <td>
      Id amet in ut
    </td>
  </tr>
  </tbody>
</table>
</div>