{%
  set classes = [
  'c-video',
]
%}

<figure {{ attributes.addClass(classes).merge(attributes) }}>

  {% block video_block %}
    {% if video %}
      <div class="c-video__video-wrapper">
        <iframe src="{{ video }}" frameborder="0" allowtransparency="" width="426" height="240" title="{{ title }}"></iframe>
      </div>
    {% endif %}
  {% endblock %}

  {% block caption_block %}
    {% if caption %}
      <figcaption class="c-video__caption">
        {{caption|check_markup('plain')}}
      </figcaption>
    {% endif %}
  {% endblock %}

</figure>