@import "_partials";

.layout {
  & > .l--inner-wrapper {
    z-index: 1;
    position: relative;
  }

  // 50 / 50
  &.l--layout-twocolumn-halves {
    .l__main {
      display: grid;
      row-gap: rem(32px);
      @include bp-min(medium) {
        column-gap: rem(20px);
        grid-template-columns: 0.5fr 0.5fr;
      }
      @include bp-min(large) {
        column-gap: rem(40px);
      }
      @include bp-min(xlarge) {
        column-gap: rem(60px);
      }
    }
  }
  // Thirds
  &.l--layout-threecolumn-thirds {
    .l__main {
      display: grid;
      row-gap: rem(32px);
      @include bp-min(medium) {
        column-gap: rem(20px);
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      @include bp-min(large) {
        column-gap: rem(40px);
      }
      @include bp-min(xlarge) {
        column-gap: rem(60px);
      }
    }
  }
  &.l--layout-twocolumn-onethird-twothirds {
    .l__main {
      display: grid;
      row-gap: rem(32px);
      @include bp-min(medium) {
        column-gap: rem(20px);
        grid-template-columns: 0.4fr 0.6fr;
      }
      @include bp-min(large) {
        column-gap: rem(40px);
      }
      @include bp-min(xlarge) {
        column-gap: rem(60px);
      }
    }
  }
  &.l--layout-twocolumn-twothirds-onethird {
    .l__main {
      display: grid;
      @include bp-min(medium) {
        column-gap: rem(20px);
        grid-template-columns: 0.6fr 0.4fr;
      }
      @include bp-min(large) {
        column-gap: rem(40px);
      }
      @include bp-min(xlarge) {
        column-gap: rem(60px);
      }
    }
  }

  // Styles (widths)
  &.l-width--full {
    width: 100% !important;
    max-width: 100% !important;
    & > .l--inner-wrapper {
      width: 100%;
      @include bp-min(xlarge) {
        margin-left: rem(20px);
        width: calc(100% - rem(20px));
      }
    }
  }

  &.l-width--medium {
    @include bp-min(medium) {
      column-gap: rem(20px);
      grid-template-columns: 0.5fr 0.5fr;
    }
    @include bp-min(large) {
      column-gap: rem(40px);
    }
    @include bp-min(xlarge) {
      column-gap: rem(60px);
    }
    & > .l--inner-wrapper {
      max-width: rem(1380px);
    }
  }

  &.l-width--narrow {
    & > .l--inner-wrapper {
      max-width: rem(780px);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.c-layout {
  & > .c-layout--inner-wrapper {
    z-index: 1;
    position: relative;
  }
  .c-layout--main {
    margin: 0;
    padding: 0;
  }
  .c-layout--region {
    display: block;
    margin: 0;
    & > * {
      height: 100%;
    }
  }
  // One Column [1]
  &.c-layout--layout-onecolumn {
    .c-layout--main {
      display: grid;
      row-gap: rem(32px);
      @include bp-min(medium) {
        column-gap: rem(20px);
        grid-template-columns: 1fr;
      }
      @include bp-min(large) {
        column-gap: rem(40px);
      }
      @include bp-min(xlarge) {
        column-gap: rem(60px);
      }
    }
  }
  // Two Column [1:1]
  &.c-layout--layout-twocolumn-halves {
    .c-layout--main {
      display: grid;
      row-gap: rem(32px);
      @include bp-min(medium) {
        column-gap: rem(32px);
        grid-template-columns: 0.5fr 0.5fr;
      }
      @include bp-min(large) {
        column-gap: rem(40px);
      }
      @include bp-min(xlarge) {
        column-gap: rem(60px);
      }
    }
  }

  // Two Column [1:2]
  &.c-layout--layout-twocolumn-onethird-twothirds {
    .c-layout--main {
      display: grid;
      row-gap: rem(32px);
      @include bp-min(medium) {
        column-gap: rem(20px);
        grid-template-columns: 0.4fr 0.6fr;
      }
      @include bp-min(large) {
        column-gap: rem(40px);
      }
      @include bp-min(xlarge) {
        column-gap: rem(60px);
      }
    }
  }

  // Two Column [2:1]
  &.c-layout--layout-twocolumn-twothirds-onethird {
    .c-layout--main {
      display: grid;
      @include bp-min(medium) {
        column-gap: rem(20px);
        grid-template-columns: 0.6fr 0.4fr;
      }
      @include bp-min(large) {
        column-gap: rem(40px);
      }
      @include bp-min(xlarge) {
        column-gap: rem(60px);
      }
    }
  }

  // Three Column [1:1:1]
  &.c-layout--layout-threecolumn-thirds {
    .c-layout--main {
      display: grid;
      gap: rem(32px);
      @include bp-min(medium) {
        gap: rem(32px);
      }
      @include bp-min(large) {
        gap: rem(40px);
      }
      @include bp-min(xxlarge) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: rem(60px);
      }
    }
    .simple {
      @include bp-min(medium) {
        gap: rem(32px);
        grid-template-columns: 0.5fr 0.5fr;
      }
      @include bp-min(large) {
        gap: rem(40px);
        grid-template-columns: 0.5fr 0.5fr;
      }
      @include bp-min(xxlarge) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: rem(60px);
      }
    }
  }
}
