@import "../../partials/_partials";

[class*="l-constrained"] {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - var(--space-inset-x) * 2);
  width: calc(100vw - var(--space-inset-x) * 2);
}

[class*="l-constrained"] [class*="l-constrained"] {
  margin-left: 0;
  margin-right: 0;
}

.l-constrained {
  width: 1380px;
}

.l-constrained--narrow {
  width: 780px;
}

.l-constrained--wide {
  width: 1620px;
}

.l-constrained--full {
  width: 100%;
}
