/*
 * @file
 * Provides grid styles for view plugin.
 */
@import "../../partials/_partials";

.l-grid .l__inner > * + * {
  margin-top: var(--space-gap-y);
}

@media (min-width: 600px) {
  .l-grid .l__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -48px;
    column-gap: var(--space-gap-x);
    display: grid;
    row-gap: var(--space-gap-y);
  }

  .l-grid.l-grid--2 .l__inner,
  .l-grid.l-grid--4 .l__inner {
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
  }

  .l-grid.l-grid--2 .l__inner > .l__item,
  .l-grid.l-grid--4 .l__inner > .l__item {
    flex: none;
    width: calc((100% - 8rem) / 2);
    margin: 1rem 2rem;
  }

  .l-grid .l__inner > .l__item:not(:last-child) {
    margin-bottom: 0;
  }

  @supports (display: grid) {
    .l-grid .l__inner {
      margin: 0 !important;
    }

    .l-grid .l__inner > .l__item {
      margin: 0 !important;
      width: auto !important;
    }
  }
}

@media (min-width: 990px) {
  .l-grid .l__inner {
    --space-gap-x: 60px;
    --space-gap-y: 60px;
  }

  .l-grid.l-grid--2 .l__inner {
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
  }

  .l-grid.l-grid--3 .l__inner {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }

  .l-grid.l-grid--3 .l__inner > .l__item {
    width: calc((100% - 12rem) / 3);
  }

  .l-grid.l-grid--4 .l__inner {
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  }

  .l-grid.l-grid--4 .l__inner > .l__item {
    width: calc((100% - 16rem) / 4);
  }

  .l-grid .l__inner > .l__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 1400px) {
  .l-grid .l__inner {
    --space-gap-x: 75px;
    --space-gap-y: 75px;
  }
}

// Teaser Grid
.l-teaser-grid {
  ul.item-list {
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: rem(32px);
    @include bp-min(medium) {
      row-gap: rem(48px);
    }
    @include bp-min(large) {
      row-gap: rem(60px);
    }
    .item-row {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
}

.l-teaser-grid__wrapper {
  margin-top: rem(48px);
  @include bp-min(medium) {
    margin-top: rem(60px);
  }
  @include bp-min(large) {
    margin-top: rem(80px);
  }
  hr.left-hook-divider {
    margin-bottom: rem(48px);
    @include bp-min(medium) {
      margin-bottom: rem(60px);
    }
    @include bp-min(large) {
      margin-bottom: rem(68px);
    }
  }
  .l-teaser-grid__title {
    margin: 0 0 rem(32px) 0;
    @include bp-min(medium) {
      margin: 0 0 rem(48px) 0;
    }
    @include bp-min(large) {
      margin: 0 0 rem(68px) 0;
    }
  }
}

.l-teaser-grid:not(.l-teaser-grid__length-1) {
  &.l-teaser-grid__length-2 ul.item-list {
    @include bp-min(xlarge) {
      column-gap: rem(60px);
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &.l-teaser-grid__length-3 ul.item-list {
    @include bp-min(xlarge) {
      column-gap: rem(60px);
      grid-template-columns: repeat(3, 1fr);
    }
  }
  ul.item-list {
    //   row-gap: rem(32px);
    //   column-gap: rem(20px);
    //   @include bp-min(medium) {
    //     column-gap: rem(20px);
    //     // grid-template-columns: 0.5fr 0.5fr;
    //   }
    //   @include bp-min(large) {
    //     column-gap: rem(40px);
    //   }
    //   @include bp-min(xlarge) {
    //     column-gap: rem(60px);
    //   }
    // }
    &.l-teaser-grid__length-2 {
      @include bp-min(xlarge) {
        column-gap: rem(60px);
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &.l-teaser-grid__length-3 {
      @include bp-min(xlarge) {
        column-gap: rem(60px);
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .c-teaser.c-teaser--column-stack {
      @include bp-between(medium, large) {
        display: grid;
        grid-template-columns: rem(208px) 1fr;
        column-gap: rem(20px);
      }
      @include bp-between(large, xlarge) {
        display: grid;
        grid-template-columns: rem(293px) 1fr;
        column-gap: rem(40px);
      }
    }
  }
}

.l-teaser-view-grid {
  ul.item-list {
    margin: 0;
    padding: 0;
    display: grid;
    gap: rem(32px);
    grid-template-columns: repeat(1, 1fr);
    @include bp-min(medium) {
      gap: rem(48px);
      grid-template-columns: repeat(2, 1fr);
    }
    @include bp-min(large) {
      gap: rem(60px);
      grid-template-columns: repeat(3, 1fr);
    }
    .item-row {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
}
