@import "_partials";

.c-pullquote__content p {
  @include surf-font-heading-one;
  color: var(--color-text-heading);
  @include bp-max(medium) {
    font-size: rem(40px);
  }
}

.c-pullquote__footer {
  margin: rem(20px) 0 0 0;

  cite {
    @include surf-font-label-peewee;
    align-items: baseline;
    color: var(--color-text-muted);
    display: flex;
    &::before {
      content: "\2014";
      margin: 0 7px 0 0;
    }
  }
}

// Style: fullwidth
.c-pullquote--fullwidth {
  .c-pullquote__content p {
    color: transparent;
    background: linear-gradient(
      92.82deg,
      var(--color-text-heading-muted) 0.11%,
      var(--color-text-heading) 95.94%
    );
    background-clip: text;
    @include bp-max(medium) {
      font-size: rem(40px);
    }
  }
}

// Style: centered
.c-pullquote--centered {
  border-top: solid 2px var(--color-border-muted);
  border-bottom: solid 2px var(--color-border-muted);
  padding: 32px 0;
}
