@import "_partials";

.c-pullquote {
  // Style: fullwidth
  &.fullwidth .c-pullquote__content p {
    color: transparent;
    background: linear-gradient(92.82deg, #707070 0.11%, #000000 95.94%);
    background-clip: text;
  }
  // Style: centered
  &.centered {
    border-top: solid 2px var(--color-surf--cloud);
    border-bottom: solid 2px var(--color-surf--cloud);
    padding: 32px 0;
  }
}

.c-pullquote__content p {
  @include surf-font-heading-one;
  color: var(--color-surf--black);
}

.c-pullquote__footer {
  margin: rem(20px) 0 0 0;
  cite {
    @include surf-font-label-peewee;
    align-items: baseline;
    color: var(--color-surf--grey);
    display: flex;
    &::before {
      content: "\2014";
      margin: 0 7px 0 0;
    }
  }
}
