{# Resources List Paragraph #}

<div class="" id="232">
  <header class="cl-component cl-component--header c-header c-header--black-text l-stack  u-padding">
    <hr>
    <h2>Resoruces List Paragraph Example</h2>
  </header>

  {% include "resources-list" with {
    heading: 'Curriculum Resources',
    	items: [
        {
          title: "Lorem ipsum dolor sit amet",
          url: "/",
          icon: "link",
          size: "5 MB",
          type: "pdf",
        },
        {
          title: "Sed nulla sagittis odio euismod",
          url: "/",
          icon: "file",
          size: "5 MB",
          type: "pdf",
        },
        {
          title: "Return instructions & checklist",
          url: "/",
          icon: "file",
          size: "5 MB",
          type: "pdf",
        },
        {
          title: "Aenean elit, justo dictum sit",
          url: "/",
          icon: "link",
          size: "5 MB",
          type: "pdf",
        },
        {
          title: "Scelerisque egestas maecenas sit praesent",
          url: "/",
          icon: "file",
          size: "5 MB",
          type: "pdf",
        },
        {
          title: "Hendrerit sapien blandit aliquet purus",
          url: "/",
          icon: "file",
          size: "5 MB",
          type: "pdf",
        },
			]
    } %}

</div>