{# Rich Text Paragraph #}

<div class="text-content field field--name-field-text field--type-text-long field--label-hidden field__item" id="89">
  <header class="cl-component cl-component--header c-header c-header--black-text l-stack  u-padding">
    <hr>
    <h2>Rich Text Paragraph Examples</h2>
  </header>

  <h3>Heading and Paragraph Examples</h3>
  <h2>Heading Two</h2>
  <p>Est <strong>reprehenderit</strong> <em>pariatur</em> fugiat incididunt consectetur aliquip <a
      href="/">adipisicing</a>. Cillum sint esse aliqua dolore elit sunt quis aliquip sint. Culpa adipisicing excepteur
    velit proident. Consequat nisi adipisicing occaecat ullamco non nisi dolore eu veniam et duis nostrud consectetur.
    Proident commodo fugiat Lorem dolor ut ad cupidatat occaecat minim. Ullamco dolore et irure tempor proident
    consequat. Consequat et occaecat aute magna ad. Cupidatat ad commodo Lorem nisi fugiat dolor fugiat minim excepteur
    occaecat elit elit nulla velit dolor.</p>
  <h3>Heading Three</h3>
  <p>Est reprehenderit pariatur fugiat incididunt consectetur aliquip adipisicing. Cillum sint esse aliqua dolore elit
    sunt quis aliquip sint. Culpa adipisicing excepteur velit proident. Consequat nisi adipisicing occaecat ullamco non
    nisi dolore eu veniam et duis nostrud consectetur. Proident commodo fugiat Lorem dolor ut ad cupidatat occaecat
    minim. Ullamco dolore et irure tempor proident consequat. Consequat et occaecat aute magna ad. Cupidatat ad commodo
    Lorem nisi fugiat dolor fugiat minim excepteur occaecat elit elit nulla velit dolor.</p>
  <h4>Heading Four</h4>
  <p>Est reprehenderit pariatur fugiat incididunt consectetur aliquip adipisicing. Cillum sint esse aliqua dolore elit
    sunt quis aliquip sint. Culpa adipisicing excepteur velit proident. Consequat nisi adipisicing occaecat ullamco non
    nisi dolore eu veniam et duis nostrud consectetur. Proident commodo fugiat Lorem dolor ut ad cupidatat occaecat
    minim. Ullamco dolore et irure tempor proident consequat. Consequat et occaecat aute magna ad. Cupidatat ad commodo
    Lorem nisi fugiat dolor fugiat minim excepteur occaecat elit elit nulla velit dolor.</p>
  <h5>Heading Five</h5>
  <p>Est reprehenderit pariatur fugiat incididunt consectetur aliquip adipisicing. Cillum sint esse aliqua dolore elit
    sunt quis aliquip sint. Culpa adipisicing excepteur velit proident. Consequat nisi adipisicing occaecat ullamco non
    nisi dolore eu veniam et duis nostrud consectetur. Proident commodo fugiat Lorem dolor ut ad cupidatat occaecat
    minim. Ullamco dolore et irure tempor proident consequat. Consequat et occaecat aute magna ad. Cupidatat ad commodo
    Lorem nisi fugiat dolor fugiat minim excepteur occaecat elit elit nulla velit dolor.</p>
  <h6>Heading Six</h6>
  <p>Est reprehenderit pariatur fugiat incididunt consectetur aliquip adipisicing. Cillum sint esse aliqua dolore elit
    sunt quis aliquip sint. Culpa adipisicing excepteur velit proident. Consequat nisi adipisicing occaecat ullamco non
    nisi dolore eu veniam et duis nostrud consectetur. Proident commodo fugiat Lorem dolor ut ad cupidatat occaecat
    minim. Ullamco dolore et irure tempor proident consequat. Consequat et occaecat aute magna ad. Cupidatat ad commodo
    Lorem nisi fugiat dolor fugiat minim excepteur occaecat elit elit nulla velit dolor.</p>

  <h2><a href="/">Heading Two Linked</a></h2>
  <p>Est <strong>reprehenderit</strong> <em>pariatur</em> fugiat incididunt consectetur aliquip <a
      href="/">adipisicing</a>. Cillum sint esse aliqua dolore elit sunt quis aliquip sint. Culpa adipisicing excepteur
    velit proident. Consequat nisi adipisicing occaecat ullamco non nisi dolore eu veniam et duis nostrud consectetur.
    Proident commodo fugiat Lorem dolor ut ad cupidatat occaecat minim. Ullamco dolore et irure tempor proident
    consequat. Consequat et occaecat aute magna ad. Cupidatat ad commodo Lorem nisi fugiat dolor fugiat minim excepteur
    occaecat elit elit nulla velit dolor.</p>
  <h3><a href="/">Heading Three Linked</a></h3>
  <p>Est reprehenderit pariatur fugiat incididunt consectetur aliquip adipisicing. Cillum sint esse aliqua dolore elit
    sunt quis aliquip sint. Culpa adipisicing excepteur velit proident. Consequat nisi adipisicing occaecat ullamco non
    nisi dolore eu veniam et duis nostrud consectetur. Proident commodo fugiat Lorem dolor ut ad cupidatat occaecat
    minim. Ullamco dolore et irure tempor proident consequat. Consequat et occaecat aute magna ad. Cupidatat ad commodo
    Lorem nisi fugiat dolor fugiat minim excepteur occaecat elit elit nulla velit dolor.</p>
  <h4><a href="/">Heading Four Linked</a></h4>
  <p>Est reprehenderit pariatur fugiat incididunt consectetur aliquip adipisicing. Cillum sint esse aliqua dolore elit
    sunt quis aliquip sint. Culpa adipisicing excepteur velit proident. Consequat nisi adipisicing occaecat ullamco non
    nisi dolore eu veniam et duis nostrud consectetur. Proident commodo fugiat Lorem dolor ut ad cupidatat occaecat
    minim. Ullamco dolore et irure tempor proident consequat. Consequat et occaecat aute magna ad. Cupidatat ad commodo
    Lorem nisi fugiat dolor fugiat minim excepteur occaecat elit elit nulla velit dolor.</p>
  <h5><a href="/">Heading Five Linked</a></h5>
  <p>Est reprehenderit pariatur fugiat incididunt consectetur aliquip adipisicing. Cillum sint esse aliqua dolore elit
    sunt quis aliquip sint. Culpa adipisicing excepteur velit proident. Consequat nisi adipisicing occaecat ullamco non
    nisi dolore eu veniam et duis nostrud consectetur. Proident commodo fugiat Lorem dolor ut ad cupidatat occaecat
    minim. Ullamco dolore et irure tempor proident consequat. Consequat et occaecat aute magna ad. Cupidatat ad commodo
    Lorem nisi fugiat dolor fugiat minim excepteur occaecat elit elit nulla velit dolor.</p>
  <h6><a href="/">Heading Six Linked</a></h6>
  <p>Est reprehenderit pariatur fugiat incididunt consectetur aliquip adipisicing. Cillum sint esse aliqua dolore elit
    sunt quis aliquip sint. Culpa adipisicing excepteur velit proident. Consequat nisi adipisicing occaecat ullamco non
    nisi dolore eu veniam et duis nostrud consectetur. Proident commodo fugiat Lorem dolor ut ad cupidatat occaecat
    minim. Ullamco dolore et irure tempor proident consequat. Consequat et occaecat aute magna ad. Cupidatat ad commodo
    Lorem nisi fugiat dolor fugiat minim excepteur occaecat elit elit nulla velit dolor.</p>

  <p>&nbsp;</p>
  <hr>

  <h3>Unordered List Example</h3>
  <ul>
    <li>Veniam <strong>voluptate</strong> sit <em>reprehenderit</em> minim culpa nulla <a href="/">deserunt</a> officia
      officia.</li>
    <li>Pariatur anim non occaecat cillum consectetur laborum irure in qui adipisicing.
      <ul>
        <li>Duis fugiat pariatur culpa ad proident.</li>
        <li>Est mollit mollit laborum.</li>
      </ul>
    </li>
    <li>Occaecat ipsum commodo et incididunt id deserunt duis occaecat nulla sunt ullamco id duis officia cillum.</li>
    <li>Magna et incididunt mollit et minim ad excepteur officia minim dolore laborum.</li>
  </ul>

  <p>&nbsp;</p>
  <hr>

  <h3>Ordered List Example</h3>
  <ol>
    <li>Veniam <strong>voluptate</strong> sit <em>reprehenderit</em> minim culpa nulla <a href="/">deserunt</a> officia
      officia.</li>
    <li>Pariatur anim non occaecat cillum consectetur laborum irure in qui adipisicing.
      <ol>
        <li>Duis fugiat pariatur culpa ad proident.</li>
        <li>Est mollit mollit laborum.</li>
      </ol>
    </li>
    <li>Occaecat ipsum commodo et incididunt id deserunt duis occaecat nulla sunt ullamco id duis officia cillum.</li>
    <li>Magna et incididunt mollit et minim ad excepteur officia minim dolore laborum.</li>
  </ol>

  <p>&nbsp;</p>
  <hr>

  <h3>Blockquote Example</h3>
  <blockquote>
    <p>Non nulla incididunt fugiat est sit nostrud mollit elit ut. Nisi sint proident aliqua irure minim. Ea
      reprehenderit sint ipsum eiusmod cupidatat tempor ut ea nostrud sunt. Occaecat excepteur consequat cupidatat enim.
    </p>
  </blockquote>

  <p>&nbsp;</p>
  <hr>

  <h3>Button Examples</h3>
  <p><a href="/">Button</a></p>
  <p><a href="/">Button</a></p>
  <p><a href="/">Button</a></p>
  <p><a href="/">Button</a></p>
  <p><a href="/">Button</a></p>
  <p><a href="/">Button</a></p>
  <p><a href="/">Button</a></p>

  <p>&nbsp;</p>
  <hr>

  <h3>Image Examples</h3>
  <p><img alt="No Alignment"
      src="/themes/custom/surf_main/examples/quarter-width.jpg"></p>
  <p><img alt="Left Alignment" data-align="left" src="/themes/custom/surf_main/examples/quarter-width.jpg"></p>
  <p><img alt="Center Align" data-align="center" src="/themes/custom/surf_main/examples/half-width.jpg"></p>
  <p><img alt="Right Align" data-align="right" src="/themes/custom/surf_main/examples/quarter-width.jpg"></p>
  <p><img alt="Caption example" data-caption="Aliqua cupidatat elit nisi ex exercitation qui dolore." src="/themes/custom/surf_main/examples/quarter-width.jpg"></p>

  <p>&nbsp;</p>
  <hr>

  <h3>Table</h3>
  <table border="1" cellpadding="1" cellspacing="1" style="width: 100%;">
  <thead>
    <tr>
      <th scope="col">Heading One</th>
      <th scope="col">Heading Two</th>
      <th scope="col">Heading Three</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td>Column one - Row one</td>
        <td>Column two - Row two</td>
        <td>Column three - Row one</td>
      </tr>
      <tr>
        <td>Column one - Row two</td>
        <td>Column two - Row three</td>
        <td>Column three - Row two</td>
      </tr>
      <tr>
        <td>Column one - Row three</td>
        <td>Column two - Row four</td>
        <td>Column three - Row three</td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</div>