{#
/**
 * @file
 * Component for View Grid
 *
 * Available props:
 * - view_attributes
 *
 * Available slots:
 * - view_title
 * - view_header
 * - view_filters
 * - view_attach_before
 * - view_rows
 * - view_pager
 * - view_attach_after
 * - view_more
 * - view_footer
 *
 */
#}

{% set classes = [
    'view',
    'view--grid',
] %}

<div {{ view_attributes.addClass(classes) }}>
    {% block view_title %}{% endblock %}
    {% block view_header %}{% endblock %}
    {% block view_filters %}{% endblock %}
    {% block view_attach_before %}{% endblock %}
    {% block view_rows %}{% endblock %}
    {% block view_pager %}{% endblock %}
    {% block view_attach_after %}{% endblock %}
    {% block view_more %}{% endblock %}
    {% block view_footer %}{% endblock %}
</div>
