//
// Component - Page - Reports & Publications
//
// - 01 - Imports
// - 02 - General
// - 03 - Modifiers
// - 04 - Component Overrides
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;




//------------------------------------
//  02 - General
//------------------------------------

.p-report-pub {
  .o-header__content {
    background-color: var(--surf-color-white);
    padding-block: rem(32px);
    @include bp-min(xlarge) {
      padding-block: rem(60px);
      padding-inline: rem(120px);
    }
  }
}

.p-report-pub__media {
  img {
    max-block-size: 600px;
    object-fit: cover;
  }
}

.p-report-pub__main-content {
  margin-block-end: rem(60px);

  > :not( :last-child ) {
    margin-block-end: rem(80px);
  }

  .m-pullquote--small,
  .m-pullquote--medium,
  .m-pullquote--large {
    margin-inline: auto;
  }
}




//------------------------------------
//  03 - Modifiers
//------------------------------------

.p-report-pub--with-img {
  .o-header {
    @include bp-min(xlarge) {
      margin-block-start: rem(-120px);
    }
  }
}




//------------------------------------
//  04 - Component Overrides
//------------------------------------

.p-report-pub__main-content,
.lp-builder > div {
  > * {
    margin-inline: auto;
  }

  > :not( :last-child ) {
    margin-block-end: rem(60px);
  }
}
