//
// Component - Molecule - Accordion
//
// - 01 - Imports
// - 02 - General
// - 03 - Slides
// - 04 - Splide
// - 05 - Contexts
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../../node_modules/@splidejs/splide/dist/css/splide-core.min.css';
@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/buttons';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - General
//------------------------------------

.m-gallery {
  display: flex;
  flex-flow: nowrap column;
}




//------------------------------------
//  03 - Slides
//------------------------------------

.m-gallery {
  .m-gallery__slide > figure {
    margin: auto;
    width: fit-content;
  }

  .m-gallery__slide > figure > figcaption {
    font-size: calculations.rem(14px);
    line-height: var(--surf-lh-default);
    max-inline-size: 100%;
    padding: 16px 0;
    position: relative;
    text-align: center;

    @include breakpoints.bp-min(medium) {
      background: var(--surf-color-white);
      bottom: -1px;
      max-inline-size: 400px;
      padding-block: 24px;
      padding-inline: 24px 0;
      position: absolute;
      right: -1px;
      text-align: left;
    }
  }

  .m-gallery__slide > figure img {
    margin: auto;
    max-block-size: 210px;
    object-fit: contain;
    width: auto;

    @include breakpoints.bp-min(medium) {
      max-block-size: 330px;
    }

    @include breakpoints.bp-min(large) {
      max-block-size: 434px;
    }

    @include breakpoints.bp-min(xlarge) {
      max-block-size: 660px;
    }
  }
}




//------------------------------------
//  04 - Splide
//------------------------------------

.m-gallery {
  .splide__track {
    overflow: visible;
  }

  .splide__arrows {
    display: flex;
    flex-flow: nowrap row;
    gap: 24px;
    justify-content: center;
    order: 1;
    margin-block-start: 24px;

    @include breakpoints.bp-min(medium) {
      justify-content: flex-end;
      margin-block-start: 64px;
    }
  }

  .splide__arrow {
    @include buttons.button-reset();
    background: transparent;
    block-size: 64px;
    border-radius: 50%;
    display: block;
    inline-size: 64px;
    position: relative;

    &:hover,
    &:focus {
      background: var(--surf-color-gray-100);
    }
  }

  .splide__arrow:before {
    background-color: var(--surf-color-black);
    block-size: 48px;
    content: '';
    display: block;
    inline-size: 48px;
    inset-block: 0;
    inset-inline: 0;
    margin: auto;
    position: absolute;
  }

  .splide__arrow--prev:before {
    --surf-icon-arrow-left: svg-load('icon-arrow-left.svg');
    mask-image: var(--surf-icon-arrow-left);
  }

  .splide__arrow--next:before {
    --surf-icon-arrow-right: svg-load('icon-arrow-right.svg');
    mask-image: var(--surf-icon-arrow-right);
  }

  .splide__arrow svg {
    display: none;
  }
}




//------------------------------------
//  05 - Contexts
//------------------------------------

.l-section--blue-gradient .m-gallery {
  .splide__arrow {
    &:hover:before,
    &:focus:before {
      background-color: var(--surf-color-black);
    }
  }

  .splide__arrow:before {
    background-color: var(--surf-color-white);
  }
}
