{#
/**
 * @file
 * Component for Default Template
 *
 * Available props:
 * - template_attributes: [array] Any parent tag attributes.
 *
 * Available slots:
 * - page_header
 * - page_system
 * - page_sidebar
 * - page_content
 * - page_footer
 */
#}

{%
  set classes = [
  't-default',
  'layout-container',
]
%}

<div {{ page_attributes.addClass(classes).merge(attributes) }}>

  {% block page_header %}
    {% if page.site_alert or page.header_utility or page.header_primary %}
      {% include 'surf_main:masthead' with {
        attributes,
        masthead_attributes: create_attribute(),
        masthead_alerts: page.site_alert,
        masthead_utility: page.header_utility,
        masthead_primary: page.header_primary,
      } only %}
    {% endif %}
  {% endblock %}

  {% block page_system %}
    {{ page.system }}
  {% endblock %}

  <div class="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if sidebar %}
      <aside class="main-sidebar" role="complementary">
        {% block page_sidebar %}
          [Page Sidebar]
        {% endblock %}
      </aside>
    {% endif %}

    <main role="main">

      {% block page_content %}
        [Page Content Default]
      {% endblock %}

    </main>

  </div>
  {% block page_footer %}
    <footer>
      [Site Footer Default]
    </footer>
  {% endblock %}
</div>