//
// Component - Molecule - Hero
//
// - 01 - Imports
// - 02 - Content Right
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/breakpoints';
@use '../../../00-base/partials/calculations';




//------------------------------------
//  02 - General
//------------------------------------

.m-hero {
  .m-hero__text p {
    font-size: var(--surf-fs-16-24-40);
    font-weight: var(--surf-fw-bold);
    line-height: 1.3;

    @include breakpoints.bp-min(large) {
      font-weight: var(--surf-fw-medium);
    }
  }
}


.m-hero.m-hero--content-right,
.m-hero.m-hero--content-left {
  overflow: hidden;
  position: relative;
  z-index: var(--surf-zindex-top);

  @include breakpoints.bp-min(xlarge) {
    max-block-size: 900px;
  }

  .m-hero__media {
    z-index: var(--surf-zindex-default);
  }

  .m-hero__media,
  .m-hero__media *:not(img, figcaption) {
    @include breakpoints.bp-min(xlarge) {
      block-size: 100%;
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
    }
  }

  .m-hero__media .a-media:after {
    @include breakpoints.bp-min(xlarge) {
      block-size: 100%;
      content: '';
      display: block;
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;
      z-index: var(--surf-zindex-over);
    }
  }

  .m-hero__media .a-media__caption {
    background-color: var(--surf-color-black);
    color: var(--surf-color-white);
    font-size: calculations.rem(14px);
    font-style: italic;
    inset-block-end: -1px;
    inset-inline-end: -1px;
    padding-block: 8px;
    padding-inline: 16px;
    position: absolute;
    z-index: var(--surf-zindex-top);
  }

  .m-hero__media img {
    @include breakpoints.bp-min(xlarge) {
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .m-hero__content {
    background-color: var(--surf-color-black);
    color: var(--surf-color-white);
    margin-inline: auto;
    max-inline-size: calc(var(--surf-width-xlarge) + (var(--surf-grid-gap) * 2));
    padding-block: var(--surf-grid-gap);
    padding-inline: var(--surf-grid-gap);
    position: relative;
    z-index: var(--surf-zindex-top);

    @include breakpoints.bp-min(medium) {
      padding-block: 60px;
    }

    @include breakpoints.bp-min(xlarge) {
      background-color: transparent;
      padding-block: 144px;
    }
  }

  .m-hero__title {
    color: var(--surf-color-white);
    font-family: var(--surf-font-sans-alt);
    font-size: var(--surf-fs-48-132-176);
    font-weight: var(--surf-fw-book);
    line-height: 0.75;
    text-transform: uppercase;

    @include breakpoints.bp-min(xlarge) {
      background: url('img/background-particles-black.png') no-repeat left bottom, var(--surf-gradient-dg-white);
      background-clip: text;
      font-size: calculations.rem(272px);
      -webkit-text-fill-color: transparent;
    }
  }

  .m-hero__text {
    margin-block-start: 8px;

    @include breakpoints.bp-min(medium) {
      margin-block-start: 20px;
    }

    @include breakpoints.bp-min(large) {
      margin-block-start: 40px;
    }

    @include breakpoints.bp-min(xlarge) {
      max-inline-size: 800px;
    }
  }
}




//------------------------------------
//  03 - Content Right
//------------------------------------

.m-hero.m-hero--content-right {
  .m-hero__media .a-media:after {
    @include breakpoints.bp-min(xlarge) {
      background: linear-gradient(90deg, fade-out(#000000, 1.0), fade-out(#000000, 0.3));
    }
  }

  .m-hero__title {
    @include breakpoints.bp-min(xlarge) {
      margin-inline-start: auto;
      max-inline-size: 800px;
    }
  }

  .m-hero__text {
    @include breakpoints.bp-min(xlarge) {
      margin-inline-start: auto;
    }
  }
}




//------------------------------------
//  04 - Content Left
//------------------------------------

.m-hero.m-hero--content-left {
  .m-hero__media .a-media:after {
    @include breakpoints.bp-min(xlarge) {
      background: linear-gradient(90deg, fade-out(#000000, 0.3), fade-out(#000000, 1.0));
    }
  }

  .m-hero__title {
    @include breakpoints.bp-min(xlarge) {
      margin-inline-end: auto;
    }
  }

  .m-hero__text {
    @include breakpoints.bp-min(xlarge) {
      margin-inline-end: auto;
    }
  }
}




//------------------------------------
//  05 - Content Top
//------------------------------------

.m-hero.m-hero--content-top {
  background-color: var(--surf-color-gray-100);

  .m-hero__content {
    display: flex;
    flex-flow: nowrap column;
    gap: 16px;
    padding-block: 32px;

    @include breakpoints.bp-min(medium) {
      padding-block: 64px;
    }

    @include breakpoints.bp-min(large) {
      gap: 28px;
      padding-block: 80px;
    }
  }

  .m-hero__title {
    -webkit-text-fill-color: transparent;
    background: var(--surf-gradient-hz-blue-02);
    background-clip: text;
    font-family: var(--surf-font-sans-alt);
    font-size: var(--surf-fs-80-140-200-260);
    font-weight: var(--surf-fw-book);
    line-height: 0.8;
  }
}
