@use '../../../../libraries/partials/partials' as *;

.a-chip {
  align-items: center;
  background-color: var(--surf-color-gray-100);
  color: var(--surf-color-navy);
  display: inline-flex;
  font-family: var(--surf-font-condensed);
  font-size: rem(16px);
  font-weight: var(--surf-font-weight-bold);
  letter-spacing: 1.5px;
  line-height: 1.4;
  padding: rem(2px) rem(8px);
  text-transform: uppercase;
  
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.a-chip--highlight {
  background-color: var(--surf-color-gold);
  color: var(--surf-color-black);
}
