//
// Component - Atom - Chip
//
// - 01 - Imports
// - 02 - General
// - 03 - Sizes
// - 04 - Colors
//


//------------------------------------
//  01 - Imports
//------------------------------------

@use '../../../00-base/partials/partials' as *;



//------------------------------------
//  02 - General
//------------------------------------

.a-chip {
  align-items: center;
  background-color: var(--surf-color-gray-100);
  color: var(--surf-color-navy);
  display: inline-flex;
  line-height: var(--surf-lh-label);
  padding: 2px 8px;
  text-transform: uppercase;

  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .a-icon {
    color: var(--surf-color-gray-600);
    height: rem(14px);
    position: relative;
    width: rem(11px);
  }

  .a-icon--position-left {
    margin-right: rem(4px);
  }

  .a-icon--position-right {
    margin-left: rem(4px);
  }
}



//------------------------------------
//  03 - Sizes
//------------------------------------

.a-chip {
  &.a-chip--small {
    font-family: var(--surf-font-condensed);
    font-size: rem(16px);
    font-weight: var(--surf-fw-bold);
    letter-spacing: 1.5px;
  }

  &.a-chip--large {
    font-family: var(--surf-font-condensed);
    font-size: rem(22px);
    font-weight: var(--surf-fw-bold);
    letter-spacing: 1.8px;
  }
}



//------------------------------------
//  04 - Colors
//------------------------------------

.a-chip {
  &.a-chip--navy {
    background-color: var(--surf-color-navy);
    color: var(--surf-color-white);
  }

  &.a-chip--blue {
    background-color: var(--surf-color-blue);
    color: var(--surf-color-white);
  }

  &.a-chip--gold {
    background-color: var(--surf-color-gold);
    color: var(--surf-color-black);
  }

  &.a-chip--white {
    background-color: var(--surf-color-white);
    color: var(--surf-color-black);
  }

  &.a-chip--transparent {
    background-color: transparent;
    color: var(--surf-color-white);
  }
}
